<div class="alert alert-danger" ng-show="messageFromServer">{{ messageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{ paramAction() }} School</h3>

        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm pull-right" data-ng-click="goBackInHistory()">Cancel</button>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" data-ng-submit="processForm()" name="school_form" novalidate="" ng-init="highlightErrors = false">
        <div class="box-body">
            <section class="row">


                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.name || (school_form.school_name.$invalid  &&  highlightErrors) }">
                    <label for="school_name">Name of School  <em>*</em></label>
                    <input type="text" class="form-control" id="school_name" name="school_name" placeholder="Enter name of school" ng-model="formData.school_name" required="">
                    <p  ng-show="(school_form.school_name.$invalid && !school_form.school_name.$pristine && !highlightErrors) ||  validation.name"   class="text-red help-block">School name is required.</p>
                    <p  ng-show="(school_form.school_name.$invalid && highlightErrors)"   class="text-red help-block">School name is required.</p>
                </div>
                <!--<div class="form-group col-sm-3 hidden" >-->
                <!--<label for="category">Category  <em>*</em></label>-->
                <!--<select  id="category" class="form-control" ng-model="formData.category" >-->
                <!--<option value="">Select category of school</option>-->
                <!--<option value="nursery">Nursery</option>-->
                <!--<option value="kg">KG</option>-->
                <!--<option value="primary">Primary</option>-->
                <!--<option value="jhs">JHS</option>-->
                <!--<option value="shs">SHS</option>-->
                <!--<option value="tertiary">Tertiary</option>-->
                <!--</select>-->
                <!--</div>-->
                <div class="btn-group form-group col-sm-3">
                    <label>Category<em>*</em></label>
                    <div class="form-group" multi-select
                         input-model="categoryOptions"
                         button-label="name"
                         item-label="name"
                         tick-property="ticked"
                         required=""
                         default-label="Select applicable school category"
                         helper-elements="all none"
                            >
                        <!--helper-elements=" 'all', 'none', 'reset', 'filter' "-->
                    </div>
                    <p  ng-show=" validation.category"   class="text-red help-block">Category  is required.</p>
                </div>
                <div class="form-group col-sm-3">
                    <label for="shift_status">Shift </label>
                    <select  id="shift_status" class="form-control" name="shift" ng-model="formData.shift_status">
                        <option value="">Specify if school runs shifts or not</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <!--<p  ng-show="(school_form.shift.$invalid && !school_form.shift.$pristine) ||  validation.shift"   class="text-red help-block">Shift  is not specified.</p>-->
                </div>
            </section>

            <section class="row">

                <div class="row hidden" >
                    <div class="input-group col-sm-2" >
                        <label for="school_code_display">GES Code (EMIS / Registration Code) <em>*</em></label>
                        <input  id="school_code_display" type="text" class="identity_code form-control">
                        <div class="input-group-btn" style="vertical-align: bottom">
                            <button class="btn btn-primary" type="button" data-ng-click="generateSchoolCode()">Generate</button>
                        </div><!-- /btn-group -->
                    </div>

                    <div class="input-group col-sm-6">
                        <label for="school_slug_display">Slug</label>
                        <input disabled id="school_slug_display" type="text" class="identity_code form-control">
                        <div class="input-group-btn" style="vertical-align: bottom">
                            <button class="btn btn-primary" type="button" data-ng-click="generateSchoolSlug()">Generate</button>
                        </div><!-- /btn-group -->
                    </div>

                </div>

                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.description || (school_form.description.$invalid && highlightErrors) }">
                    <label for="brief_description">Brief Description <em>*</em> </label>
                    <textarea class="form-control" id="brief_description" required="" placeholder="A brief description of the school" name="description" ng-model="formData.description"></textarea>
                    <p  ng-show="(school_form.description.$invalid && highlightErrors)"   class="text-red help-block">School description is required.</p>
                    <p  ng-show="(school_form.description.$invalid && !school_form.description.$pristine && !highlightErrors ) ||  validation.description"   class="text-red help-block">School description is required.</p>
                </div>


                <div class="form-group col-sm-6">
                    <label for="school_address">Postal Address</label>
                    <textarea class="form-control" id="school_address" name="school_address" placeholder="Postal address of the school"  ng-model="formData.school_address"></textarea>
                    <!--<p  ng-show="(school_form.school_address.$invalid && !school_form.school_address.$pristine) ||  validation.address"   class="text-red help-block">School address is required.</p>-->
                </div>
            </section>

            <section class="row">


                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.ges_code || (school_form.ges_code.$invalid && highlightErrors) || gesCodeExists}" ng-init="gesCodeExists = false">
                    <label for="ges_code">GES Code (EMIS / Registration Code) <em>*</em></label>
                           <!--ges-code-validator=""-->
                    <input type="text" class="form-control" id="ges_code"
                           name="ges_code" placeholder="GES Code (EMIS / Registration Code)"
                           data-ng-blur="checkGESCode()"
                           ng-model="formData.ges_code" required="">
                    <p  ng-show="(school_form.ges_code.$invalid && !school_form.ges_code.$pristine && !highlightErrors)"   class="text-red help-block">GES code is required.</p>
                    <p  ng-show="(school_form.ges_code.$invalid && highlightErrors)"   class="text-red help-block">GES code is required.</p>
                    <p class="text-red help-block" ng-show="school_form.ges_code.$error.gesCodeExists || validation.ges_code || gesCodeExists">Duplicate GES Code in the system. ({{ gesCodeExistsSchoolName }})</p>
                </div>

                <div class="form-group col-sm-4">
                    <label for="email">School's Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter optional email address of the school" ng-model="formData.school_email" data-ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/">
                    <p  ng-show="(school_form.email.$invalid && !school_form.email.$pristine ||school_form.email.$invalid && highlightErrors) ||  validation.email"   class="text-red help-block">Email should be in the form : <code>name@domain.com</code></p>
                </div>

                <div class="form-group col-sm-4">
                    <label for="phone">School's Phone Number </label>
                    <input type="text" class="form-control" id="phone" name="phone_number" placeholder="Enter phone number of the school or head teacher" ng-model="formData.school_phone_number">
                    <!--<p  ng-show="(school_form.phone_number.$invalid && !school_form.phone_number.$pristine) ||  validation.phone_number"   class="text-red help-block">Phone number is required.</p>-->
                </div>
            </section>
            <div class="form-group col-sm-4 hidden">
                <label for="school_location">School Location  </label>
                <input type="text" class="form-control" id="school_location" placeholder="Enter location of school" ng-model="formData.school_location">
            </div>

            <p class="page-header" style="font-size: 1px !important;">&nbsp;</p>

            <section class="row">


                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.region_id || (school_form.region_select.$invalid && highlightErrors) }">
                    <div class="form-group">
                        <label for="region_select">Region<em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="region_select" id="region_select" class="form-control"
                                ng-model="formData.region"
                                required=""
                                ng-options="region.id as region.name for region in regions  | filter : {country_id : 1, id : circuitLookup[formData.circuit].region_id || districtLookup[formData.district].region_id }">
                            <option value="" selected>Select a Region</option>
                            <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                        </select>
                        <p  ng-show="(school_form.region_select.$invalid && !school_form.region_select.$pristine && !highlightErrors) ||  validation.region_id"   class="text-red help-block">Region is required.</p>
                        <p  ng-show="(school_form.region_select.$invalid && highlightErrors)"   class="text-red help-block">Region is required.</p>
                    </div>
                </div>

                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.district_id || (school_form.district_select.$invalid && highlightErrors)}">
                    <div class="form-group">
                        <label for="district_select">District <em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <!--ng-change="getDistrictName(formData.district)"-->
                        <select name="district_select" id="district_select"
                                class="form-control"
                                required=""
                                ng-model="formData.district"
                                ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.region, id : circuitLookup[formData.circuit].district_id } : true">
                            <option value="" selected>Select a District</option>
                            <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                        </select>
                        <p  ng-show="(school_form.district_select.$invalid && highlightErrors)"   class="text-red help-block">District is required.</p>
                        <p  ng-show="(school_form.district_select.$invalid && !school_form.district_select.$pristine && !highlightErrors) ||  validation.district_id"   class="text-red help-block">District is required.</p>
                    </div>
                </div>

                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.circuit_id || (school_form.circuit_select.$invalid && highlightErrors)}">
                    <div class="form-group">
                        <label for="circuit_select">Circuit <em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="circuit_select" id="circuit_select" class="form-control"
                                ng-model="formData.circuit" required=""
                                ng-options="circuit.id as circuit.name group by circuit.districtName for circuit in circuits | filter : {district_id : formData.district, region_id : formData.region} : true" >
                            <option value="" selected>Select a Circuit</option>
                            <!--<option ng-value="circuit.id" ng-repeat="circuit in circuits | filter : {district_id : formData.district}" >{{ circuit.name }}</option>-->
                        </select>
                        <p  ng-show="(school_form.circuit_select.$invalid && highlightErrors)"   class="text-red help-block">Circuit is required.</p>
                        <p  ng-show="(school_form.circuit_select.$invalid && !school_form.circuit_select.$pristine && !highlightErrors) ||  validation.circuit_id"   class="text-red help-block">Circuit is required.</p>
                    </div>
                </div>

            </section>

            <!--Type ahead-->
            <!--label for value in sourceArray-->
            <!--select as label for value in sourceArray-->
            <section class="row">

                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.ghanaian_language || (school_form.ghanaian_language.$invalid && highlightErrors)}" >
                    <label for="ghanaian_language">Ghanaian Language <em>*</em></label>
                    <select  id="ghanaian_language" class="form-control" name="ghanaian_language" required="" ng-model="formData.ghanaian_language">
                        <option value="">Select the ghanaian language of the school</option>
                        <option value="akwapem">Akwapem</option>
                        <option value="asante">Asante</option>
                        <option value="dagaare">Dagaare</option>
                        <option value="dagbani">Dagbani</option>
                        <option value="dangbe">Dangbe</option>
                        <option value="ewe">Ewe</option>
                        <option value="fante">Fante</option>
                        <option value="ga">Ga</option>
                        <option value="gonja">Gonja</option>
                        <option value="kasem">Kasem</option>
                        <option value="nzema">Nzema</option>
                        <option value="sissali">Sissali</option>
                        <option value="wale">Wale</option>
                    </select>
                    <p  ng-show="(school_form.ghanaian_language.$invalid && highlightErrors)"   class="text-red help-block">Ghanaian language is required.</p>
                    <p  ng-show="(school_form.ghanaian_language.$invalid && !school_form.ghanaian_language.$pristine && !highlightErrors) ||  validation.ghanaian_language"   class="text-red help-block">Ghanaian language is required.</p>
                </div>

                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.headteacher_id || (school_form.head_teacher.$invalid && highlightErrors) }">
                    <label for="head_teacher">Head Teacher <em>*</em></label>
                    <select name="head_teacher" id="head_teacher"
                            class="form-control"
                            required=""
                            ng-model="formData.head_teacher"
                            ng-options="teacher.id as teacher.name for teacher in head_teachers | filter : {circuit_id : formData.circuit, district_id : formData.district, region_id : formData.region } : true">
                        <option value="" selected>Select a Head Teacher</option>
                        <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                    </select>
                    <!--<input type="text" ng-model="formData.head_teacher" name="head_teacher"-->
                    <!--placeholder="Enter name of headteacher"-->
                    <!--typeahead="teacher.id as teacher.fullName for teacher in head_teachers | filter: $viewValue | limitTo:5"-->
                    <!--typeahead-input-formatter="formatHTLabel($model)"-->
                    <!--required=""-->
                    <!--class="form-control">-->
                    <p  ng-show="(school_form.head_teacher.$invalid && highlightErrors)"   class="text-red help-block">Head teacher is required.</p>
                    <p  ng-show="(school_form.head_teacher.$invalid && !school_form.head_teacher.$pristine && !highlightErrors) ||  validation.headteacher_id"   class="text-red help-block">Head teacher is required.</p>

                </div>

                <div class="form-group col-sm-4"  ng-class="{'has-error' : validation.supervisor_id || (school_form.circuit_supervisor.$invalid && highlightErrors) }">
                    <label for="circuit_supervisor">Circuit Supervisor <em>*</em></label>
                    <!--<input type="text" ng-model="formData.circuit_supervisor"-->
                    <!--placeholder="Enter name of assigned circuit supervisor" name="circuit_supervisor"-->
                    <!--typeahead="supervisor.id as supervisor.fullName for supervisor in supervisors | filter: $viewValue | limitTo:5"-->
                    <!--typeahead-input-formatter="formatCSLabel($model)"-->
                    <!--required=""-->
                    <!--class="form-control">-->
                    <select name="circuit_supervisor" id="circuit_supervisor"
                            class="form-control"
                            required=""
                            ng-model="formData.circuit_supervisor"
                            ng-options="supervisor.id as supervisor.name for supervisor in supervisors | filter : {circuit_id : formData.circuit, district_id : formData.district, region_id : formData.region} : true">
                        <option value="" selected>Select a Circuit Supervisor</option>
                        <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                    </select>
                    <p  ng-show="(school_form.circuit_supervisor.$invalid && highlightErrors)"   class="text-red help-block">Circuit supervisor is required.</p>
                    <p  ng-show="(school_form.circuit_supervisor.$invalid && !school_form.circuit_supervisor.$pristine && !highlightErrors) ||  validation.supervisor_id"   class="text-red help-block">Circuit supervisor is required.</p>
                </div>
            </section>


        </div>
        <div class="row" style="margin-right : 5px">
            <div class="pull-right" >
                <!--ng-mouseenter="highlightErrors = true" ng-mouseleave="highlightErrors = false"-->
                <button class="btn btn-warning" type="reset">Reset</button>
                <button type="submit" class="btn btn-success"
                        ng-show="school_form.$valid && !gesCodeExists" > {{ paramAction() }} School</button>
                <span class="btn btn-danger" ng-show="school_form.$invalid || gesCodeExists" ng-click="highlightErrors = !highlightErrors">{{ paramAction() }} School</span>
                <!--popover="Some required fields need attention" popover-trigger="click" popover-title="Form Errors"-->
                <!--<button type="submit" class="btn btn-success"  ng-show="paramAction() == 'Edit' " data-ng-disabled="school_form.$invalid"> Save Changes</button>-->
            </div>
        </div>
    </form>
</div><!-- /.box -->

<!--<div class="box">-->
<!--<pre>-->
<!--{{ formData  |  json }}-->
<!--</pre>-->
<!--</div>-->