<div class="row" ng-show="reviewData">
    <div class="form-group col-sm-6">
        <label for="filter_collector">Data Collector</label>
        <select name="filter_collector" id="filter_collector" class="form-control"
                ng-model="filter_collector"
                ng-options="collector.type as collector.label for collector in dataCollectorTypes">
            <option value="">Select a Data Collector</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="filter_itinerary">Itinerary</label>
        <select name="filter_itinerary" id="filter_itinerary" class="form-control"
                ng-model="filter_itinerary"  ng-options="itinerary.id as itinerary.name for itinerary in schoolsDistrictItinerary.itinerary">
            <option value="">Select an Itinerary</option>
        </select>
    </div>

</div>
    <div class="box-body no-padding">
        <!--<pre>{{  reviewData | json }}</pre>-->
        <table class="table" ng-show="reviewData">
            <tbody>
            <tr class="active bg-table-blue">
                <!--<th style="width: 10px; text-align: center">Itinerary</th>-->
                <!--<th style="width: 10px; text-align: center">#</th>-->
                <!--<th style="width: 300px; text-align: center">Question</th>-->
                <!--<th style="width: 20px; text-align: center">Answer</th>-->
                <!--<th style="text-align: center">Submitted by</th>-->
                <!--<th style="text-align: center">Comments</th>-->
                <th class="horizontal_vertical_center" width="5%">Index</th>
                <th class="horizontal_vertical_center"  width="70%">Select a question to view answers</th>
                <th class="horizontal_vertical_center"  width="20%">Answers</th>
            </tr>
            <tr     class="pointer"
                    ng-repeat="reviewItem in reviewData"
                    ng-init="isCollapsed = {}"
                    ng-click="isCollapsed[$index] = !isCollapsed[$index]"
                    >
                <td align="center" class="text-center">{{$index + 1 }}</td>
                <td  align="left" style="vertical-align: middle">
                    <p>{{reviewItem.question}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="panel panel-default">
                                <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title">Answers </h3>-->
                                <!--</div>-->
                                <div class=""><!--panel-body-->
                                    <div class="row" collapse="isCollapsed[$index]"  ng-init="isCollapsed[$index] = showFirstIndex($index)">
                                        <div class=" col-xs-12" ng-if="reviewItem[answers].length">
                                            <table class="table table-condensed" style="margin-bottom : 2px !important;" ng-show="(reviewItem[answers] | filter : {itenary_id : filter_itinerary, submitter : filter_collector} : true).length">
                                                <tbody ng-repeat="answer in reviewItem[answers] | filter : {itenary_id : filter_itinerary, submitter : filter_collector} : true | limitTo : 1" style="margin: 3px 0">
                                                <tr>
                                                    <td class="h6" style="vertical-align: middle" >Answer : </td>
                                                    <td class="h4 text-center horizontal_vertical_center">
                                                        <span class="badge" badge-color  value="{{ answer.answer}}">
                                                                 {{ answer.answer }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="h6">Date of Submission</td>
                                                    <td class="h6 text-center">{{ momentFormatDate({date : answer.created_at, format : 'LL' }) }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="h6">Comment</td>
                                                    <td class="h6 text-center">{{ answer.comment || '---' }}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <p ng-hide="(reviewItem[answers] | filter : {itenary_id : filter_itinerary, submitter : filter_collector} : true).length" class="h3 text-center" style="margin: 50px">
                                                <i class="fa fa-user"></i>  No submission by data collector</p>
                                        </div>
                                        <div class="col-sm-12" ng-if="!(reviewItem[answers].length)">
                                            <p  class="h3 text-center" style="margin: 50px"><i class="fa fa-warning"></i>  No data submitted </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td  align="center" class="text-center">{{ reviewItem[answers].length }}</td>
                <!--<td  align="center" style="vertical-align: middle">-->
                <!--<p ng-repeat="answer in reviewItem[answers]">-->
                <!--<span class="badge" badge-color  value="{{ answer.answer}}">-->
                <!--{{ answer.answer }}-->
                <!--</span>-->
                <!--</p>-->

                <!--</td>-->
                <!--<td  align="center" style="vertical-align: middle">{{ formatDataCollectorType[reviewItem.submitter] }}</td>-->
                <!--<td  align="center" style="vertical-align: middle">{{reviewItem.answer.comment}}</td>-->
            </tr>
            </tbody>
        </table>
        <p style="margin-top: 10%; font-size: 20px" class=" text-center greyColor" ng-hide=" reviewData.length">
            <i class="fa fa-warning"></i>  No data to display</p>
    </div><!-- /.box-body -->



