
<div class="row">
    <div class="form-group col-sm-6">
        <label for="filter_collector">Data Collector</label>
        <select name="filter_collector" id="filter_collector" class="form-control"
                ng-model="filter_collector"
                ng-options="collector.type as collector.label for collector in data_collector_types">
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="filter_itinerary">Itinerary</label>
        <select name="filter_itinerary" id="filter_itinerary" class="form-control"
                ng-model="filter_itinerary"  ng-options="itinerary.id as itinerary.name for itinerary in schoolsDistrictItinerary.itinerary">
        </select>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <tbody>
        <tr ng-repeat="data in filteredSchVisitData">
            <td class="horizontal_vertical_center" width="30%">
                <strong>{{ data.question }}</strong>
            </td>
            <td width="70%" ng-if="data.answers.length">
                <table class="table" ng-show="(data.answers | filter : {  data_collector_type : filter_collector, itenary_id : filter_itinerary} : true).length">
                    <thead>
                    <tr class="bg-gray">
                        <td width="25%" class="text-center">Date</td>
                        <td width="45%" class="text-center">Answer</td>
                        <td width="30%" class="text-center">Comment</td>
                    </tr>
                    </thead>
                    <tr ng-repeat="teacherAttendance in data.answers | filter : {  data_collector_type : filter_collector, itenary_id : filter_itinerary} : true | limitTo : 1">
                        <td class="horizontal_vertical_center">
                            {{ momentFormatDate({date : teacherAttendance.updated_at, format : 'LL' }) }}
                        </td>
                        <td class="horizontal_vertical_center">
                            <span class="label label-primary" style="font-size: 100% !important;">{{ removeTrailingComma(teacherAttendance.answer) }}</span>
                        </td>
                        <td class="text-center">
                            {{ teacherAttendance.comment || '---'}}
                        </td>
                    </tr>
                </table>
                <p ng-hide="(data.answers | filter : {  data_collector_type : filter_collector, itenary_id : filter_itinerary} : true).length"
                   class="h4 text-center" style="margin: 20px 0"><i class="fa fa-user"></i>  No submission by data collector</p>
            </td>
            <td width="70%" ng-if="!(data.answers.length)">
                <p  class="h4 text-center" style="margin: 20px 0"><i class="fa fa-warning"></i>   No data submitted</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>