<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">
            <i class="fa fa-book"></i> {{selected_school.name}}<small class="pull-right"> <span class="label label-primary">Report Card</span></small>
        </h4>
    </div><!-- /.col -->


    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="table-responsive" style="padding: 0 15px">-->
                <!--<table class="table table-bordered" >-->
                    <!--<thead>-->
                    <!--<tr class="bg-primary">-->
                        <!--<th>Region</th>-->
                        <!--<th>District</th>-->
                        <!--<th>Circuit</th>-->
                        <!--&lt;!&ndash;<th>Shift</th>&ndash;&gt;-->
                        <!--<th>Name of Headteacher <em>(gender)</em></th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td> {{selected_school.regionName }}</td>-->
                        <!--<td> {{ selected_school.districtName}}</td>-->
                        <!--<td> {{ selected_school.circuitName}}</td>-->
                        <!--&lt;!&ndash;<td>Yes</td>&ndash;&gt;-->
                        <!--<td ng-show="lookupDataCollector[selected_school.headteacher_id]">{{ lookupDataCollector[selected_school.headteacher_id].name }} <em>( {{ lookupDataCollector[selected_school.headteacher_id].gender}} )</em></td>-->
                        <!--<td ng-hide="lookupDataCollector[selected_school.headteacher_id]">Not Available</td>-->
                    <!--</tr>-->
                    <!--</thead>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="row">
    <div class="col-sm-12">
        <!--<ul class="nav nav-pills">-->
        <!--<li class="active"><a href="">Home</a></li>-->
        <!--<li><a href="">Profile</a></li>-->
        <!--<li><a href="">Messages</a></li>-->
        <!--</ul>-->
        <a class="btn btn-app col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.enrollment"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.enrollment')}">
            <i class="fa fa-folder-open"></i> Enrollment
        </a>
        <a class="btn btn-app col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.attendance"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.attendance')}">
            <i class="fa fa-check-square"></i> Attendance
        </a>
        <a class="btn btn-app col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.teacher_information')}">
            <i class="fa fa-user"></i> Teacher Information
        </a>
        <a class="btn btn-app  col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.school_management"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.school_management')}">
            <i class="fa fa-book"></i> School Management
        </a>
        <a class="btn btn-app col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.school_grounds"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.school_grounds')}">
            <i class="fa fa-cogs"></i> School Grounds
        </a>
        <a class="btn btn-app col-sm-2" ui-sref="dashboard.school.view_selected_school.report_card.community_involvement"
           ng-class="{'active' : $state.is('dashboard.school.view_selected_school.report_card.community_involvement')}">
            <i class="fa fa-users"></i> Community Involvement
        </a>
    </div>

</div>
<div class="" ui-view="report_card" autoscroll='false' ng-class="{'row' : !$state.is('dashboard.school.view_selected_school.report_card.school_grounds') &&
 !$state.is('dashboard.school.view_selected_school.report_card.school_management')  && !$state.is('dashboard.school.view_selected_school.report_card.community_involvement')}">
    <div class="box-no-shadow" >
        <div class="col-sm-12">
            <div style="margin: 8% 0 8%;padding: 15px 15px; font-size: 24px" class="col-sm-offset-4 greyColor center-block text-center">

                <i class="glyphicon glyphicon-arrow-up"></i>Select a category above.</div>
        </div>
        <!--style="margin: 30% 10%; font-size: 22px;-->

    </div><!-- /.box-body -->
</div>