<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">
            <i class="fa fa-book"></i> {{selected_school.name}}<small class="pull-right"> <span class="label label-success">School Visit</span></small>
        </h4>
    </div><!-- /.col -->
</div>
<div class="mailbox row">
    <div class="col-xs-12">
        <div class="box-no-shadow box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- BOXES are complex enough to move the .box-header around.
                             This is an example of having the box header within the box body -->
                        <div class="box-header">

                            <!--<h3 class="box-title"> <i class="fa fa-archive"></i> School Visit</h3>-->
                        </div>

                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-block btn-success dropdown-toggle" data-placeholder="false">
                                <i class="fa fa-calendar"></i> &nbsp;&nbsp;&nbsp;  School Visit &nbsp;&nbsp;&nbsp;
                                <!--<span class="caret"></span>-->
                            </button>
                        </div>
                        <!-- Navigation - folders-->
                        <div style="margin-top: 15px;">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="header">Sections</li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.teacher_attendance') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.teacher_attendance">
                                        <i class="fa fa-user"></i> Teacher Attendance</a>
                                </li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.student_attendance') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.student_attendance">
                                        <i class="fa fa-star-half-empty"></i> Student Attendance</a>
                                </li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.facilities_safety_sanitation') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.facilities_safety_sanitation">
                                        <i class="fa fa-heart"></i> Facilities, Safety & Sanitation</a>
                                </li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.lesson_plans') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.lesson_plans">
                                        <i class="fa fa-calendar"></i> Lesson Plans</a>
                                </li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.teaching_learning_materials') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.teaching_learning_materials">
                                        <i class="fa fa-book"></i> Teaching and Learning Materials</a>
                                </li>

                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.records_performance') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.records_performance">
                                        <i class="fa fa-folder"></i> School Records and Performance</a>
                                </li>
                                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.school_visit.community_involvement') }">
                                    <a ui-sref="dashboard.school.view_selected_school.school_visit.community_involvement">
                                        <i class="fa fa-users"></i> Community Involvement</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.col (LEFT) -->
                    <div class="col-md-9 col-sm-8" ui-view="school_visit_sub_sections">
                        <div class="box-no-shadow" >
                            <div class="box-body">
                                <div style="margin-top:  15%; font-size: 24px;" class="greyColor text-center">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Select a section on the left.
                                    <!--<pre>{{schoolVisitData | json}}</pre>-->
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                    </div><!-- /.col (RIGHT) -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col (MAIN) -->
</div>