<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">
            <i class="fa fa-book"></i> {{selected_school.name}}<small class="pull-right"> <span class="label label-warning">School Review</span></small>
        </h4>
    </div><!-- /.col -->


    <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
    <!--<div class="table-responsive" style="padding: 0 15px">-->
    <!--<table class="table table-bordered" >-->
    <!--<thead>-->
    <!--<tr class="active">-->
    <!--<th>Region</th>-->
    <!--<th>District</th>-->
    <!--<th>Circuit</th>-->
    <!--<th>Name of Head Teacher<em>(gender)</em></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td> {{selected_school.regionName }}</td>-->
    <!--<td> {{ selected_school.districtName}}</td>-->
    <!--<td> {{ selected_school.circuitName}}</td>-->
    <!--<td ng-show="lookupDataCollector[selected_school.headteacher_id]">{{ lookupDataCollector[selected_school.headteacher_id].name }} <em>( {{ lookupDataCollector[selected_school.headteacher_id].gender}} )</em></td>-->
    <!--<td ng-hide="lookupDataCollector[selected_school.headteacher_id]">Not Available</td>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-sm-3">
        <!-- BOXES are complex enough to move the .box-header around.
             This is an example of having the box header within the box body -->
        <div class="box-header">

            <!--<h3 class="box-title"><i class=""></i> School Review</h3>-->
        </div>
        <!-- compose message btn -->
        <a class="btn btn-block btn-warning" ui-sref="dashboard.school.view_selected_school.review">
            <i class="fa fa-star"></i> School Review</a>
        <!-- Navigation - folders-->
        <div style="margin-top: 15px;">
            <ul class="nav nav-pills nav-stacked">
                <li class="header">Categories</li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.inclusive') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.inclusive">
                        <i class="fa fa-star-half-empty"></i> Inclusive School</a>
                </li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.effective_teaching_learning') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.effective_teaching_learning">
                        <i class="fa fa-book"></i> Effective Teaching and Learning School</a>
                </li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.healthy') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.healthy">
                        <i class="fa fa-calendar"></i> Healthy School</a>
                </li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.safe_protective') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.safe_protective">
                        <i class="fa fa-user"></i> Safe and Protective School</a>
                </li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.gender_friendly') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.gender_friendly">
                        <i class="fa fa-heart"></i> Friendly School for both Boys and Girls</a>
                </li>
                <li class="" ng-class="{ active:  $state.is('dashboard.school.view_selected_school.review.community_involvement') }">
                    <a ui-sref="dashboard.school.view_selected_school.review.community_involvement">
                        <i class="fa fa-users"></i> Community Involvement</a>
                </li>

            </ul>
        </div>
    </div><!-- /.col (LEFT) -->


    <div class="col-sm-9">
        <div ui-view="review_sub_view">
            <div class="box-no-shadow" >
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                        <div style="margin: 150px 0; font-size: 24px" class="text-center greyColor">
                        <i class="glyphicon glyphicon-arrow-left"></i>Select a category
                        </div>
                        </div>
                        <!--<div class="col-md-12">

                            &lt;!&ndash;  ( School Review Progress Bars )&ndash;&gt;
                            <div class="box-no-shadow box-primary">
                                <div class="box-header">
                                    &lt;!&ndash; tools box &ndash;&gt;
                                    <div class="pull-right box-tools">
                                        <h3>
                                            <span>
                                                <rating style="color: #ffe948" ng-model="schoolReviewRatingStar" max="5" readonly="true" on-hover="" on-leave="overStar = null"></rating>
                                            </span>
                                            <br>
                                            Total : {{selected_school.rating | number : 2 }} % &nbsp;</h3>
                                    </div>&lt;!&ndash; /. tools &ndash;&gt;
                                    <h3 class="box-title ">Rating</h3>
                                </div>&lt;!&ndash; /.box-header &ndash;&gt;
                                <div class="box-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pad">

                                                &lt;!&ndash;Key for Coloring
                                                0 - 2 = red
                                                3 - 4 = warning
                                                5 - 6 = yellow
                                                7 - 8 = aqua
                                                9 - 10 = green

                                                &ndash;&gt;

                                                &lt;!&ndash; Progress bars &ndash;&gt;
                                                <div class="clearfix" style="margin-top: 17px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.inclusive"> <span class="pull-left">Inclusive School</span></a>
                                                    <small class="pull-right" id="pbar-inclusive"> {{ selected_school.current_state_of_school_inclusiveness  }} / 10 </small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_school_inclusiveness"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_school_inclusiveness) }}"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                    &lt;!&ndash;<div class="progress-bar progress-bar-yellow pbar-inclusive" style="width: 50%;"></div>&ndash;&gt;
                                                </div>

                                                <div class="clearfix" style="margin-top: 30px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.effective_teaching_learning">     <span class="pull-left">Teaching and Learning</span> </a>
                                                    <small class="pull-right" id="pbar-teaching"> {{ selected_school.current_state_of_teaching_and_learning }} / 10</small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_teaching_and_learning"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_teaching_and_learning) }}"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                    &lt;!&ndash;<div class="progress-bar progress-bar-aqua pbar-teaching" style="width: 70%;"></div>&ndash;&gt;
                                                </div>

                                                <div class="clearfix" style="margin-top: 30px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.healthy"> <span class="pull-left">Healthy School</span></a>
                                                    <small class="pull-right" id="pbar-health"> {{ selected_school.current_state_of_healthy_level }} / 10 </small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_healthy_level"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_healthy_level) }}"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                    &lt;!&ndash;<div class="progress-bar progress-bar-red pbar-health" style="width: 20%;"></div>&ndash;&gt;
                                                </div>

                                                <div class="clearfix" style="margin-top: 30px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.safe_protective">    <span class="pull-left">Safe and Protective</span></a>
                                                    <small class="pull-right" id="pbar-safety">{{ selected_school.current_state_of_safety_and_protection }} / 10 </small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_safety_and_protection"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_safety_and_protection) }}"
                                                                 animate="true"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                    &lt;!&ndash;<div class="progress-bar progress-bar-green pbar-safety" style="width: 90%;"></div>&ndash;&gt;
                                                </div>

                                                <div class="clearfix" style="margin-top: 30px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.gender_friendly">  <span class="pull-left">Gender Friendliness</span></a>
                                                    <small class="pull-right" id="pbar-gender">{{ selected_school.current_state_of_friendliness_to_boys_girls }} / 10 </small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_friendliness_to_boys_girls"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_friendliness_to_boys_girls) }}"
                                                                 animate="true"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                </div>

                                                <div class="clearfix" style="margin-top: 30px; display: block">
                                                    <a ui-sref="dashboard.school.view_selected_school.review.community_involvement">   <span class="pull-left">Community Involvement</span></a>
                                                    <small class="pull-right" id="pbar-involvement"> {{ selected_school.current_state_of_community_involvement }} / 10 </small>
                                                </div>
                                                <div class="progress xs">
                                                    <progressbar value="selected_school.current_state_of_community_involvement"
                                                                 type="{{ schoolColourProgressBar(selected_school.current_state_of_community_involvement) }}"
                                                                 animate="true"
                                                                 max="10" class="progress-striped active">
                                                    </progressbar>
                                                    &lt;!&ndash;<div class="progress-bar progress-bar-aqua pbar-involvement" style="width: 60%;"></div>&ndash;&gt;
                                                </div>
                                            </div>&lt;!&ndash; /.pad &ndash;&gt;
                                        </div>&lt;!&ndash; /.col &ndash;&gt;
                                    </div>&lt;!&ndash; /.row - inside box &ndash;&gt;
                                </div>&lt;!&ndash; /.box-body &ndash;&gt;
                            </div>

                        </div>-->
                    </div>
                    <!--style="margin: 30% 10%; font-size: 22px;-->

                </div><!-- /.box-body -->
            </div>
        </div>
    </div><!-- /.col (RIGHT) -->
</div>