<h4 class="page-header" style="margin-top: 8%">Lesson Plans</h4>

<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="LP"
     question-code-base="LPQ"
     num-questions="4"></div>
