<div class="box-no-shadow">
    <div class="box-header">
        <h3 class="box-title page-header">Community Involvement

            <div class="box-tools  pull-right">
                <p class="label label-default">Current Total : {{selected_school.current_state_of_community_involvement}}</p>

            </div>

        </h3>

    </div><!-- /.box-header -->
    <div review-html="reviewData"  answers="community_involvement"  schools-district-itinerary="schoolsDistrictItinerary"
         collectors="data_collector_types" date="momentFormatDate(date, format)"></div>
</div>