<h4 class="page-header" style="margin-top: 8%">Teacher Attendance</h4>
<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="TA"
     question-code-base="TAQ"
     num-questions="7"></div>
