<h4 class="page-header" style="margin-top: 8%">Facilities, Safety and Sanitation</h4>

<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="FSS"
     question-code-base="FSSQ"
     num-questions="4"></div>
