
<h4 class="page-header" style="margin-top: 8%">Student Attendance</h4>
<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="SA"
     question-code-base="SAQ"
     num-questions="4"></div>
