<h4 class="page-header" style="margin-top: 8%">Community Involvement</h4>
<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="CI"
     question-code-base="CIQ"
     num-questions="1"></div>