<div class="box-no-shadow">
    <div class="box-header">
        <h3 class="box-title page-header">Inclusive School
            <div class="box-tools  pull-right">
                <p class="label label-default">Current Total : {{selected_school.current_state_of_school_inclusiveness}}</p>
            </div>
        </h3>
    </div><!-- /.box-header -->
    <div review-html="reviewData"  answers="inclusiveness_answers"  schools-district-itinerary="schoolsDistrictItinerary"
         collectors="data_collector_types" date="momentFormatDate(date, format)"></div>


</div>
