<h4 class="page-header" style="margin-top: 8%">School Records and Performance</h4>
<div visit-html="schoolVisitData"
     collectors="data_collector_types"
     schools-district-itinerary="schoolsDistrictItinerary"
     date="momentFormatDate(date, format)"
     question-category-reference="SRP"
     question-code-base="SRPQ"
     num-questions="3"></div>