<div class="box-body no-padding" ng-show="teacherClicked">
    <div class="box-header">
        <!--<h3 class="box-title"> <i class="fa fa-user"></i>-->
        <h3 class="box-title"> &nbsp;
            <div class="pull-right box-tools btn-group-sm">

                <div class="btn-group" ng-show="adminRight > 2 && currentUser.role === 'super'">
                    <div class="btn-group dropdown" >
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ><a href="" transfer-teacher="clickedTeacher" close-selection="teacherClickedChange()">Transfer Teacher</a></li>
                            <li class="divider"></li>
                            <li><a href="" edit-teacher="clickedTeacher" jurisdiction="school">Edit Teacher</a></li>
                            <li class="divider"></li>
                            <li ><a href="" delete-teacher="clickedTeacher"  jurisdiction="school">Delete Teacher</a></li>
                            <!--<li><a href="#"></a></li>-->
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Close" data-ng-click="teacherClickedChange()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>  <i class="fa fa-user"></i>&nbsp; Teacher Details <small teacher-status-label-color="{{clickedTeacher.teacher_status}}"></small></h4>
            <div class="table-responsive">
                <table class="table table-bordered table-responsive">

                    <tbody>
                    <tr>
                        <td class="bg-gray">Name</td>
                        <td align="center">{{clickedTeacher.first_name}}&nbsp;{{clickedTeacher.last_name}}  (<em> {{clickedTeacher.gender}} </em>)</td>
                    </tr>
                    <tr class="text-orange" ng-show="lookupTeacherInfoData[clickedTeacher.id].isTransferred">
                        <td class="bg-gray">Transferred to</td>
                        <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.teacher_information({id : lookupTeacherInfoData[clickedTeacher.id].school_id, district_id : lookupTeacherInfoData[clickedTeacher.id].district_id})"> {{schoolLookup[clickedTeacher.school_id].name}}</a></td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Staff Number</td>
                        <td align="center">{{clickedTeacher.staff_number}}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Class / Subject</td>
                        <td align="center">{{clickedTeacher.subject}}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Category</td>
                        <td align="center">{{clickedTeacher.category}}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Rank</td>
                        <td align="center">{{ formatSuperitendentType[ clickedTeacher.rank ] }}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Highest Academic Qualification</td>
                        <td align="center">{{ clickedTeacher.highest_academic_qualification  }}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Highest Professional Qualification</td>
                        <td align="center">{{ clickedTeacher.highest_professional_qualification  }}</td>
                    </tr>
                    <tr>
                        <td class="bg-gray">Year Posted to the School</td>
                        <td align="center">{{ clickedTeacher.years_in_the_school  }}</td>
                    </tr>

                    <tr><td class="bg-aqua" colspan="2">Teacher Attendance</td></tr>

                    <tr data-ng-click="showChart(clickedTeacher.index)" class="pointer">
                        <td class="bg-gray" >Days Present</td>
                        <!--<td align="center"><span>{{clickedTeacher.punctualityHolder[ clickedTeacher.punctualityHolder.length - 1  ].days_punctual}}</span>-->
                        <!--<button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button>-->
                        <!--</td>-->
                        <td class="horizontal_vertical_center">
                            <div  ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.days_present}}
                                <button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button>
                            </div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr data-ng-click="showChart(clickedTeacher.index)" class="pointer">
                        <td class="bg-gray" >Days Punctual</td>
                        <td class="horizontal_vertical_center">
                            <div  ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.days_punctual}}
                                <button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button>
                            </div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                        <!--<td align="center"><span>{{clickedTeacher.punctualityHolder[ clickedTeacher.punctualityHolder.length - 1  ].days_punctual}}</span>-->
                        <!--</td>-->
                    </tr>

                    <tr data-ng-click="showChart(clickedTeacher.index)" class="pointer">
                        <td class="bg-gray" >Days Absent With Permission</td>
                        <!--<td align="center">{{clickedTeacher.punctualityHolder[ clickedTeacher.punctualityHolder.length - 1  ].total_number_of_days_absent}}-->
                        <!--<button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button></td>-->
                        <td class="horizontal_vertical_center">
                            <div  ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.days_absent_with_permission}}
                                <button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button>
                            </div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>

                        </td>
                    </tr>

                    <tr data-ng-click="showChart(clickedTeacher.index)" class="pointer">
                        <td class="bg-gray" >Days Absent Without Permission</td>
                        <!--<td align="center">{{clickedTeacher.punctualityHolder[ clickedTeacher.punctualityHolder.length - 1  ].days_absent_without_permission}}-->
                        <!--<button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button></td>-->
                        <td class="horizontal_vertical_center" >
                            <div  ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.days_absent_without_permission}}
                                <button class="btn btn-default btn-sm pull-right"><i class="fa fa-bar-chart-o"></i></button>
                            </div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">HT's Attendance Comments</td>
                        <td class="horizontal_vertical_center" >
                            <div   ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.comment || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">CS's Attendance Comments</td>
                        <!--Show this for normal admins-->
                        <td class="horizontal_vertical_center" ng-if="adminRight != 2">
                            <div   ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>

                        <!--show this for CS only-->
                        <td class="horizontal_vertical_center pointer"  ng-if="adminRight == 2">
                            <div   ng-hide="punctuality.deleted"
                                   add-comment-school-teacher="{{ punctuality.id }}" section="punctuality_and_lessons" selected-teacher="clickedTeacher"
                                   previous-comment="{{punctuality.cs_comments}}"
                                   ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>

                    <tr><td class="bg-aqua" colspan="2">Class Management</td></tr>

                    <tr class="">
                        <td class="bg-gray">Lesson Plan Covered</td>
                        <td class="horizontal_vertical_center" >
                            <div ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.lesson_plan || 'Not Prepared' }}</div>
                            <div ng-show="(clickedTeacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                        <!--<td align="center">{{ clickedTeacher.punctualityHolder[ clickedTeacher.punctualityHolder.length - 1 ].lesson_plan }}</td>-->
                    </tr>

                    <tr class="">
                        <td class="bg-gray">Children Behaviour</td>
                        <td class="horizontal_vertical_center" >
                            <div ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.children_behaviour}}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                        <!--<td align="center">{{ clickedTeacher.classManagementHolder[ clickedTeacher.classManagementHolder.length - 1 ].children_behaviour }}</td>-->
                    </tr>
                    <tr>
                        <td class="bg-gray">Children Participation</td>
                        <td class="horizontal_vertical_center" >
                            <div ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.children_participation}}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                        <!--<td align="center">{{clickedTeacher.classManagementHolder[ clickedTeacher.classManagementHolder.length - 1 ].children_participation }}</td>-->
                    </tr>
                    <tr>
                        <td class="bg-gray">Class Control</td>
                        <td class="horizontal_vertical_center" >
                            <div ng-hide="punctuality.deleted"  ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.class_control}}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                        <!--<td align="center">{{clickedTeacher.classManagementHolder[ clickedTeacher.classManagementHolder.length - 1 ].class_control }}</td>-->
                    </tr>
                    <tr>
                        <td class="bg-gray">Teacher Discipline</td>
                        <td class="horizontal_vertical_center" >
                            <div   ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">{{punctuality.teacher_discipline}}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">HT's Class Management Comments</td>
                        <td class="horizontal_vertical_center" >
                            <div   ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.comment || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">CS's Class Management Comments</td>

                        <td class="horizontal_vertical_center" ng-if="adminRight != 2">
                            <div   ng-hide="punctuality.deleted" ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>

                        <!--for CS only-->
                        <td class="horizontal_vertical_center pointer" ng-if="adminRight == 2">
                            <div   ng-hide="punctuality.deleted"
                                    add-comment-school-teacher="{{punctuality.id}}" section="teachers_class_management" selected-teacher="clickedTeacher"
                                   previous-comment="{{punctuality.cs_comments}}"

                                   ng-repeat="punctuality in clickedTeacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>

                    <tr><td class="bg-aqua" colspan="2">Units Covered By Teacher</td></tr>

                    <tr>
                        <td class="bg-gray">Ghanaian Language</td>
                        <td class="horizontal_vertical_center">
                            <div ng-hide="unit.deleted" ng-repeat="unit in clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1 "> {{unit.ghanaian_language_units_covered}}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="bg-gray">English Language</td>
                        <td class="horizontal_vertical_center">
                            <div ng-hide="unit.deleted" ng-repeat="unit in clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{unit.english_language_units_covered}}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="bg-gray">Mathematics Units Covered</td>
                        <td class="horizontal_vertical_center">
                            <div ng-hide="unit.deleted" ng-repeat="unit in clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{unit.mathematics_units_covered}}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="bg-gray">HT's Units Covered Comments</td>
                        <td class="horizontal_vertical_center" >
                            <div   ng-repeat="punctuality in clickedTeacher.unitsCoveredHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true ">
                                {{punctuality.comment  || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">CS's Units Covered Comments</td>
                        <td class="horizontal_vertical_center" ng-if="adminRight != 2">
                            <div   ng-repeat="punctuality in clickedTeacher.unitsCoveredHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>

                        <!--for CS only-->
                        <td class="horizontal_vertical_center pointer" ng-if="adminRight == 2">
                            <div add-comment-school-teacher="{{ punctuality.id }}" section="teacher_units_covered" selected-teacher="clickedTeacher"
                                 previous-comment="{{punctuality.cs_comments}}"

                                 ng-repeat="punctuality in clickedTeacher.unitsCoveredHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true | limitTo : 1">
                                {{punctuality.cs_comments || 'No comment' }}</div>
                            <div ng-show="(clickedTeacher.unitsCoveredHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true).length == 0">-</div>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="box-no-shadow" >
                <div class="box-header ">
                    <h3 class="box-title hidden" >Visual Chart</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div ng-show="!rowSelected" style="margin: 10% 0; text-align: center; font-size: 20px; color: #d3d3d3">Select a row on the left to visualize chart.</div>
                    <tabset ng-show="rowSelected">
                        <li  class="pull-left"><h4><i class="fa fa-bar-chart-o"></i> Visual Chart</h4></li>

                        <tab heading="Pie Chart" class="pull-right" select="showPieChart()">
                            <div id="teacherPieChart" style="width: 100%; height: 400px;"></div>
                        </tab>
                        <!--select="alertMe()"-->

                        <tab  class="pull-right" heading="Bar Chart" select="showBarChart()">
                            <div id="teacherBarChart" style="width: 100%; height: 400px;"></div>
                        </tab>

                        <tab  class="pull-right" heading="Trend" select="showLineChart()">
                            <div id="teacherLineChart" style="width: 100%; height: 400px;"></div>
                        </tab>
                    </tabset>
                </div><!-- /.box-body -->

                <div ng-show="adminRight > 2" class="box-body" style="margin-top: 20px">
                    <p class="page-header h4">Attendance</p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered">
                            <thead>
                            <tr>
                                <th>Week | Term | Year | Submitted</th>
                                <th class="horizontal_vertical_center">Total Present</th>
                                <th class="horizontal_vertical_center">Total Absent</th>
                                <th class="horizontal_vertical_center">Lesson Plan</th>
                                <th class="horizontal_vertical_center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in clickedTeacher.punctualityHolder" ng-hide="data.deleted" ng-if="clickedTeacher.punctualityHolder.length">
                                <td>
                                    <span><b>{{data.week }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-blue"><b>{{ one_school_terms[data.term].label }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-green"><b>{{data.year }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-yellow"><b>{{ formatDataCollectorType[data.data_collector_type] }}</b></span>
                                </td>
                                <td class="horizontal_vertical_center">{{data.days_present }}</td>
                                <td class="horizontal_vertical_center">{{ getTotalOfTwo (data.days_absent_with_permission, data.days_absent_without_permission) }}</td>
                                <td class="horizontal_vertical_center">{{data.lesson_plan || 'Not Prepared'}}</td>
                                <td class="horizontal_vertical_center">
                                    <button delete-data="" id-of-type="{{data.id}}" teacher-index="{{ clickedTeacher.index }}" data-type="attendance" class="btn btn-danger btn-sm center-block horizontal_vertical_center text-center">Delete</button></td>
                            </tr>
                            <tr ng-hide="clickedTeacher.punctualityHolder.length">
                                <td colspan="5">
                                    <p class="text-center h3" style="margin: 40px 0">No data available!</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="page-header h4">Class Management</p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hovered">
                            <thead>
                            <tr>
                                <th>Week | Term | Year | Submitted</th>
                                <th class="horizontal_vertical_center">Class Control</th>
                                <th class="horizontal_vertical_center">Children Behaviour</th>
                                <th class="horizontal_vertical_center">Children Participation</th>
                                <th class="horizontal_vertical_center">Teacher Discipline</th>
                                <th class="horizontal_vertical_center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in clickedTeacher.classManagementHolder " ng-hide="data.deleted" ng-if="clickedTeacher.classManagementHolder.length">
                                <td>
                                    <span><b>{{data.week }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-blue"><b>{{ one_school_terms[data.term].label }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-green"><b>{{data.year }}</b></span>&nbsp;|&nbsp;
                                    <span class="text-yellow"><b>{{ formatDataCollectorType[data.data_collector_type] }}</b></span>
                                </td>
                                <td class="horizontal_vertical_center">{{data.class_control }}</td>
                                <td class="horizontal_vertical_center">{{data.children_behaviour }}</td>
                                <td class="horizontal_vertical_center">{{data.children_participation }}</td>
                                <td class="horizontal_vertical_center">{{data.teacher_discipline }}</td>
                                <td class="horizontal_vertical_center">
                                    <button delete-data="" id-of-type="{{data.id}}"  teacher-index="{{ clickedTeacher.index }}" data-type="class_management" class="btn btn-danger btn-sm center-block horizontal_vertical_center text-center">Delete</button></td>
                            </tr>
                            <tr ng-hide="clickedTeacher.classManagementHolder.length">
                                <td colspan="5">
                                    <p class="text-center h3" style="margin: 40px 0">No data available!</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Loading (remove the following to stop the loading)-->
                <div class="overlay" ng-show="deletingData" ></div>
                <div class="loading-img" ng-show="deletingData" style="padding: 50px"></div>
                <!--end loading-->
            </div>


        </div>

    </div>

</div>