<!-- Custom Tabs -->
<h4 class="page-header">
    School Management
</h4>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-justified">
        <li  select="">
            <a data-toggle="tab" data-target="#textbooks"> Textbooks </a>
        </li>
        <li select="">
            <a data-toggle="tab" data-target="#pupil_performance"> Pupil Performance </a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#record_books"> Record Books</a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#support" > Support </a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#grant" > Grant  </a>
        </li>
    </ul>


    <div class="tab-content">

        <!----   Textbooks ---->
        <div id="textbooks" class="tab-pane">
            <div class="box-no-shadow" >
                <div class="box-header" ng-show="pupilTextbooks.length">
                    <h3 class="box-title">Number of Textbooks
                        <div class="box-tools  pull-right" >
                            <div class="input-group">
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                </select>
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                        ng-options="term.value as term.label for term in schoolTerms">
                                </select>
                                <select  style="width: 150px;" name="filter_data_collector_type" id="filter_data_collector_type" class="form-control input-sm"
                                         ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                </select>
                            </div>
                        </div>
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-6 col-sm-12" ng-show="(pupilTextbooks | filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" >
                            <!--This is the Table Export Button-->
                            <button class="btn btn-warning"  export-table="textbookTable" file-name="{{selected_school.name + ' School - Textbooks' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="runTextBooks()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Textbooks" section-type="textbooks"
                                                               function="runTextBooks()" term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="textbookTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Class</th>
                                    <th style="text-align: center">GES Approved GH Language</th>
                                    <th style="text-align: center">English</th>
                                    <th style="text-align: center" class="">Mathematics</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="textbook in pupilTextbooks | filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                    <td align="center">{{textbook.class}}</td>
                                    <td align="center">{{textbook.gh_lang}}</td>
                                    <td align="center">{{textbook.english}}</td>
                                    <td align="center">{{textbook.maths}}</td>
                                    <td class="hidden">{{textbook.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-footer clearfix no-border">
                                <!--Data submitted from-->
                                 <span get-submission-location="{{ pupilTextbooksLocation }}"
                                       filter_year="{{filter_year}}"
                                       filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                       filter_data_collector_type="{{filter_data_collector_type}}"
                                       district-id="{{ selected_school.district_id }}" section="termly">
                                 </span>

                            </div>
                        </div>
                        <div  ng-show="(pupilTextbooks | filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                            <div class="box-no-shadow box-solid">
                                <div class="box-header">
                                    <h3 class="box-title page-header"><i class="fa fa-comment-o"></i>  Comments</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body clearfix">
                                    <h5>Head Teacher Comments</h5>
                                    <blockquote class="">
                                        <p ng-show="textBookComment[filter_year + filter_term  + filter_data_collector_type].ht_comment">
                                            {{textBookComment[filter_year + filter_term  + filter_data_collector_type].ht_comment }}</p>
                                        <p ng-hide="textBookComment[filter_year + filter_term  + filter_data_collector_type].ht_comment">No comments</p>
                                        <small ng-show="textBookComment[filter_year + filter_term  + filter_data_collector_type].ht_comment">Submitted on <cite title="Date"> {{textBookUpdated[filter_year + filter_term  + filter_data_collector_type]}}</cite></small>
                                    </blockquote>
                                    <br>
                                    <h5>Circuit Supervisor Comments</h5>
                                    <blockquote class="">
                                        <p ng-show="textBookComment[filter_year + filter_term  + filter_data_collector_type].cs_comments">
                                            {{textBookComment[filter_year + filter_term  + filter_data_collector_type].cs_comments }}</p>
                                        <p ng-hide="textBookComment[filter_year + filter_term  + filter_data_collector_type].cs_comments">No comments</p>
                                        <small ng-show="textBookComment[filter_year + filter_term  + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{textBookUpdated[filter_year + filter_term  + filter_data_collector_type]}}</cite></small>
                                    </blockquote>
                                </div><!-- /.box-body -->
                                <!--box footer-->
                            </div><!-- /.box -->
                        </div>
                        <div class="col-sm-12" ng-hide="(pupilTextbooks | filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                            <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                        </div>
                    </div>

                </div><!-- /.box-body -->


            </div><!-- /.box -->

        </div><!-- /.tab-pane -->

        <!------ Pupil Performance ------>
        <div id="pupil_performance" class="tab-pane" >
            <div class="box-no-shadow">
                <div ng-show="pupilPerformance.length" class="box-header">
                    <h3 class="box-title">Pupil Performance
                        <div class="box-tools  pull-right">
                            <div class="input-group">
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                </select>
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                        ng-options="term.value as term.label for term in schoolTerms">
                                </select>
                                <select style="width: 150px;"  name="filter_data_collector_type"  class="form-control input-sm"
                                        ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                </select>
                            </div>
                        </div>
                    </h3>

                </div><!-- /.box-header -->

                <div class="box-body no-padding">
                    <div class="row">
                        <div ng-show="(pupilPerformance |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-sm-12">
                            <!--This is the Table Export Button-->
                            <button class="btn btn-warning"  export-table="pupilPerformanceTable" file-name="{{selected_school.name + ' School Pupil Performance' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="runPupilPerformance()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation">
                                        <a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Pupil Performance"
                                          section-type="pupil_performance" function="runPupilPerformance()" term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <table  class="table table-striped table-bordered table-hover" id="pupilPerformanceTable">
                                <thead>
                                <tr  class="bg-primary">
                                    <th style="text-align: center" rowspan="2" class="horizontal_vertical_center">Class</th>
                                    <th style="text-align: center" colspan="2">GES Approved GH Language</th>
                                    <th style="text-align: center" colspan="2">English</th>
                                    <th style="text-align: center" colspan="2">Mathematics</th>
                                    <th style="text-align: center" colspan="2">Science</th>
                                    <th style="text-align: center" colspan="1">Literacy</th>
                                </tr>
                                <tr  class="bg-gray">
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center">No. That Can Read</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="performance in pupilPerformance |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                    <td align="center">{{performance.class}}</td>
                                    <td align="center">{{performance.gh_lang_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_gh_lang_average_score}}</td>
                                    <td align="center">{{performance.english_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_english_score}}</td>
                                    <td align="center">{{performance.maths_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_maths_score}}</td>
                                    <td align="center">{{performance.science_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_science_score}}</td>
                                    <td align="center">{{performance.num_pupil_who_can_read_and_write}}</td>
                                    <td class="hidden">{{ performance.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="(pupilPerformance |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-sm-12">
                            <div class="box-no-shadow box-solid">
                                <div class="box-header">

                                    <h3 class="box-title page-header"> <i class="fa fa-comment-o"></i>  Comments</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body ">
                                    <div class="row">
                                        <div class="col-sm-6 xs-12">
                                            <h5>Head Teacher Comments</h5>
                                            <blockquote class="">
                                                <p ng-show="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].ht_comment ">
                                                    {{pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].ht_comment  }}</p>
                                                <p ng-hide="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].ht_comment ">No comments</p>
                                                <small ng-show="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].ht_comment ">Submitted on<cite title="Date"> {{pupilPerformanceUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                            </blockquote>
                                        </div>

                                        <div class="col-sm-6 xs-12">
                                            <h5>Circuit Supervisor Comments</h5>
                                            <blockquote class="">
                                                <p ng-show="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">
                                                    {{pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].cs_comments }}</p>
                                                <p ng-hide="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">No comments</p>
                                                <small ng-show="pupilPerformanceComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{pupilPerformanceUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                            </blockquote>
                                        </div>
                                    </div>


                                    <br>

                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix no-border">
                                    <!--Data submitted from-->
                                     <span get-submission-location="{{ pupilPerformanceLocation }}"
                                           filter_year="{{filter_year}}"
                                           filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                           filter_data_collector_type="{{filter_data_collector_type}}"
                                           district-id="{{ selected_school.district_id }}" section="termly">
                                    </span>

                                </div><!--box footer-->
                            </div><!-- /.box -->
                        </div>

                        <div class="col-sm-12" ng-hide="(pupilPerformance |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                            <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.tab-pane -->

        <!-----  Record books  --- -->
        <div id="record_books" class="tab-pane" >
            <div class="box-no-shadow" >
                <div class="box-header" ng-show="books.length">
                    <h3 class="box-title">School Record Books</h3>
                    <div class="box-tools  pull-right">
                        <div class="input-group">
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                            </select>
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                    ng-options="term.value as term.label for term in schoolTerms">
                            </select>
                            <select style="width: 150px;"  name="filter_data_collector_type"  class="form-control input-sm"
                                    ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                            </select>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding" ng-show="(books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <!--This is the Table Export Button-->
                            <button class="btn btn-warning"  export-table="recordsTable" file-name="{{selected_school.name + ' School Record Books' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="runSchoolRecords()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" function="runSchoolRecords()"
                                                               delete-section-data="Record Books" section-type="record_books"
                                                               submission-id="{{ booksLocation [filter_year + filter_term  + filter_data_collector_type].id }}"
                                                               term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                            </div>

                            <table class="table table-striped table-bordered table-hover" id="recordsTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Term</th>
                                    <th style="text-align: center">Book Name</th>
                                    <th style="text-align: center">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="book in books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                    <td align="center">{{ one_school_terms[book.term].number}}</td>
                                    <td align="center">{{book.name}}</td>
                                    <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[book.status == 'Yes' ]">
                                        <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[book.status == 'Yes']"></i> &nbsp; {{book.status}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <br>
                            <div class="box-footer clearfix no-border"  ng-show="(books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                                <!--Data submitted from-->
                        <span get-submission-location="{{ booksLocation }}"
                              filter_year="{{filter_year}}"
                              filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                              filter_data_collector_type="{{filter_data_collector_type}}"
                              district-id="{{ selected_school.district_id }}" section="termly">
                        </span>


                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12" ng-show="(books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" >
                                <div class="box-no-shadow box-solid">
                                    <div class="box-header">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li  select="">
                                                    <a data-toggle="tab" data-target="#bookscomments" > Comments </a>
                                                </li>
                                                <li  select="" class="hidden">
                                                    <a data-toggle="tab" data-target="#booksimages" > Images </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <!----   Comments ---->
                                                <div id="bookscomments" class="tab-pane active">
                                                    <div class="box-body clearfix">
                                                        <h5>Head Teacher Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="booksComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">
                                                                {{booksComment [filter_year + filter_term  + filter_data_collector_type].ht_comment }}</p>
                                                            <p ng-hide="booksComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">No comments</p>
                                                            <small ng-show="booksComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">
                                                                Submitted on <cite title="Date"> {{booksUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                                        </blockquote>
                                                        <br>
                                                        <h5>Circuit Supervisor Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="booksComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">
                                                                {{booksComment [filter_year + filter_term  + filter_data_collector_type].cs_comments }}</p>
                                                            <p ng-hide="booksComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">No comments</p>
                                                            <small ng-show="booksComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{booksUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                                        </blockquote>
                                                    </div><!-- /.box-body -->
                                                </div>

                                                <!----   Images ---->
                                                <div id="booksimages" class="tab-pane">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <!-- /.box-body -->


                        </div>


                    </div>


                </div><!-- /.box-body -->
                <div class="" ng-hide="(books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                    <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.tab-pane -->


        <!---- Support ---->
        <div id="support" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="supportTypes.length" class="box-header">
                        <h3 class="box-title">Support Types
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select style="width: 150px;"  name="filter_data_collector_type"  class="form-control input-sm"
                                            ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div ng-show="(supportTypes |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length"  class="col-sm-12 col-md-6">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="supportTypeTable" file-name="{{selected_school.name + ' School Support Types' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                                <div class="pull-right dropdown">
                                    <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="runSupport()">Refresh</a></li>
                                        <li class="divider" role="presentation"></li>
                                        <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Support" section-type="support"
                                                                   function="runSupport()" submission-id=" {{ supportTypesLocation [filter_year + filter_term  + filter_data_collector_type].id }} "
                                                                   term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                        </li>
                                    </ul>
                                </div>

                                <table export-table class="table table-striped table-bordered table-hover" id="supportTypeTable">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align: center">Type of Support</th>
                                        <th style="text-align: center">Cash</th>
                                        <th style="text-align: center">Kind</th>
                                        <th style="text-align: center" class="hidden">Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="support in supportTypes |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                        <td align="center">{{support.name}}</td>
                                        <td align="center">{{support.in_cash}}</td>
                                        <td align="center">{{support.in_kind}}</td>
                                        <td class="hidden">{{ support.comment }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border">
                                    <!--Data submitted from-->
                                         <span get-submission-location="{{ supportTypesLocation }}"
                                               filter_year="{{filter_year}}"
                                               filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                               filter_data_collector_type="{{filter_data_collector_type}}"
                                               district-id="{{ selected_school.district_id }}" section="termly">
                                         </span>
                                </div>
                            </div>
                            <div ng-show="(supportTypes |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                                <div class="box-no-shadow box-solid">
                                    <div class="box-header">

                                        <h3 class="box-title page-header"> <i class="fa fa-comment-o"></i>  Comments</h3>
                                    </div><!-- /.box-header -->




                                    <div class="box-no-shadow box-solid">
                                        <div class="box-header">
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#supportcomments" > Comments </a>
                                                    </li>
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#supportimages" > Images
                                                            <span class="label label-info" ng-show="requiredImages.sections['support'].length">{{ requiredImages.sections['support'].length }}</span></a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <!----   Comments ---->
                                                    <div id="supportcomments" class="tab-pane active">
                                                        <div class="box-body clearfix">
                                                            <h5>Head Teacher Comments</h5>
                                                            <blockquote class="">
                                                                <p ng-show="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">
                                                                    {{supportTypesComment [filter_year + filter_term  + filter_data_collector_type].ht_comment }}</p>
                                                                <p ng-hide="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">No comments</p>
                                                                <small ng-show="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">Submitted on<cite title="Date"> {{ supportTypesUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                            <br>
                                                            <h5>Circuit Supervisor Comments</h5>
                                                            <blockquote class="">
                                                                <p ng-show="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">
                                                                    {{supportTypesComment [filter_year + filter_term  + filter_data_collector_type].cs_comments }}</p>
                                                                <p ng-hide="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">No comments</p>
                                                                <small ng-show="supportTypesComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{ supportTypesUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                        </div>
                                                    </div>

                                                    <!----   Images ---->
                                                    <div id="supportimages" class="tab-pane">
                                                        <div class="" required-images="support"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <!-- /.box-body -->



                                    <!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>

                            <div class="col-sm-12" ng-hide="(supportTypes |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->


        <!---- Grant ---->
        <div id="grant" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="schoolGrants.length" class="box-header">
                        <h3 class="box-title">Grant
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select  style="width: 150px;"  name="filter_data_collector_type"  class="form-control input-sm"
                                             ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div  ng-show="(schoolGrants |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-sm-12 col-md-7">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="schoolGrantsTable" file-name="{{selected_school.name + ' School Grant' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                                <div class="pull-right dropdown">
                                    <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="runGrants()">Refresh</a></li>
                                        <li class="divider" role="presentation"></li>
                                        <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Grant" section-type="grant"
                                                                   function="runGrants()" submission-id=" {{ schoolGrantsLocation [filter_year + filter_term  + filter_data_collector_type].id }} "
                                                                   term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                        </li>
                                    </ul>
                                </div>

                                <table  class="table table-striped table-bordered table-hover" id="schoolGrantsTable">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align: center" rowspan="2" class="horizontal_vertical_center">Grant Type</th>
                                        <th style="text-align: center" colspan="2">1st Tranche</th>
                                        <th style="text-align: center" colspan="2">2nd Tranche</th>
                                        <th style="text-align: center" colspan="2">3rd Tranche</th>
                                        <!--<th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Comment</th>-->
                                    </tr>
                                    <tr class="bg-table-blue"  style="color: #ffffff">
                                        <th style="text-align: center">Date</th>
                                        <th style="text-align: center">Amount</th>
                                        <th style="text-align: center">Date</th>
                                        <th style="text-align: center">Amount</th>
                                        <th style="text-align: center">Date</th>
                                        <th style="text-align: center">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="grant in schoolGrants |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                        <td align="center">{{ formatSchoolGrantType [ grant.school_grant_type ] }}</td>
                                        <td align="center">{{ grant.first_tranche_date}}</td>
                                        <td align="center">{{ grant.first_tranche_amount}}</td>
                                        <td align="center">{{ grant.second_tranche_date}}</td>
                                        <td align="center">{{ grant.second_tranche_amount}}</td>
                                        <td align="center">{{ grant.third_tranche_date}}</td>
                                        <td align="center">{{ grant.third_tranche_amount}}</td>
                                        <!--<td>{{ grant.comment }}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border">
                                    <!--Data submitted from-->
                                            <span get-submission-location="{{schoolGrantsLocation }}"
                                                  filter_year="{{filter_year}}"
                                                  filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                                  filter_data_collector_type="{{filter_data_collector_type}}"
                                                  district-id="{{ selected_school.district_id }}" section="termly">

                                         </span>

                                </div>
                            </div>

                            <div ng-show="(schoolGrants |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length" class="col-sm-12 col-md-5">
                                <div class="box-no-shadow box-solid">
                                    <div class="box-header">

                                        <h3 class="box-title page-header"> <i class="fa fa-comment-o"></i>  Comments</h3>
                                    </div><!-- /.box-header -->

                                    <div class="box-body clearfix">
                                        <h5>Head Teacher Comments</h5>
                                        <blockquote class="">
                                            <p ng-show="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">
                                                {{schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].ht_comment }}</p>
                                            <p ng-hide="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">No comments</p>
                                            <small ng-show="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].ht_comment">Submitted on<cite title="Date"> {{ schoolGrantsUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                        </blockquote>
                                        <br>
                                        <h5>Circuit Supervisor Comments</h5>
                                        <blockquote class="">
                                            <p ng-show="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">{{schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].cs_comments }}</p>
                                            <p ng-hide="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">No comments</p>
                                            <small ng-show="schoolGrantsComment [filter_year + filter_term  + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{ schoolGrantsUpdated [filter_year + filter_term  + filter_data_collector_type]}} </cite> </small>
                                        </blockquote>
                                    </div><!-- /.box-body -->

                                    <!--box footer-->
                                </div><!-- /.box -->
                            </div>

                            <div class="col-sm-12" ng-hide="(schoolGrants |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->



                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->


        <div id="blank_tab" class="tab-pane active">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 24px;line-height: 20px; margin: 10%" class="text-center greyColor">
                        <i class=" glyphicon glyphicon-arrow-up"></i>Please select a tab to show</p>
                </div>
            </div>
        </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->