
<!-- Custom Tabs -->
<h4 class="page-header">
    Community Involvement
</h4>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-justified">
        <li  >
            <a data-toggle="tab" data-target="#community_involvement"> Community Involvement</a>
        </li>
        <li >
            <a data-toggle="tab" data-target="#meetings">Meetings Held</a>
        </li>
        <li  >
            <a data-toggle="tab" data-target="#general_issues">General Issues</a>
        </li>
    </ul>

    <div class="tab-content">

        <!----   Community Involvement ---->
        <div id="community_involvement" class="tab-pane">

            <div class="box-no-shadow">
                <div class="box-header" ng-show="communityInvolvementItems.length">
                    <h3 class="box-title">Community Involvement</h3>
                    <div class="box-tools  pull-right">
                        <div class="input-group">
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                            </select>
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                    ng-options="term.value as term.label for term in schoolTerms">
                            </select>
                            <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                     ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                            </select>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="clearfix"></div>
                <div class="box-body no-padding" ng-show="(communityInvolvementItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <!--This is the Table Export Button-->
                    <button class="btn btn-warning"  export-table="src_communityTable" file-name="{{selected_school.name + ' School Community Involvement' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchCommunityData()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Community Involvement"
                                                               section-type="community_relation" submission-id=" {{communityLocation [filter_year + filter_term + filter_data_collector_type].id }} " function="fetchCommunityData()"
                                                               term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                                <br>
                            </div>
                            <br>
                            <table  class="table table-striped table-bordered table-hover" id="src_communityTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Term</th>
                                    <th style="text-align: center">Type</th>
                                    <th style="text-align: center">Status</th>
                                    <th style="text-align: center" class="hidden">Trend</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="community in communityInvolvementItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                    <td align="center">{{one_school_terms[community.term].number}}</td>
                                    <td align="center">{{community.name}}</td>
                                    <!--<td align="center" class=""><span check-mark status="{{community.status}}"></span> {{community.status}}</td>-->
                                    <td align="center" ng-class="{
                    'bg-green' : community.status == 'Good',
                    'bg-yellow' : community.status == 'Fair',
                    'bg-red' : community.status == 'Poor'}">
                                        <i class="fa" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[community.status == 'Good']"></i>
                                        &nbsp;{{community.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-footer clearfix no-border" ng-show="( communityInvolvementItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                <!--Data submitted from-->
                                <span get-submission-location="{{ communityLocation }}"
                                      filter_year="{{filter_year}}"
                                      filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                      filter_data_collector_type="{{filter_data_collector_type}}"
                                      district-id="{{ selected_school.district_id }}" section="termly"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box-no-shadow box-solid">
                                <div class="box-header">

                                    <h3 class="box-title page-header"> <i class="fa fa-comment-o"></i>  Comments</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body clearfix">
                                    <h5>Head Teacher Comments</h5>
                                    <blockquote class="">
                                        <p ng-show="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].ht_comment">
                                            {{communityInvolvementComment [ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                        <p ng-hide="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].ht_comment">No comments </p>
                                        <small ng-show="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on <cite title="Date"> {{communityInvolvementUpdated [filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                    </blockquote>
                                    <br>
                                    <h5>Circuit Supervisor Comments</h5>
                                    <blockquote class="">
                                        <p ng-show="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].cs_comments">
                                            {{communityInvolvementComment [ filter_year + filter_term + filter_data_collector_type].cs_comments}}</p>
                                        <p ng-hide="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].cs_comments">No comments </p>
                                        <small ng-show="communityInvolvementComment [filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{communityInvolvementUpdated [filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                    </blockquote>
                                </div><!-- /.box-body -->

                            </div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
                <div class="" ng-hide="(communityInvolvementItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3">No data available.</div>
                </div>
            </div>


            <!-- /.box -->

        </div><!-- /.tab-pane -->

        <!-----  Meetings Held ------>
        <div id="meetings" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="schoolMeetings.length" class="box-header">
                        <h3 class="box-title">Meetings Held
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                             ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <br>
                    <div class="box-body no-padding">
                        <div class="row">
                            <div  ng-show="(schoolMeetings  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-sm-6">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="schoolMeetingsTable" file-name="{{selected_school.name + ' School Meetings Held' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>
                                <p>Number of Circuit Supervisor Visits : <b ng-bind="schoolMeetingsCSVisits [filter_year + filter_term + filter_data_collector_type] || '0' "></b>
                                <div>Number of INSETS : <b ng-bind="schoolMeetingsInsets [filter_year + filter_term + filter_data_collector_type] || '0' "></b>

                                    <div class="pull-right dropdown">
                                        <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchMeetingData()">Refresh</a></li>
                                            <li class="divider" role="presentation"></li>
                                            <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="School Meetings"
                                                                       section-type="meeting" submission-id=" {{ meetingLocation[filter_year + filter_term + filter_data_collector_type].id }} " function="fetchMeetingData()"
                                                                       term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <br>

                                <table  class="table table-striped table-bordered table-hover" id="schoolMeetingsTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Meeting Type</th>
                                        <th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Frequency</th>
                                        <th style="text-align: center" colspan="2">Attendance</th>
                                        <th style="text-align: center" rowspan="2" class="hidden horizontal_vertical_center">Comment</th>
                                    </tr>
                                    <tr  class="bg-table-blue" style="color: #ffffff">
                                        <th style="text-align: center">Males</th>
                                        <th style="text-align: center">Females</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="meeting in schoolMeetings |  filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ meeting.name }}</td>
                                        <td align="center">{{ meeting.frequency }}</td>
                                        <td align="center">{{meeting.males_present}}</td>
                                        <td align="center">{{meeting.females_present}}</td>
                                        <td class="hidden">{{ meeting.comment }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border" ng-show="( schoolMeetings | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                    <!--Data submitted from-->
                                    <span get-submission-location="{{ meetingLocation }}"
                                          filter_year="{{filter_year}}"
                                          filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                          filter_data_collector_type="{{filter_data_collector_type}}"
                                          district-id="{{ selected_school.district_id }}" section="termly"> </span>

                                </div>
                            </div>
                            <div ng-show="(schoolMeetings  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-sm-6">

                                <div class="box-no-shadow box-solid">
                                    <div class="box-header">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li  select="">
                                                    <a data-toggle="tab" data-target="#schoolMeetingscomments" > Comments </a>
                                                </li>
                                                <li  select="">
                                                    <a data-toggle="tab" data-target="#schoolMeetingsimages" > Images  <span class="label label-info" ng-show="requiredImages.sections['meetings'].length">{{ requiredImages.sections['meetings'].length }}</span></a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <!----   Comments ---->
                                                <div id="schoolMeetingscomments" class="tab-pane active">
                                                    <div class="box-body clearfix">
                                                        <h5>Head Teacher Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].ht_comment"> {{schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                            <p ng-hide="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].ht_comment">No comments </p>
                                                            <small ng-show="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on <cite title="Date"> {{schoolMeetingsUpdated [filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                        </blockquote>
                                                        <br>
                                                        <h5>Circuit Supervisor Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].cs_comments"> {{schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].cs_comments}}</p>
                                                            <p ng-hide="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].cs_comments">No comments </p>
                                                            <small ng-show="schoolMeetingsComment [filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{schoolMeetingsUpdated [filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                        </blockquote>
                                                    </div><!-- /.box-body -->
                                                </div>

                                                <!----   Images ---->
                                                <div id="schoolMeetingsimages" class="tab-pane">
                                                    <div class="" required-images="meetings"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12" ng-hide="(schoolMeetings  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0 ; font-size: 24px; color: #d3d3d3"> No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->


                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->

        <!------ General Issues  ------>
        <div id="general_issues" class="tab-pane" >
            <div class="box-no-shadow" >
                <div class="box-header" ng-show="generalIssueItems.length">
                    <h3 class="box-title">General Issues  <span class="pull-right dropdown">
                        <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchSchoolGeneralSituationData()">Refresh</a></li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="General Issues"
                                                       section-type="general_issues" function="fetchSchoolGeneralSituationData()"
                                                       term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                            </li>
                        </ul>
                    </span>
                    </h3>
                    <div class="box-tools  pull-right">
                        <div class="input-group">
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                            </select>
                            <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                    ng-options="term.value as term.label for term in schoolTerms">
                            </select>
                            <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                     ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                            </select>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding"  ng-show="(generalIssueItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <!--This is the Table Export Button-->
                    <button class="btn btn-warning"  export-table="generalIssueTable" file-name="{{selected_school.name + ' School General Issues' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>



                    <table  class="table table-striped table-bordered table-hover" id="generalIssueTable" ng-show="generalIssueItemsObject">
                        <thead>
                        <tr class="bg-primary">
                            <th style="text-align: center">Issue</th>
                            <th style="text-align: center">Response</th>
                            <th style="text-align: center">Comment</th>
                            <!--<th style="text-align: center" class="trend">Trend</th>-->
                        </tr>
                        </thead>
                        <tbody ng-repeat="(key, value) in generalIssueItemsObject">
                        <tr class="bg-table-blue">
                            <th  style="text-align: left; color: rgba(85,85,85,1); font-size: 18px; background-color: rgba(218, 239, 255, 0.58) !important;" colspan="3"><b><i>{{ key }}</i></b></th>
                        </tr>
                        <tr ng-repeat="issue in value | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                            <td align="left" width="500px">{{ issue.situation }}</td>
                            <td align="center" width="100px">{{ issue.status }}&nbsp;&nbsp;&nbsp; <span check-mark status="{{issue.status}}"></span></td>
                            <td align="center"> {{issue.comment}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="box-no-shadow box-solid" ng-show="( generalIssueItems | filter:
                     {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <div class="box-header">

                        <h3 class="box-title page-header"> <i class="fa fa-comment-o"></i>  Comments</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body clearfix">
                        <h5>Circuit Supervisor Comments</h5>
                        <blockquote class="">
                            <p ng-show="generalIssueItemsComment [filter_year + filter_term + filter_data_collector_type].cs_comments"> {{generalIssueItemsComment [filter_year + filter_term + filter_data_collector_type].cs_comments}}</p>
                            <p ng-hide="generalIssueItemsComment [filter_year + filter_term + filter_data_collector_type].cs_comments">No comments </p>
                            <small ng-show="generalIssueItemsComment [filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{generalIssueItemsUpdated [filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                        </blockquote>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="box-footer clearfix no-border" ng-show="( generalIssueItems | filter:
                     {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <!--Data submitted from-->
                    <span get-submission-location="{{ issueLocation }}"
                          filter_year="{{filter_year}}"
                          filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                          filter_data_collector_type="{{filter_data_collector_type}}"
                          district-id="{{ selected_school.district_id }}" section="termly">
                        </span>

                </div><!--box footer-->

                <div class="" ng-hide="(generalIssueItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                    <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.tab-pane -->

        <div id="blank_tab" class="tab-pane active">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 24px;line-height: 20px; margin: 10%" class="greyColor"><i class="col-sm-offset-4 glyphicon glyphicon-arrow-up"></i>  Please select a tab to show</p>
                </div>
            </div>
        </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->