<div class="col-sm-12">

    <div class="box-no-shadow" style="min-height: 400px">
        <div class="box-header">
            <h3 class="box-title">Teacher Information Table
                <span class="box-tools pull-right" ng-show="adminRight > 2 && currentUser.role == 'super' ">
                    <button tooltip="Add Teacher" class="btn btn-link text-success" create-teacher="{{ selected_school }}"><i class="fa fa-plus" ></i></button>
                </span>
            </h3>
            <div class="clearfix"></div>


            <div  class="row">

                <div  ng-show="schoolYears.length" class="col-sm-12 box-no-shadow">
                    <div class="box-header" >
                        <div class="row">
                            <div class="form-group col-md-3 col-xs-6">
                                <label for="academic_year">Academic Year</label>
                                <select name="academic_year" id="academic_year" class="form-control"
                                        ng-model="filter_year" ng-options="year for year in schoolYears">
                                    <option value="">Select year</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-xs-6">
                                <label for="term">Term</label>
                                <select name="term" id="term" class="form-control"
                                        ng-model="filter_term"
                                        ng-options="term.value as term.label for term in schoolTerms">
                                    <option value="">Select term</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-xs-6">
                                <label for="week">Week</label>
                                <select name="week" id="week" class="form-control"
                                        ng-model="filter_week" ng-options="week as week for week in schoolWeeks" >
                                    <option value="">Select week</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-xs-6 hidden">
                                <label for="filter_data_collector_type">Data Collector</label>
                                <select name="filter_data_collector_type" id="filter_data_collector_type" class="form-control"
                                        ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    <option value="">Select data collector</option>
                                    <option value="head_teacher" selected>Head Teacher</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-xs-6">
                                <label for="actions">Actions</label><br>
                                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                                    <button data-ng-disabled="loadingData || updatingTotals" id="actions" data-ng-click="fetchWeeklyData(filter_year, filter_term, filter_week)" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                                        Load<span ng-if="loadingData || updatingTotals">ing</span> Data
                                    </button>
                                    <button class="btn btn-primary dropdown-toggle col-md-3 col-xs-4" data-ng-disabled="loadingData || updatingTotals" data-toggle="dropdown">
                                        <span class="caret" ng-hide="updatingTotals"></span>
                                        <span ng-show="updatingTotals"><i class="fa fa-spin fa-spinner"></i></span>
                                        <span class="sr-only">Other Load Options</span>

                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li data-ng-click="fetchWeeklyData(filter_year, filter_term, filter_week)"><a href="">Load Set Period</a></li>
                                        <li class="divider"></li>
                                        <li data-ng-click="fetchWeeklyData()"><a href="">Load All Available</a></li>
                                        <li class="divider" ng-show="teacherInfoData.length"></li>
                                        <li ng-show="teacherInfoData.length" data-ng-click="updateSchoolWeeklyTotal()">
                                            <a href="">Update Teacher Attendance Totals</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div><!-- /.box-header -->
                </div>

            </div>
        </div><!-- /.box-header -->


        <!--Normal Attendance view starts here-->

        <div ng-hide="trending" ng-class="{hidden : teacherClicked}">
            <div ng-show="teacherWeeklyTotals[filter_year+filter_term+filter_week].expectedTeacherTotal">
                <h5>Number of days school was in session: <b>{{ schoolNumberOfDaysInSession [ filter_year + filter_term + filter_week ] }}</b></h5>
            </div>
            <div class="box-body no-padding" style="min-height: 400px">
                <div>
                    <div class="btn-group pull-left">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                            Choose Column
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-middle">
                            <li><input type="checkbox" checked id="staff_id" data-ng-click="staff_id = !staff_id"><label for="staff_id">Staff ID</label></li>
                            <li><input type="checkbox" checked id="gender" data-ng-click="gender = !gender" ><label for="gender">Gender</label></li>
                            <li><input type="checkbox" checked id="subject" data-ng-click="subject = !subject"><label for="subject">Level / Subject</label></li>
                            <li><input type="checkbox"  id="category" data-ng-click="category = !category" ><label for="category">Category</label></li>
                            <li><input type="checkbox"  id="rank" data-ng-click="rank = !rank" ><label for="rank">Rank</label></li>
                            <li><input type="checkbox"  id="qualification" data-ng-click="qualification = !qualification" ><label for="qualification">Qualification</label></li>
                            <li><input type="checkbox"  id="years_in_school" data-ng-click="years_in_school = !years_in_school" ><label for="years_in_school">Years in School</label></li>
                            <li><input type="checkbox" checked id="days_absent" data-ng-click="days_absent = !days_absent" ><label for="days_absent">Absent Days</label></li>
                            <li><input type="checkbox" checked id="days_punctual" data-ng-click="days_punctual = !days_punctual" ><label for="days_punctual">Present Days</label></li>
                            <li><input type="checkbox"  id="lesson_plan_vetted" data-ng-click="lesson_plan_vetted = !lesson_plan_vetted" ><label for="lesson_plan_vetted">Lesson Plan</label></li>
                            <li><input type="checkbox"  id="units_covered" data-ng-click="units_covered = !units_covered" ><label for="units_covered">Units Covered</label></li>
                            <li><input type="checkbox"  id="exercises" data-ng-click="exercises = !exercises" ><label for="exercises">Exercises Given/Marked</label></li>
                            <li><input type="checkbox"  id="class_management" data-ng-click="class_management = !class_management" ><label for="class_management">Classroom Management</label></li>
                            <li><input type="checkbox"  id="show_with_comments" data-ng-click="show_with_comments = !show_with_comments" ><label for="show_with_comments">Show Comments</label></li>
                            <li><input type="checkbox"  id="show_teacher_status" data-ng-click="show_teacher_status = !show_teacher_status" ><label for="show_teacher_status">Show Teacher Status</label></li>
                        </ul>
                    </div>

                    <div class="btn-group pull-left hidden">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                             Teacher Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-middle">
                            <li><input type="radio" name="filterTeacher" checked id="all" data-ng-click="filteringTeachers('')"><label for="all">All</label></li>
                            <li><input type="radio" name="filterTeacher" id="studyleave" data-ng-click="filteringTeachers('studyleave')"><label for="studyleave">Study Leave</label></li>
                            <li><input type="radio" name="filterTeacher" id="otherleave" data-ng-click="filteringTeachers('otherleave')" ><label for="otherleave">Other Leave</label></li>
                            <li><input type="radio" name="filterTeacher" id="retired" data-ng-click="filteringTeachers('retired')"><label for="retired">Retired</label></li>
                            <li><input type="radio" name="filterTeacher" id="deceased" data-ng-click="filteringTeachers('deceased')" ><label for="deceased">Deceased</label></li>
                        </ul>
                    </div>

                    <div class="btn-group pull-right"  ng-show="teacherWeeklyTotals[filter_year+filter_term+filter_week].expectedTeacherTotal">
                        <!--This is the Table Export Button-->
                        <button class="btn" ng-show="loadingEverything" data-ng-click="trending = !trending" ng-class="{false : 'btn-success', true : 'btn-danger'}[trending]">
                            <span ng-hide="trending">Show Trends</span>
                        </button>
                        &nbsp;
                        <button class="btn btn-warning teacherInfoTable pull-right" export-table="teacherInfoTable" file-name="{{selected_school.name + ' School Teacher Weekly Attendance WK' + filter_week + ' ' + filter_term + ' ' + filter_year}}">Begin Week Export</button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row" ng-show="teacherWeeklyTotals[filter_year+filter_term+filter_week].expectedTeacherTotal">
                    <div class="col-sm-12">
                        <p class="row page-header" style="font-size: 16px ">
                            <small class="col-sm-4 text-center">Year : <b class="">{{ filter_year }}</b></small>
                            <small class="col-sm-4 text-center">Term : <b class="">{{ one_school_terms[filter_term].label }}</b></small>
                            <small class="col-sm-4 text-center">Week : <b class="">{{ filter_week }}</b></small>
                        </p>
                        <p>Weekly Teacher Attendance Stats</p>
                        <table class="table table-bordered table-responsive">
                            <tr class="bg-gray">
                                <td class="horizontal_vertical_center"><span tooltip="Total number of teachers registered in the school">Number of Teachers</span></td>
                                <td class="horizontal_vertical_center"><span tooltip="Total Attendance By Teachers">Total Weekly Teacher Attendance</span></td>
                                <td class="horizontal_vertical_center"><span tooltip="Teacher Attendance Weekly Average">Average Weekly Attendance</span></td>
                                <!--<td class="horizontal_vertical_center">Total Teachers in District</td>-->
                            </tr>
                            <tr class="">
                                <td class="horizontal_vertical_center">{{ teacherWeeklyTotals[filter_year+filter_term+filter_week].expectedTeacherTotal }}</td>
                                <td class="horizontal_vertical_center">{{ teacherWeeklyTotals[filter_year+filter_term+filter_week].totalAttendance + '/' + (teacherWeeklyTotals[filter_year+filter_term+filter_week].days_in_session * teacherWeeklyTotals[filter_year+filter_term+filter_week].expectedTeacherTotal) }}</td>
                                <td class="horizontal_vertical_center">{{ teacherWeeklyTotals[filter_year+filter_term+filter_week].averageAttendance | teacherAveragePercentage }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="table-responsive">
                    <table  class="table table-striped table-bordered table-hover table-responsive" id="teacherInfoTable">
                        <thead>
                        <tr class="bg-primary">
                            <th class="horizontal_vertical_center" ng-show="!staff_id">Staff No.</th>
                            <th class="horizontal_vertical_center" colspan="2">Name</th>
                            <th class="horizontal_vertical_center" ng-show="!gender">Gender</th>
                            <th class="horizontal_vertical_center" ng-show="!subject">Level Taught</th>
                            <th class="horizontal_vertical_center" ng-show="!subject">Class / Subject</th>
                            <th class="horizontal_vertical_center"  ng-show="category">Category</th>
                            <th class="horizontal_vertical_center"  ng-show="rank">Rank</th>
                            <th class="horizontal_vertical_center"  ng-show="qualification">Highest Qualification ( Academic )</th>
                            <th class="horizontal_vertical_center"  ng-show="qualification">Highest Qualification ( Professional )</th>
                            <th class="horizontal_vertical_center"  ng-show="years_in_school">Years in School</th>
                            <th class="horizontal_vertical_center"  colspan="2" ng-show="!days_punctual">Days Present</th>
                            <th class="horizontal_vertical_center" colspan="2" ng-show="!days_absent">Days Absent</th>
                            <th class="horizontal_vertical_center" ng-show="lesson_plan_vetted">Lesson Plan</th>
                            <th class="horizontal_vertical_center" ng-show="units_covered" colspan="3">Units Covered</th>
                            <th class="horizontal_vertical_center" colspan="2" ng-show="exercises">Exercises</th>
                            <th class="horizontal_vertical_center" colspan="4" ng-show="class_management">Classroom Management</th>
                        </tr>
                        </thead>
                        <thead>
                        <tr  class="bg-table-blue" style="color: #ffffff">
                            <td class="horizontal_vertical_center" ng-show="!staff_id"></td>
                            <td class="horizontal_vertical_center"><em>Surname</em></td>
                            <td  class="horizontal_vertical_center"><em>Other names</em></td>
                            <td class="horizontal_vertical_center"  ng-show="!gender"></td>
                            <td class="horizontal_vertical_center" ng-show="!subject"></td>
                            <td class="horizontal_vertical_center" ng-show="!subject"></td>
                            <td class="horizontal_vertical_center" ng-show="category"></td>
                            <td class="horizontal_vertical_center" ng-show="rank"></td>
                            <th class="horizontal_vertical_center"  ng-show="qualification"></th>
                            <th class="horizontal_vertical_center"  ng-show="qualification"></th>
                            <th class="horizontal_vertical_center"  ng-show="years_in_school"></th>
                            <td  class="horizontal_vertical_center" ng-show="!days_punctual"><em>Present</em></td>
                            <td  class="horizontal_vertical_center" ng-show="!days_punctual"><em>Punctual</em></td>
                            <td class="horizontal_vertical_center" ng-show="!days_absent"><em>With Permission</em></td>
                            <td class="horizontal_vertical_center" ng-show="!days_absent"><em>Without Permission</em></td>
                            <td class="horizontal_vertical_center" ng-show="lesson_plan_vetted"></td>
                            <td class="horizontal_vertical_center" ng-show="units_covered" ><em>Gh. Lang</em></td>
                            <td class="horizontal_vertical_center" ng-show="units_covered" ><em>English</em></td>
                            <td class="horizontal_vertical_center" ng-show="units_covered" ><em>Math</em></td>
                            <td class="horizontal_vertical_center" ng-show="exercises"><em>Total Given</em></td>
                            <td class="horizontal_vertical_center" ng-show="exercises"><em>Total Marked</em></td>
                            <td class="horizontal_vertical_center" ng-show="class_management"><em>Class Control</em></td>
                            <td class="horizontal_vertical_center" ng-show="class_management"><em>Children Behaviour</em></td>
                            <td class="horizontal_vertical_center" ng-show="class_management"><em>Children Participation</em></td>
                            <td class="horizontal_vertical_center" ng-show="class_management"><em>Teacher Discipline</em></td>
                        </tr>
                        <!--<tr ng-repeat="teacher in teacherInfoData | filter: {term : filter_term, week : filter_week, year : filter_year}">-->
                        </thead>
                        <tbody>
                        <tr ng-show="teacher.showStatus" ng-class="{'text-orange text-uppercase' : lookupTeacherInfoData[teacher.id].isTransferred}" tooltip=""
                            ng-repeat="teacher in teacherInfoData" style="cursor: pointer" data-ng-click="viewTeacher(teacher.index)">
                            <td  align="center" class="horizontal_vertical_center"  ng-show="!staff_id" >
                                <span>{{teacher.staff_number}}</span><br ng-if="show_teacher_status">
                                <span ng-if="show_teacher_status" teacher-status-label-color="{{teacher.teacher_status}}"></span>
                            </td>
                            <td  align="center" class="horizontal_vertical_center">{{teacher.last_name}}</td>
                            <td  align="center" class="horizontal_vertical_center">{{teacher.first_name}}</td>
                            <td  align="center" class="horizontal_vertical_center"   ng-show="!gender">{{teacher.gender}}</td>
                            <td align="center" class="horizontal_vertical_center"  ng-show="!subject">{{teacher.level_taught}}</td>
                            <td align="center" class="horizontal_vertical_center"  ng-show="!subject">{{teacher.subject}}</td>
                            <td align="center" class="horizontal_vertical_center"  ng-show="category">{{teacher.category}}</td>
                            <td align="center" class="horizontal_vertical_center"  ng-show="rank">{{ teacher.rank }}</td>
                            <td class="horizontal_vertical_center"  ng-show="qualification">{{ teacher.highest_academic_qualification  }}</td>
                            <td class="horizontal_vertical_center"  ng-show="qualification">{{ teacher.highest_professional_qualification }}</td>
                            <td class="horizontal_vertical_center"  ng-show="years_in_school">{{ teacher.years_in_the_school }}</td>
                            <td class="horizontal_vertical_center " ng-show="!days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span  ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.days_present}}</span>
                            </td>
                            <td class="horizontal_vertical_center " ng-show="!days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span  ng-if="!punctuality.deleted"  ng-repeat="punctuality in teacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.days_punctual}}</span>
                            </td>
                            <td class="horizontal_vertical_center" ng-show="!days_absent" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{punctuality.days_absent_with_permission}}</span>
                            </td>
                            <td class="horizontal_vertical_center " ng-show="!days_absent" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.days_absent_without_permission}}</span>
                            </td>
                            <td class="horizontal_vertical_center" ng-show="lesson_plan_vetted" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.lesson_plan}}</span>
                            </td>

                            <td class="horizontal_vertical_center" ng-show="units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                <span ng-if="!unit.deleted" ng-repeat="unit in teacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1 "> {{unit.ghanaian_language_units_covered}}</span>
                            </td>
                            <td class="horizontal_vertical_center " ng-show="units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                <span ng-if="!unit.deleted" ng-repeat="unit in teacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{unit.english_language_units_covered}}</span>
                            </td>
                            <td class="horizontal_vertical_center " ng-show="units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                <div ng-if="!unit.deleted" ng-repeat="unit in teacher.unitsCoveredHolder  | filter: {term : filter_term,  year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{unit.mathematics_units_covered}}</div>
                            </td>

                            <td class="horizontal_vertical_center" ng-show="exercises" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.num_of_exercises_given}}</span>
                            </td>

                            <td class="horizontal_vertical_center" ng-show="exercises" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.punctualityHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.num_of_exercises_marked }}</span>
                            </td>

                            <td class="horizontal_vertical_center" ng-show="class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1"> {{punctuality.class_control}}</span>
                            </td>
                            <td class="horizontal_vertical_center" ng-show="class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.children_behaviour}}</span>
                            </td>
                            <td class="horizontal_vertical_center" ng-show="class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                <span  ng-if="!punctuality.deleted"  ng-repeat="punctuality in teacher.classManagementHolder | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.children_participation}}</span>
                            </td>
                            <td  class="horizontal_vertical_center" ng-show="class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                <span ng-if="!punctuality.deleted" ng-repeat="punctuality in teacher.classManagementHolder  | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true | limitTo : 1">{{punctuality.teacher_discipline}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-show="transferredTeachersInSchool.length">
                        <button ng-click="showTeacherHistory()" class="btn btn-warning pull-left"><i class="fa fa-eye"></i> Show Transferred Teachers' Data ({{ transferredTeachersInSchool.length}})</button>
                    </div>


                </div>

            </div><!-- /.box-body  for table-->
        </div>

        <!--This is the trending part-->
        <div ng-show="trending" ng-class="{hidden : teacherClicked}">
            <div class="">
                <div class="">

                    <div class="btn-group pull-left">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                            Choose Trend Columns
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-middle noclose">
                            <li data-ng-click="changeTrendToShow('trend_days_punctual')"><input type="radio" name="trendRadio" value="trend_days_punctual" checked id="trend_days_punctual"   ><label for="trend_days_punctual">Present Days</label></li>
                            <li data-ng-click="changeTrendToShow('trend_lesson_plan_vetted')"><input type="radio" name="trendRadio" value="trend_lesson_plan_vetted" id="trend_lesson_plan_vetted"  ><label for="trend_lesson_plan_vetted">Lesson Plan</label></li>
                            <li data-ng-click="changeTrendToShow('trend_exercises')"><input type="radio" name="trendRadio" value="trend_exercises" id="trend_exercises"  ><label for="trend_exercises">Exercises Given/Marked</label></li>
                            <li data-ng-click="changeTrendToShow('trend_class_management')"><input type="radio" name="trendRadio" value="trend_class_management" id="trend_class_management"  ><label for="trend_class_management">Classroom Management</label></li>
                            <li data-ng-click="changeTrendToShow('trend_units_covered')"><input type="radio" name="trendRadio" value="trend_units_covered" id="trend_units_covered"  ><label for="trend_units_covered">Units Covered</label></li>
                        </ul>
                    </div>


                    <div class="btn-group pull-right"  >
                        <button class="btn" ng-click="showTrends()" ng-class="{false : 'btn-success', true : 'btn-danger'}[trending]">
                            <span ng-show="trending">Close Trends</span>
                        </button>
                        &nbsp;
                        <button ng-show="loadingEverything" class="btn btn-warning teacherInfoTable" export-table="teacherAttendanceTrendTable" file-name="{{selected_school.name + ' School Teacher Attendance' +  ' ' + filter_term + ' ' + filter_year}}">Begin Trend Export</button>
                    </div>

                    <div class="clearfix"></div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="row page-header" style="font-size: 16px ">
                            <small class="col-sm-6 text-center">Year : <b class="">{{ filter_year }}</b></small>
                            <small class="col-sm-6 text-center">Term : <b class="">{{ one_school_terms[filter_term].label }}</b></small>
                        </p>
                        <p>Teacher Attendance Stats</p>
                        <table class="table table-bordered table-responsive">
                            <tr class="bg-gray">
                                <td class="horizontal_vertical_center"><span tooltip="Total number of teachers registered in the school">Number of Teachers</span></td>
                                <td class="horizontal_vertical_center"><span tooltip="Total Attendance By Teachers">Total Term Teacher Attendance</span></td>
                                <td class="horizontal_vertical_center"><span tooltip="Teacher Attendance Termly Average">Average Termly Attendance</span></td>
                                <!--<td class="horizontal_vertical_center">Total Teachers in District</td>-->
                            </tr>
                            <tr class="">
                                <td class="horizontal_vertical_center">{{ teacherAttTrend[filter_year+filter_term].expectedTeacherTotal }}</td>
                                <td class="horizontal_vertical_center">{{ teacherAttTrend[filter_year+filter_term].totalAttendance + '/' + (teacherAttTrend[filter_year+filter_term].totalDaysInSession * teacherAttTrend[filter_year+filter_term].expectedTeacherTotal) }}</td>
                                <td class="horizontal_vertical_center">{{ teacherAttTrend[filter_year+filter_term].averageAttendance | teacherAveragePercentage }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-body no-padding table table-responsive" ><!--ng-show="(schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}).length"-->




                    <table class="table table-bordered table-responsive" id="teacherAttendanceTrendTable"> <!--ng-show="( teacherInfoData | filter: {term : filter_term, year : filter_year}  : true).length"-->

                        <thead style="display: none" class="hidden">
                        <tr class="horizontal_vertical_center hidden" style="display: none">
                            <th colspan="3" class="horizontal_vertical_center hidden" style="display: none">
                                {{ selected_school.name }} Teacher Attendance ({{one_school_terms[filter_term].label}}, {{filter_year}})
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="bg-primary">
                            <th class="horizontal_vertical_center" colspan="1">Staff ID</th>
                            <th class="horizontal_vertical_center" colspan="1">Name</th>
                            <th class="horizontal_vertical_center"  colspan="2" ng-repeat="item in schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}">
                                {{ item.week + "/" + item.termObj.number + "-" + item.year }}<br>
                            </th>
                        </thead>

                        <!--Days in Session Row-->
                        <thead>
                        <tr class="bg-info" >
                            <th style="text-align: center"></th>
                            <th style="text-align: center">Days in Session</th>
                            <th  style="text-align: center" colspan="2" ng-repeat="item in schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}">{{ schoolNumberOfDaysInSession[item.year + item.termValue + item.week] }}</th>
                        </tr>
                        </thead>

                        <!--Days Present and Absent-->
                        <thead>
                        <tr class="bg-gray" >
                            <th style="text-align: center"></th>
                            <th style="text-align: center">Present And Absent</th>
                            <th  style="text-align: center" ng-repeat-start="item in schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}">P</th>
                            <th style="text-align: center" ng-repeat-end="">A</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-class="{'text-orange text-uppercase' : lookupTeacherInfoData[teacher.id].isTransferred}" ng-repeat="teacher in teacherInfoData" style="cursor: pointer" data-ng-click="viewTeacher(teacher.index)">
                            <td  align="center" class="horizontal_vertical_center" >{{teacher.staff_number}} <br>
                                <span teacher-status-label-color="{{teacher.teacher_status}}"></span>
                            </td>
                            <td  align="center" class="horizontal_vertical_center">{{teacher.last_name + ' ' + teacher.first_name}}</td>

                            <td class="horizontal_vertical_center " ng-repeat-start="item in schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}" ng-class="">
                                <div  ng-if="trendToShow.trend_days_punctual" ng-repeat="punctuality in teacher.punctualityHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{ punctuality.days_present | replaceWithDash }}</div>
                                <div  ng-if="trendToShow.trend_lesson_plan_vetted" ng-repeat="punctuality in teacher.punctualityHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{ punctuality.lesson_plan | replaceWithDash }}</div>
                                <div  ng-if="trendToShow.trend_exercises" ng-repeat="punctuality in teacher.punctualityHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{ (punctuality.num_of_exercises_marked + "/" + punctuality.num_of_exercises_given) | replaceWithDash }}</div>
                                <div  ng-if="trendToShow.trend_class_management" ng-repeat="classMng in teacher.classManagementHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{ classMng.class_control | replaceWithDash }}</div>
                                <div  ng-if="trendToShow.trend_units_covered" ng-repeat="unit in teacher.unitsCoveredHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{unit.ghanaian_language_units_covered | replaceWithDash }}</div>
                            </td>
                            <td ng-repeat-end="" class="horizontal_vertical_center ">
                                <div ng-if="trendToShow.trend_days_punctual" ng-repeat="punctuality in teacher.punctualityHolder | filter: {week : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true">{{ parseInt(punctuality.days_absent_with_permission) + parseInt(punctuality.days_absent_without_permission) | replaceWithDash }}</div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <h2 class="text-center" ng-hide="(schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}).length" style="margin: 150px 0">
                    <i class="fa fa-warning"></i> No trend data available for the set term</h2>
            </div>
        </div>




        <!--Loading (remove the following to stop the loading)-->
        <div class="overlay" ng-show="loadingData" ></div>
        <div class="loading-img" ng-show="loadingData" style="margin-top: 30px"></div>
        <!--end loading-->

        <div class="col-sm-12" ng-hide="teacherInfoData.length" ng-class="{ 'hidden' : trending}" ng-if="schoolYears.length">
            <div ng-hide="loadingData" style="margin: 30px 0 60px; color: #727272" class="text-center h2">Select data duration to load</div>
        </div>


        <span ng-class="{ 'hidden' : !teacherClicked }" ng-include=" 'partials/templates_View/school/src_clicked_teacher_information.html' "></span>



        <div ng-show="teacherInfoData.length" class="box-footer clearfix no-border">
            <p class="hidden">Data submitted from : <em><b> Accra </b>( {{teacherInfoData.longitude}},{{teacherInfoData.latitude}} ) </em></p>

        </div><!--box footer-->


        <div class="col-sm-12" ng-hide="teacherInfoData.length" ng-if="!schoolYears.length">
            <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3" ng-if="!(loadingTeachers)">
                <!--<span ng-if="loadingTeachers"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>-->
                <span >No data available.</span>
            </div>
        </div>
    </div>
</div>
