<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!-- Custom Tabs -->
<h4 class="page-header">
    School Grounds
</h4>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-justified">
        <li  select="">
            <a data-toggle="tab" data-target="#sanitation"> Sanitation </a>
        </li>
        <li select="">
            <a data-toggle="tab" data-target="#security"> Security </a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#sports"> Sports / Recreational Facilities</a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#structure" > School Structure </a>
        </li>
        <li  select="">
            <a data-toggle="tab" data-target="#furniture" > Furniture </a>
        </li>
    </ul>


    <div class="tab-content">

        <!----   Sanitation ---->
        <div id="sanitation" class="tab-pane">
            <div class="box-no-shadow" >
                <div class="box-header" ng-show="sanitationItems.length">
                    <h3 class="box-title" >Sanitation  <small>Were the following items available?</small>
                        <div class="box-tools  pull-right">
                            <div class="input-group">
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                </select>
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                        ng-options="term.value as term.label for term in schoolTerms">
                                </select>
                                <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                         ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                </select>
                            </div>
                        </div>
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div   ng-show="(sanitationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                            <!--This is the Table Export Button-->
                            <button class="btn btn-warning"  export-table="sanitationTable" file-name="{{selected_school.name + ' School Sanitation' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchSanitationData()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" class="center-block btn btn-danger btn-sm" delete-section-data="Sanitation"
                                                               section-type="sanitation" submission-id="{{ sanitationLocation[ filter_year + filter_term + filter_data_collector_type ].id }}" function="fetchSanitationData()"
                                                               term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                            </div>

                            <table class="table table-striped table-bordered table-hover" id="sanitationTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Term</th>
                                    <th style="text-align: center">Item</th>
                                    <th style="text-align: center">Status</th>
                                    <th style="text-align: center" class="hidden">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sanitation in sanitationItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                    <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                    <td align="center">{{one_school_terms[sanitation.term].number}}</td>
                                    <td align="center">{{sanitation.name}}</td>
                                    <td align="center"
                                        ng-class="{
                                'bg-green' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'bg-yellow' : sanitation.status == 'Available, not functional',
                                'bg-red' : sanitation.status == 'Not available'
                                }">
                                        <!--<i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[sanitation.status == 'Available']"></i>-->
                                        <i class="fa " ng-class="{
                                'fa-check' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'fa-exclamation-circle' : sanitation.status == 'Available, not functional',
                                'fa-times' : sanitation.status == 'Not available'
                                }"></i>
                                        &nbsp;{{sanitation.status}}</td>
                                    <td class="hidden">{{sanitation.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-footer clearfix no-border">
                                <!--Data submitted from-->
                                <span get-submission-location="{{ sanitationLocation }}"
                                      filter_year="{{filter_year}}"
                                      filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                      filter_data_collector_type="{{filter_data_collector_type}}"
                                      district-id="{{ selected_school.district_id }}" section="termly"></span>

                            </div>
                        </div>
                        <div  ng-show="(sanitationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                            <div class="box-no-shadow box-solid">
                                <div class="box-header">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li  select="">
                                                <a data-toggle="tab" data-target="#sanitationcomments" > Comments </a>
                                            </li>
                                            <li  select="">
                                                <a data-toggle="tab" data-target="#sanitationimages" > Images
                                                    <span class="label label-info" ng-show="requiredImages.sections['sanitation'].length">{{ requiredImages.sections['sanitation'].length }}</span></a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <!----   Comments ---->
                                            <div id="sanitationcomments" class="tab-pane active">
                                                <div class="box-body clearfix">
                                                    <h5>Head Teacher Comments</h5>
                                                    <blockquote class="">
                                                        <p ng-show="sanitationComment[ filter_year + filter_term + filter_data_collector_type].ht_comment">
                                                            {{sanitationComment[ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                        <p ng-hide="sanitationComment[ filter_year + filter_term + filter_data_collector_type].ht_comment">No comments</p>
                                                        <small ng-show="sanitationComment[ filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on <cite title="Date"> {{sanitationUpdated[ filter_year + filter_term + filter_data_collector_type ]}}</cite></small>
                                                    </blockquote>
                                                    <br>
                                                    <h5>Circuit Supervisor Comments</h5>
                                                    <blockquote class="">
                                                        <p ng-show="sanitationComment[ filter_year + filter_term + filter_data_collector_type].cs_comments">
                                                            {{sanitationComment[ filter_year + filter_term + filter_data_collector_type].cs_comments }}</p>
                                                        <p ng-hide="sanitationComment[ filter_year + filter_term + filter_data_collector_type].cs_comments">No comments</p>
                                                        <small ng-show="sanitationComment[ filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{sanitationUpdated[ filter_year + filter_term + filter_data_collector_type ]}}</cite></small>
                                                    </blockquote>
                                                </div>
                                            </div>

                                            <!----   Images ---->
                                            <div id="sanitationimages" class="tab-pane">
                                                <div class="" required-images="sanitation"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-header -->
                            <!-- /.box-body -->

                        </div><!-- /.box -->
                        <div class="col-sm-12" ng-hide="(sanitationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                            <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                        </div>
                    </div>

                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </div><!-- /.tab-pane -->

        <!------ Security ------>
        <div id="security" class="tab-pane" >
            <div class="box-no-shadow">
                <div ng-show="securityItems.length" class="box-header">
                    <h3 class="box-title">Security <small>Were the following items available?</small>
                        <div class="box-tools  pull-right">
                            <div class="input-group">
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                </select>
                                <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                        ng-options="term.value as term.label for term in schoolTerms">
                                </select>
                                <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                         ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                </select>
                            </div>
                        </div>
                    </h3>

                </div><!-- /.box-header -->

                <div class="box-body no-padding">
                    <div class="row">
                        <div  ng-show="(securityItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                            <!--This is the Table Export Button-->
                            <button class="btn btn-warning"  export-table="securityTable" file-name="{{selected_school.name + ' School Security' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                            <div class="pull-right dropdown">
                                <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchSecurityData()">Refresh</a></li>
                                    <li class="divider" role="presentation"></li>
                                    <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Security"
                                                               section-type="security" submission-id="{{securityLocation[ filter_year + filter_term + filter_data_collector_type ].id}}" function="fetchSecurityData()"
                                                               term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                    </li>
                                </ul>
                            </div>


                            <table class="table table-striped table-bordered table-hover" id="securityTable">
                                <thead>
                                <tr  class="bg-primary">
                                    <th style="text-align: center">Term</th>
                                    <th style="text-align: center">Security</th>
                                    <th style="text-align: center">Status</th>
                                    <th style="text-align: center" class="hidden">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="security in securityItems |  filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                    <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                    <td align="center">{{ one_school_terms[security.term].number}}</td>
                                    <td align="center">{{security.name}}</td>
                                    <!--<td align="center"><span check-mark status="{{book.status}}"></span></td>-->
                                    <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[security.status == 'Available' ]">
                                        <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[security.status == 'Available']"></i>
                                        &nbsp;{{security.status}}</td>
                                    <td class="hidden">{{ security.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-footer clearfix no-border">
                                <!--Data submitted from-->
                                <span get-submission-location="{{ securityLocation }}"
                                      filter_year="{{filter_year}}"
                                      filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                      filter_data_collector_type="{{filter_data_collector_type}}"
                                      district-id="{{ selected_school.district_id }}" section="termly"></span>
                            </div>
                        </div>
                        <div ng-show="(securityItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                            <div class="box-no-shadow box-solid">
                                <div class="box-header">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li  select="">
                                                <a data-toggle="tab" data-target="#securitycomments"> Comments </a>
                                            </li>
                                            <li  select="">
                                                <a data-toggle="tab" data-target="#securityimages"> Images
                                                    <span class="label label-info" ng-show="requiredImages.sections['security'].length">{{ requiredImages.sections['security'].length }}</span></a>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <!----   Comments ---->
                                            <div id="securitycomments" class="tab-pane active">
                                                <div class="box-body clearfix">
                                                    <h5>Head Teacher Comments</h5>
                                                    <blockquote class="">
                                                        <p ng-show="securityComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">{{securityComment [ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                        <p ng-hide="securityComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">No comments</p>
                                                        <small ng-show="securityComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on<cite title="Date"> {{securityUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                    </blockquote>
                                                    <br>
                                                    <h5>Circuit Supervisor Comments</h5>
                                                    <blockquote class="">
                                                        <p ng-show="securityComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">{{securityComment [ filter_year + filter_term + filter_data_collector_type].cs_comments }}</p>
                                                        <p ng-hide="securityComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">No comments</p>
                                                        <small ng-show="securityComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{securityUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                    </blockquote>
                                                </div><!-- /.box-body -->
                                            </div>

                                            <!----   Images ---->
                                            <div id="securityimages" class="tab-pane">
                                                <div class="" required-images="security"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-header -->
                            <!-- /.box-body -->
                        </div>

                        <div class="col-sm-12" ng-hide="(securityItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                            <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.tab-pane -->

        <!---- Sports and Recreation  ----->
        <div id="sports" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="recreationItems.length" class="box-header">
                        <h3 class="box-title">Recreation <small>Were the following items available?</small>
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                             ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div  ng-show="(recreationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="sportsTable" file-name="{{selected_school.name + ' School Recreation Items' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                                <div class="pull-right dropdown">
                                    <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchSportsData()">Refresh</a></li>
                                        <li class="divider" role="presentation"></li>
                                        <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Sports and Recreational Items"
                                                                   section-type="sports_recreation" submission-id="{{recreationLocation[ filter_year + filter_term + filter_data_collector_type ].id}}" function="fetchSportsData()"
                                                                   term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                        </li>
                                    </ul>
                                </div>


                                <table export-table class="table table-striped table-bordered table-hover" id="sportsTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Sports and Recreation</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="recreation in recreationItems |  filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ one_school_terms[recreation.term].number}}</td>
                                        <td align="center">{{recreation.name}}</td>
                                        <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[recreation.status == 'Available' || recreation.status == 'Adequate' ]">
                                            <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[recreation.status == 'Available' || recreation.status == 'Adequate']"></i>
                                            &nbsp;{{recreation.status}}</td>
                                        <td class="hidden">{{ recreation.comment }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border" ng-show="( recreationItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                    <!--Data submitted from-->
                                    <span get-submission-location="{{ recreationLocation }}"
                                          filter_year="{{filter_year}}"
                                          filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                          filter_data_collector_type="{{filter_data_collector_type}}"
                                          district-id="{{ selected_school.district_id }}" section="termly">
                                       </span>
                                </div>
                            </div>
                            <div ng-show="(recreationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">

                                <div class="box-no-shadow box-solid">
                                    <div class="box-header">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li  select="">
                                                    <a data-toggle="tab" data-target="#recreationcomments" > Comments </a>
                                                </li>
                                                <li  select="">
                                                    <a data-toggle="tab" data-target="#recreationimages" > Images
                                                        <span class="label label-info" ng-show="requiredImages.sections['sports'].length">{{ requiredImages.sections['sports'].length }}</span></a>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <!----   Comments ---->
                                                <div id="recreationcomments" class="tab-pane active">
                                                    <div class="box-body clearfix">
                                                        <h5>Head Teacher Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="recreationComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">
                                                                {{recreationComment [ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                            <p ng-hide="recreationComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">No comments </p>
                                                            <small ng-show="recreationComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on <cite title="Date"> {{recreationUpdated [ filter_year + filter_term + filter_data_collector_type ]}} </cite> </small>
                                                        </blockquote>
                                                        <br>
                                                        <h5>Circuit Supervisor Comments</h5>
                                                        <blockquote class="">
                                                            <p ng-show="recreationComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">
                                                                {{recreationComment [ filter_year + filter_term + filter_data_collector_type].cs_comments }}</p>
                                                            <p ng-hide="recreationComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">No comments </p>
                                                            <small ng-show="recreationComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on <cite title="Date"> {{recreationUpdated [ filter_year + filter_term + filter_data_collector_type ]}} </cite> </small>
                                                        </blockquote>
                                                    </div><!-- /.box-body -->
                                                </div>

                                                <!----   Images ---->
                                                <div id="recreationimages" class="tab-pane">
                                                    <div class="" required-images="sports"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <!-- /.box-body -->

                                </div><!-- /.box -->
                            </div>

                            <div class="col-sm-12" ng-hide="(recreationItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->


                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->

        <!-----  Structure  --- -->
        <div id="structure" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="structureItems.length" class="box-header">
                        <h3 class="box-title">School Structure <small>Were the following items in a good state?</small>
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                             ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div  ng-show="(structureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="structureTable" file-name="{{selected_school.name + ' School Structure' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                                <div class="pull-right dropdown">
                                    <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchStructureData()">Refresh</a></li>
                                        <li class="divider" role="presentation"></li>
                                        <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Structure"
                                                                   section-type="structure" submission-id="{{ structureLocation[ filter_year + filter_term + filter_data_collector_type ].id}}" function="fetchStructureData()"
                                                                   term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                        </li>
                                    </ul>
                                </div>


                                <table class="table table-striped table-bordered table-hover" id="structureTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Structure</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="structure in structureItems |   filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ one_school_terms[structure.term].number}}</td>
                                        <td align="center">{{structure.name}}</td>
                                        <!--<td align="center"><span check-mark status="{{book.status}}"></span></td>-->
                                        <td align="center" ng-class="{
                                         'bg-green' : structure.status == 'Good',
                                         'bg-yellow' : structure.status == 'Fair',
                                          'bg-red' : structure.status == 'Poor'}">

                                            <i class="fa" ng-show="structure.status" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[structure.status == 'Good']"></i>
                                            &nbsp;{{structure.status}}</td>
                                        <td class="hidden">{{ structure.comment}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border" ng-show="( structureItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                    <!--Data submitted from-->
                                    <span get-submission-location="{{  structureLocation }}"
                                          filter_year="{{filter_year}}"
                                          filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                          filter_data_collector_type="{{filter_data_collector_type}}"
                                          district-id="{{ selected_school.district_id }}" section="termly"></span>
                                </div>
                            </div>
                            <div ng-show="(structureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                                <div class="box-no-shadow box-solid">
                                    <div class="box-no-shadow box-solid">
                                        <div class="box-header">
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#structurecomments" > Comments </a>
                                                    </li>
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#structureimages" > Images
                                                            <span class="label label-info" ng-show="requiredImages.sections['school_structure'].length">{{ requiredImages.sections['school_structure'].length }}</span></a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <!----   Comments ---->
                                                    <div id="structurecomments" class="tab-pane active">
                                                        <div class="box-body clearfix">
                                                            <h5>Head Teacher Comments</h5>
                                                            <blockquote class="">
                                                                <p >
                                                                    {{structureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                                <p ng-hide="structureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">No comments</p>
                                                                <small ng-show="structureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on<cite title="Date"> {{structureUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                            <br>
                                                            <h5>Circuit Supervisor Comments</h5>
                                                            <blockquote class="">
                                                                <p >
                                                                    {{structureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments }}</p>
                                                                <p ng-hide="structureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">No comments</p>
                                                                <small ng-show="structureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{structureUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                        </div><!-- /.box-body -->
                                                    </div>

                                                    <!----   Images ---->
                                                    <div id="structureimages" class="tab-pane">
                                                        <div class="" required-images="school_structure"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <!-- /.box-body -->

                                </div><!-- /.box -->
                            </div>

                            <div class="col-sm-12" ng-hide="(structureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->

        <!---- Furniture ---->
        <div id="furniture" class="tab-pane" >
            <div>
                <div class="box-no-shadow">
                    <div ng-show="furnitureItems.length" class="box-header">
                        <h3 class="box-title">Furniture <small>Were the following items adequate?</small>
                            <div class="box-tools  pull-right">
                                <div class="input-group">
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_year" ng-options="year for year in schoolYears">
                                    </select>
                                    <select style="width: 150px;" class="form-control input-sm" ng-model="filter_term"
                                            ng-options="term.value as term.label for term in schoolTerms">
                                    </select>
                                    <select  style="width: 150px;" name="filter_data_collector_type"  class="form-control input-sm"
                                             ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                                    </select>
                                </div>
                            </div>
                        </h3>

                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div  ng-show="(furnitureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length"  class="col-md-6 col-sm-12">
                                <!--This is the Table Export Button-->
                                <button class="btn btn-warning"  export-table="furnitureTable" file-name="{{selected_school.name + ' School Furniture' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>

                                <div class="pull-right dropdown">
                                    <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" ng-click="fetchFurnitureData()">Refresh</a></li>
                                        <li class="divider" role="presentation"></li>
                                        <li role="presentation"><a class="text-danger redColor" href="" tabindex="-1" role="menuitem" delete-section-data="Furniture"
                                                                   section-type="furniture" submission-id=" {{ furnitureLocation [ filter_year + filter_term + filter_data_collector_type].id }} " function="fetchFurnitureData()"
                                                                   term="{{filter_term}}" year="{{filter_year}}" school-id="{{selected_school.id}}">Delete</a>
                                        </li>
                                    </ul>
                                </div>

                                <table  class="table table-striped table-bordered table-hover" id="furnitureTable">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Furniture</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody class="">

                                    <tr ng-repeat="furniture in furnitureItems |   filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <td align="center">{{one_school_terms[furniture.term].number}}</td>
                                        <td align="center ">{{furniture.name}}</td>
                                        <td align="center" ng-class="{'bg-green' : furniture.status == 'Adequate', 'bg-yellow' : furniture.status == 'Inadequate', 'bg-red' : furniture.status == 'Not Available'} ">
                                            <i class="fa" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[furniture.status == 'Adequate']"></i>
                                            &nbsp;{{furniture.status}}</td>
                                        <td class="hidden">{{ furniture.comment }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix no-border" ng-show="( furnitureItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                    <!--Data submitted from-->
                                    <span get-submission-location="{{ furnitureLocation }}"
                                          filter_year="{{filter_year}}"
                                          filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                                          filter_data_collector_type="{{filter_data_collector_type}}"
                                          district-id="{{ selected_school.district_id }}" section="termly">
                                        </span>

                                </div>
                            </div>
                            <div ng-show="(furnitureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length" class="col-md-6 col-sm-12">
                                <div class="box-no-shadow box-solid">
                                    <div class="box-no-shadow box-solid">
                                        <div class="box-header">
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#furniturecomments" > Comments </a>
                                                    </li>
                                                    <li  select="">
                                                        <a data-toggle="tab" data-target="#furnitureimages" > Images
                                                            <span class="label label-info" ng-show="requiredImages.sections['furniture'].length">{{ requiredImages.sections['furniture'].length }}</span></a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <!----   Comments ---->
                                                    <div id="furniturecomments" class="tab-pane active">
                                                        <div class="box-body clearfix">
                                                            <h5>Head Teacher Comments</h5>
                                                            <blockquote class="">
                                                                <p ng-show="furnitureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">
                                                                    {{furnitureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment }}</p>
                                                                <p ng-hide="furnitureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">No comments</p>
                                                                <small ng-show="furnitureComment [ filter_year + filter_term + filter_data_collector_type].ht_comment">Submitted on<cite title="Date"> {{furnitureUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                            <h5>Circuit Supervisor Comments</h5>
                                                            <blockquote class="">
                                                                <p ng-show="furnitureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">
                                                                    {{furnitureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments}}</p>
                                                                <p ng-hide="furnitureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">No comments</p>
                                                                <small ng-show="furnitureComment [ filter_year + filter_term + filter_data_collector_type].cs_comments">Submitted on<cite title="Date"> {{furnitureUpdated [ filter_year + filter_term + filter_data_collector_type]}} </cite> </small>
                                                            </blockquote>
                                                        </div><!-- /.box-body -->
                                                    </div>

                                                    <!----   Images ---->
                                                    <div id="furnitureimages" class="tab-pane">
                                                        <div class="" required-images="furniture"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <!-- /.box-body -->



                                </div><!-- /.box -->
                            </div>

                            <div class="col-sm-12" ng-hide="(furnitureItems  | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}).length">
                                <div class="text-center" style="margin: 10% 0; font-size: 24px; color: #d3d3d3"> No data available.</div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.tab-pane -->

        <div id="blank_tab" class="tab-pane active">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 24px;line-height: 20px; margin: 10%" class="greyColor"><i class="col-sm-offset-4 glyphicon glyphicon-arrow-up"></i>  Please select a tab to show</p>
                </div>
            </div>
        </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->