<h4 class="page-header" >
   <span ng-show="schools.length">Select a school below</span>
    <!--<small>This is a description of the current region.</small>-->
    <a ui-sref="dashboard.school.add_school({action : 'add', id : 0})" ng-show="adminRight >= 2 && currentUser.role == 'super' "><span class="pull-right btn btn-primary">
        <i class="fa fa-plus"> </i>&nbsp; Add School</span></a>
</h4>
        <div class="clearfix"><br></div>

<div class="alert alert-danger" ng-hide="schools.length">There are no schools in the database.</div>

<div class="box box-primary" ui-view="" ng-show="schools.length">
    <div class="box-header">
        <pagination class="inline pagination"
                    total-items="totalItems"
                    items-per-page="15" ng-model="currentPage" ng-change="pageChanged(currentPage)"
                    ng-show="totalItems > 15">
        </pagination>

        <div class="box-tools pull-right ">
            <div class="input-group-btn">
            </div>
            <div class="input-group">
                <button class="btn btn-default" data-ng-click="searchModal()">Click to search school</button>
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadSchools()"><i class="fa fa-refresh"></i> Reload Schools</button>
                <input ng-model="searchSchool"   ng-show="adminRight >= 2"  type="text" placeholder="Search school" style="width: 200px;"
                       class="form-control input-st hidden" data-ng-focus="inSearchBox = true" data-ng-blur="inSearchBox = false">
            </div>
        </div>
        <!--<pre>{{districts | json}}</pre>-->

    </div>

    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</a></th>
                    <th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'rating'; reverse=!reverse">District </a></th>
                    <th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'rating'; reverse=!reverse">Circuit </a></th>
                    <!--<th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'position'; reverse=!reverse">Rating</a></th>-->
                    <th title="Click to Sort"><a href="">Action</a></th>
                </tr>
                <tr ng-repeat="school in schools | orderBy : schoolSortOrder : reverse | limitTo : 15 ">
                    <!--data-ng-click="$state.go('dashboard.school.view_selected_school', {id : school.id} )"-->
                    <td><a  ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id})">{{ school.name }}</a></td>
                    <td style="text-align: center">{{ districtLookup[school.district_id].name }}</td>
                    <td style="text-align: center">{{ circuitLookup[school.circuit_id].name }}</td>
                    <!--<td  style="text-align: center"><span ng-show="school.rating">{{ school.rating | number : 2 }}%</span><span ng-hide="school.rating"><em>Incomplete data</em></span></td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li  ng-show="adminRight > 0"><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id})">View Details</a></li>
                                    <li  ng-show="adminRight > 1 && currentUser.role === 'super' "><a ui-sref="dashboard.school.add_school({action : 'edit', id : school.id})">Edit School</a></li>
                                    <li  ng-show="adminRight > 1 && currentUser.role === 'super' "><a href="" onclick="return false" data-ng-click="deleteSchoolModal('sm', school.id, $event )">Delete School</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info hidden" ng-hide="(schools  | filter: searchSchool).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->


</div>

