<div>

    <div  ng-show="schoolYears.length" class="col-sm-12 box-no-shadow">
        <div class="box-header" >
            <h3 class="box-title" ng-bind="page + 'Table' "></h3>
            <div class="row">
                <div class="form-group col-md-3 col-sm-6">
                    <label for="academic_year">Academic Year</label>
                    <select name="academic_year" id="academic_year" class="form-control"
                            ng-model="filter_year" ng-options="year for year in schoolYears">
                        <option value="">Select year</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <label for="term">Term</label>
                    <select name="term" id="term" class="form-control"
                            ng-model="filter_term"
                            ng-options="term.value as term.label for term in schoolTerms">
                        <option value="">Select term</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <label for="week">Week</label>
                    <select name="week" id="week" class="form-control"
                            ng-model="filter_week" ng-options="week as week for week in schoolWeeks" >
                        <option value="">Select week</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-xs-6 hidden">
                    <label for="filter_data_collector_type">Data Collector</label>
                    <select name="filter_data_collector_type" id="filter_data_collector_type" class="form-control"
                            ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                        <option value="">Select data collector</option>
                    </select>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="actions">Actions</label><br>
                    <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                        <button data-ng-disabled="loadingSummary || updatingTotals" id="actions" data-ng-click="fetchWeeklyData(filter_year, filter_term, filter_week)" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                            Load<span ng-if="loadingSummary || updatingTotals">ing</span> Data
                        </button>
                        <button class="btn btn-primary dropdown-toggle col-md-3 col-xs-4" data-ng-disabled="loadingSummary || updatingTotals" data-toggle="dropdown">
                            <span class="caret" ng-hide="updatingTotals"></span>
                            <span ng-show="updatingTotals"><i class="fa fa-spin fa-spinner"></i></span>
                            <span class="sr-only">Other Load Options</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li data-ng-click="fetchWeeklyData(filter_year, filter_term, filter_week)"><a href="">Load Set Period</a></li>
                            <li class="divider"></li>
                            <li data-ng-click="fetchWeeklyData()"><a href="">Load All Available</a></li>
                            <li class="divider" ng-show="attendanceData.length"></li>
                            <li ng-show="attendanceData.length" data-ng-click="updateSchoolWeeklyTotal()"><a href="">Update School Totals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div><!-- /.box-header -->
    </div>



    <div class="col-sm-12" ng-class="{true : 'col-md-12', false : 'col-md-6'}[trending == true]" ng-show="schoolYears.length">
        <div class="box-no-shadow" style="min-height: 300px">
            <div class="box-body" ng-show="attendanceData.length">
                <div class="row">
                    <div class="col-md-8 col-sm-12" ng-show="( attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true).length">
                        <p >Number of days school was in session :  <b> {{ schoolNumberOfDaysInSession[ filter_year + filter_term + filter_week + filter_data_collector_type ] || '-' }}</b></p>
                        <p >Total Enrollment :  <b> {{ attendanceData.enrollTotals[ filter_year + filter_term + filter_week + filter_data_collector_type ].normalEnrollment || '0'}}</b></p>
                        <p >Total {{ past_verb }} :  <b> {{ attendanceData.totals[ filter_year + filter_term + filter_week + filter_data_collector_type ].normal || '0'}}</b></p>
                        <p >Total Special {{ past_verb }} :  <b> {{ attendanceData.totals[ filter_year + filter_term + filter_week + filter_data_collector_type ].special || '0' }}</b></p>
                    </div>
                    <div class="col-md-4 col-sm-12" ng-show="( attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true).length">
                        <!--This is the Table Export Button-->
                        <div class="btn-group pull-right"  ng-hide="trending">
                            <button class="btn btn-warning attendanceTable pull-right btn-sm" export-table="attendanceTable" file-name="{{selected_school.name + ' School Week Attendance WK' + filter_week + ' ' + filter_term + ' ' + filter_year}}">Begin Week Export</button>
                        </div>

                        <div class="btn-group pull-right"  ng-show="trending">
                            <button class="btn btn-warning attendanceTrendTable pull-right btn-sm" export-table="attendanceTrendTable" file-name="{{selected_school.name + ' School Term Attendance' +  ' ' + filter_term + ' ' + filter_year}}">Begin Trend Export</button>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="btn-group pull-right" ng-show="loadingEverything">
                            <button class="btn " ng-click="showTrends()" ng-class="{false : 'btn-success', true : 'btn-danger'}[trending]">
                                <span ng-hide="trending">Show Trends</span>
                                <span ng-show="trending">Close Trends</span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <!--this is the normal view-->
                <div class="" ng-show="attendanceData.length && !trending">
                    <div class="box-body no-padding ">
                        <div class="">
                            <table class="table table-bordered table-responsive" id="attendanceTable" ng-show="( attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true).length">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Class</th>
                                    <th style="text-align: center">Boys</th>
                                    <th style="text-align: center">Girls</th>
                                    <th style="text-align: center">Total</th>
                                    <th style="text-align: center">Spec. Need Boys</th>
                                    <th style="text-align: center">Spec. Need Girls</th>
                                    <!--<th style="text-align: center">Trend</th>-->
                                </tr>
                                </thead>

                                <tbody>
                                <tr  ng-repeat="attendance in attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type} : true"
                                     data-ng-click="renderChart(attendance.index)" ng-hide="attendance.isDeleted" class="pointer" ng-class="{true : 'bg-yellow' , false : '' }[attendance.selected == true]">
                                    <td  align="center">{{attendance.class}}</td>
                                    <td  align="center">{{attendance.boys}}</td>
                                    <td  align="center">{{attendance.girls}}</td>
                                    <td  align="center">{{attendance.total}}</td>
                                    <td  align="center">{{attendance.special_boys}}</td>
                                    <td  align="center">{{attendance.special_girls}}</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div style="margin: 10% 0; font-size: 20px; color: #8d8d8d; text-align: center" class="text-center center-block"
                             ng-hide="( attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true).length">
                            <i class="fa fa-warning"></i> Data may not have been loaded. <br> <button ng-click="fetchWeeklyData(filter_year, filter_term, filter_week)" class="btn btn-sm btn-primary">Click to load</button></div>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix no-border" ng-show="( attendanceData | filter: {term : filter_term, week : filter_week, year : filter_year, data_collector_type : filter_data_collector_type}  : true).length" >
                        <p class="">Circuit Supervisor Comments : <span style="height: auto !important;" class="form-control" ng-bind="cs_comments[filter_week+filter_term+filter_year][comment_variable] || 'No Comments Posted' "></span></p>
                        <br>
                        <span get-submission-location="{{ attendanceData.location }}"
                              filter_year="{{filter_year}}"
                              filter_term="{{filter_term}}" filter_week="{{filter_week}}"
                              filter_data_collector_type="{{filter_data_collector_type}}"
                              district-id="{{ selected_school.district_id }}">
                        </span>

                    </div><!--box footer-->
                </div>
                <!--end of normal weekly view-->


                <!--This is the trending part-->
                <div class="clearfix"></div>
                <div class="" ng-show="attendanceData.length && trending">

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-6 text-center">Year : <b class="">{{ filter_year }}</b></small>
                                <small class="col-sm-6 text-center">Term : <b class="">{{ one_school_terms[filter_term].label }}</b></small>
                            </p>
                            <p>Student Attendance Stats</p>
                            <table class="table table-bordered table-responsive">
                                <tr class="bg-gray">
                                    <td class="horizontal_vertical_center"><span tooltip="Total number of students registered in the school">Total Enrollment </span></td>
                                    <td class="horizontal_vertical_center"><span tooltip="Total Attendance By Students">Total Term Student Attendance</span></td>
                                    <td class="horizontal_vertical_center"><span tooltip="Student Attendance Termly Average">Average Termly Attendance</span></td>
                                </tr>

                                <tr class="">
                                    <td class="horizontal_vertical_center">{{ attendanceData.enrollTotals[filter_year + filter_term + filter_week + filter_data_collector_type].normalEnrollment }}</td>
                                    <td class="horizontal_vertical_center">{{ attendanceData.totals[ filter_year + filter_term + filter_week + filter_data_collector_type ].normal + '/' + (attendanceData.enrollTotals[filter_year + filter_term + filter_week + filter_data_collector_type].normalEnrollment * schoolNumberOfDaysInSession[ filter_year + filter_term + filter_week + filter_data_collector_type ]) }}</td>
                                    <td class="horizontal_vertical_center">{{ (attendanceData.totals[ filter_year + filter_term + filter_week + filter_data_collector_type ].normal  / (attendanceData.enrollTotals[filter_year + filter_term + filter_week + filter_data_collector_type].normalEnrollment * schoolNumberOfDaysInSession[ filter_year + filter_term + filter_week + filter_data_collector_type ])) | teacherAveragePercentage }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="box-body no-padding table table-responsive" ng-show="(schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}).length">

                        <table class="table table-bordered table-responsive" id="attendanceTrendTable" ng-show="( attendanceData | filter: {term : filter_term, year : filter_year}  : true).length">
                            <thead>
                            <tr class="bg-primary">
                                <th class="horizontal_vertical_center" colspan="1">Week</th>
                                <th class="horizontal_vertical_center"  colspan="2" ng-repeat="aclass in classHolder">{{ aclass }}</th>
                            </thead>
                            <thead>
                            <tr class="bg-gray" >
                                <th style="text-align: center"></th>
                                <!--<th ng-hide="page == 'Attendance'" style="text-align: center">No. of Streams</th>-->
                                <th  style="text-align: center" ng-repeat-start="item in classHolder">Boys</th>
                                <!--<th style="text-align: center">Spec. Need Boys</th>-->
                                <th style="text-align: center" ng-repeat-end="">Girls</th>
                                <!--<th style="text-align: center">Spec. Need Girls</th>-->
                                <!--<th style="text-align: center">Trend</th>-->
                                <!--<th style="text-align: center">Total</th>-->
                            </tr>
                            </thead>
                            <!--{{ item.week + "|" + item.termObj.number + "|" + item.year}}-->
                            <tbody>
                            <tr  ng-repeat="item in schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}" class="pointer">
                                <td align="center">{{ item.week + " - " + item.termObj.number + " - " + item.year }}</td>
                                <!--<td ng-hide="page == 'Attendance'" align="center">{{enrollment.streams}}</td>-->
                                <td align="center"  ng-repeat-start="a_class in classHolder ">{{ item[a_class].boys }}</td>
                                <!--<td align="center">{{enrollment.special_boys}}</td>-->
                                <td align="center"  ng-repeat-end="">{{ item[a_class].girls }}</td>
                                <!--<td align="center">{{enrollment.special_girls}}</td>-->
                                <!--<td align="center">{{enrollment.total}}</td>-->
                            </tr>

                            </tbody>

                        </table>
                    </div>

                    <h2 class="text-center" ng-hide="(schoolWeeksTrendHolder | filter: {termValue : filter_term, year : filter_year}).length" style="margin: 150px 0">
                        <i class="fa fa-warning"></i> No trend data available for the set term</h2>
                </div>

            </div>
            <!--Loading (remove the following to stop the loading)-->
            <div class="overlay" ng-show="loadingData" ></div>
            <div class="loading-img" ng-show="loadingData" style="padding: 50px"></div>
            <!--end loading-->
        </div>
    </div>

    <div class="col-sm-12 col-md-6" ng-if="schoolYears.length" ng-show="attendanceData.length && !trending">
        <div class="box-no-shadow" >
            <div class="box-header">
                <h3 class="box-title hidden" ng-show="rowSelected">Visual Chart</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div ng-show="!rowSelected" style="margin: 30% 10%; font-size: 22px; color: #d3d3d3">Select a row on the left to visualize chart.</div>
                <!--<div ng-show="rowSelected"  id="enrollmentChart" style="width: 100%; height: 400px;"></div>-->
                <tabset ng-show="rowSelected" style="margin-top: 50px">
                    <li  class="pull-left"><h4><i class="fa fa-bar-chart-o"></i> Visual Chart</h4></li>
                    <tab heading="Pie Chart" class="pull-right" select="showPieChart()">
                        <div id="attendancePieChart" style="width: 100%; height: 400px;"></div>
                    </tab>
                    <!--select="alertMe()"-->

                    <tab  class="pull-right" heading="Bar Chart" select="showBarChart()">
                        <div id="attendanceBarChart" style="width: 100%; height: 400px;"></div>
                    </tab>

                    <tab  class="pull-right" heading="Trend" select="showLineChart()">
                        <div id="attendanceLineChart" style="width: 100%; height: 400px;"></div>
                    </tab>
                </tabset>
            </div><!-- /.box-body -->


            <div class="box-footer" ng-show="rowSelected && adminRight > 2 ">
                <div class="row">
                    <div class="col-sm-12 " ng-class="deletable.special_id ? 'text-center' : 'text-left' " style="margin: 20px">
                        <div class="form-group-sm">
                            <label for="disable_reload">Check to Disable Reload : &nbsp;&nbsp;&nbsp;</label>
                            <input id="disable_reload" type="checkbox" ng-model="model.disable_reload"   style="height: 12px">
                        </div>
                    </div>

                    <!--We disable the normal enrollment button when there is a special enrolment because if that happens, then the special will be hanging forever in the db-->
                    <!--After deleting it, you can then delete the normal attendance-->
                    <div ng-show="deletable.special_id" tooltip="Delete Special {{ page }} First" class="col-md-6 col-xs-12 text-center" style="margin-bottom: 10px">
                        <button class="btn btn-danger" data-ng-disabled="deletable.special_id">
                            Delete Selected {{ page }} Info</button>
                    </div>

                    <div ng-hide="deletable.special_id" class="col-md-6 col-xs-12 text-center" style="margin-bottom: 10px">
                        <button class="btn btn-danger" ng-click="deleteData(deleteSectionNormal, deletable.normal_id) ">
                            Delete Selected {{ page }} Info
                        </button>
                    </div>

                    <div class="col-md-6 col-xs-12  text-center" ng-if="deletable.special_id">
                        <button class="center-block btn btn-danger"
                                ng-click="deleteData(deleteSectionSpecial, deletable.special_id) ">Delete Selected Special {{ page }} Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-hide="attendanceData.length" ng-if="schoolYears.length">
        <div style="margin : -200px auto; color: #727272" class="text-center h2">Select data duration to load</div>
    </div>

    <div class="col-sm-12" ng-hide="attendanceData.length || loadingData" ng-if="!schoolYears.length">
        <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
            <span ng-show="loadingData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
            <span ng-hide="loadingData">No data available.</span>
        </div>
    </div>

</div>
