
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Error Page</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">Error Page</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container not-found-container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="error-page">
              <div class="not-found" style="background-color: #fff;">
                <span>Page Not Found (404)</span>
              </div>
              <p>The page you were looking for couldn't be found.</p>
              <a href="#/">Homepage</a> <span class="divider">|</span> <a href="#/schools">Schools</a>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->