    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>About Us</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">About Us</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-sm-12 background">
            <h3 class="headline first-child"><span>Background</span></h3>
            <div class="background-content" id="background-content-one">
                <img src="/frontend/images/school_image5.jpg" class="img-responsive col-sm-8 padded-img"/>

                <p class="background-header">
                    <br/>
                    <b>WHAT IS THE mobile SCHOOL REPORT CARD (mSRC)?</b>
                </p>
                <p class="background-body">
                    The School Report Card (SRC) system provides a process for collecting specific information concerning pupils, teachers, and management at the school level.   This information is compiled by the school, and submitted to the District Education Office, to provide a database for analyzing the current situation at the school and across schools in the district.  The SRC system provides an opportunity for a school to submit information on itself, enabling stakeholders to access and situate schools’ performances within the district-wide context.
                </p>

                <p class="background-header">
                    <br/>
                    <b>STRUCTURE AND CONTENT OF THE SRC SYSTEM</b>
                </p>
                <p class="background-body">
                    The SRC system uses basic school-level data, such as enrolment, textbooks availability, and pupil/teacher attendance to assess the nature of education delivery in schools and in the district. Moreover, the SRC data enables the school to undertake some introspection, and provides the district with information to measure progress being made in key areas over time.  The SRC system is developed around data generated at the school level. The information is ultimately used at both the school, district, and national levels to guide school improvement, and the setting and identification of appropriate District targets and priorities. In both cases, the SRC system contributes significantly to improving the quality and outcomes of the education delivery.

                    The information when analyzed and feedback to the school by the District Education Office, is shared with the community to examine and subsequently identify areas of accomplishment and challenges, resulting ultimately in the prioritization of interventions to improve the overall performance of the school.

                    The feedback from the information sent to the District Education Office, is the school’s performance of the School Report Card, discussed at the School Performance Appraisal Meeting [SPAM].  The outcome of the review is factored into the preparation of the School Performance Improvement Plan [SPIP] that guides the Head-teacher, SMC and PTA in the management and administration of the school.

                    At the District level, the SRC system provides information on how schools are performing in the District. It also provides a basis for working with individual schools to address performance challenges, as well as guiding District priority settling for allocating resources to help improve specific school performance and the general level of education throughout the District.

                </p>
                <div class="">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="background-header">
                                <br/>
                                <b>EXPECTED OUTCOMES OF THE mSRC SYSTEM</b>
                            </p>

                            <p class="background-body">
                                To ensure effectiveness of data collection and improve learning outcomes,
                                a mobile application called the “mobile School Report Card” (mSRC) has been developed to
                                complement the efforts of the Circuit Supervisor and District Education Office in tracking school
                                performance. Each supervisor and a head teacher will be equipped with a phone containing a
                                user-friendly mSRC checklist. The head teacher and supervisors will register the schools they
                                manage using customized electronic forms, input the data into the mobile (android) application,
                                and automatically save it to a specific school on the phone.

                            </p>
                        </div>
                        <div class="col-sm-6">
                            <img src="/frontend/images/school_image2.jpg" class="img-responsive padded-img"/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="background-body">
                                With mSRC, the supervisory team now has the key benefit of being able to track each school and their individual progress, including markers of progress, and relevant details for follow-up.
                                Directly entering this data into the mobile software will decrease both transport needs, and manual data entry at the district level.
                                Using mSRC will also address the issues of communication and coordination within each level of
                                the SRC program, including school administration (head teachers and teachers).
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="background-content" id="background-content-two">
                <img src="/frontend/images/school_image4.jpg" class="img-responsive col-sm-8 pull-right padded-img"/>

                <p class="background-header">
                    <br/>
                    <b>OBJECTIVES OF THE mobile SCHOOL REPORT CARD (mSRC) SYSTEM</b>
                </p>
                <p class="background-body">
                    The SRC system operates at two levels i.e. the School and District levels. The key objectives of the system are:
                    <ul class="points-alpha">
                        <li>
                            School Level
                            <br/>
                            To:
                            <ul class="points-circle">
                                <li>Identify levels of pupil learning achievement</li>
                                <li>Determine the coverage of teaching in literacy and numeracy</li>
                                <li>Provide information on pupil and teacher school attendance</li>
                                <li>Provide information on school management process, including supervision of teaching and learning</li>
                                <li>Track teacher performance in syllabus coverage</li>

                            </ul>
                        </li>
                        <li>
                            District Level
                            <br/>
                            To develop a database of information on school performance that shows the following:
                            <ul class="points-circle">
                                <li>Number of teachers in school</li>
                                <li>Enrolment trends</li>
                                <li>Pupil learning achievement</li>
                                <li>Management processes and involvement of  community and other stakeholders</li>
                                <li>Supervision of schools</li>
                                <li>Trends in school attendance by pupils and teachers</li>
                                <li>Teaching efficiency</li>

                            </ul>
                        </li>
                    </ul>
                <p class="background-body">
                The overall goal of the School Report Card [SRC] is to help improve school management, quality of teaching, and pupil learning achievement at each school. The system also seeks to empower head teachers, and strengthen leadership in school management and administration.  Furthermore, the system aims at improving district-wide assessment of the management, teaching and learning achievement of schools. This will enable schools and districts to take the appropriate actions, to improve and sustain the conditions for efficient schooling.
                </p>
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/frontend/images/school_image3.jpg" class="img-responsive padded-img"/>
                    </div>
                    <div class="col-sm-6">
                        <p class="background-body">
                            These include the following:
                        <ul class="points-circle">
                            <li>Improved management of the school by the Head teacher</li>
                            <li>Enhanced teacher motivation and professional competency</li>
                            <li>Reduced or eliminated teacher absenteeism, leading to increased time on task</li>
                            <li>Improved pupil learning achievement and outcomes</li>
                            <li>Enhanced culture of record-keeping, data generation, analysis, and reporting at the school and district level</li>
                            <li>Increased participation, support and involvement of the community in the management of the school</li>
                            <li>Sustained practice of transparency and accountability at both the school and district level</li>

                        </ul>

                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="points-circle">
                            <li>Improved general supervision of teaching and learning by circuit supervisors and other stakeholders</li>
                            <li>Enhanced general climate of education delivery within districts</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <p class="background-body">
                    The data summarized at the district level will assist MOE and GES in identifying/targeting support and resources to districts, for improving the implementation of national pre-tertiary education policies
                </p>

            </div>
            <br/>
            <button class="button" ng-hide="isPageOne()" ng-click="showContentOne()">Previous</button>
            <button class="button" ng-show="isPageOne()" ng-click="showContentTwo()">More</button>

            <hr>
            <button class="button button-green" ui-sref="contact-us">Contact Us</button>
            <br /><br />
          </div>
        </div> <!-- / .row -->

      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->