    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Contact Us</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">Contact Us</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3 class="headline first-child"><span>Contact Us</span></h3>
            <p>
                Send us your concerns of schools in your community.
                We would like to hear from you.
            </p>
            <form name="contactForm" ng-submit="submitContactForm(contactForm.$valid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
                <label for="email">Your email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" ng-model="email" required>
                  <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="form-error">
                     Your email is required
                  </p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label for="name">Your name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" ng-model="name" ng-minlength="2" required>
                <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="form-error">
                    Your name is required
                </p>
                <span class="form-error" ng-show="contactForm.name.$error.minlength">Enter a valid name</span>
              </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine  }">
                    <label for="mobile">Your mobile number</label>
                    <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Enter mobile number" ng-model="mobile"
                           ng-minlength="10" required>
                    <p ng-show="contactForm.mobile.$invalid && !contactForm.mobile.$pristine" class="form-error">
                        Your mobile number is required
                    </p>
                    <span ng-show="contactForm.mobile.$error.minlength" class="form-error">Enter a valid mobile number</span>
                </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label for="comment">Your message</label>
                <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Enter comment" ng-model="comment" required></textarea>
                  <p ng-show="contactForm.comment.$invalid && !contactForm.comment.$pristine" class="form-error">
                      Your comment is required
                  </p>
              </div>
              <button type="submit" class="button button-green" ng-disabled="contactForm.$invalid">Send Comment</button>
            </form>
          </div>
          <div class="col-sm-4">
            <h3 class="headline second-child"><span>Our Address</span></h3>
            <p>
                Ghana Education Service<br />
                P.O Box M45, Ministries<br />
                Accra - Ghana.<br/>
                Phone: +233 209 046 782 ||  +233 243 585 822 <br />
                Email: <a href="">info@msrcghana.org</a>
            </p>
            <h3 class="headline"><span>Google Map (responsive)</span></h3>
            <div class="google-maps">
              <!--<iframe width="500" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=san+f&amp;sll=37.77493,-122.419416&amp;sspn=0.158751,0.338173&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A1%D0%B0%D0%BD-%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%81%D0%BA%D0%BE,+%D0%9A%D0%B0%D0%BB%D0%B8%D1%84%D0%BE%D1%80%D0%BD%D0%B8%D1%8F,+%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8&amp;t=m&amp;ll=37.774921,-122.419453&amp;spn=0.023745,0.030041&amp;z=14&amp;iwloc=A&amp;output=embed">
              </iframe> -->
                <iframe width="500" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=airport%20residential%2C%20alema%20avenue&key=AIzaSyBoFHILpgwpMDg3rzPkqgxD_rJyvnLtJAU"></iframe>
                <br />
                <small>
                    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=san+f&amp;sll=37.77493,-122.419416&amp;sspn=0.158751,0.338173&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A1%D0%B0%D0%BD-%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%81%D0%BA%D0%BE,+%D0%9A%D0%B0%D0%BB%D0%B8%D1%84%D0%BE%D1%80%D0%BD%D0%B8%D1%8F,+%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8&amp;t=m&amp;ll=37.774921,-122.419453&amp;spn=0.023745,0.030041&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">
                View Larger Map
                    </a>
                </small>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->