<!-- Wrapper -->
<div class="wrapper">
    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>School Analysis</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="#/">Home</a></li>
                        <li class="active">School</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <!-- Begin First school-->
        <div class="col-sm-6">
            <div class="row">
                <!-- Show if school stats not available-->
                <div class="col-sm-12" ng-hide="firstSchoolRating">
                    <h1>Review Data Not Available At The Moment For <span style="color:#006dcc"><%school.name%></span></h1>
                    <div>
                        <button class="button button-orange pull-left" ng-click="openFirstOverlay('lg')">Change School</button>
                    </div>

                </div>
                <!-- Show if school stats available -->
                <div class="col-sm-12" ng-show="firstSchoolRating" id="school-info">
                    <h3 class="headline">
                        <span><%school.name%></span>
                        <button class="button button-orange pull-right" ng-click="openFirstOverlay('lg')">Change School</button>

                    </h3>

                    <!-- Begin school info and rating -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="school-info-container">
                                <h5>Region:</h5>
                            <span>
                                <b><%getRegionName(firstSchool.region_id)%></b></span>

                                <h5>District:</h5>
                            <span>
                                <b><%getDistrictName(firstSchool.district_id)%></b></span>

                                <h5>Circuit:</h5>
                            <span>
                                <b><%getCircuitName(firstSchool.circuit_id)%></b></span>

                                <h5>Head of School:</h5>
                                <span ng-show="headteacher"><b><%headTeacherName%></b></span>
                                <span ng-hide="headteacher"><b>Not Available</b></span>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="ratings-container" ng-show="firstSchoolRating">
                                <h4>Rating:</h4>
                                <ul class="stars-rating" id="first-school-star-rating" style="display: inline;">

                                </ul>
                                <br/>
                                <h1 style="font-size: 6.3rem;"><%firstSchoolRating%><small>%</small></h1>

                            </div>

                        </div>

                    </div>
                    <!-- end school info and rating -->

                    <!-- Begin review analysis -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pad school-analysis-container">
                                <!-- Progress bars -->
                                <div class="panel-group" id="first-school-nav">
                                <!-- Inclusiveness -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">


                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-one" class="collapsed">
                                            Inclusiveness
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse in" id="first-school-nav-one">
                                        <div class="panel-body">
                                            <div class="clearfix" style="padding-top: 0;margin:0;">
                                                <span class="pull-left">Inclusive School</span>
                                                <small class="pull-right" id="pbar-inclusive"> <%firstSchool.current_state_of_school_inclusiveness%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow pbar-inclusive"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_school_inclusiveness)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_school_inclusiveness)%>"></progressbar>
                                            </div>
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                   This is to assess the involvement of teachers, pupils, and parents in fostering quality education
                                                </span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['AIS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Teaching and Learning-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-two" class="collapsed">
                                            Teaching and Learning
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="first-school-nav-two">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Effective Teaching and Learning</span>
                                                <small class="pull-right" id="pbar-teaching"><%firstSchool.current_state_of_teaching_and_learning%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua pbar-teaching"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_teaching_and_learning)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_teaching_and_learning)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the correlation between teaching standards and overall learning outcomes</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['ETL']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Healthy School -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-three" class="collapsed">
                                            Healthy School
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="first-school-nav-three">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Healthy School</span>
                                                <small class="pull-right" id="pbar-health"> <%firstSchool.current_state_of_healthy_level%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red pbar-health"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_healthy_level)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_healthy_level)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                   This is to assess the quality of healthy habits taught and practiced in schools</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['HLS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Safe and Protective -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-four" class="collapsed">
                                            Safe and Protective
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse" id="first-school-nav-four">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Safe and Protective</span>
                                                <small class="pull-right" id="pbar-safety"><%firstSchool.current_state_of_safety_and_protection%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green pbar-safety"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_safety_and_protection)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_safety_and_protection)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                   This is assess the measures implemented to ensure a friendly teaching and learning  environment</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['SPS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Friendly School -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-five" class="collapsed">
                                            Gender-Sensitive School
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="first-school-nav-five">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Friendly School</span>
                                                <small class="pull-right" id="pbar-gender"><%firstSchool.current_state_of_friendliness_to_boys_girls%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red pbar-friendliness"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_friendliness_to_boys_girls)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_friendliness_to_boys_girls)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess schools’ considerations for gender balance and empowerment</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['FSBGB']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Community Involvement -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#first-school-nav" data-target="#first-school-nav-six" class="collapsed">
                                            Community Involvement
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse" id="first-school-nav-six">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Community Engaged School</span>
                                                <small class="pull-right" id="pbar-involvement"><%firstSchool.current_state_of_community_involvement%>/10 points </small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua pbar-involvement progress"
                                                     ></div>
                                                <progressbar value="(firstSchool.current_state_of_community_involvement)*10"
                                                             type="<%getProgressbarType(firstSchool.current_state_of_community_involvement)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the level of collaboration between schools and community stakeholders</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['CIS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div><!-- /.pad -->
                        </div>
                    </div>  <!-- end review analysis -->

                </div>
            </div><!-- End First School -->

        </div> <!-- End First School -->

        <!-- Begin Second School -->
        <div class="col-sm-6">
            <!-- show add compare school button -->
            <div class="col-sm-12" style="padding-bottom: 15px;padding-top: 15px;" ng-hide="onlyFirstSchool()">
                <button class="button button-blue pull-left" ng-click="openSecondOverlay('lg')">Add School To Compare</button>
            </div>
            <div ui-view></div>


        </div> <!-- End Search -->

    </div>
</div>
</div> <!-- Wrapper -->