<script type="text/javascript">
    // images allowed to load for threshold before they appear
    $("img.banner-image").lazyload({
        threshold : 500
    });
</script>
<!-- Wrapper -->
<div class="wrapper" style="padding-top: 65px;">

    <!-- begin carousel -->
    <div class="">
        <div class="" style="">
            <div class="">
                <carousel interval="carouselInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="<%slide.image%>" class="banner-image" style="cursor: default;"/>
                        <div class="banner-content">
                            <div class="front-overlay-message-content">
                                <article>
                                    <h1 class="first-child animated slideInRight delay-2" style="color:#fff;">
                                        <%slide.header%></h1>
                                </article>
                                <h3 class="animated slideInDown delay-3" style="color:#fff;"><%slide.sub%></h3>
                                <p>
                                    <button class="button button-blue animated fadeInUpBig delay-5" ui-sref="<%slide.link%>">
                                        <%slide.button%></button>
                                </p>
                            </div>

                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>

    <!-- end carousel -->

    <!-- Browser Showcase -->
    <div class="responsive-showcase" id="info-service">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="first-child text-center">The mSRC Programme</h2>
                    <h4 class="text-blue text-center">The mSRC is an ICT-intervention which seeks to help stakeholders,
                        in generating reliable up-to-date data on key education indicators, for better planning and decision making.
                    </h4>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <!-- Get it on Google Play -->
    <div class="responsive-showcase" id="googleplay" style="height: 100px; padding-bottom: 200px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="first-child text-center">The mSRC Mobile App</h2>
                    <h4 class="text-blue text-center"><a href="https://play.google.com/store/apps/details?id=me.comradehadi.src">See it on Google Play</a></h4>
                    <h3 style="text-align: center"><a href="https://play.google.com/store/apps/details?id=me.comradehadi.src" target="_blank">
                        <img src="/frontend/images/button-get-it-on-google-play.png" width="250px"></a></h3>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <!--Responsive Showcase -->
    <div class="main-services" ng-show="featuredSchool">
        <div class="container">
            <div class="responsive-design featured-school">
                <!-- begin change featured school button -->
                <div class="row change-featured-school">
                    <div class="col-sm-12">
                        <button class="button button-green" ng-click="changeFeaturedSchool()">Change School</button>
                    </div>
                </div>
                <!-- enf change featured school button -->
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Featured School</h2>
                        <p class="lead text-muted" style="font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif">
                            <b>Name:</b> <%featuredSchool.name%>
                            <br/>
                            <b>Region:</b> <%getSchoolRegion(featuredSchool.region_id)%>
                            <br/>
                            <b>District:</b> <%getSchoolDistrict(featuredSchool.district_id)%>
                            <br/>
                            <b>Circuit:</b> <%getSchoolCircuit(featuredSchool.circuit_id)%>
                            <br/>
                            <b>Description:</b> <%featuredSchool.description || "Not Available"%>
                        </p>

                        <br/>
                        <div class="ratings-container" ng-show="featuredSchoolRating" style="margin-left: 0;padding-left: 0;">
                            <h4 class="pull-left"><b>Rating:</b></h4>
                            <p>
                            <ul id="home-featured-rating" class="stars-rating pull-left"
                                style="display: inline;margin-left: 5px;">

                            </ul>
                            </p>


                            <br/>


                        </div>

                            <h1 style="font-size: 6.3rem;" class="pull-left" ng-show="featuredSchoolRating">
                                <%featuredSchoolRating%><small>%</small></h1>


                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix featured-school-name">
                            <h3>Performance of <%featuredSchool.name%></h3>
                        </div>


                        <!-- <div id="featured-school" style="position:relative;width:100%;height:400px;"></div> -->
                        <br/>
                        <div class="" ng-hide="featuredSchoolRating">
                            <h1>Data Not Available</h1>
                        </div>
                        <div class="pad school-analysis-container" ng-show="featuredSchoolRating">



                            <!-- Progress bars -->
                            <div class="panel-group" id="help-nav">
                                <!-- Inclusiveness -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">


                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-one" class="collapsed">
                                            Inclusiveness
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse in" id="help-nav-one">
                                        <div class="panel-body">
                                            <div class="clearfix" style="padding-top: 0;margin:0;">
                                                <span class="pull-left">Inclusive School</span>
                                                <small class="pull-right" id="pbar-inclusive"> <%featuredSchool.current_state_of_school_inclusiveness%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow pbar-inclusive"
                                                     ></div>
                                                    <progressbar value="(featuredSchool.current_state_of_school_inclusiveness)*10"
                                                                 type="<%getProgressbarType(featuredSchool.current_state_of_school_inclusiveness)%>"></progressbar>
                                            </div>
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the involvement of teachers, pupils, and parents in fostering quality education</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['AIS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Teaching and Learning-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-two" class="collapsed">
                                            Teaching and Learning
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="help-nav-two">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Teaching and Learning</span>
                                                <small class="pull-right" id="pbar-teaching"><%featuredSchool.current_state_of_teaching_and_learning%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua pbar-teaching"
                                                     ></div>
                                                <progressbar value="(featuredSchool.current_state_of_teaching_and_learning)*10"
                                                             type="<%getProgressbarType(featuredSchool.current_state_of_teaching_and_learning)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the correlation between teaching standards and overall learning outcomes
                                                </span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['ETL']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Healthy School -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-three" class="collapsed">
                                            Healthy School
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="help-nav-three">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Healthy School</span>
                                                <small class="pull-right" id="pbar-health"> <%featuredSchool.current_state_of_healthy_level%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red pbar-health"
                                                     ></div>
                                                <progressbar value="(featuredSchool.current_state_of_healthy_level)*10"
                                                             type="<%getProgressbarType(featuredSchool.current_state_of_healthy_level)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the quality of healthy habits taught and practiced in schools
                                                </span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['HLS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Safe and Protective -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-four" class="collapsed">
                                            Safe and Protective
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse" id="help-nav-four">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Safe and Protective</span>
                                                <small class="pull-right" id="pbar-safety"><%featuredSchool.current_state_of_safety_and_protection%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green pbar-safety"
                                                     ></div>
                                                <progressbar value="(featuredSchool.current_state_of_safety_and_protection)*10"
                                                             type="<%getProgressbarType(featuredSchool.current_state_of_safety_and_protection)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is assess the measures implemented to ensure a friendly teaching and learning  environment
                                                </span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['SPS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Friendly School -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-five" class="collapsed">
                                            Gender-Sensitive School
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="help-nav-five">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Friendly School</span>
                                                <small class="pull-right" id="pbar-gender"><%featuredSchool.current_state_of_friendliness_to_boys_girls%>/10 points</small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red pbar-friendliness"
                                                     ></div>
                                                <progressbar value="(featuredSchool.current_state_of_friendliness_to_boys_girls)*10"
                                                             type="<%getProgressbarType(featuredSchool.current_state_of_friendliness_to_boys_girls)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess schools’ considerations for gender balance and empowerment</span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['FSBGB']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>

                                <!-- Community Involvement -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-six" class="collapsed">
                                            Community Engaged School
                                        </a>

                                    </div>
                                    <div class="panel-collapse collapse" id="help-nav-six">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <span class="pull-left">Community Involvement</span>
                                                <small class="pull-right" id="pbar-involvement"><%featuredSchool.current_state_of_community_involvement%>/10 points </small>
                                            </div>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua pbar-involvement progress"
                                                     ></div>
                                                <progressbar value="(featuredSchool.current_state_of_community_involvement)*10"
                                                             type="<%getProgressbarType(featuredSchool.current_state_of_community_involvement)%>"></progressbar>
                                            </div>
                                            <!-- Begin description and questions-->
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the level of collaboration between schools and community stakeholders
                                                </span>
                                            </div>
                                            <div class="clearfix" style="margin-top: 5px;">
                                                <span class="review-questions-title">Questions:</span>
                                                <ul ng-repeat="question in schoolQuestions['CIS']" class="review-questions-list">
                                                    <li> <%question%></li>
                                                </ul>
                                            </div> <!-- end descriptions and questions -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.pad -->

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .template-thumbnails -->
        </div> <!-- / .container -->
    </div> <!-- / .template-showcase -->

    </div> <!-- / .wrapper -->
</div> <!-- / .main-features -->