<div class="modal-header">
    <h3 class="modal-title">School not found</h3>
</div>
<div class="modal-body">
   The school you were looking for was not found
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>