<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>School Analysis</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="#/">Home</a></li>
                        <li class="active">School</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a ui-sref="school.compare.second">link to 1st school</a>
            <div ui-view="first-school">

            </div>
        </div>
        <div >
            <a ui-sref="school.compare.second"> Link to second school</a>
        </div>
    </div>
</div>

    </div>