    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Schools</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="#/">Home</a></li>
                <li class="active">Schools</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <!-- Search -->
            <form role="form" novalidate name="searchform">
              <div class="well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input type="text" ng-model="searchquery" class="form-control" placeholder="Search school ...">
                      <span class="input-group-btn">
                        <button class="btn" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
              </div>
            </form>

            <!-- Categories -->
            <div class="panel-group" id="help-nav">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-one">
                    Region

                  </a>
                </div>
                <div id="help-nav-one" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <ul class="filter-region" ng-repeat="region in regions">
                          <li>
                              <input type="checkbox" ng-model="searchRegion[region.id]"
                                     ng-checked="searchRegion[region.id]"
                                     ng-click="toggleRegions(region.id)" />
                              <label><%region.name%></label>
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-two" class="collapsed">
                    District
                  </a>
                </div>
                <div id="help-nav-two" class="panel-collapse collapse">
                  <div class="panel-body">
                    <select ng-model="selectedDistrict" ng-options="d.name for d in ddDistricts | filter:getDistrictBySelectedRegion()"
                            class="form-control">
                        <option value="">-- choose district --</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#help-nav" data-target="#help-nav-three" class="collapsed">
                    Circuits
                  </a>
                </div>
                <div id="help-nav-three" class="panel-collapse collapse">
                  <div class="panel-body">
                      <select ng-model="selectedCircuit" ng-options="c.name for c in ddCircuits | filter:getCircuitBySelectedDistrict()"
                              class="form-control">
                          <option value="">-- choose circuit --</option>
                      </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-8">
            <h3 class="headline search-results"><span>Search Results</span></h3>
            <ul class="help-questions" ng-repeat="school in schools | filter:searchquery | filter:searchByRegion() | filter:searchByDistrict()
             | filter:searchByCircuit() | limitTo: 10">
                <a href="#/schools/<%school.id%>" class="school-results-item">
                    <li class="school-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="pull-left school-name"><b><%school.name%></b></h4>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="pull-left"> <%regionsObject[school.region_id]%></h5>
                                        <br/> <!--<h5 ng-init="getDistrictName(school.district_id, $index)" ng-model="districtNames[$index]"> <%districtNames[$index]%></h5>-->
                                        <!--<h5 class="pull-left" ng-init="getCircuitName(school.circuit_id, $index)" ng-model="circuitNames[$index]"> <%circuitNames[$index]%></h5>-->
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="pull-right"> Rating:
                                      <span style="margin-left:5px;" ng-show="newSchoolsRatings[school.id]">
                                          <b><%newSchoolsRatings[school.id]%> %</b></span>
                                      <span style="margin-left:5px;" ng-hide="newSchoolsRatings[school.id]">
                                          <b>Not Available</b></span>
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>


            </ul>
              <!-- show if no results -->
              <div class="" ng-show="(schools | filter:searchquery | filter:searchByRegion() | filter:searchByDistrict()
                  | filter:searchByCircuit()).length == 0">
                  <h4 style="color:#AA0000"> no results found, please search again</h4>
              </div>
              <!-- pagination -->
              <div class="" ng-hide="(schools | filter:searchquery | filter:searchByRegion() | filter:searchByDistrict()
                  | filter:searchByCircuit()).length == 0">
                  <pagination total-items="totalItems" ng-model="currentPage" ng-change="changePage()" boundary-links="true"
                              max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"></pagination>
              </div>

            <div class="clearfix"></div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->
