<div class="modal-header">
    <h3 class="modal-title">Select School</h3>
</div>
<div class="modal-body">
    <div class="container overlay-container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Begin Search -->

                <!-- Begin search inputs -->
                <div class="row">
                    <div class="col-sm-6 pull-left">
                        <!-- Search -->
                        <form role="form">
                            <div class="well">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="sel.searchquery" placeholder="Search school ...">
                      <span class="input-group-btn">
                        <button class="btn" type="button"><i class="fa fa-search"></i></button>
                      </span>
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                            </div>
                        </form>

                        <!-- Categories -->
                        <div class="panel-group" id="second-search-nav">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#second-search-nav" data-target="#second-search-nav-one">
                                        Region
                                    </a>
                                </div>
                                <div id="second-search-nav-one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="filter-region" ng-repeat="region in regions">
                                            <input type="checkbox" ng-model="searchRegion[region.id]"
                                                   ng-checked="searchRegion[region.id]"
                                                   ng-click="toggleRegions(region.id)" />
                                            <label><%region.name%></label>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#second-search-nav" data-target="#second-search-nav-two" class="collapsed">
                                        District
                                    </a>
                                </div>
                                <div id="second-search-nav-two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <select ng-model="sel.selectedDistrict" ng-options="d.name for d in ddDistricts |
                        filter:getDistrictBySelectedRegion()"
                                                    class="form-control">
                                                <option value="">-- choose district --</option>
                                            </select>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#second-search-nav" data-target="#second-search-nav-three" class="collapsed">
                                        Circuit
                                    </a>
                                </div>
                                <div id="second-search-nav-three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <select ng-model="sel.selectedCircuit" ng-options="c.name for c in ddCircuits | filter:getCircuitBySelectedDistrict()"
                                                class="form-control">
                                            <option value="">-- choose circuit --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end categories -->


                    </div>
                    <!-- Begin search results-->
                    <div class="col-sm-6" id="compare-search-results-four">
                        <!-- Begin schools results container -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 style="color:#0000ff;margin-left:0.3rem;">Search Results</h5>
                                <ul class="compare-list" ng-repeat="school in schools | filter:sel.searchquery | filter:searchByRegion()
                 | filter:searchByDistrict() | filter:searchByCircuit() | orderBy:sortOrder | limitTo: 15">
                                    <li class="compare-list-item" ng-click="closeAndRouteSecondSchool(school.id)">
                                        <%school.name%>

                                    </li>
                                </ul>
                                <!-- show if no results -->
                                <div class="" ng-show="(schools | filter:searchquery | filter:searchByRegion() | filter:searchByDistrict()
                  | filter:searchByCircuit()).length == 0">
                                    <h4 style="color:#AA0000"> no results found, please search again</h4>
                                </div>
                                <!-- pagination -->
                                <div class="" ng-hide="(schools | filter:searchquery | filter:searchByRegion() | filter:searchByDistrict()
                  | filter:searchByCircuit()).length == 0">
                                    <pagination total-items="pag.totalItems" ng-model="pag.currentPage" ng-change="changePage()" boundary-links="true"
                                                max-size="pag.maxSize" items-per-page="pag.itemsPerPage" class="pagination-sm"></pagination>
                                </div>


                            </div>

                        </div>
                    </div>
                </div> <!-- End Search -->

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="button button-red" ng-click="cancel()">Cancel</button>
</div>