
<div class="row">
    <div class="col-sm-12" ng-hide="secondSchoolRating">
        <h1>Review Data is not available at the moment for <span style="color:#006dcc"><%secondSchool.name%></span></h1>
        <button class="button button-orange" ng-click="openSecondSchoolModal('lg')">Change School</button>
    </div>
</div>
<!-- Begin Second School-->
<div class="row">
    <div class="col-sm-12" ng-show="secondSchoolRating">
        <h3 class="headline">
            <span><%secondSchool.name%></span>
    <span class="pull-right"><button class="button button-orange" ng-click="openSecondSchoolModal('lg')">
        Change School
    </button>
    </span>
        </h3>

        <!-- Begin school info and rating -->
        <div class="row">
            <div class="col-sm-6">
                <div class="school-info-container">
                    <h5>Region:</h5>
                            <span>
                                <b><%getSecondRegionName(secondSchool.region_id)%></b></span>

                    <h5>District:</h5>
                            <span>
                                <b><%getSecondDistrictName(secondSchool.district_id)%></b></span>
                    <h5>Circuit:</h5>
                            <span>
                                <b><%getSecondCircuitName(secondSchool.circuit_id)%></b></span>

                    <h5>Head of School:</h5>
                    <span ng-show="headteacher"><b><%secondHeadTeacherName%></b></span>
                    <span ng-hide="headteacher"><b>Not Available</b></span>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="ratings-container" ng-show="secondSchoolRating">
                    <h4>Rating:</h4>
                    <ul class="stars-rating second-school-rating" id="second-school-star-rating" style="display: inline;">

                    </ul>
                    <br/>
                    <h1 style="font-size: 6.3rem;" ><%secondSchoolRating%><small>%</small></h1>

                </div>

            </div>

        </div>
        <!-- end school info and rating -->

        <!-- Begin review analysis -->
        <div class="row">
            <div class="col-sm-12">
                <div class="pad school-analysis-container">



                    <!-- Progress bars -->
                    <div class="panel-group" id="second-school-nav">
                    <!-- Inclusiveness -->
                    <div class="panel panel-default">
                        <div class="panel-heading">


                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-one" class="collapsed">
                                Inclusiveness
                            </a>

                        </div>
                        <div class="panel-collapse collapse in" id="second-school-nav-one">
                            <div class="panel-body">
                                <div class="clearfix" style="padding-top: 0;margin:0;">
                                    <span class="pull-left">Inclusive School</span>
                                    <small class="pull-right" id="pbar-inclusive"> <%secondSchool.current_state_of_school_inclusiveness%>/10 points</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-yellow pbar-inclusive"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_school_inclusiveness)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_school_inclusiveness)%>"></progressbar>
                                </div>
                                <div class="clearfix">
                                                <span class="pull-left">
                                                This is to assess the involvement of teachers, pupils, and parents in fostering quality education
                                                </span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['AIS']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Teaching and Learning-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-two" class="collapsed">
                                Teaching and Learning
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="second-school-nav-two">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <span class="pull-left">Teaching and Learning</span>
                                    <small class="pull-right" id="pbar-teaching"><%secondSchool.current_state_of_teaching_and_learning%>/10 points</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua pbar-teaching"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_teaching_and_learning)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_teaching_and_learning)%>"></progressbar>
                                </div>
                                <!-- Begin description and questions-->
                                <div class="clearfix">
                                                <span class="pull-left">
                                                   This is to assess the correlation between teaching standards and overall learning outcomes</span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['ETL']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div> <!-- end descriptions and questions -->
                            </div>
                        </div>
                    </div>

                    <!-- Healthy School -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-three" class="collapsed">
                                Healthy School
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="second-school-nav-three">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <span class="pull-left">Healthy School</span>
                                    <small class="pull-right" id="pbar-health"> <%secondSchool.current_state_of_healthy_level%>/10 points</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-red pbar-health"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_healthy_level)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_healthy_level)%>"></progressbar>
                                </div>
                                <!-- Begin description and questions-->
                                <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess the quality of healthy habits taught and practiced in schools</span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['HLS']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div> <!-- end descriptions and questions -->
                            </div>
                        </div>
                    </div>

                    <!-- Safe and Protective -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-four" class="collapsed">
                                Safe and Protective
                            </a>

                        </div>
                        <div class="panel-collapse collapse" id="second-school-nav-four">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <span class="pull-left">Safe and Protective</span>
                                    <small class="pull-right" id="pbar-safety"><%secondSchool.current_state_of_safety_and_protection%>/10 points</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green pbar-safety"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_safety_and_protection)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_safety_and_protection)%>"></progressbar>
                                </div>
                                <!-- Begin description and questions-->
                                <div class="clearfix">
                                                <span class="pull-left">
                                                    This is assess the measures implemented to ensure a friendly teaching and learning  environment</span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['SPS']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div> <!-- end descriptions and questions -->
                            </div>
                        </div>
                    </div>

                    <!-- Friendly School -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-five" class="collapsed">
                                Gender-Sensitive School
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="second-school-nav-five">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <span class="pull-left">Friendly School</span>
                                    <small class="pull-right" id="pbar-gender"><%secondSchool.current_state_of_friendliness_to_boys_girls%>/10 points</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-red pbar-friendliness"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_friendliness_to_boys_girls)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_friendliness_to_boys_girls)%>"></progressbar>
                                </div>
                                <!-- Begin description and questions-->
                                <div class="clearfix">
                                                <span class="pull-left">
                                                    This is to assess schools’ considerations for gender balance and empowerment</span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['FSBGB']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div> <!-- end descriptions and questions -->
                            </div>
                        </div>
                    </div>

                    <!-- Community Involvement -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#second-school-nav" data-target="#second-school-nav-six" class="collapsed">
                                Community Involvement
                            </a>

                        </div>
                        <div class="panel-collapse collapse" id="second-school-nav-six">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <span class="pull-left">Community Engaged School</span>
                                    <small class="pull-right" id="pbar-involvement"><%secondSchool.current_state_of_community_involvement%>/10 points </small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua pbar-involvement progress"
                                         ></div>
                                    <progressbar value="(secondSchool.current_state_of_community_involvement)*10"
                                                 type="<%getProgressbarType(secondSchool.current_state_of_community_involvement)%>"></progressbar>
                                </div>
                                <!-- Begin description and questions-->
                                <div class="clearfix">
                                                <span class="pull-left">
                                                   This is to assess the level of collaboration between schools and community stakeholders</span>
                                </div>
                                <div class="clearfix" style="margin-top: 5px;">
                                    <span class="review-questions-title">Questions:</span>
                                    <ul ng-repeat="question in schoolQuestions['CIS']" class="review-questions-list">
                                        <li> <%question%></li>
                                    </ul>
                                </div> <!-- end descriptions and questions -->
                            </div>
                        </div>
                    </div>
                    </div>

                </div><!-- /.pad -->
            </div>
        </div>  <!-- end review analysis -->

    </div>
</div>
<!-- End second school -->

