<div ng-controller="scViewSelectedDistrictFurnitureController">
    <div class="box-no-shadow">
        <div  class="box-header"><!--ng-show="furnitureItems"-->
            <h3 class="box-title">Furniture
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="furniture_year"
                                ng-options="year for year in districtYears">
                            <option value="">Select year</option>
                        </select>
                        <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="furniture_term"
                                ng-options="term.value as term.label for term in districtTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchFurnitureData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div    class="col-sm-12" ng-show="furnitureData.length">
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm furnitureTable" export-table="furnitureTable" file-name="{{selected_district.name + ' Termly School Furniture Summary ' + furniture_year + ' ' + furniture_term}}">Begin Termly School Furniture Summary Export</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="furnitureTable">
                        <thead>
                        <tr class="bg-primary">
                            <th style="text-align: center">School</th>
                            <th style="text-align: center">Adequate</th>
                            <th style="text-align: center">Not Adequate</th>
                            <th style="text-align: center" >Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="furniture in furnitureData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : furniture.school_id, district_id : furniture.district_id})">{{ furniture.name}}</a></td>

                            <td align="center">{{furniture["adequate"]}}</td>
                            <td align="center">{{furniture["not adequate"] }}</td>
                            <td align="center" class="text-danger text-center">
                                <div class="btn-group">
                                    <button class="center-block btn btn-default btn-sm" furniture-preview="furniture">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="Furniture"
                                            section-type="furniture" submission-id="{{furniture.data.id}}" function="fetchFurnitureData()"
                                            term="{{furniture.data.term}}" year="{{furniture.data.year}}" school-id="{{furniture.school_id}}">Delete Data</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12" ng-hide="furnitureData.length" ng-if="!furnitureData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingFurnitureData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingFurnitureData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>