<div class="box-no-shadow" ng-controller="scViewSelectedDistrictSanitationController">
    <div class="box-header" ><!--ng-show="sanitationItems"-->
        <h3 class="box-title" >Sanitation
            <div class="box-tools  pull-right">
                <div class="input-group">
                    <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="sanitation_year"
                            ng-options="year for year in districtYears">
                        <option value="">Select year</option>
                    </select>
                    <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="sanitation_term"
                            ng-options="term.value as term.label for term in districtTerms">
                        <option value="">Select term</option>
                    </select>
                    <button  ng-click="fetchSanitationData()"  class="btn btn-primary btn-sm">
                        Load Data
                    </button>
                </div>
            </div>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="row">
            <div    class="col-sm-12" ng-show="sanitationData.length">
                <!--This is the Table Export Button-->
                <div class="btn-group pull-right ">
                    <button  class="btn btn-primary btn-sm sanitationTable" export-table="sanitationTable" file-name="{{selected_district.name + ' Termly Sanitation Summary ' + sanitation_year + ' ' + sanitation_term}}">Begin Termly Sanitation Summary Export</button>
                </div>
                <table  class="table table-striped table-bordered table-hover" id="sanitationTable">
                    <thead>
                    <tr class="bg-primary">
                        <th style="text-align: center">School</th>
                        <th style="text-align: center">Available</th>
                        <th style="text-align: center">Available, Not Functional</th>
                        <th style="text-align: center">Not Available</th>
                        <th style="text-align: center" >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="sanitation in sanitationData">
                        <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : sanitation.school_id, district_id : sanitation.district_id})">{{ sanitation.name}}</a></td>

                        <td align="center">{{sanitation.available}}</td>
                        <td align="center">{{sanitation["available not functional"]}}</td>
                        <td align="center">{{sanitation["not available"]}}</td>
                        <td align="center" class="text-danger text-center">
                            <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" sanitation-preview="sanitation">Preview Data</button>
                                <button class="center-block btn btn-danger btn-sm" delete-section-data="Sanitation"
                                        section-type="sanitation" submission-id="{{sanitation.data.id}}" function="fetchSanitationData()"
                                        term="{{sanitation.data.term}}" year="{{sanitation.data.year}}" school-id="{{sanitation.school_id}}">Delete Data</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12" ng-hide="sanitationData.length" ng-if="!sanitationData.length">
                <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                    <span ng-if="loadingSanitationData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                    <span ng-if="!(loadingSanitationData)">No data available.</span>
                </div>
            </div>
        </div>

    </div><!-- /.box-body -->


</div><!-- /.box -->