<div class="box-no-shadow box-danger" ng-controller="scViewSchoolStatisticsController">
    <div class="box-header">
        <h3 class="box-title page-header">Data Analysis
            <div class="box-tools pull-right" ><!--ng-show="isNotVirgin"-->
                <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-primary btn-sm" ng-click="downloadPDF()"><i class="fa fa-download"></i> &nbsp; Export PDF</button>
            </div>
        </h3>


    </div>
    <div class="box-body">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <!--<p class="col-sm-12">Select a period to see summary</p>-->
                    <div class="form-group col-xs-12 col-sm-6 col-md-3">
                        <label for="academic_year">Academic Year</label>
                        <select name="academic_year" id="academic_year" class="form-control"
                                ng-model="filter_year" ng-options="year for year in schoolYears">
                            <option value="">Select year</option>

                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-3">
                        <label for="term">Term</label>
                        <select name="term" id="term" class="form-control"
                                ng-model="filter_term"
                                ng-options="term.value as term.label for term in schoolTerms">
                            <option value="">Select term</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-xs-3">
                        <label for="week">Week</label>
                        <select name="week" id="week" class="form-control"
                                ng-model="filter_week" ng-options="week as week for week in schoolWeeks" >
                            <option value="">Select week</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-3">
                        <label for="actions">Actions</label><br>
                        <div class="row" style="padding-left: 0 !important;">
                            <div class="btn-group col-xs-12">

                                <button data-ng-disabled="loading" id="actions" data-ng-click="loadSchoolStats()" class="btn btn-info col-md-12 col-xs-12" style="padding-left: 0 !important;">
                                    Load<span ng-if="loading">ing</span> Data
                                </button>
                                <!--<button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loading" data-toggle="dropdown">-->
                                <!--<span class="caret"></span> <span class="sr-only">Other Load Options</span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu dropdown-menu-right">-->
                                <!--<li data-ng-click="loadDistrictStats()"><a href="">Load Set Period</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>-->
                                <!--<li class="divider" ng-show="showTrend"></li>-->
                                <!--<li data-ng-click="doMultipleEnrolmentUpdates()" ng-show="showTrend"><a href="">Update Enrollment Totals</a></li>-->
                                <!--</ul>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">Pupil Analytics</h3>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" >
                        <h3>{{ schoolEnrollmentTotals.total_pupils || 0}} </h3>
                        <p>Total Enrollment<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-success">
                        <h3>{{ (schoolTeacherAttendanceTotals.total_above_50 * 3)|| 0 }}%</h3>
                        <p>Student Attendance Rate<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{  schoolEnrollmentTotals.total_male }} <small class="smaller">BOYS</small> | {{ schoolEnrollmentTotals.total_female}} <small class="smaller">GIRLS</small></h3>
                        <p>Boys | Girls Enrolled<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-info">
                        <h3>{{  schoolSpecialEnrollmentTotals.total_male }} <small class="smaller">BOYS</small> | {{ schoolSpecialEnrollmentTotals.total_female}} <small class="smaller">GIRLS</small></h3>
                        <p>Special Need Students Enrolled</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <!--<span ng-if="enrollmentBarChartData.length" target="enrollmentBarChart" chart-js-bar="enrollmentBarChartData" labels="enrollmentBarChart.labels" label="{{enrollmentBarChart.label}}"></span>-->
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="barChart" width="400" height="300" style="width: 100%; height: 300px"></canvas>
                    </div>
                </div>

            </div>

            <!--<div class="row">-->
            <!--<article id="attendanceChartDiv" style="width: 100%; height: 400px; background-color: #fefefe"></article>-->
            <!--</div>-->

            <h3 class="box-title page-header" ng-show="isNotVirgin">Pupil Performance</h3>



            <!--Average Performance of Pupils by subject-->
            <!--Average Performance of Pupils by class-->
            <!--Pupil Attendance Ratio-->
            <!--Class to Textbook Ratio-->

            <!--<div class="row">-->
            <!--<div class="col-sm-12 col-xs-12">-->
            <!--<div class="alert alert-warning">-->

            <!--<h3><i class=""></i> Pupil Attendance Ratio</h3>-->

            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-xs-12">-->
            <!--<div class="alert alert-warning">-->

            <!--<h3>Class to Textbook Ratio</h3>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">

                <div class="col-xs-12 col-sm-6" ng-show="isNotVirgin">
                    <div class="alert alert-grey">
                        <h3>Performance of Pupils by Class</h3>
                        <div class="table-responsive">
                            <table class="margin-bottom-0 table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <td>Class</td>
                                    <td class="horizontal_vertical_center"  colspan="2">Ghanaian Lang</td>
                                    <td class="horizontal_vertical_center" colspan="2">English</td>
                                    <td class="horizontal_vertical_center" colspan="2">Mathematics</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scoring above Ave. Score</td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scoring above Ave. Score</td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scoring above Ave. Score</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="schoolPerformanceTotals.levels_available['KG1']">
                                    <td>KG1</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['KG1'].above_average }}</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['KG1'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['KG1'].above_average }} <sup>%</sup></td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['KG2']">
                                    <td>KG2</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['KG2'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['KG2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['KG2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['KG2'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P1']">
                                    <td>P1</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P1'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P1'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P1'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P1'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P2']">
                                    <td>P2</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P2'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P2'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P3']">
                                    <td>P3</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P3'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P3'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P3'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P3'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P4']">
                                    <td>P4</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P4'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P4'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P4'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P4'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P5']">
                                    <td>P5</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P5'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P5'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P5'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P5'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['P6']">
                                    <td>P6</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P6'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['P6'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['P6'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['P6'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['JHS1']">
                                    <td>JHS1</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS1'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS1'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS1'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS1'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['JHS2']">
                                    <td>JHS2</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS2'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS2'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS2'].above_average }} </td>
                                </tr>
                                <tr ng-show="schoolPerformanceTotals.levels_available['JHS3']">
                                    <td>JHS3</td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS3'].average_score }}<sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.gh_lang.class_score['JHS3'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.english.class_score['JHS3'].above_average }} </td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ schoolPerformanceTotals.math.class_score['JHS3'].above_average }} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <!--<span ng-if="performanceBarChart.datasets.length" target="performanceBarChart" chart-js-horizontal-bar="performanceBarChart.datasets" labels="performanceBarChart.labels" label="{{performanceBarChart.label}}"></span>-->
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="horizontalBarChart" width="400" height="350" style="width: 100%; height: 350px"></canvas>
                    </div>
                </div>
            </div>


            <h3 class="box-title page-header" ng-show="isNotVirgin">Teacher Analytics</h3>
            <!--Teacher Attendance Ratio-->
            <!--Pupil Teacher Ratio-->
            <!--Percentage of Trained Teacher-->
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" >
                        <h3>{{ teachers_in_school.trained || 0}} </h3>
                        <p>Number of Trained Teachers<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-info">
                        <h3>{{ (schoolTeacherAttendanceTotals.attendanceRatio | currency : '' : 0) || 0 }} <sup ng-show="schoolTeacherAttendanceTotals.attendanceRatio">%</sup></h3>
                        <p>Teacher Attendance Rate<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3" style="margin-top: 50px">
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="pieChartOne" width="400" height="300" style="width: 100%; height: 300px"></canvas>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3 ng-show="pupilTeacherRatio">{{ pupilTeacherRatio }} : 1</h3>
                        <h3 ng-hide="pupilTeacherRatio">-</h3>
                        <p>Pupil Teacher Ratio<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-success">
                        <h3>{{ schoolTeacherAttendanceTotals.total_above_50 || 0 }}&nbsp;<small ng-show="schoolTeacherAttendanceTotals.total_above_50">/&nbsp;{{ teachers_in_school.length || 0 }}</small></h3>
                        <p>Teachers with Punctuality above 50%</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 "  style="margin-top: 50px">
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="percentOverFiftyPie" width="400" height="300" style="width: 100%; height: 300px"></canvas>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-4">
                    <div class="callout callout-warning" >
                        <h3>{{ schoolUnitCoveredTotals.gh_lang.total || 0}} </h3>
                        <p>Units Covered in Ghanaian Language</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="callout callout-danger" >
                        <h3>{{ schoolUnitCoveredTotals.english.total || 0}} </h3>
                        <p>Units Covered in English Language</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="callout callout-success" >
                        <h3>{{ schoolUnitCoveredTotals.math.total || 0}} </h3>
                        <p>Units Covered in Mathematics</p>
                    </div>
                </div>
            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">School Analytics</h3>
            <div class="row" ng-show="isNotVirgin" >
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info" >
                        <h3>{{ schoolTeacherAttendanceTotals.num_of_exercises_marked || 0 }} <small ng-show="schoolTeacherAttendanceTotals.num_of_exercises_marked">/ {{ schoolTeacherAttendanceTotals.num_of_exercises_given}}</small></h3>
                        <p>Exercises Marked <br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3><small ng-show="schoolGrantStuff.totalAmount">GHS</small> {{ schoolGrantStuff.totalAmount || 0 }} </h3>
                        <p>Grant Received<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning ">
                        <h3>
                            <small ng-show="schoolSupportStuff.total_cash">GHS</small> {{ schoolSupportStuff.total_cash || '' }}

                            <small ng-show="schoolSupportStuff.total_cash && schoolSupportStuff.received_support">and some in kind</small>

                            <small ng-show="!schoolSupportStuff.total_cash && schoolSupportStuff.received_support">No Cash | Received Items</small>

                            <small ng-show="!schoolSupportStuff.total_cash && !schoolSupportStuff.received_support">No Support Received</small></h3>
                        <p>Support Received (cash, kind or both)</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success ">
                        <h3>{{ schoolMeeting.total_frequency || 0}}</h3>
                        <p>Meetings Held<br>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-info">
                        <h3>{{ schoolFurniture.total_adequates.length || 0}} <small ng-show="schoolFurniture.total_adequates.length">/ 4</small></h3>
                        <p>Adequate Furniture Available</p>
                        <div class="box-body no-padding">
                            <table  class="table table-striped table-bordered table-hover" id="furnitureTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Term</th>
                                    <th style="text-align: center">Furniture</th>
                                    <th style="text-align: center">Status</th>
                                    <th style="text-align: center" class="hidden">Comment</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                <tr ng-repeat="furniture in furnitureItems |   filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                    <td align="center">{{one_school_terms[furniture.term].number}}</td>
                                    <td align="center ">{{furniture.name}}</td>
                                    <td align="center" ng-class="{'bg-green' : furniture.status == 'Adequate', 'bg-yellow' : furniture.status == 'Inadequate', 'bg-red' : furniture.status == 'Not Available'} ">
                                        <i class="fa" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[furniture.status == 'Adequate']"></i>
                                        &nbsp;{{furniture.status}}</td>
                                    <td class="hidden">{{ furniture.comment }}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-warning ">
                        <h3>{{ schoolSecurity.total_availables.length || 0}} <small ng-show="schoolSecurity.total_availables.length">/ 4</small></h3>
                        <p>Security Facilities Available</p>
                        <div class="box-body no-padding">
                            <div class="">
                                <table class="table table-striped table-bordered table-hover" id="securityTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Security</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="security in securityItems |  filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ one_school_terms[security.term].number}}</td>
                                        <td align="center">{{security.name}}</td>
                                        <!--<td align="center"><span check-mark status="{{book.status}}"></span></td>-->
                                        <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[security.status == 'Available' ]">
                                            <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[security.status == 'Available']"></i>
                                            &nbsp;{{security.status}}</td>
                                        <td class="hidden">{{ security.comment}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isNotVirgin">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-danger">
                        <h3>{{ schoolStructure.total_goods.length || 0}} <small ng-show="schoolStructure.total_goods.length">/ 6</small></h3>
                        <p>School Structure Status</p>

                        <div class="box-body no-padding">
                            <div class="">
                                <table class="table table-striped table-bordered table-hover" id="structureTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Structure</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="structure in structureItems |   filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ one_school_terms[structure.term].number}}</td>
                                        <td align="center">{{structure.name}}</td>
                                        <!--<td align="center"><span check-mark status="{{book.status}}"></span></td>-->
                                        <td align="center" ng-class="{
                                         'bg-green' : structure.status == 'Good',
                                         'bg-yellow' : structure.status == 'Fair',
                                          'bg-red' : structure.status == 'Poor'}">

                                            <i class="fa" ng-show="structure.status" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[structure.status == 'Good']"></i>
                                            &nbsp;{{structure.status}}</td>
                                        <td class="hidden">{{ structure.comment}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-success ">
                        <h3>{{ schoolSanitation.total_availables.length || 0}} <small ng-show="schoolSanitation.total_availables.length">/ 5</small></h3>
                        <p>Sanitation Facilities Available</p>

                        <div class="box-body no-padding">
                            <div class="">
                                <!--This is the Table Export Button-->
                                <!--<button class="btn btn-warning"  export-table="sanitationTable" file-name="{{selected_school.name + ' School Sanitation' +  ' ' + filter_term + ' ' + filter_year}}">Begin Export</button>-->
                                <table class="table table-striped table-bordered table-hover" id="sanitationTable">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Item</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sanitation in sanitationItems | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{one_school_terms[sanitation.term].number}}</td>
                                        <td align="center">{{sanitation.name}}</td>
                                        <td align="center"
                                            ng-class="{
                                'bg-green' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'bg-yellow' : sanitation.status == 'Available, not functional',
                                'bg-red' : sanitation.status == 'Not available'
                                }">
                                            <!--<i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[sanitation.status == 'Available']"></i>-->
                                            <i class="fa " ng-class="{
                                'fa-check' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'fa-exclamation-circle' : sanitation.status == 'Available, not functional',
                                'fa-times' : sanitation.status == 'Not available'
                                }"></i>
                                            &nbsp;{{sanitation.status}}</td>
                                        <td class="hidden">{{sanitation.comment}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-warning">
                        <h3>{{ schoolRecreation.total_availables.length || 0}}<small ng-show="schoolRecreation.total_availables.length">/ 8</small></h3>
                        <p>Recreational Facilities Available</p>
                        <div class="box-body no-padding">
                            <div class="">
                                <table  class="table table-striped table-bordered table-hover" id="sportsTable">
                                    <thead>
                                    <tr  class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Sports and Recreation</th>
                                        <th style="text-align: center">Status</th>
                                        <th style="text-align: center" class="hidden">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="recreation in recreationItems |  filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                                        <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                        <td align="center">{{ one_school_terms[recreation.term].number}}</td>
                                        <td align="center">{{recreation.name}}</td>
                                        <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[recreation.status == 'Available' || recreation.status == 'Adequate' ]">
                                            <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[recreation.status == 'Available' || recreation.status == 'Adequate']"></i>
                                            &nbsp;{{recreation.status}}</td>
                                        <td class="hidden">{{ recreation.comment }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="callout callout-info">
                        <h3>{{ schoolRecordBooks.books_available.length || 0 }} <small ng-show="schoolRecordBooks.books_available.length">/ 11</small></h3>
                        <p>Number of Record Books</p>

                        <div class="box-body no-padding">
                            <div class="">
                                <table class="table table-striped table-bordered table-hover" id="recordsTable">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align: center">Term</th>
                                        <th style="text-align: center">Book Name</th>
                                        <th style="text-align: center">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="book in books |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}">
                                        <td align="center">{{ one_school_terms[book.term].number}}</td>
                                        <td align="center">{{book.name}}</td>
                                        <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[book.status == 'Yes' ]">
                                            <i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[book.status == 'Yes']"></i> &nbsp; {{book.status}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 hidden">
                    <div class="callout callout-info ">
                        <h3>{{ schoolCommInvolvement.total_goods.length || 0}} <small ng-show="schoolCommInvolvement.total_goods.length">/ 4</small></h3>
                        <p>Active Community Participation<br>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!isNotVirgin" style="margin: 80px 0">
                <h3 class="horizontal_vertical_center text-muted">Tap to load statistics for {{ selected_school.name}} School</h3>
            </div>

            <!--<div style="width:75%;">-->
            <!--<canvas id="myChart" width="300" height="300"></canvas>-->
            <!--</div>-->

        </div>
    </div><!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-show="loading"></div>
    <div class="loading-img" ng-show="loading"  style="padding: 50px"></div>
    <!-- end loading -->
</div>

