<h4 class="page-header">
    {{selected_school.name}}
    <div class="row">
        <div class="col-sm-10">
            <small> {{ selected_school.description }}</small>
        </div>
        <div class="col-sm-2">
            <div class="btn-group">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#schoolSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Actions <span class="caret"></span>
                    <span class="sr-only">School Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <!--<li><a class="pointer" send-email="" href="">Send Email</a></li>-->
                    <li><a class="pointer" report-selection-modal="selected_school"
                           data-school-weeks="schoolWeeks"
                           data-school-terms="schoolTerms"
                           data-school-years="schoolYears">Generate School Report Card</a></li>

                    <li><a ui-sref="dashboard.school.add_school({action : 'edit', id : selected_school.id})">Edit School Details</a></li>
                    <li><a class="pointer" href="" ng-click="reloadSchools()">Reload School Information</a></li>
                    <li><a class="pointer" href="" ng-click="emptyCache()">Reset Loaded Data</a></li>
                    <li class="divider"></li>
                    <li><a href="" years="schoolYears" update-school="selected_school">Update All School Data</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--<button class="pull-right btn btn-primary" ><i class="fa fa-plus"></i>District Settings</button>-->
</h4>

<div class="row">

    <div class="col-sm-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3 ng-show="teachers_in_school">
                    {{ teachers_in_school.atpost }}
                    <sup style="font-size: 20px"> / {{teachers_in_school.length}}</sup>
                </h3>
                <h3 ng-hide="teachers_in_school">
                    0
                </h3>
                <p>Teacher<span ng-hide="teachers_in_school.length == 1">s At Post</span>
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-spinner fa-spin" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingTeachers]"></i>
                <!--<i class="ion ion-android-social-user" ng-hide="loadingTeachers"></i>-->
            </div>
            <a class="small-box-footer"  data-toggle="tab" data-target="#reportCard" anchor-scroll="reportCard" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->

    <div class="col-sm-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h4>
                    {{ teachers_in_school.studyleave || ''}} &nbsp; <span ng-show="teachers_in_school.studyleave">on Study Leave</span>
                </h4>
                <h4 >
                    {{ teachers_in_school.otherleave || '' }} &nbsp; <span ng-show="teachers_in_school.otherleave">on Other Leave</span>
                </h4>
                <h4 ng-show="teachers_in_school.retired> 0">
                    {{ teachers_in_school.retired}} &nbsp; on Retirement
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h4>
                <h4 ng-show="teachers_in_school.deceased > 0">
                    {{ teachers_in_school.deceased}} &nbsp; Deceased
                </h4>
            </div>
            <div class="icon">
                <i class="ion ion-android-star"></i>
            </div>
            <a class="small-box-footer"  data-toggle="tab" data-target="#reportCard" anchor-scroll="reportCard" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <!--<div class="col-lg-3 col-xs-6">-->
    <!--&lt;!&ndash; small box &ndash;&gt;-->
    <!--<div class="small-box bg-purple">-->
    <!--<div class="inner">-->
    <!--<h3 ng-show="selected_school.current_teacher_attendance_by_circuit_supervisor > 0">-->
    <!--{{selected_school.current_teacher_attendance_by_circuit_supervisor | number : 2 }}%-->
    <!--</h3>-->
    <!--<h4 ng-hide="selected_school.current_teacher_attendance_by_circuit_supervisor > 0">-->
    <!--No data submitted for-->
    <!--</h4>-->
    <!--<p>-->
    <!--Average Teacher Attendance (CS)-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="icon hidden">-->
    <!--<i class="ion ion-ios7-alarm-outline"></i>-->
    <!--</div>-->
    <!--<a class="small-box-footer" data-toggle="tab" data-target="#reportCard" anchor-scroll="reportCard" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information">-->
    <!--More info <i class="fa fa-arrow-circle-right"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
    <div class="col-lg-6 col-xs-6 hidden">
        <!-- small box -->
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3 ng-show="selected_school.current_teacher_attendance_by_headteacher">
                    {{selected_school.current_teacher_attendance_by_headteacher | number}}%
                    <!--<sup style="font-size: 20px">{{ positionExtension( selected_school.position ) }}</sup>-->
                </h3>
                <h4 ng-hide="selected_school.current_teacher_attendance_by_headteacher">
                    No data submitted for
                </h4>
                <p>
                    Average Teacher Attendance (HT)
                </p>
            </div>
            <div class="icon hidden">
                <i class="ion ion-ios7-pricetag-outline"></i>
            </div>
            <a class="small-box-footer" data-toggle="tab" data-target="#reportCard" anchor-scroll="reportCard" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div>



<h4 class="page-header">
    School Details
    <!--<small>This view shows a snapshot of the details of the school. To see the details click the <code>View More</code> button.</small>-->
</h4>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <!--<b style="border-bottom-style: none" class="page-header">Circuit Details</b>-->
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{selected_school.name}}</h4>
            </div>
            <div class="box-body">
                <div class="">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                        <!--<tr>-->
                            <!--<td>Name of Circuit Supervisor</td>-->
                            <!--<td ng-show="lookupDataCollector[selected_school.supervisor_id]"><a ui-sref="dashboard.view_data_collector({id : selected_school.supervisor_id})">{{ lookupDataCollector[selected_school.supervisor_id].name }} <em>( {{ lookupDataCollector[selected_school.supervisor_id].gender}} )</em></a></td>-->
                            <!--<td ng-hide="lookupDataCollector[selected_school.supervisor_id]">Not Available</td>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<td>Name of Head Teacher</td>-->
                            <!--<td ng-show="lookupDataCollector[selected_school.headteacher_id]"><a ui-sref="dashboard.view_data_collector({id : selected_school.headteacher_id })"> {{ lookupDataCollector[selected_school.headteacher_id].name }} <em>( {{ lookupDataCollector[selected_school.headteacher_id].gender}} )</em></a></td>-->
                            <!--<td ng-hide="lookupDataCollector[selected_school.headteacher_id]">Not Available</td>-->
                        <!--</tr>-->
                        <tr>
                            <td>School GES Code</td>
                            <td>{{selected_school.ges_code}}</td>
                        </tr>
                        <tr>
                            <td>School SMS Code</td>
                            <td>{{selected_school.sms_code}}</td>
                        </tr>
                        <tr>
                            <td>School Email</td>
                            <td>{{selected_school.email || 'Not provided' }}</td>
                        </tr>
                        <tr>
                            <td>School Phone Number</td>
                            <td>{{selected_school.phone_number}}</td>
                        </tr>
                        <tr>
                            <td>School Address</td>
                            <td>{{selected_school.address}}</td>
                        </tr>
                        <tr>
                            <td>Ghanaian Language Taught</td>
                            <td>{{selected_school.ghanaian_language}}</td>
                        </tr>
                        <tr>
                            <td>Shift System</td>
                            <td ng-show="selected_school.shift == 0">No</td>
                            <td ng-hide="selected_school.shift == 0">Yes</td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>Last Updated</td>-->
                            <!--<td tooltip="{{selected_school.updated_at}}">{{ momentFormatDate(selected_school.updated_at, 'llll')}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Circuit</td>-->
                            <!--<td><a   ng-show="adminRight > 1" ui-sref="dashboard.view_selected_circuit({id : selected_school.circuit_id})">  {{ selected_school.circuitName}}</a>-->
                                <!--<span ng-show="adminRight < 2" > {{   selected_school.circuitName   }}</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>District</td>-->
                            <!--<td>-->
                                <!--<a ui-sref="dashboard.view_selected_district({id : selected_school.district_id})"-->
                                   <!--ng-show="adminRight > 2">  {{ selected_school.districtName}}</a>-->
                                <!--<span ng-show="adminRight < 3" >{{   selected_school.districtName   }}</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Region</td>-->
                            <!--<td><a   ng-show="adminRight > 3" ui-sref="dashboard.view_selected_region({id : selected_school.region_id})">{{selected_school.regionName }}</a>-->
                                <!--<span ng-show="adminRight < 4" >{{   selected_school.regionName   }}</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="col-md-7 col-xs-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">Images from the school</h4>
            </div>
            <div class="box-body">
                <div style="height: 420px; max-height: 420px; overflow: hidden" ng-if="image.slides.length">

                    &lt;!&ndash;Carousel&ndash;&gt;
                    <div id="main-slide" class="carousel slide" data-ride="carousel" style="height: 418px">

                        &lt;!&ndash; Indicators &ndash;&gt;
                        <ol class="carousel-indicators">
                            <li data-target="#main-slide" data-slide-to="{{image_indicator}}" ng-class="{'active' : $index == 0}"
                                class="pointer" ng-repeat="image_indicator in image.indicators"></li>
                        </ol>&lt;!&ndash;/ Indicators end&ndash;&gt;

                        &lt;!&ndash; Carousel inner &ndash;&gt;
                        <div class="carousel-inner">
                            <div class="item" ng-repeat="image in image.slides" ng-class="{'active' : $index == 0}">
                                <img class="img-responsive"
                                     pretty-image=""
                                     rel="prettyPhoto"
                                     data-ng-href="{{image.image_url }}"
                                     ng-src="{{image.image_url }}"
                                     title="{{image.image_title + '   |   ' + image.image_description}}"
                                     alt="{{image.image_title + '   |   ' + image.image_description}}"
                                     style="margin:auto;" width="610px" height="370px">
                                <div class="carousel-caption">
                                    <h4>Title : {{image.image_title || 'Untitled' }}</h4>
                                    <h5>Description : {{image.image_description || 'None provided' }}</h5>
                                </div>
                            </div>&lt;!&ndash;/ Carousel item end &ndash;&gt;
                        </div>&lt;!&ndash; Carousel inner end&ndash;&gt;

                        &lt;!&ndash; Controls &ndash;&gt;
                        <a class="left carousel-control" href="" data-target="#main-slide" data-slide="prev">
                            <span><i class="fa fa-angle-left"></i></span>
                        </a>
                        <a class="right carousel-control" href="" data-target="#main-slide" data-slide="next">
                            <span><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                    &lt;!&ndash;Carousel End&ndash;&gt;

                    &lt;!&ndash;<carousel interval="myInterval">&ndash;&gt;
                    &lt;!&ndash;<slide ng-repeat="slide in slides">&ndash;&gt;
                    &lt;!&ndash;<img ng-src="{{slide.image_url}}" alt="{{ slide.image_title }}" style="margin:auto;" width="610" height="370">&ndash;&gt;
                    &lt;!&ndash;<div class="carousel-caption">&ndash;&gt;
                    &lt;!&ndash;<h4>Title: {{ slide.image_title || 'Untitled image' }}</h4>&ndash;&gt;
                    &lt;!&ndash;<p>Description: {{slide.image_description || 'No description provided'}}</p>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    &lt;!&ndash;</slide>&ndash;&gt;
                    &lt;!&ndash;</carousel>&ndash;&gt;
                </div>
                <div ng-hide="image.slides.length" style="height: 390px">
                    <img src="/img/blue_logo_150.png" width="150px" class="center-block" style="margin-top: 10%">
                    <p class="text-center" style="margin-top: 10%; color: darkgrey; font-size: 23px">
                        <i class="fa fa-warning"></i> No images uploaded.</p>
                </div>
            </div>
            <div class="overlay" ng-show="loadingImages" ></div>
            <div class="loading-img"  style="padding: 50px" ng-show="loadingImages"></div>
        </div>
    </div>-->
</div>

<h4 class="page-header">
    {{selected_school.name}}
    <small>{{ selected_school.description }}</small>
</h4>

<div class="row">
    <div class="col-sm-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified">
                <li class="active" style="text-align: center">
                    <a data-toggle="tab" data-target="#statistics"><h3>Statistics</h3></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="statistics" class="tab-pane active">
                    <div ng-include="'partials/school_statistics.html'"></div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div>
</div>
