
@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

/**
    Links, fonts
**/
a,h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    cursor: pointer;
}
.row h1, .row h2, .row h3{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-hero h3{
    color: #428bca;
}
div#home-slider a#carousel-arrow-left {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -25px;
    background: transparent;
    color: transparent;
    font-size: 32px;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: background 300ms, color 300ms;
    transition: background 300ms, color 300ms;
}
.spinner{
    display: block;
    min-width: 1320px;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    z-index: 20021;
}
.spacer{
    margin-top: 30px;
}
section.loader{
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

section.loader img{
    position: fixed;
    top: 50%;
    left: 46%;
}
.not-found-container{
    min-height: 300px;
    padding-top: 90px;
}
#info-service{
    padding: 5rem 0 5rem 0;
    max-height: 300px;
    height: auto;
}

/**
    Images
**/
img.banner-image{
    max-width: 100%;
    /*width: auto\9;*/
    background-size: cover;
    max-height: 570px;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: relative;
}
.banner-content{
    max-width: 700px;
    width: auto;
    position: absolute;
    top: 90px;
    left: 105px;
    right: auto;
}
.banner-content article h1.article-head{
    font-family: 'Roboto Condensed', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "Arial Narrow", sans-serif, serif;
    text-shadow: 0px 1px 2px rgb(17, 17, 17);
    position: relative;
}
.banner-content article h2.article-sub{
    text-shadow: 0px 1px 2px rgb(17, 17, 17);
}


/**
    Buttons and form elements
**/
.button{
    display: inline-block;
    min-width: 8rem;
    padding: 0.8rem 1.3rem;
    border: none;
    border-bottom: 3px solid #808080;
    background-color: #e5e5e5;
    font-family: 'Roboto Condensed', "Arial Narrow", sans-serif, serif;
    font-size: 1.4rem;
    color: #595959;
    text-align: center;
    text-transform: uppercase;
    font-smoothing: antialiased;
    appearance: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.button-small{
    width: 3rem;
    max-width: 3rem;
    padding: 0.4rem 0.9rem;
}
.button-green{
    background-color: #47a447;
    border-bottom: 3px solid #398439;
    color: #fff;
}
.button-orange{
    background-color: #ffa500;
    border-bottom: 3px solid #d58512;
    color: #fff;
}
.button-blue{
    background-color: #428bca;
    border-bottom: 3px solid #285e8e;
    color: #fff;
}
.button-red{
    background-color: #ff0000;
    border-bottom: 3px solid #cd0a0a;
    color: #fff;
}
.button-large{
    min-width: 20rem;
    font-size: 2rem;
    font-weight: bold;
    border-width: 5px;
}
.button-large-append{
    min-width: 7rem;
    font-size: 2.2rem;
    font-weight: bold;
    border-width: 0;
    border-radius: 0 5px 5px 0;
    margin-top: -5px;
}
.search-school{
    height: 47px;
}
.change-featured-school{
    padding-bottom: 15px;
}

/**
    Slider Content
**/
.front-overlay-message-content{
    max-width: 700px;
    margin: 10px;
    padding-left: 10rem;
    text-shadow: 0 1px 2px rgb(17, 17, 17);
    text-align: left;
    display: inline-block;
    cursor: default;
}
.front-overlay-message-content article h2{
    font-family: 'Roboto Condensed', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, snas-serif;
    font-size: 3em;
    text-align: left;
    text-shadow: 0 1px 2px rgb(17, 17, 17);
    margin-bottom: 15px;
    font-weight: bolder;
    color: #fff;
}
.front-overlay-message-content p{
    font-family: 'Roboto Condensed', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    text-shadow: 0 1px 2px rgb(17,17,17);
}

.ta-school-active{
    background-color: #428bca;
    color: #fff;
}
ul.filter-region{
    list-style: none;
}
ul.filter-region label{
    padding-bottom: 1px;
    color: #595959;
    font-weight: lighter;
}
select#select-sort{
    width: 100%;
}
ul.help-questions{
    width: 100%;
    margin: 0;
    padding: 0;
}
a.school-results-item{
    display: block;
    width: 100%;
}
a.school-results-item h4.school-name{
    color: #4196bf;
}
a.school-results-item > li{
    color: #0c0c0c;
}
.school-item{
    border-bottom: 1px solid #e9e9e9;
}
ul li.school-item{
    list-style: none;
    padding: 0 10px 0 10px;
    margin: 0;
}
.school-item:hover{
    background-color: #fafafa;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
ul.help-questions{
    margin-bottom: 0;
}
div.featured-school > p.lead{
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
div.featured-school p.text-muted{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 1.7rem;
}
.home-search-filter{
    position: relative;
    display: block;
    width:inherit;
    background-color:#fff;
    overflow: visible;
    z-index: 40;
}
.home-search-filter ul.home-search-list{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    //z-index: 9999120;
}
.home-search-filter ul.home-search-list li{
    position: relative;
    padding: 5px 10px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 100%;
    z-index: 60;
}
.home-search-filter ul.home-search-list li a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #595959;
}
.home-search-filter ul.home-search-list li:hover{
    background-color: #4196bf;
    color: #fff;
}
.home-search-filter ul.home-search-list li a:hover{
    color: #fff;
    font-weight: bold;
}
div.input-group{
    position: relative;
    z-index: 50;
}

ul.navbar-right > li > a{
    color: #595959;
    font-size: 1.6rem;
}
.ng-invalid-required{

}
.ng-invalid-minlength{

}
.ng-valid-max-length{

}
.form-error{
    color: #cd0a0a;
}
ul.pagination{

}
ul.pagination > li.active > a{
    background-color: #428bca;
}
.chart{
    position: relative;
    width: 100%;
}
img.region-image{
    position: relative;
    height: 200px;
}
ul.compare-list{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    list-style: none;
    padding: 0;
    margin: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
ul.compare-list > li.compare-list-item{
    min-height: 33px;
    height: auto;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}
ul.compare-list > li.compare-list-item:hover{
    background-color: #e5e5e5;
}
button.compare-list-btn{
    margin:0;
    padding:0 10px 0 10px;
}
#compare-search-container{
    display: none;
}
#compare-search-results{
    display: none;
}
/*.compare-list-school{
    margin: 0;
    padding: 0;
}*/
.row > .school-analysis-container{
    max-height: 150px;
}
.progress.xs {
    height: 7px;
}
ul.compare-container{
    padding: 5px;
    margin: 0;
}
.school-info-container{
    padding: 5px 0 10px 0;
}
.ratings-container{
    padding: 10px 0 10px 5px;
    text-align: right;
}
ul.stars-rating{
    list-style: none;
    margin: 0;
    padding: 0;
    //float:right;
}
ul.stars-rating > li{
    font-size: 1rem;
    display: inline;;
}
ul.stars-rating > li.colored{
    color: gold
}

/*
    Overlay
*/
.overlay-container{
    max-width: 800px;
    margin-top: 5rem;
}
.dark-overlay{
    background-color: rgba(0,0,0, 0.7);
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    z-index: 99991;
}
.dark-overlay-content{
    display: none;
    //max-width: 700px;
    min-height: 500px;
    height: auto;
    padding: 2.5rem;
    position: static;
    background: scroll #fff;
    border-radius: 5px;
    z-index: 99995;

}
#school-change-overlay, #second-school-change-overlay{
    display: none;
}
#school-add-overlay{
    display: none;
}
ul.review-questions-list{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: circle;
    margin-left: 10px;
    padding-left: 7px;
}
span.review-questions-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 5px;
    font-weight: bold;
}

.background{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
}
.background .background-content p.background-body, .background ul{
    color: rgba(51, 51, 51, 0.9);
    font-size: 1.5rem;
}
.background p.background-header{
    color: rgba(51, 51, 51, 1.0);
    font-size: 1.8rem;
}
#background-content-two{
    display: none;
}
ul.points-circle{
    list-style: circle;
}
img.padded-img{
    padding-top: 27px;
}


/**
    ui bootstrap css
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* end ui bootstrap css */


 /* fluidity*/
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.banner-image {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
@media (max-width: 767px) {
    .featured-school-name{
        padding-top: 100px;
    }
    section.loader img{
        top: 40%;
        left: 37%;
    }
    .front-overlay-message-content{
        max-width: 700px;
        margin: 0 5px 0 0;
        padding: 0;
        text-shadow: 0 1px 2px rgb(17, 17, 17);
        text-align: left;
        display: inline-block;
        cursor: default;
    }
    .front-overlay-message-content article h2{
        font-family: 'Roboto Condensed', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, snas-serif;
        font-size: 1em;
        text-align: left;
        text-shadow: 0 1px 2px rgb(17, 17, 17);
        margin-bottom: 15px;
        font-weight: bolder;
        color: #fff;
    }
    .front-overlay-message-content p{
        font-size: 11px;
        font-weight: lighter;
        color: #fff;
        text-shadow: 0 1px 2px rgb(17,17,17);
    }
    .compare-list-btn{
        display: none;
    }
}


/*
    Modal styles
*/
/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

