
<div class="box-no-shadow" ng-controller="scViewSelectedDistrictSchoolsGeneralIssuesController" >
    <div class="box-header">
        <h3 class="box-title">Other Issues
            <div class="box-tools  pull-right">
                <div class="input-group">
                    <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="situation_year"
                            ng-options="year for year in districtYears">
                        <option value="">Select year</option>
                    </select>
                    <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="situation_term"
                            ng-options="term.value as term.label for term in districtTerms">
                        <option value="">Select term</option>
                    </select>
                    <button  ng-click="fetchSchoolGeneralSituationData()"  class="btn btn-primary btn-sm">
                        Load Data
                    </button>
                </div>
            </div>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding"  >
        <div class="row">
            <div class="col-sm-12" ng-show="situationData">
                <!--This is the Table Export Button-->
                <div class="btn-group pull-right ">
                    <button  class="btn btn-primary btn-sm generalIssueTable" export-table="generalIssueTable" file-name="{{selected_district.name + ' Termly General Issues Summary ' + situation_year + ' ' + situation_term}}">Begin Termly General Issues Summary Export</button>
                </div>
                <table  class="table table-striped table-bordered table-hover"  id="generalIssueTable">
                    <thead>
                    <tr class="bg-primary">
                        <th style="text-align: center">School</th>
                        <th style="text-align: center">Submission Status</th>
                        <th style="text-align: center">Actions</th>
                        <!--<th style="text-align: center" class="trend">Trend</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in situationData">
                        <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : value.school_id, district_id : value.district_id})">{{ value.name}}</a></td>
                        <td align="center">{{ value.submitted }}&nbsp;&nbsp;&nbsp; <span check-mark status="{{value.submitted}}"></span></td>
                        <td align="center" class="text-danger text-center">
                            <div class="btn-group">
                            <button class="center-block btn btn-default btn-sm" general-issues-preview="value">Preview Data</button>
                                <button class="center-block btn btn-danger btn-sm" delete-section-data="General Issues"
                                        section-type="general_issues" function="fetchSchoolGeneralSituationData()"
                                        term="{{value.term}}" year="{{value.year}}" school-id="{{value.school_id}}">Delete Data</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-12" ng-hide="situationData">
                <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                    <span ng-if="loadingSituationData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                    <span ng-if="!(loadingSituationData)">No data available.</span>
                </div>
            </div>
        </div>


    </div>
</div><!-- /.box -->
