<div layout="row" style="height: 300px; min-height: 200px" layout-align="center center" ng-hide="completed">
    <md-progress-circular md-mode="determinate" ng-value="loadLevel" md-diameter="100"></md-progress-circular>
</div>



<div ng-show="completed">
    <h2 ng-bind=" 'Enrollment data for ' + selected_school.name "></h2>
    <h3 ng-bind="'Week : ' + week_number"> </h3>
    <h3 ng-bind="'Term : ' + term"></h3>
    <h3 ng-bind="'Year : ' + year"></h3>
    <h3 ng-bind="'Days In Session : ' + school_in_session || 'unavailable' "></h3>
    <h3 ng-bind="'Submitted by : ' + data_collector_type"></h3>
    <md-button class="md-raised" ng-click="showSpecialNeed = !showSpecialNeed">
        <span ng-if="!(showSpecialNeed)">Show Special Need Enrollment</span>
        <span ng-if="showSpecialNeed">Show Enrollment</span>
    </md-button>
    <!--md-swipe-right="showSpecialNeed = !showSpecialNeed" md-swipe-left="showSpecialNeed = !showSpecialNeed"-->
    <table class="rwd-table" >
        <tr>
            <th>Class</th>
            <th ng-if="!(showSpecialNeed)">Boys</th>
            <th ng-if="showSpecialNeed">Spec. Need Boys</th>
            <th ng-if="!(showSpecialNeed)">Girls</th>
            <th ng-if="showSpecialNeed">Spec. Need Girls</th>
            <th>Total</th>
        </tr>
        <tr ng-hide="showSpecialNeed" ng-repeat="data in normalEnrollmentData">
            <td data-th="Class">{{ data.level }}</td>
            <td data-th="Boys">{{ data.num_males }}</td>
            <td data-th="Girls">{{ data.num_females }}</td>
            <td data-th="Total">{{ getTotal(data.num_males, data.num_females) }}</td>
        </tr>
        <tr ng-show="showSpecialNeed" ng-repeat="data in specialEnrollmentData">
            <td data-th="Class">{{ data.level }}</td>
            <td data-th="Spec. Need Boys">{{ data.num_males }}</td>
            <td data-th="Spec. Need Girls">{{ data.num_females }}</td>
            <td data-th="Total">{{ getTotal(data.num_males, data.num_females) }}</td>
        </tr>

    </table>

</div>