<div layout="row" style="height: 300px; min-height: 200px" layout-align="center center" ng-hide="completed">
    <md-progress-circular md-mode="determinate" ng-value="loadLevel" md-diameter="100"></md-progress-circular>
</div>
<div ng-show="completed">
    <h1 ng-bind=""></h1>
    <h2>General Issues</h2>
    <h3>School : {{ school.name }}</h3>
    <h3  ng-bind="'Term : ' + term"></h3>
    <h3  ng-bind="'Year : ' + year"></h3>
    <h3  ng-bind="'Submitted by : ' + data_collector_type"></h3>
    <!--<md-button class="md-raised" ng-click="showTrend = !showTrend">-->
    <!--<span ng-if="!(showTrend)">Show Term</span>-->
    <!--<span ng-if="showTrend">Show Trend</span>-->
    <!--</md-button>-->
    <!--md-swipe-right="showClassManagement = !showClassManagement" md-swipe-left="showClassManagement = !showClassManagement"-->
    <table class="rwd-table" ng-show="submittedDate">
        <tr>
            <th style="">Issue</th>
            <th style="text-align: center">Response</th>
            <th style="text-align: left">Comment</th>
        </tr>
        <tr ng-repeat="(key, value) in generalIssueItemsObject">
            <td  style="text-align: left; color: rgba(85,85,85,1); font-size: 18px; background-color: rgba(218, 239, 255, 0.58) !important;" colspan="1"><b><i>{{ key }}</i></b></td>
            <td>
                <table>
                    <tr ng-repeat="issue in value">
                        <td align="left">{{ issue.situation }}</td>
                        <td style="text-align: center">{{ issue.status }}</td>
                        <td style="text-align: center"> {{issue.comment}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="1">Submitted on</td>
            <td colspan="2" style="text-align: center">{{ submittedDate | date : 'fullDate' }}</td>
        </tr>
    </table>
    <div ng-hide="submittedDate">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">No data submitted under {{term}} {{year}}</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <p>Sorry, we couldn't find any data submitted for the selected parameters.</p>
        </md-content>
    </div>


</div>