
<div layout="row" style="height: 300px; min-height: 200px" layout-align="center center" ng-hide="completed">
    <md-progress-circular md-mode="determinate" ng-value="loadLevel" md-diameter="100"></md-progress-circular>
</div>
<div ng-show="completed">
    <h1 ng-bind=""></h1>
    <h2>Grant</h2>
    <h3>School : {{ school.name }}</h3>
    <h3  ng-bind="'Term : ' + term"></h3>
    <h3  ng-bind="'Year : ' + year"></h3>
    <h3  ng-bind="'Submitted by : ' + data_collector_type"></h3>
    <!--<md-button class="md-raised" ng-click="showTrend = !showTrend">-->
    <!--<span ng-if="!(showTrend)">Show Term</span>-->
    <!--<span ng-if="showTrend">Show Trend</span>-->
    <!--</md-button>-->
    <!--md-swipe-right="showClassManagement = !showClassManagement" md-swipe-left="showClassManagement = !showClassManagement"-->
    <table class="rwd-table" ng-show="grantData.length">
        <tr>
            <th>Grant Type</th>
            <th style="text-align: center" colspan="2">1st Tranche</th>
            <th style="text-align: center" colspan="2">2nd Tranche</th>
            <th style="text-align: center" colspan="2">3rd Tranche</th>
        </tr>
        <tr style="color: white; background-color: #2a2a2a">
            <th></th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Amount</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Amount</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Amount</th>

        </tr>
        <tr  ng-repeat="data in grantData" ng-click="displayMoreInfo(data, $event)">
            <td data-th="Class">{{ formatGrant[data.school_grant_type] }}</td>
            <td style="text-align: center" data-th="first_tranche_amount">{{ data.first_tranche_amount}}</td>
            <td style="text-align: center" data-th="first_tranche_date">{{ data.first_tranche_date}}</td>

            <td style="text-align: center" data-th="second_tranche_amount">{{ data.second_tranche_amount}}</td>
            <td style="text-align: center" data-th="second_tranche_amount">{{ data.second_tranche_date}}</td>

            <td style="text-align: center" data-th="second_tranche_amount">{{ data.third_tranche_amount}}</td>
            <td style="text-align: center" data-th="second_tranche_amount">{{ data.third_tranche_date}}</td>
        </tr>
        <tr>
            <td colspan="1">Submitted on</td>
            <td colspan="3">{{ submittedDate | date : 'fullDate' }}</td>
        </tr>
    </table>
    <div ng-hide="grantData.length">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">No data submitted under {{term}} {{year}}</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <p>Sorry, we couldn't find any data submitted for the selected parameters.</p>
        </md-content>
    </div>
</div>