

<div layout="row" style="height: 300px; min-height: 200px" layout-align="center center" ng-hide="completed">
    <md-progress-circular md-mode="determinate" ng-value="loadLevel" md-diameter="100"></md-progress-circular>
</div>
<div ng-show="completed">
    <h1 ng-bind=""></h1>
    <h2>Pupil Performance</h2>
    <h3>School : {{ school.name }}</h3>
    <h3  ng-bind="'Term : ' + term"></h3>
    <h3  ng-bind="'Year : ' + year"></h3>
    <h3  ng-bind="'Submitted by : ' + data_collector_type"></h3>
    <!--<md-button class="md-raised" ng-click="showTrend = !showTrend">-->
    <!--<span ng-if="!(showTrend)">Show Term</span>-->
    <!--<span ng-if="showTrend">Show Trend</span>-->
    <!--</md-button>-->
    <!--md-swipe-right="showClassManagement = !showClassManagement" md-swipe-left="showClassManagement = !showClassManagement"-->
    <table class="rwd-table" ng-show="pupilPerformanceData.length">
        <tr>
            <th>Class</th>
            <th style="text-align: center" colspan="2">Ghanaian Language</th>
            <th style="text-align: center" colspan="2">English</th>
            <th style="text-align: center" colspan="2">Mathematics</th>
            <th style="text-align: center" colspan="2">Science</th>
            <th style="text-align: center">Literacy</th>
        </tr>
        <tr style="color: white; background-color: #2a2a2a">
            <th></th>
            <th style="text-align: center">Average Sco.</th>
            <th style="text-align: center">Scoring Above Average Sco.</th>
            <th style="text-align: center">Average Sco.</th>
            <th style="text-align: center">Scoring Above Average Sco.</th>
            <th style="text-align: center">Average Sco.</th>
            <th style="text-align: center">Scoring Above Average Sco.</th>
            <th style="text-align: center">Average Sco.</th>
            <th style="text-align: center">Scoring Above Average Sco.</th>
            <th style="text-align: center">Number That Can Read</th>
        </tr>
        <tr  ng-repeat="data in pupilPerformanceData" ng-click="displayMoreInfo(data, $event)">
            <td data-th="Class">     {{ data.level}}</td>

            <td style="text-align: center" data-th="average_ghanaian_language_score">     {{ data.average_ghanaian_language_score}}</td>
            <td style="text-align: center" data-th="num_pupil_who_score_above_average_in_ghanaian_language">     {{ data.num_pupil_who_score_above_average_in_ghanaian_language}}</td>

            <td style="text-align: center" data-th="average_english_score">     {{ data.average_english_score}}</td>
            <td style="text-align: center" data-th="num_pupil_who_score_above_average_in_english">     {{ data.num_pupil_who_score_above_average_in_english}}</td>

            <td style="text-align: center" data-th="average_maths_score">     {{ data.average_maths_score}}</td>
            <td style="text-align: center" data-th="num_pupil_who_score_above_average_in_maths">     {{ data.num_pupil_who_score_above_average_in_maths}}</td>

            <td style="text-align: center" data-th="science_average_score">     {{ data.science_average_score}}</td>
            <td style="text-align: center" data-th="number_scoring_above_science_score">     {{ data.number_scoring_above_science_score}}</td>

            <td style="text-align: center" data-th="num_pupil_who_can_read_and_write">     {{ data.num_pupil_who_can_read_and_write}}</td>

        </tr>

        <tr>
            <td colspan="2">Submitted on</td>
            <td colspan="4">{{ submittedDate | date :  "dd.MM.y" }}</td>
        </tr>
    </table>
    <div ng-hide="pupilPerformanceData.length">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">No data submitted under {{term}} {{year}}</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <p>Sorry, we couldn't find any data submitted for the selected parameters.</p>
        </md-content>
    </div>
</div>