<!--<div id="md-table-template" ng-hide="true">-->
    <table  class="md-table"><!--md-colresize="md-colresize"-->
        <thead>
        <tr class="md-table-headers-row">
            <th ng-repeat="h in headers" class="md-table-header"><a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}} <i ng-show="reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropup"></i><i ng-show="!reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropdown"></i></a><span ng-if="!handleSort(h.field)">{{h.name}}</span></th>
            <th class="md-table-header"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in content | filter:filters " class="md-table-content-row">
            <td>
                <div ng-repeat="h in headers" ng-if="h.field == thumbs" class="md-table-thumbs">
                    <div style="background-image:url( {{c.thumb}})"></div>
                </div>
            </td>
            <td ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs" class="md-table-content">{{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}</td>
            <td class="md-table-td-more">
                <md-button aria-label="Info"><i class="ion-android-more-vertical"></i></md-button>
            </td>
        </tr>
        </tbody>
    </table>

<!--</div>-->