<md-dialog aria-label="Information of  {{teacherObj.first_name + ' ' + teacherObj.last_name}}  ">
        <md-dialog-content>
                <md-subheader class="md-sticky-no-effect">Information of  <b>{{teacherObj.first_name + ' ' + teacherObj.last_name}}</b>  </md-subheader>
                <md-list>
                        <md-list-item>
<!--                                created_at: "2015-02-12 20:46:30"-->
                                <p>
                                        <span flex="33" flex="33">Gender  :   </span>
                                        <span flex="33">    <b>{{teacherObj.gender   | uppercase }}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Category    :   </span>
                                        <span flex="33"><b>    {{teacherObj.category}}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Highest Academic Qualification  :  </span>
                                        <span flex="33"><b>     {{teacherObj.highest_academic_qualification}}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Highest Professional Qualification   :   </span>
                                        <span flex="33"><b>    {{teacherObj.highest_professional_qualification}}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Class Taught   :   </span>
                                        <span flex="33"><b>     {{teacherObj.class_taught  |  uppercase  }}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Level Taught   :   </span>
                                        <span flex="33"><b>     {{teacherObj.level_taught   | uppercase  }}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Rank   :    </span>
                                        <span flex="33">    <b>      {{teacherObj.rank}}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Class Subject Taught    :   </span>
                                        <span flex="33">      <b>{{teacherObj.class_subject_taught}}</b></span>
                                </p>
                        </md-list-item>
                        <md-list-item>
                                <p>
                                        <span flex="33">Years Spent in the School     :   </span>
                                        <span flex="33">     <b>{{teacherObj.years_in_the_school}}</b></span>
                                </p>
                        </md-list-item>
                </md-list>
        </md-dialog-content>

        <div class="md-actions">
                <md-button ng-click="closeDialog()" class="md-primary">
                        Close
                </md-button>
        </div>
</md-dialog>