<!--<pre>{{ teacherAttendanceData | json }}</pre>-->
<div layout="row" style="height: 300px; min-height: 200px" layout-align="center center" ng-hide="completed">
    <md-progress-circular md-mode="determinate" ng-value="loadLevel" md-diameter="100"></md-progress-circular>
</div>
<div ng-show="completed">
    <h1 ng-bind=""></h1>
    <h2>Teacher Attendance Information </h2>
    <h3  ng-bind="'Week : ' + week_number"> </h3>
    <h3  ng-bind="'Term : ' + term"></h3>
    <h3  ng-bind="'Year : ' + year"></h3>
    <h3  ng-bind="'Days In Session : ' + school_in_session "></h3>
    <h3  ng-bind="'Submitted by : ' + data_collector_type"></h3>
    <md-button class="md-raised" ng-click="showClassManagement = !showClassManagement">
        <span ng-if="!(showClassManagement)">Show Teacher Class Management</span>
        <span ng-if="showClassManagement">Show Teacher Attendance</span>
    </md-button>
    <!--md-swipe-right="showClassManagement = !showClassManagement" md-swipe-left="showClassManagement = !showClassManagement"-->
    <table class="rwd-table" >
        <tr>
            <th>Full Name</th>
            <th>Staff Number</th>
            <th ng-if="!(showClassManagement)">Days Present</th>
            <th ng-if="!(showClassManagement)">Days Punctual</th>
            <th ng-if="!(showClassManagement)">Absent With Permission</th>
            <th ng-if="!(showClassManagement)">Absent Without Permission</th>
            <th ng-if="!(showClassManagement)">Lesson Plans</th>

            <th ng-if="showClassManagement">Class Control</th>
            <th ng-if="showClassManagement">Children Behaviour</th>
            <th ng-if="showClassManagement">Children Participation</th>
        </tr>
        <tr ng-hide="showClassManagement" ng-repeat="data in teacherAttendanceData" ng-click="displayMoreInfo(data, $event)">
            <td data-th="Full Name">     {{ data.first_name + ' ' + data.last_name }}</td>
            <td data-th="Staff No.">     {{ data.staff_number }}</td>
            <td data-th="Days Present">     {{ data.puntuality_and_lesson_plans.days_present }}</td>
            <td data-th="Days Punctual">     {{ data.puntuality_and_lesson_plans.days_punctual }}</td>
            <td data-th="Absent With Permission">     {{ data.puntuality_and_lesson_plans.days_absent_with_permission }}</td>
            <td data-th="Absent Without Permission">     {{ data.puntuality_and_lesson_plans.days_absent_without_permission }}</td>
            <td data-th="Lesson Plans">    {{ data.puntuality_and_lesson_plans.lesson_plans || 'Not Prepared' }}</td>
        </tr>

        <tr ng-show="showClassManagement" ng-repeat="data in classManagementData" ng-click="displayMoreInfo(data, $event)">
            <td data-th="Full Name">     {{ data.first_name + ' ' + data.last_name }}</td>
            <td data-th="Staff No.">     {{ data.staff_number }}</td>
            <td data-th="Class Control">     {{ data.classroom_management.class_control }}</td>
            <td data-th="Children Behaviour">     {{ data.classroom_management.children_behaviour }}</td>
            <td data-th="Children Participation">     {{ data.classroom_management.children_participation }}</td>

        </tr>

    </table>
</div>