<div ng-controller="scViewSelectedCountrySportsController">
    <div class="box-no-shadow">
        <div  class="box-header">
            <h3 class="box-title">Sports
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="sports_year"
                                ng-options="year for year in countryYears">
                            <option value="">Select year</option>
                        </select>
                        <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="sports_term"
                                ng-options="term.value as term.label for term in countryTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchSportsData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div   class="col-sm-12" ng-show="sportsData.length">
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm sportsTable" export-table="sportsTable" file-name="{{selected_country.name + ' Termly Sports Summary ' + sports_year + ' ' + sports_term}}">Begin Termly Sports Summary Export</button>
                    </div>
                    <table  class="table table-striped table-bordered table-hover" id="sportsTable">
                        <thead>
                        <tr  class="bg-primary">
                            <th style="text-align: center">School</th>
                            <th style="text-align: center">Available</th>
                            <th style="text-align: center">Available, Not Functional</th>
                            <th style="text-align: center">Not Available</th>
                            <th style="text-align: center" >Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="sport in sportsData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : sport.school_id, district_id : sport.district_id})">{{ sport.name}}</a></td>

                            <td align="center">{{sport.available }}</td>
                            <td align="center">{{sport["available not functional"]}}</td>
                            <td align="center">{{sport["not available"]}}</td>
                            <td align="center" class="text-danger text-center">

                                <div class="btn-group">
                                    <button class="center-block btn btn-default btn-sm" sports-preview="sport">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="Sports and Recreational Items"
                                            section-type="sports_recreation" submission-id="{{sport.data.id}}" function="fetchSportsData()"
                                            term="{{sport.data.term}}" year="{{sport.data.year}}" school-id="{{sport.school_id}}">Delete Data</button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" ng-hide="sportsData.length" ng-if="!sportsData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingSportsData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingSportsData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->


    </div><!-- /.box -->
</div>