<div class="alert alert-danger" ng-show="messageFromServer">{{ messageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{ paramAction() }} Region</h3>

        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm pull-right" data-ng-click="goBackInHistory()">Cancel</button>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" data-ng-submit="processForm()">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="region_name">Name of Region  <em>*</em></label>
                    <input type="text" class="form-control" id="region_name" placeholder="Enter name of region"
                           ng-model="formData.region_name">
                </div>


                <div class="form-group col-sm-12">
                    <label for="brief_description">Brief Description  <em>*</em></label>
                    <textarea class="form-control" id="brief_description" placeholder="A brief description of the region"
                              ng-model="formData.description"></textarea>
                </div>

                <div class="form-group col-sm-6">
                    <label for="email">Region's Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter optional email address of the region" ng-model="formData.region_email">
                </div>

                <div class="form-group col-sm-6">
                    <label for="phone">Region's Phone Number</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number of the regional office" ng-model="formData.region_phone_number">
                </div>

            </div>
        </div>

        <div class="row" style="margin-right : 5px">
            <div class="pull-right">
                <button class="btn btn-warning" type="reset">Reset</button>
                <button type="submit" class="btn btn-success" ng-show="paramAction() == 'Add' " >Add Region</button>
                <button type="submit" class="btn btn-success" ng-show="paramAction() == 'Edit' ">Save Changes</button>
            </div>
        </div>
    </form>
</div><!-- /.box -->

<!--<div class="box">-->
            <!--<pre>-->
		<!--{{ formData  |  json }}-->
	<!--</pre>-->
<!--</div>-->