<div class="box-header " >
    <h3 class="box-title page-header">Region's Schools' Weekly Information

        <div title="" data-toggle="tooltip" class="box-tools pull-right">
            <div data-toggle="btn-toggle" class="btn-group">
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.enrollment}" data-ng-click="changeView('enrollment')" type="button"><i class="fa fa-square text-green"></i> Enrollment</button>
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.attendance}" data-ng-click="changeView('attendance')" type="button"><i class="fa fa-square text-blue"></i> Attendance</button>
            </div>
        </div>

    </h3>
</div>

<div class="box-no-shadow box-solid" ng-show="view_to_show.enrollment" >
    <div ng-include="'partials/templates_View/region/region_enrollment_summary.html'"></div>
</div>


<div class="box-no-shadow box-solid " ng-show="view_to_show.attendance">
    <div ng-include="'partials/templates_View/region/region_attendance_summary.html'"></div>
</div>