<div class="row">
    <div class="col-sm-12" ng-show="countryTerms && countryYears">
        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-xs-6">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="region.name for region in regions track by region.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in regionYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="term">Term</label>
                <!--ng-options="region.name for region in regions track by region.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in regionTerms">
                </select>
            </div>
            <!--<div class="form-group col-sm-2">-->
            <!--<label for="week">Week</label>-->
            <!--<select name="week" id="week" class="form-control"-->
            <!--ng-model="$parent.summary_week" ng-options="week as week for week in regionWeeks" >-->
            <!--</select>-->
            <!--</div>-->
            <div class="form-group col-md-3 col-xs-6">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button id="actions" data-ng-click="fetchTermlySummaryData()" class="btn btn-primary form-control col-sm-12" style="padding-left: 0 !important;" >Load Data</button>
                </div>
            </div>
        </div>


        <!--Summary Table-->

        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="termlyRegionData.schoolInfo" >
                    <h3 class="box-title">Student Exam Score Information
                        <div title=""  class="box-tools pull-right class hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="clearfix"></div>
                <div class="box-body" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="termlyRegionData.schoolInfo">
                            <p>Region Total</p>

                            <table class="table table-bordered" ng-if="(termlyRegionData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-gray">
                                    <td class="horizontal_vertical_center">Ave. GH Lang. Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave. in Gh. Lang</td>

                                    <td class="horizontal_vertical_center">Ave. English Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave. in English</td>

                                    <td class="horizontal_vertical_center">Ave. Maths Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave. in Maths</td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in Region</td>-->
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.average_ghanaian_language_score  | number : 2  }}</td>
                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.scoring_ghanaian_language_above_average    }}</td>

                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.average_english_score | number : 2    }}</td>
                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.scoring_english_above_average    }}</td>

                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.average_maths_score | number : 2   }}</td>
                                    <td class="horizontal_vertical_center">{{ termlyRegionData.regionInfo.scoring_maths_above_average    }}</td>
                                    <!--<td class="horizontal_vertical_center">{{ enrollmentSummaryData.regionInfo.teachers_total    || 'Unavailable' }}</td>-->
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(termlyRegionData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="col-sm-6 pull-left">Per School Breakdown</p>
                            <div class="btn-group pull-right" export-table target="termlyRegionDataExam"></div>


                            <table class="table table-bordered table-striped table-responsive" id="termlyRegionDataExam" ng-show="termlyRegionData.schoolInfo">
                                <thead>
                                <tr class="bg-green">
                                    <td class="">School</td>
                                    <td class="horizontal_vertical_center" colspan="2">Ghanaian Language</td>
                                    <td class="horizontal_vertical_center" colspan="2">English</td>
                                    <td class="horizontal_vertical_center" colspan="2">Mathematics</td>
                                    <!--<td class="horizontal_vertical_center" colspan="1">Teachers</td>-->
                                    <!--<td class="horizontal_vertical_center">Total in Class</td>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-gray">
                                    <td class="">Name</td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave.</td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave.</td>
                                    <td class="horizontal_vertical_center">Ave. Score</td>
                                    <td class="horizontal_vertical_center">Scored Above Ave.</td>
                                </tr>
                             <!--   average_english_score: 76
                                average_ghanaian_language_score: 71
                                average_maths_score: 77
                                english_above_average: 47
                                ghanaian_language_above_average: 47
                                maths_above_average: 49
                                num_english_books: 311
                                num_ghanaian_language_books: 293
                                num_maths_books: 321
                                school_id: 83-->
                                <tr ng-repeat="termly_info in termlyRegionData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}">
                                    <td ><a ui-sref="dashboard.school.view_selected_school({id : termly_info.school_id, district_id : termly_info.district_id })">{{  schoolLookup[termly_info.school_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center">{{termly_info.average_ghanaian_language_score}}</td>
                                    <td class="horizontal_vertical_center">{{termly_info.ghanaian_language_above_average}}</td>
                                    <td class="horizontal_vertical_center">{{termly_info.average_english_score}}</td>
                                    <td class="horizontal_vertical_center">{{termly_info.english_above_average}}</td>
                                    <td class="horizontal_vertical_center">{{termly_info.average_maths_score}}</td>
                                    <td class="horizontal_vertical_center">{{termly_info.maths_above_average}}</td>
                                    <!--<td class="horizontal_vertical_center">{{termly_info.normal_enrolment_total_students + termly_info.special_enrolment_total_students}}</td>-->
                                    <!--<td class="horizontal_vertical_center">{{termly_info.current_number_of_teachers || 'Unavailable' }}</td>-->
                                </tr>
                                </tbody>

                            </table>

                        </div>


                        <div ng-if="termlyRegionData.schoolInfo" ng-hide="(termlyRegionData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>

                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="termlyRegionData.schoolInfo">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>
                <div class="overlay" ng-show="loadingSummary" ></div>
                <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
                <div class="box-footer">



                </div>
            </div>


        </div>
    </div>

    <div class="col-sm-12" ng-hide="countryTerms && countryWeeks && countryYears">
        <p class="text-center" style="margin: 10% 0; font-size: 23px"><i class="fa fa-warning">
        </i>  No data submitted for this region.</p>
    </div>
</div>