<h3 class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <!--<small>{{selected_district.description}}</small>-->Region Rating
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Options  <span class="caret"></span>
                    <span class="sr-only">Rating Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li ng-show="regionRating"><a href="" class="pointer" data-ng-click="compareRatings()">Compare Region Ratings</a></li>
                    <li  ng-show="compareNationalRegionRating"><a href="" class="pointer" data-ng-click="singleRating()">Region Rating</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</h3>

<div class="row" ng-show="regionRating">

    <div class="col-sm-12">

        <div id="regionRatingBarChart" style="width: 100%; height: 500px;"></div>

    </div>

</div>

<div class="box-no-shadow box-solid " ng-show="compareNationalRegionRating">
    <div class="box-header">
        <h3 class="box-title">Country's' Regions
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="view_to_show.chart">

                <div id="countrysRegionRatingBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">

                <table class="table table-striped" ng-init="regionSortOrder = 'rating'; reverse=!reverse">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="region in regionChartData | orderBy : regionSortOrder : reverse">
                        <td style="text-align: left" ng-if="adminRight > 4"><a ui-sref="dashboard.view_selected_region({id : region.id })">{{ region.name }}</a></td>
                        <td style="text-align: left" ng-if="adminRight < 5"><a href="">{{ region.name }}</a></td>
                        <td style="text-align: center" ng-show="region.rating">{{ region.rating }}%</td>
                        <td style="text-align: center" ng-hide="region.rating">NA</td>
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(region.rating)" style="font-size: 13px"> {{ labelStatusText(region.rating) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>