<h3 class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <!--<small>{{selected_region.description}}</small>-->Region's Teacher Attendance Average (CS)
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right" ng-show="tempArray.length">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#regionSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Options  <span class="caret"></span>
                    <span class="sr-only">Rating Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu" >
                    <li ng-show="regionAverage"><a href="" class="pointer" data-ng-click="compareAverages()">Compare Region Averages</a></li>
                    <li  ng-show="compareNationalRegionAverages"><a href="" class="pointer" data-ng-click="singleAverage()">Region Average</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</h3>

<div class="box-no-shadow box-solid " ng-show="regionAverage">
    <div class="box-header" ng-show="tempArray">
        <h3 class="box-title">Region's Schools
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status" >
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="(tempArray.length) && (view_to_show.chart)">

                <div id="regionCsAttendanceBarChart" style="width: 100%; height: 500px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">
                <div class="btn-group pull-right" export-table target="regionCsAttendanceTable"></div>

                <table class="table table-striped" id="regionCsAttendanceTable" ng-init="regionSortOrder = 'current_teacher_attendance_by_circuit_supervisor'; reverse=true">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">School</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'current_teacher_attendance_by_circuit_supervisor'; reverse=!reverse">Teacher Attendance Average </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="school in selected_region.allSchoolsHolder | orderBy : regionSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/school/{{region.id}}">{{ region.region }}</a></td>-->
                        <td><a href="" ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id })">{{ school.name  || 'Unavailable' }}</a></td>

                        <td style="text-align: center" ng-show="school.current_teacher_attendance_by_circuit_supervisor">{{ school.current_teacher_attendance_by_circuit_supervisor }}%</td>
                        <td style="text-align: center" ng-hide="school.current_teacher_attendance_by_circuit_supervisor">NA</td>
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(school.current_teacher_attendance_by_circuit_supervisor)" style="font-size: 13px"> {{ labelStatusText(school.current_teacher_attendance_by_circuit_supervisor) }} </span></td>
                    </tr>
                </table>

            </div>

            <div ng-hide="tempArray">
                <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning"></i>
                    No schools registered under this region </p>
            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>

<div class="box-no-shadow box-solid " ng-show="compareNationalRegionAverages">
    <div class="box-header">
        <h3 class="box-title">All Regions
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="view_to_show.chart">

                <div id="nationalRegionAverageBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">
                <table class="table table-striped" ng-init="regionSortOrder = 'supervisorAttendanceAverage'; reverse=true">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to sort by school"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>
                        <th style="text-align: center" title="Click to sort by average"><a href="" ng-click="regionSortOrder = 'supervisorAttendanceAverage'; reverse=!reverse"> Average Teacher Attendance </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to sort by status"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse"> Status </a></th>
                    </tr>
                    <tr ng-repeat="region in regionChartData | orderBy : regionSortOrder : reverse">
                        <td style="text-align: left" ng-show="adminRight > 4"><a ui-sref="dashboard.view_selected_region({id : region.id })">{{ region.name }}</a></td>
                        <td style="text-align: left" ng-show="adminRight < 5"><a href="">{{ region.name }}</a></td>
                        <td style="text-align: center" ng-show="region.supervisorAttendanceAverage">{{ region.supervisorAttendanceAverage }}%</td>
                        <td style="text-align: center" ng-hide="region.supervisorAttendanceAverage">NA</td>
                        <!--<td style="text-align: center">{{ region.position }}{{positionExtension(region.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(region.status)"> {{ region.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(region.supervisorAttendanceAverage)" style="font-size: 13px"> {{ labelStatusText(region.supervisorAttendanceAverage) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>