<div class="row">
    <div class="col-sm-12">
        <h3 class="page-header">
                <span class="row">
                    <span class="col-sm-10">
                        <!--<small>{{selected_district.description}}</small>-->Teacher Population
                    </span>
                    <span class="col-sm-2" ng-show="teacherSummaryData.teachersInfo">
                        <div class="btn-group pull-right" >
                            <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                Options  <span class="caret"></span>
                                <span class="sr-only">Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li ng-show="regionAverage" ><a href="" class="pointer" data-ng-click="compareAverages()">Compare District Averages</a></li>
                                <li ng-show="compareNationalRegionAverages"><a href="" class="pointer" data-ng-click="singleAverage()">Region Average</a></li>
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="#"></a></li>-->
                            </ul>
                        </div>
                    </span>
                </span>
        </h3>
        <div class="row " ng-show="teacherSummaryData.teachersInfo" ng-if="view_to_show.summary">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-sm-3">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="region.name for region in regions track by region.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in regionYears">
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="term">Term</label>
                <!--ng-options="region.name for region in regions track by region.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in regionTerms">
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in regionWeeks" >
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button id="actions" data-ng-click="fetchAttendanceAverageSummaryData()" class="btn btn-primary form-control col-sm-12" style="padding-left: 0 !important;" >Load Data</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12" ng-show="teacherSummaryData.teachersInfo">
        <table class="table table-bordered">
            <tr class="bg-gray">
                <td class="horizontal_vertical_center">Total in Region</td>
                <td class="horizontal_vertical_center">Males</td>
                <td class="horizontal_vertical_center">Females</td>
                <td class="horizontal_vertical_center">Average Attendance <small>(Region)</small></td>
            </tr>
            <tr class="">
                <td class="horizontal_vertical_center">{{ teacherSummaryData.regionInfo.teachers_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.regionInfo.male_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.regionInfo.female_total    }}</td>
                <td class="horizontal_vertical_center">{{ ( teacherAttendanceSummaryData.regionInfo.average_teacher_attendance[$parent.summary_data_collector_type] | number : 2 )|| 'Unavailable' }}</td>
            </tr>
        </table>
    </div>
</div>

<div ng-show="regionAverage" class="box-no-shadow box-solid " >
    <div class="box-header" >
        <h3 class="box-title">Region's Teachers' Information
            <div title=""  class="box-tools pull-right" ng-show="teacherSummaryData.teachersInfo" >
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.list}" data-ng-click="changeView('list')" type="button"><i class="fa fa-square text-green"></i> All Teachers List</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.summary}" data-ng-click="changeView('summary')" type="button"><i class="fa fa-square text-blue"></i> Group by School</button>
                </div>
            </div>
        </h3>
    </div>
    <div ng-show="teacherSummaryData.teachersInfo" class="box-body">
        <div class="row">
            <div ng-if="view_to_show.list" ng-include=" 'partials/templates_View/region/region_teacher_full_list.html' "></div>

            <div ng-if ="view_to_show.summary" ng-include=" 'partials/templates_View/region/region_teacher_summary.html' "></div>
        </div>

    </div>
    <div class="overlay" ng-show="loadingSummary" ></div>
    <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
    <div ng-hide="teacherSummaryData.teachersInfo">
        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning"> </i>  No teachers registered under this region</p>
    </div>
</div>


<div class="box-no-shadow box-solid " ng-show="compareNationalRegionAverages">
    <div class="box-header">
        <h3 class="box-title">All Regions
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.chart}" data-ng-click="changeCompareView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.table}" data-ng-click="changeCompareView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="compare_view_to_show.chart">

                <div id="countrysRegionRatingBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="compare_view_to_show.table">

                <table class="table table-striped" >
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'headteacherAttendanceAverage'; reverse=!reverse"> Average Teacher Attendance </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse"> Status </a></th>
                    </tr>
                    <tr ng-repeat="region in regionChartData | orderBy : regionSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/region/{{region.id}}">{{ region.region }}</a></td>-->
                        <td style="text-align: left"><a href="">{{ region.name }}</a></td>
                        <td style="text-align: center" ng-show="region.headteacherAttendanceAverage">{{ region.headteacherAttendanceAverage }}%</td>
                        <td style="text-align: center" ng-hide="region.headteacherAttendanceAverage">NA</td>
                        <!--<td style="text-align: center">{{ region.position }}{{positionExtension(region.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(region.status)"> {{ region.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(region.headteacherAttendanceAverage)" style="font-size: 13px"> {{ labelStatusText(region.headteacherAttendanceAverage) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>