<!-- Custom Tabs -->
<h4 class="page-header">
    Region's School Management
</h4>
<div class="nav-tabs-custom">
<ul class="nav nav-tabs nav-justified">
    <li>
        <a data-toggle="tab" data-target="#record_books"> Record Books</a>
    </li>
    <li>
        <a data-toggle="tab" data-target="#support" > Support </a>
    </li>
    <li >
        <a data-toggle="tab" data-target="#grant" > Grant  </a>
    </li>
</ul>

<div class="tab-content">

<!-----  Record books  --- -->
<div id="record_books" class="tab-pane" >
    <div ng-include=" 'partials/templates_View/region/school_management/rg_record_books_included_in_rg_school_management.html' "></div>
</div><!-- /.tab-pane -->


<!---- Support ---->
<div id="support" class="tab-pane" >
    <div ng-include=" 'partials/templates_View/region/school_management/rg_support_types_included_in_rg_school_management.html' "></div>
</div><!-- /.tab-pane -->


<!---- Grant ---->
<div id="grant" class="tab-pane" >
    <div ng-include=" 'partials/templates_View/region/school_management/rg_grants_included_in_rg_school_management.html' "></div>
</div><!-- /.tab-pane -->


<div id="blank_tab" class="tab-pane active">
    <div class="row">
        <div class="col-sm-12">
            <p style="font-size: 24px;line-height: 20px; margin: 10%" class="text-center greyColor">
                <i class=" glyphicon glyphicon-arrow-up"></i>Please select a tab to show</p>
        </div>
    </div>
</div><!-- /.tab-pane -->


</div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->