<h4 class="page-header">
    <span ng-show="regions.length">Select a region below</span>
    <!--<a ui-sref="dashboard.add_region({action: 'add', id : 0})" ng-show="adminRight > 4 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add Region</span></a>-->
</h4>

<div class="row ng-scope">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3 class="ng-binding">
                    {{lessons_count}}
                </h3>
                <p>
                    Total Class Observation<span ng-show="selected_region.allDistrictsHolder.length != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-earth"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3 class="ng-binding">
                    {{attendance_count}}
                </h3>
                <p>Total Attendance</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-locate"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3 class="ng-binding">
                    {{pupil_aggregated_count}}
                </h3>
                <p>
                    Total Pupil Aggregated Data
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
        </div>
    </div>
</div>

<br>
<div class="alert alert-danger" ng-hide="regions.length">There are no regions in the database</div>

<div class="box box-primary" ui-view="" ng-show="regions.length">
    <div class="box-header">
        <i class="fa fa-map-marker"></i>
        <h3 class="box-title">
            Regions
        </h3>

        <div class="box-tools pull-right ">
            <div class="input-group">
                <input ng-model="searchRegion" type="text"  ng-show="adminRight > 4" placeholder="Search region" style="width: 200px;" class="form-control input-sm t" name="table_search">
                <div class="input-group-btn">

                </div>
            </div>
        </div>


    </div>
    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>

                    <th title="Click to Sort" style="text-align: center"><a href="" >Actions</a></th>
                </tr>
                <tr ng-repeat="region in regions |filter:searchRegion | orderBy : regionSortOrder : reverse">
                    <td style="text-align: left"><a ui-sref="" >{{ region.name }}</a></td>

                    <td>
                        <div class="btn-group col-sm-offset-5 col-xs-offset-3">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li  ng-show="adminRight > 3"><a ui-sref="dashboard.t1viewregionone({id : region.id})" >View Attendance</a></li>

                                    <li  ng-show="adminRight > 3"><a ui-sref="dashboard.t1viewregiontwo({id : region.id})" >View Pupil Aggregated Data</a></li>
                                </ul>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="alert alert-info" ng-hide="(regions  | filter: searchRegion).length">
            There are no more results to show.
        </div>
    </div>
</div>

