<h4 class="page-header">
    {{selected_region.name}} Region
    <small>This is a description of the current region.</small>
</h4>
<div class="row">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    {{selected_region.totalDistricts}}
                </h3>
                <p>
                    District<span ng-show="selected_region.allDistrictsHolder.length != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-earth"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#districts" anchor-scroll="districts"><!--ui-sref="dashboard.view_district"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>
                    {{selected_region.totalCircuits}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <p>
                    Circuits
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-locate"></i>
            </div>
            <a class="small-box-footer"  href="" data-toggle="tab" data-target="#circuits" anchor-scroll="circuits" ><!--ui-sref="dashboard.view_circuit"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>
                    {{selected_region.totalSchools}}
                </h3>
                <p>
                    Schools
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a class="small-box-footer"  href="" data-toggle="tab" data-target="#schools" anchor-scroll="schools"><!--ui-sref="dashboard.school.view_school"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <!--<div class="col-lg-4 col-xs-6">
        &lt;!&ndash; small box &ndash;&gt;
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3 ng-show="selected_region.rating > 0">
                    {{selected_region.rating}}
                    <sup style="font-size: 20px">%</sup>
                </h3>
                <h4 ng-hide="selected_region.rating > 0">
                    No data submitted for
                </h4>
                <p>
                    Rating
                </p>
            </div>
            <div class="icon">
                <i class="ion-star"></i>
            </div>
            <a class="small-box-footer" ui-sref="dashboard.school.view_school">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>--><!-- ./col -->
</div>


<h5 class="page-header">Region Overview Districts</h5>
<div  class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{selected_region.name}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{selected_region.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{selected_region.phone_number}}</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>Ghana</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Districts</td>
                                    <td>{{selected_region.allDistrictsHolder.length}}</td>
                                </tr>
                                <tr>
                                    <td>Circuits</td>
                                    <td>{{ selected_region.allCircuitsHolder.length }}</td>
                                </tr>
                                <tr>
                                    <td>Schools</td>
                                    <td> {{ selected_region.allSchoolsHolder.length }}</td>
                                </tr>
                                <tr>
                                    <td>Data Collectors</td>
                                    <td>{{selected_region.circuit_supervisors_holder.length + selected_region.head_teachers_holder.length }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <!--<div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Region Ratings</h3>
            </div>&lt;!&ndash; /.box-header &ndash;&gt;


            &lt;!&ndash;Key for Coloring
                     0 - 2 = red
                     3 - 4 = warning
                     5 - 6 = yellow
                     7 - 8 = aqua
                     9 - 10 = green
                     &ndash;&gt;
            &lt;!&ndash;<progressbar value="selected_region.inclusiveness"&ndash;&gt;
            &lt;!&ndash;type="{{ colourProgressBar(selected_region.inclusiveness) }}"&ndash;&gt;
            &lt;!&ndash;max="100" class="progress-striped active">&ndash;&gt;
            &lt;!&ndash;</progressbar>&ndash;&gt;

            &lt;!&ndash;<small class="pull-right" id="pbar-inclusive"> {{ selected_region.inclusiveness  }} / 100 </small>&ndash;&gt;

            <div class="box-body">
                Inclusive School Rating: <span class="pull-right"> {{ selected_region.inclusiveness  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.inclusiveness"
                                 type="{{ colourProgressBar(selected_region.inclusiveness) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Healthy School Rating<span class="pull-right">{{ selected_region.healthy  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.healthy"
                                 type="{{ colourProgressBar(selected_region.healthy) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Effective Teaching and Learning School Rating<span class="pull-right">{{ selected_region.effective_teaching_learning  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.effective_teaching_learning"
                                 type="{{ colourProgressBar(selected_region.effective_teaching_learning) }}"
                                 max="100" class="progress-striped active">
                    </progressbar>
                </div>
                Safe and Protective Rating<span class="pull-right">{{ selected_region.safe_protective  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.safe_protective"
                                 type="{{ colourProgressBar(selected_region.safe_protective) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Gender Friendly Rating<span class="pull-right">{{ selected_region.gender_friendly  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.gender_friendly"
                                 type="{{ colourProgressBar(selected_region.gender_friendly) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Community Involvement Rating<span class="pull-right">{{ selected_region.community_involvement  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_region.community_involvement"
                                 type="{{ colourProgressBar(selected_region.community_involvement) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
            </div>&lt;!&ndash; /.box-body &ndash;&gt;
        </div>&lt;!&ndash; /.box &ndash;&gt;
    </div>--><!-- /.col -->

    <div class="col-xs-12">
        <!-- recent activities box -->
        <div class="box box-warning ">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-tasks"></i> Recent Activities</h3>
                <!--<div class="box-tools pull-right" data-toggle="tooltip" title="Status">-->
                <!--<div class="btn-group" data-toggle="btn-toggle" >-->
                <!--<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>-->
                <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>-->
                <!--</div>-->
                <!--</div>-->
                <div class="box-tools pull-right">
                    <!--<ul class="pagination pagination-sm inline">-->
                    <!--<li><a href="#">«</a></li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">»</a></li>-->
                    <!--</ul>-->
                    <pagination class="sm inline pagination-sm" total-items="totalItems"
                                items-per-page="3" ng-model="currentPage" ng-change="pageChanged()"
                                boundary-links="true"
                                ng-show="regionRecentSubmissions.length"></pagination>

                </div>
            </div>
            <div class="box-body chat">
                <!-- chat item -->

                <table class="table table-striped">
                    <tbody>
                    <!-- ngRepeat: teacherAttendance in teacherAttendanceData -->
                    <tr  ng-repeat="submission in regionRecentSubmissions | limitTo : 3">
                        <td style="width: 100px;" >
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>  {{submission.updated_at | date}}  </small></td>
                        <td>
                            <p><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id})">{{schoolLookup[submission.school_id].name}} </a></p>
                            <p>
                                <strong><a ui-sref="dashboard.view_data_collector({id : submission.data_collector_id})" class="name">
                                    {{lookupDataCollector[submission.data_collector_id].first_name}}&nbsp;{{lookupDataCollector[submission.data_collector_id].last_name}}
                                    <small>{{ formatDataCollectorType[ lookupDataCollector[submission.data_collector_id].type ] }}</small>
                                </a></strong>
                            </p>
                            <p>
                                <a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id}}/{{submission.data_type_submitted}}">
                                    <span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span>
                                </a>
                            </p>
                        </td>
                        <td  class="">
                            <p class="">
                                <a title="Circuit Name" ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})" class="text-yellow">{{circuitLookup[submission.circuit_id].name}}</a>
                            </p>
                            <p class="">
                                <a title="District Name" ui-sref="dashboard.view_selected_district({id : submission.district_id})" class="text-green">{{districtLookup[submission.district_id].name}}</a>
                            </p>
                        </td>
                    </tr><!-- end ngRepeat: teacherAttendance in teacherAttendanceData -->
                    </tbody>
                </table>

                <div class="box-body" ng-hide="regionRecentSubmissions.length">

                    <p style="margin: 50px 0; font-size: 21px" class="text-center greyColor">
                        <i class="fa fa-warning"></i> No activity under this region
                    </p>
                </div>

            </div><!-- /.item -->

        </div><!-- /.chat -->


    </div><!-- /.box (recent activities box) -->

</div><!-- /.col -->


<h5 class="page-header">Region Data</h5>

<div class="row">
<div class="col-sm-12">
<!-- Custom Tabs -->
<div class="nav-tabs-custom">
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" data-target="#stats" href="">Statistics</a></li>
    <li><a data-toggle="tab" data-target="#data" href="">School Report Card</a></li>
    <li><a data-toggle="tab" data-target="#districts" href="">Districts</a></li>
    <li><a data-toggle="tab" data-target="#circuits" href="">Circuits</a></li>
    <li><a data-toggle="tab" data-target="#schools" href="">Schools</a></li>
    <li><a data-toggle="tab" data-target="#datacollectors" href="">Data Collectors</a></li>

    <li class="pull-right dropdown hidden">
        <a class="text-muted dropdown-toggle" href="" data-toggle="dropdown">
            <i class="fa fa-gear"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Region</a></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Configurations</a></li>
            <li class="divider" role="presentation"></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Go back</a></li>
        </ul></li>
</ul>
<div class="tab-content">


<!--------------------                     Region's Stats           --------------------------------------->
    <div id="stats" class="tab-pane active">
        <div ng-include="'partials/templates_View/region/region_statistics_analytics.html'"></div>
    </div>


<!--------------------                     Region's Data           --------------------------------------->
    <div id="data" class="tab-pane">
        <div class="box-no-shadow box-danger">
            <div class="box-header">
                <h3 class="box-title page-header">Region SRC</h3>
                <div class="box-tools pull-right">

                    <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" >
                    <!--Region rating -->
                    <!--<div class="col-lg-2 col-xs-4">
                        <div class="small-box bg-yellow pointer" data-ng-click="$state.go('dashboard.view_selected_region.rating_view')"
                             ng-class="{'active' : $state.is('dashboard.view_selected_region.rating_view') }">
                            <div class="inner">
                                <h3 ng-show="selected_region.rating > 0">
                                    {{selected_region.rating}}
                                    <sup style="font-size: 20px">%</sup>
                                </h3>
                                <h4 ng-hide="selected_region.rating > 0">
                                    Incomplete<br>data for
                                </h4>
                                <p>
                                    Region<br>Rating
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-android-star"></i>
                            </div>
                            <a class="small-box-footer" ui-sref="dashboard.view_selected_region.rating_view">
                                Click to View <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>--><!-- ./col -->
                    <!-- Total Number of Teachers in Region-->
                    <div class="col-md-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-maroon" ng-class="{'active' : $state.is('dashboard.view_selected_region.teachers') }">
                            <div class="inner">
                                <h3>
                                    {{ teacherSummaryData.teachersInfo.length || '0' }}
                                    <sup style="font-size: 20px; margin-left: 20px" ng-if="loadingTeachers"><i class="fa fa-spinner fa-spin"></i></sup>
                                </h3>
                                <p>
                                    Teacher<br>Population
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-android-social-user"></i>
                            </div>
                            <a class="small-box-footer" ng-if="!loadingTeachers" ui-sref="dashboard.view_selected_region.teachers">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div><!-- ./col -->
                    <!--Supervisor Attendance Average -->
                    <!--<div class="col-lg-2 col-xs-4">
                        &lt;!&ndash; small box &ndash;&gt;
                        <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_region.cs_attendance_average') }">
                            <div class="inner">
                                <h3 ng-show="selected_region.supervisorAttendanceAverage > 0">
                                    {{selected_region.supervisorAttendanceAverage}}
                                    <sup style="font-size: 20px">%</sup>
                                </h3>
                                <h4 ng-hide="selected_region.supervisorAttendanceAverage > 0">
                                    No data <br> submitted for
                                </h4>
                                <p>
                                    Average Teacher <br>Attendance (CS)
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a class="small-box-footer" ui-sref="dashboard.view_selected_region.cs_attendance_average">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>--><!-- ./col -->
                    <!--Heat Teacher Attendance Average -->
                    <div class="col-md-3 col-xs-6 hidden">
                        <!-- small box -->
                        <div class="small-box bg-light-blue pointer" ng-class="{'active' : $state.is('dashboard.view_selected_region.ht_attendance_average') }">
                            <div class="inner">
                                <h3 ng-show="selected_region.headteacherAttendanceAverage > 0">
                                    {{ selected_region.headteacherAttendanceAverage }}
                                    <sup style="font-size: 20px">%</sup>
                                </h3>
                                <h4 ng-hide="selected_region.headteacherAttendanceAverage > 0">
                                    No data <br> submitted for
                                </h4>
                                <p>
                                    Average Teacher <br>Attendance (HT)
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a class="small-box-footer" ui-sref="dashboard.view_selected_region.ht_attendance_average">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div><!-- ./col -->
                    <!-- Total Number of Students in District by CS-->
                    <div class="col-md-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green pointer" ng-class="{'active' : $state.is('dashboard.view_selected_region.schools_stats_weekly') }">
                            <div class="inner">
                                <h3 class="no-min-height">
                                    <!--{{ totalStudentsInDistrict_cs }}-->
                                    <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                </h3>
                                <p>
                                    Student <br>
                                    Enrollment  /<br>
                                    Attendance  /<br>
                                    Statistics <b>(Weekly)</b>
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-android-social-user"></i>
                            </div>
                            <a class="small-box-footer" ui-sref="dashboard.view_selected_region.schools_stats_weekly">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div><!-- ./col -->
                    <!-- Exams Score and Textbooks Termly-->
                    <div class="col-md-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-olive pointer" ng-class="{'active' : $state.is('dashboard.view_selected_region.schools_stats_termly')} ">
                            <div class="inner">
                                <h3 class="no-min-height">
                                    <!--{{ totalStudentsInDistrict_ht }}-->
                                    <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                </h3>
                                <p>
                                    Student <br>
                                    Exam Score  /<br>
                                    Textbooks  /<br>
                                    Statistics <b>(Termly)</b>
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-android-social-user"></i>
                            </div>
                            <a class="small-box-footer" ui-sref="dashboard.view_selected_region.schools_stats_termly">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div><!-- ./col -->
                    <!--Other Termly Sessions-->
                    <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_region.other_termly">
                        <!-- small box -->
                        <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_region.other_termly') }">
                            <div class="inner" >
                                <h3 class="no-min-height">
                                    <!--{{ totalStudentsInDistrict_cs }}-->
                                    <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                </h3>
                                <p>
                                    Other <br>
                                    School <br>
                                    Termly <br>
                                    Sections
                                </p>
                            </div>
                            <div class="icon hidden-lg">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a class="small-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->



                    <!--//Ui view when the box is clicked-->
                    <div class="col-sm-12"  ui-view=""></div>
                </div>



            </div><!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <!--<div class="overlay" ></div>-->
            <!--<div class="loading-img"  style="padding: 50px"></div>-->
            <!-- end loading -->
        </div>
    </div>






<!--------------------                     Region's Districts           --------------------------------------->

<div id="districts" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_region.allDistrictsHolder">
            <h4 class="box-title page-header">Districts
                <div class="pull-right dropdown hidden">
                      <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                          <i class="fa fa-gear"></i>
                          <span class="caret"></span>
                      </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                </div>
            </h4>
            <aside class="box-tools">
                <span>Total in region: {{selected_region.allDistrictsHolder.length}}</span>
                <input type="text" placeholder="Search district" ng-model="regionDistricts" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_region.allDistrictsHolder">
                <thead>
                <tr class="bg-yellow">
                    <td>Name of District</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">Number of Circuits</td>
                    <td class="horizontal_vertical_center">Number of Schools</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="district in selected_region.allDistrictsHolder | filter : regionDistricts">
                    <td><a ui-sref="dashboard.view_selected_district({id : district.id})">{{district.name}}</a></td>
                    <!--<td class="horizontal_vertical_center">{{district.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{ district.totalCircuits}}</td>
                    <td class="horizontal_vertical_center">{{district.totalSchools}}</td>
                    <td class="horizontal_vertical_center">{{district.updated_at}}</td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_region.allDistrictsHolder">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No district under this region.</p>
            </div>

        </div>
    </div><!--Box-->
</div><!-- /.tab-pane -->

<!--------------------                     Region's Circuits           --------------------------------------->

<div id="circuits" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_region.allCircuitsHolder">
            <h4 class="box-title page-header">Circuits
                            <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in region: {{selected_region.allCircuitsHolder.length}}</span>
                <input type="text" placeholder="Search circuit" ng-model="regionCircuits" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_region.allCircuitsHolder">
                <thead>
                <tr class="bg-primary">
                    <td>Name of Circuit</td>
                    <td class="horizontal_vertical_center">Name of Circuit Supervisor</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">District</td>
                    <td class="horizontal_vertical_center">Number of Schools</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="circuit in selected_region.allCircuitsHolder | filter : regionCircuits">
                    <td><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">{{circuit.name}}</a></td>
                    <td class="horizontal_vertical_center">{{ circuit.circuitSupervisor.name}}</td>
                    <!--<td class="horizontal_vertical_center">{{ circuit.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{ circuit.districtName }}</td>
                    <td class="horizontal_vertical_center">{{ circuit.totalSchools }}</td>
                    <td class="horizontal_vertical_center">{{ circuit.updated_at }}</td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_region.allCircuitsHolder ">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No circuit under this region.</p>
            </div>

        </div>
    </div>
</div><!-- /.tab-pane -->

<!--------------------                     Region's Schools           --------------------------------------->

<div id="schools" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_region.allSchoolsHolder ">
            <h4 class="box-title page-header">Schools
                            <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in region: {{selected_region.allSchoolsHolder.length}}</span>
                <input type="text" placeholder="Search school" ng-model="regionSchools" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_region.allSchoolsHolder ">
                <thead>
                <tr class="bg-green">
                    <td>Name of School</td>
                    <td class="horizontal_vertical_center">Head Teacher</td>
                    <td class="horizontal_vertical_center">Circuit Supervisor</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">Circuit</td>
                    <td class="horizontal_vertical_center">District</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                    <td class="horizontal_vertical_center hidden">Actions</td>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="school in selected_region.allSchoolsHolder  | filter : regionSchools">
                    <td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>
                    <td class="horizontal_vertical_center">{{lookupDataCollector[school.headteacher_id].name }}</td>
                    <td class="horizontal_vertical_center">{{ lookupDataCollector[school.supervisor_id].name }}</td>
                    <!--<td class="horizontal_vertical_center">{{school.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{circuitLookup[school.circuit_id].name}}</td>
                    <td class="horizontal_vertical_center">{{districtLookup[school.district_id].name}}</td>
                    <td class="horizontal_vertical_center">{{school.updated_at}}</td>
                    <td class="hidden"><button class="btn btn-sm btn-default">Action <i class="fa fa-angle-down"></i></button></td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_region.allSchoolsHolder ">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No school under this region</p>
            </div>

        </div>
    </div>
</div><!-- /.tab-pane -->

<!--------------------                     Region's Data Collectors           --------------------------------------->
<div id="datacollectors" class="tab-pane">
    <div class="box-no-shadow box-danger">
        <div class="box-header">
            <h4 class="box-title page-header">Data Collectors
                            <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href=""   send-message="" size="sm" model="region" quantity="all" selected-model="selected_region" multiple-data-collectors="dataCollectors_to_send_messages_to"       tabindex="-1" role="menuitem">Message All DataCollectors</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" data-ng-click="selectMultiple = !selectMultiple">Message Multiple</a></li>
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>-->
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>-->
                    </ul>
                            </span>
            </h4>
            <!--<div class="box-tools pull-right" style="margin-bottom: 10px">-->
            <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
            <!--</div>-->
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Navigation - folders-->
                    <div style="margin-top: 15px;">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="header">Total : {{regionLookup[selected_region.id].circuit_supervisors  + regionLookup[selected_region.id].head_teachers  }}</li>
                            <!--<li class="">-->
                            <!--<a >-->
                            <!--<i class="fa fa-users"></i> All Data Collectors</a>-->
                            <!--</li>-->
                            <!--<li class="" >-->
                            <!--<a >-->
                            <!--<i class="fa fa-user"></i> Circuit Supervisors</a>-->
                            <!--</li>-->
                            <!--<li class="" >-->
                            <!--<a>-->
                            <!--<i class="fa fa-user"></i> Head Teachers</a>-->
                            <!--</li>-->

                        </ul>
                        <tabset vertical="true" type="pills">
                            <tab select="showDataCollectors('all')">
                                <tab-heading>
                                    <i class="fa fa-users"></i> All Data Collectors
                                </tab-heading>
                            </tab>
                            <tab select="showDataCollectors('supervisor')">
                                <tab-heading>
                                    <i class="fa fa-user"></i> Circuit Supervisors
                                </tab-heading>
                            </tab>
                            <tab select="showDataCollectors('headteacher')">
                                <tab-heading>
                                    <i class="fa fa-user"></i> Head Teachers
                                </tab-heading>
                            </tab>
                        </tabset>
                    </div>


                </div>
                <div class="col-sm-9" ng-show="regionDataCollectors">
                    <span ng-show="selectMultiple" style="margin-bottom: 5px">
                    <button ng-show="dataCollectors_to_send_messages_to.length > 1"
                            class="btn btn-warning"
                            send-message=""
                            size="lg" model="region"
                            quantity="multiple"
                            selected-model="selected_region"
                            multiple-data-collectors="dataCollectors_to_send_messages_to"
                    >Send message to multiple</button>
                        </span>
                    <table class="table table-bordered table-striped" ng-show="regionDataCollectors">
                        <thead>
                        <tr class="bg-green">
                            <td ng-show="selectMultiple">Select</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>District</td>
                            <td>Circuit</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="collector in regionDataCollectors">
                            <!--<td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>-->
                            <td ng-show="selectMultiple"><input type="checkbox" data-ng-click="addRemoveCollector(collector.id)"></td>
                            <td>{{collector.name }}</td>
                            <td>{{ formatDataCollectorType [collector.type ] }}</td>
                            <td>{{ districtLookup [ collector.district_id ].name }}</td>
                            <td>{{ circuitLookup [ collector.circuit_id ].name }}</td>
                            <td>
                                <div class="btn-group">
                                    <div class="btn-group" dropdown>
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ui-sref="dashboard.view_data_collector({id : collector.id})">View Details</a></li>
                                            <li><a href=""  send-sms-modal="" size="md"
                                                   selected-model="lookupDataCollector[collector.id]" multiple-data-collectors="">Send Message</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <div class="col-sm-9">
                    <div ng-hide="regionDataCollectors">
                        <p style="margin: 5% 30%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No data collectors under this region</p>
                    </div>
                </div>
            </div>


        </div><!-- /.box-body -->
    </div>
</div><!-- /.tab-pane -->


<!--------------------                     Region's Miscelaneos           --------------------------------------->
<div id="miscellaneous" class="tab-pane">
    <div class="box-no-shadow box-danger">
        <div class="box-header">
            <h3 class="box-title hidden">Miscellaneous</h3>
            <div class="box-tools pull-right hidden">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body">
            <p style="color: darkgrey; margin: 5% 33%; font-size: 20px">
                Content loading, please move to other tabs.
            </p>
        </div><!-- /.box-body -->
        <!-- Loading (remove the following to stop the loading)-->
        <div class="overlay" ></div>
        <div class="loading-img"  style="padding: 50px"></div>
        <!-- end loading -->
    </div>
</div><!-- /.tab-pane -->
</div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
</div>
</div>
