<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"> {{ paramAction() }} District</h3>

        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm pull-right" data-ng-click="goBackInHistory()">Cancel</button>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" data-ng-submit="processForm()">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="district_name">Name of District  <em>*</em></label>
                    <input type="text" class="form-control" id="district_name" placeholder="Enter name of district" ng-model="formData.district_name">
                </div>

                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label for="region_select">Region</label>
                        <select name="region_select" id="region_select" class="form-control"
                                ng-model="formData.region"
                                ng-options="region.id as region.name for region in regions">
                            <option value="" selected>Select a Region</option>
                            <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                        </select>
                    </div>
                </div>



                <div class="form-group col-sm-12">
                    <label for="brief_description">Brief Description  <em>*</em></label>
                    <textarea class="form-control" id="brief_description" placeholder="A brief description of the district"  ng-model="formData.description"></textarea>
                </div>
                <div class="form-group col-sm-4">
                    <label for="email">District's Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter optional email address of the district" ng-model="formData.district_email">
                </div>

                <div class="form-group col-sm-4">
                    <label for="phone">District's Phone Number <em>*</em></label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number of the district or head teacher" ng-model="formData.district_phone_number">
                </div>

                <div class="form-group col-sm-4">
                    <label for="district_location">District Centre <em>*</em></label>
                    <input type="text" class="form-control" id="district_location" placeholder="Enter centre town of district" ng-model="formData.district_location">
                </div>

            </div>
        </div>

        <div class="row" style="margin-right : 5px">
            <div class="pull-right">
                <button class="btn btn-warning" type="reset">Reset</button>
                <button type="submit" class="btn btn-success" ng-show="paramAction() == 'Add' "> {{ paramAction() }}  District</button>
                <button type="submit" class="btn btn-success" ng-show="paramAction() == 'Edit' "> Save Changes </button>
            </div>
        </div>
    </form>
</div><!-- /.box -->

<!--<div class="box">-->
            <!--<pre>-->
		<!--{{ formData  |  json }}-->
	<!--</pre>-->
<!--</div>-->