<h3 class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <!--<small>{{selected_district.description}}</small>-->District Teacher Attendance Average (HT)
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right"  ng-show="tempArray.length">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Options  <span class="caret"></span>
                    <span class="sr-only">Rating Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li ng-show="districtAverage"><a href="" class="pointer" data-ng-click="compareAverages()">Compare District Averages</a></li>
                    <li  ng-show="compareRegionDistrictAverages"><a href="" class="pointer" data-ng-click="singleAverage()">District Average</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</h3>

<div class="box-no-shadow box-solid " ng-show="districtAverage">
    <div class="box-header" ng-show="tempArray">
        <h3 class="box-title">District's Schools
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status" >
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="(tempArray.length) && (view_to_show.chart)">

                <div id="districtHtAttendanceBarChart" style="width: 100%; height: 500px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">
                <div class="btn-group pull-right"  target="districtHtAttendanceTable"></div>

                <table export-table class="table table-striped" id="districtHtAttendanceTable" ng-init="districtSortOrder = 'current_teacher_attendance_by_headteacher'; reverse=true">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">School</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'current_teacher_attendance_by_headteacher'; reverse=!reverse">Teacher Attendance Average </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-init="doReset()" ng-repeat="school in selected_district.allSchoolsHolder | orderBy : districtSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/school/{{district.id}}">{{ district.district }}</a></td>-->
                        <td ui-sref="dashboard.school.view_selected_school({id : school.id , district_id : school.district_id })">{{ school.name  || 'Unavailable' }}</td>

                        <td style="text-align: center" ng-show="school.current_teacher_attendance_by_headteacher">{{ school.current_teacher_attendance_by_headteacher }}%</td>
                        <td style="text-align: center" ng-hide="school.current_teacher_attendance_by_headteacher">NA</td>
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(school.current_teacher_attendance_by_headteacher)" style="font-size: 13px"> {{ labelStatusText(school.current_teacher_attendance_by_headteacher) }} </span></td>
                    </tr>
                </table>

            </div>

            <div ng-hide="tempArray">
                <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                    </i>  No schools registered under this district</p>
            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>

<div class="box-no-shadow box-solid " ng-show="compareRegionDistrictAverages">
    <div class="box-header">
        <h3 class="box-title">Regional Districts
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="view_to_show.chart">

                <div id="regionsDistrictAverageBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">

                <table class="table table-striped" ng-init="districtSortOrder = 'headteacherAttendanceAverage'; reverse=true">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'headteacherAttendanceAverage'; reverse=!reverse"> Average Teacher Attendance </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse"> Status </a></th>
                    </tr>
                    <tr ng-repeat="district in districtChartData | orderBy : districtSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/district/{{district.id}}">{{ district.district }}</a></td>-->
                        <td style="text-align: left"><a href="">{{ district.name }}</a></td>
                        <td style="text-align: center" ng-show="district.headteacherAttendanceAverage">{{ district.headteacherAttendanceAverage }}%</td>
                        <td style="text-align: center" ng-hide="district.headteacherAttendanceAverage">NA</td>
                        <!--<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(district.headteacherAttendanceAverage)" style="font-size: 13px"> {{ labelStatusText(district.headteacherAttendanceAverage) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>