<div class="box-no-shadow box-danger" ng-controller="scViewSelectedDistrictSchoolsStatsController">
    <div class="box-header">
        <h3 class="box-title page-header">Statistics/Analytics
            <div class="box-tools pull-right" ng-show="isNotVirgin">
                <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-primary btn-sm" ng-click="downloadPDF()"><i class="fa fa-download"></i> &nbsp; Export PDF</button>
            </div>
        </h3>


    </div>
    <div class="box-body">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <!--<p class="col-sm-12">Select a period to see summary</p>-->
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="academic_year">Academic Year</label>
                        <!--ng-options="district.name for district in districts track by district.id"-->
                        <select name="academic_year" id="academic_year" class="form-control"
                                ng-model="summary_year" ng-options="year for year in districtYears">
                            <option value="">Select year</option>

                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="term">Term</label>
                        <!--ng-options="district.name for district in districts track by district.id"-->
                        <select name="term" id="term" class="form-control"
                                ng-model="summary_term"
                                ng-options="term.value as term.label for term in districtTerms">
                            <option value="">Select term</option>

                        </select>
                    </div>
                    <!--<div class="form-group col-md-3 col-xs-6">-->
                    <!--<label for="week">Week</label>-->
                    <!--<select name="week" id="week" class="form-control"-->
                    <!--ng-model="$parent.summary_week" ng-options="week as week for week in districtWeeks" >-->
                    <!--</select>-->
                    <!--</div>-->
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="actions">Actions</label><br>
                        <div class="row" style="padding-left: 0 !important;">
                            <div class="btn-group col-xs-12">

                                <button data-ng-disabled="loading" id="actions" data-ng-click="loadDistrictStats()" class="btn btn-info col-md-12 col-xs-12" style="padding-left: 0 !important;">
                                    Load<span ng-if="loading">ing</span> Data
                                </button>
                                <!--<button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loading" data-toggle="dropdown">-->
                                <!--<span class="caret"></span> <span class="sr-only">Other Load Options</span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu dropdown-menu-right">-->
                                <!--<li data-ng-click="loadDistrictStats()"><a href="">Load Set Period</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>-->
                                <!--<li class="divider" ng-show="showTrend"></li>-->
                                <!--<li data-ng-click="doMultipleEnrolmentUpdates()" ng-show="showTrend"><a href="">Update Enrollment Totals</a></li>-->
                                <!--</ul>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">General Statistics</h3>
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info ">
                        <h3>{{ selected_district.totalSchools || 0 }} Schools</h3>
                        <p>Schools in district</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning">
                        <h3>{{ selected_district.head_teachers_holder.length || 0}}</h3>
                        <p>Headteachers in district</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ teacherSummaryData.districtInfo.teachers_total || 0}} Teachers</h3>
                        <p>Teachers in district</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ selected_district.totalCircuits || 0 }} Circuits</h3>
                        <p>Circuits in district</p>
                    </div>
                </div>
            </div>




            <h3 class="box-title page-header" ng-show="isNotVirgin">Pupil Analytics</h3>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" >
                        <h3>{{ (districtEnrollmentTotals.total_pupils || 0) | number : 0}} </h3>
                        <p>Total Enrollment<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-success">
                        <h3>{{ (districtAttendanceTotals.attendance_ratio )|| 0 }}%</h3>
                        <p>Student Attendance Rate<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{  districtEnrollmentTotals.total_male | number : 0}} <small class="smaller">BOYS</small> | {{ districtEnrollmentTotals.total_female | number : 0}} <small class="smaller">GIRLS</small></h3>
                        <p>Boys | Girls Enrolled<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-info">
                        <h3>{{  districtSpecialEnrollmentTotals.total_male | number : 0 }} <small class="smaller">BOYS</small> | {{ districtSpecialEnrollmentTotals.total_female | number : 0}} <small class="smaller">GIRLS</small></h3>
                        <p>Special Need Students Enrolled</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div ng-show="enrollmentBarChart.chartData.length" class="chart-container" style="position: relative; width:100%">
                        <canvas id="barChart" width="400" height="300" style="width: 100%; height: 300px"></canvas>
                    </div>
                </div>

            </div>


            <div class="row" ng-show="districtPerformanceTotals.loaded && isNotVirgin" style="margin-top: 30px">
                <div class="col-xs-12 col-sm-6" style="margin-top: 20px">
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="horizontalBarChart" width="400" height="350" style="width: 100%; height: 350px"></canvas>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="alert alert-grey">
                        <h3>Average Performance of Pupils by Class</h3>
                        <div class="table-responsive">
                            <table class="margin-bottom-0 table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <td>Class</td>
                                    <td class="horizontal_vertical_center">GH. Lang</td>
                                    <td class="horizontal_vertical_center">English</td>
                                    <td class="horizontal_vertical_center">Math</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>KG1</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['KG1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>KG2</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['KG2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P1</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P2</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P3</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P3'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P4</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P4'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P5</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P5'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P6</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['P6'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS1</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS2</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS3</td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.gh_lang.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.english.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ districtPerformanceTotals.math.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--<span am-pie-chart="[]"  chart-title="Test The Pie See">Test</span>-->

                </div>
            </div>


            <h3 class="box-title page-header" ng-show="isNotVirgin">Teacher Analytics</h3>
            <!--Teacher Attendance Ratio-->
            <!--Pupil Teacher Ratio-->
            <!--Percentage of Trained Teacher-->
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" ng-show="teacherSummaryData.districtInfo.trained">
                        <h3>{{  teacherSummaryData.districtInfo.percentage_trained || 0}} <sup ng-if="teacherSummaryData.districtInfo.trained">%</sup></h3>
                        <p>Percentage of Trained Teachers</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3 ng-show="pupilTeacherRatio">{{ pupilTeacherRatio }} : 1</h3>
                        <h3 ng-hide="pupilTeacherRatio">-</h3>
                        <p>Pupil Teacher Ratio<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info">
                        <h3>{{ (districtTeacherAttendanceTotals.attendanceRatio | currency : '' : 0) || 0 }} <sup ng-show="districtTeacherAttendanceTotals.attendanceRatio">%</sup></h3>
                        <p>Teacher Attendance Rate<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ districtTeacherAttendanceTotals.total_above_50 || 0 }}</h3>
                        <p>Schools with Teacher Punctuality above 50%</p>
                    </div>
                </div>
            </div>



            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ teacherSummaryData.districtInfo.studyleave || 0 }} <sup> / {{ teacherSummaryData.districtInfo.teachers_total }}</sup></h3>
                        <p>On Study Leave</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ teacherSummaryData.districtInfo.otherleave || 0 }} <sup> / {{ teacherSummaryData.districtInfo.teachers_total }}</sup></h3>
                        <p>On Other Leave</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-warning">
                        <h3>{{ teacherSummaryData.districtInfo.retired || 0 }} <sup> / {{ teacherSummaryData.districtInfo.teachers_total }}</sup></h3>
                        <p>on Retirement</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-info">
                        <h3>{{ teacherSummaryData.districtInfo.deceased || 0 }} <sup> / {{ teacherSummaryData.districtInfo.teachers_total }}</sup></h3>
                        <p>Deceased</p>
                    </div>
                </div>

            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">District's Schools Analytics</h3>
            <!--

            Percentage of Schools with Adequately Marked exercises
            Percentage of Schools with Record Books
            Percentage of Schools that Received Grant
            Percentage of Schools that received support in kind, in cash, both or none
            Percentage of Schools with Adequate Furniture
            Percentage of Schools with a good school structure
            Percentage of Schools with Sanitation Facilities
            Percentage of Schools with Functional Sanitation Facilities
            Percentage of Schools with Recreational Facilities
            Percentage of Schools with Functional Recreational Facilities
            Percentage of Schools with Security Facilities
            Percentage of Schools that hold meetings
            Percentage of Schools with active community participation
            -->
            <div class="row" ng-show="isNotVirgin" >
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info" >
                        <h3>{{ districtTeacherAttendanceTotals.adequately_marked_schools || 0 }} <sup ng-show="districtTeacherAttendanceTotals.adequately_marked_schools">%</sup></h3>
                        <p>Percentage of Schools with Exercises Marked <br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ districtRecordBooks.percentage_of_schools_with_books || 0 }} <sup ng-show="districtRecordBooks.percentage_of_schools_with_books">%</sup></h3>
                        <p>Percentage of Schools with Record Books<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger" >
                        <h3>{{ districtGrantStuff.percentage_received || 0 }} <sup ng-show="districtGrantStuff.percentage_received">%</sup></h3>
                        <p>Percentage of Schools that Received Grant<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning ">
                        <h3>{{ districtSupportStuff.percentage_received_support || 0 }} <sup ng-show="districtSupportStuff.percentage_received_support">%</sup></h3>
                        <p>Percentage of Schools that received support (kind, cash or both)</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning ">
                        <h3>{{ districtFurniture.adequate_percentage || 0}}<sup ng-show="districtFurniture.adequate_percentage">%</sup></h3>
                        <p>Percentage of Schools with Adequate Furniture</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ districtStructure.good_percentage || 0}}<sup ng-show="districtStructure.good_percentage">%</sup></h3>
                        <p>Percentage of Schools with a Good School Structure</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info">
                        <h3>{{ districtSanitation.available_percentage || 0}} <sup ng-show="districtSanitation.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Sanitation Facilities</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success ">
                        <h3>{{ districtRecreation.available_percentage || 0}}<sup ng-show="districtRecreation.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Recreational Facilities</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-success">
                        <h3>{{ districtSecurity.available_percentage || 0}} <sup ng-show="districtSecurity.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Security Facilities<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-warning ">
                        <h3>{{ districtMeeting.frequency_percentage || 0}} <sup ng-show="districtMeeting.frequency_percentage">%</sup></h3>
                        <p>Percentage of Schools that Hold Meetings<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-info ">
                        <h3>{{ districtCommInvolvement.good_percentage || 0}} <sup ng-show="districtCommInvolvement.good_percentage">%</sup></h3>
                        <p>Percentage of Schools with Active Community Participation</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!isNotVirgin" style="margin: 80px 0">
                <h3 class="horizontal_vertical_center text-muted">Tap to load statistics for {{ selected_district.name}} district</h3>
            </div>

            <!--<div style="width:75%;">-->
            <!--<canvas id="myChart" width="300" height="300"></canvas>-->
            <!--</div>-->

        </div>
    </div><!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-show="loading"></div>
    <div class="loading-img" ng-show="loading"  style="padding: 50px"></div>
    <!-- end loading -->
</div>

