<div class="row">
    <div class="col-sm-12">
        <!--<h3 class="page-header">-->
        <!--<span class="row">-->
        <!--<span class="col-sm-10">-->
        <!--&lt;!&ndash;<small>{{selected_district.description}}</small>&ndash;&gt;Student Attendance Summary-->
        <!--</span>-->
        <!--<span class="col-sm-2">-->
        <!--<div class="btn-group pull-right hidden" >-->
        <!--&lt;!&ndash;<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>&ndash;&gt;-->
        <!--<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">-->
        <!--Options  <span class="caret"></span>-->
        <!--<span class="sr-only">Dropdown</span>-->
        <!--</button>-->
        <!--<ul role="menu" class="dropdown-menu">-->
        <!--<li ng-show="districtAverage" class=""><a href="" class="pointer" data-ng-click="compareAverages()">Compare District Averages</a></li>-->
        <!--<li ng-show="compareRegionDistrictAverages" class="ng-hide"><a href="" class="pointer" data-ng-click="singleAverage()">District Average</a></li>-->
        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;-->
        <!--</ul>-->
        <!--</div>-->
        <!--</span>-->
        <!--</span>-->
        <!--</h3>-->
        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-xs-6">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in districtYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="term">Term</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in districtTerms">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in districtWeeks" >
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6 hidden">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button data-ng-disabled="loadingSummary" id="actions" data-ng-click="fetchSummaryData()" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Load<span ng-if="loadingSummary">ing</span> Data
                    </button>
                    <button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loadingSummary" data-toggle="dropdown">
                        <span class="caret"></span> <span class="sr-only">Other Load Options</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-ng-click="fetchSummaryData()"><a href="">Load Set Period</a></li>
                        <li class="divider"></li>
                        <li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>
                        <!--<li class="divider" ng-show="showTrend"></li>-->
                        <!--<li data-ng-click="doMultipleAttendanceUpdates()" ng-show="showTrend"><a href="">Update Attendance Totals</a></li>-->
                    </ul>

                </div>
            </div>
        </div>


        <!--Summary Table-->
        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="attendanceSummaryData.schoolInfo">
                    <h3 class="box-title">Attendance Information
                        <div title=""  class="box-tools pull-right hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>

                <div class="clearfix"></div>
                <div ng-hide="showTrend" class="box-body" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-if="(attendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p>District Totals</p>

                            <table class="table table-bordered">
                                <tr class="bg-info">
                                    <td class="horizontal_vertical_center">Total Attendance</td>
                                    <td class="horizontal_vertical_center">Days in Session</td>
                                    <td class="horizontal_vertical_center">Total Boys</td>
                                    <td class="horizontal_vertical_center">Special Need Boys</td>
                                    <td class="horizontal_vertical_center">Total Girls</td>
                                    <td class="horizontal_vertical_center">Special Need Girls</td>
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].all_total    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].days_in_session    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].boys_total    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].special_boys    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].girls_total    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-primary h2 pad-10"> {{ attendanceSummaryData.districtInfo[$parent.summary_data_collector_type].special_girls    }}</span></td>
                                </tr>

                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(attendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="col-sm-6 pull-left">Per School Breakdown</p>
                            <div class="btn-group pull-right">
                                &nbsp;<button class="btn btn-warning attendanceSummaryData pull-right btn-sm" export-table="attendanceSummaryData" file-name="{{selected_district.name + ' Attendance WK' + summary_week + ' ' + summary_term + ' ' + summary_year}}">Begin Weekly Export</button>

                                <button class="btn-primary btn btn-sm"  ng-click="showTrend = !showTrend; fetchAggregatedData()">Show Trend</button>
                            </div>
                            <table class="table table-bordered table-striped" id="attendanceSummaryData" ng-show="attendanceSummaryData.schoolInfo">
                                <thead>
                                <tr class="bg-blue">
                                    <td class="">School</td>
                                    <td class="horizontal_vertical_center">Circuit</td>
                                    <td class="horizontal_vertical_center" >Boys</td>
                                    <td class="horizontal_vertical_center" >Girls</td>
                                    <td class="horizontal_vertical_center" >Total</td>
                                    <td class="horizontal_vertical_center">Special Boys</td>
                                    <td class="horizontal_vertical_center">Special Girls</td>
                                    <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr class="bg-gray">-->
                                <!--<td class=""></td>-->
                                <!--<td class=""></td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--<td class="horizontal_vertical_center">Special</td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--<td class="horizontal_vertical_center">Special</td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--&lt;!&ndash;<td class="horizontal_vertical_center">Total Registered</td>&ndash;&gt;-->
                                <!--</tr>-->
                                <tr ng-repeat="attendance in attendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}">
                                    <td><a ui-sref="dashboard.school.view_selected_school({id : attendance.school_id, district_id : attendance.district_id })">{{  schoolLookup[attendance.school_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center"><a ui-sref="dashboard.view_selected_circuit.schools_stats_weekly({id : attendance.circuit_id })">{{  circuitLookup[attendance.circuit_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center">{{attendance.normal_attendance_total_boys}}</td>
                                    <td class="horizontal_vertical_center">{{attendance.normal_attendance_total_girls}}</td>
                                    <td class="horizontal_vertical_center">{{attendance.normal_attendance_total_students}}</td>
                                    <td class="horizontal_vertical_center">{{attendance.special_attendance_total_boys}}</td>
                                    <td class="horizontal_vertical_center">{{attendance.special_attendance_total_girls}}</td>
                                    <td class="horizontal_vertical_center tableexport-ignore"><button class="btn btn-default btn-sm center-block" attendance-preview="attendance">Preview Data</button> </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>

                        <div ng-if="attendanceSummaryData.schoolInfo.length" ng-hide="(attendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>


                        <div style="margin: 7% 0; font-size: 23px" ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="attendanceSummaryData.schoolInfo">
                            <p class="text-center" ><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>


                <!--The termly trend-->
                <div class="box-body" ng-show="showTrend" style="min-height: 200px;">
                    <div class="row">
                        <div ng-show="availableWeeksInTerm.length" class="col-sm-12">

                            <div class="col-sm-12">
                                <p class="row page-header" style="font-size: 16px">
                                    <small class="col-sm-6 text-center">Year : <b class="showing_weekly_year">{{ showing_weekly_year }}</b></small>
                                    <small class="col-sm-6 text-center">Term : <b class="showing_weekly_term">{{ showing_weekly_term }}</b></small>
                                    <!--<small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"> {{ showing_weekly_week }}</b></small>-->
                                </p>

                                <p>District Totals</p>

                                <table class="table table-bordered">
                                    <tr class="bg-info">
                                        <td class="horizontal_vertical_center" colspan="2">Term's Total Days in Session</td>
                                        <td class="horizontal_vertical_center" colspan="2">Term's Expected Attendance</td>
                                        <td class="horizontal_vertical_center" colspan="3">Term's Student Attendance Rate</td>
                                    </tr>
                                    <tr class="">
                                        <td class="horizontal_vertical_center" colspan="2"><span class="label label-primary h2 pad-10"> {{ studAttendanceTotal.days_in_session    }}</span></td>
                                        <td class="horizontal_vertical_center" colspan="2"><span class="label label-primary h2 pad-10"> {{ studAttendanceTotal.actualAttendance  + " / " + studAttendanceTotal.expectedAttendance }}</span></td>
                                        <td class="horizontal_vertical_center" colspan="3"><span class="label label-primary h2 pad-10"> {{  studAttendanceTotal.termAverage  | teacherAveragePercentage }}</span></td>
                                    </tr>
                                </table>
                            </div>

                            <p class="col-sm-5 pull-left">
                                <label>
                                    <button class="btn " ng-class="{ true : 'btn-primary', false : 'btn-danger'}[filterTrendViews]" ng-click="filterTrendOnEnrollment()">
                                        <span ng-hide="filterTrendViews">Highlight Incomplete Submissions</span><span ng-show="filterTrendViews">Clear Highlights</span>
                                    </button>
                                    <!-- <select class="form-control" ng-model="filterTrendViews" >
                                         <option value="0">List All Schools</option>
                                         &lt;!&ndash;<option value="completed_submissions">Highlight Completed Submissions</option>&ndash;&gt;
                                         <option  value="incomplete_submissions">Highlight Incomplete Submissions</option>
                                     </select>-->
                                </label>
                            </p>
                            <div class="btn-group pull-right">
                                &nbsp<button class="btn btn-warning attendanceSummaryDataTrend pull-right btn-sm" export-table="attendanceSummaryDataTrend" file-name="{{selected_district.name + ' Attendance '  + summary_term + ' ' + summary_year}}">Begin Trend Export</button>

                                <button class="btn-danger btn btn-sm" ng-show="showTrend" ng-click="showTrend = !showTrend">Close Trend</button>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-responsive" id="attendanceSummaryDataTrend">
                                    <thead>
                                    <tr class="bg-blue" ng-init="schoolSortOrder = 'name'">
                                        <td class="pointer" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</td>
                                        <td class="horizontal_vertical_center">Circuit</td>
                                        <td class="horizontal_vertical_center" ng-repeat="week in availableWeeksInTerm">Week {{ week }}</td>
                                        <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr  ng-repeat="school in selected_district.allSchoolsHolder | orderBy : schoolSortOrder : reverse ">
                                        <td ng-class="{'bg-red' : inCompleteSubmission[school.id]}"><a ng-class="{'whiteColor' : inCompleteSubmission[school.id]}"ui-sref="dashboard.school.view_selected_school.report_card.attendance({id : school.id, district_id : school.district_id })">{{  schoolLookup[school.id].name  || 'Unavailable' }}</a></td>
                                        <td class="horizontal_vertical_center"><a ui-sref="dashboard.view_selected_circuit.schools_stats_weekly({id : school.circuit_id })">{{  circuitLookup[school.circuit_id].name  || 'Unavailable' }}</a></td>
                                        <td class="horizontal_vertical_center"  ng-repeat="week in availableWeeksInTerm">
                                            <span attendance-preview="districtWeeklyDataTrend[school.id][week]" class="pointer" ng-show="districtWeeklyDataTrend[school.id][week].normal_attendance_total_students">{{ districtWeeklyDataTrend[school.id][week].normal_attendance_total_students || '-' }}</span>
                                        </td>
                                        <td class="horizontal_vertical_center tableexport-ignore">
                                            <button class="btn btn-primary" data-ng-disabled="updatingAttendanceTotals" ng-click="updateASchoolsAttendanceTotals(school.id)">
                                                <span ng-hide="attendanceSchoolBeingUpdated === school.id">Update</span>
                                                <span class="fa fa-spin fa-spinner" ng-show="updatingAttendanceTotals && attendanceSchoolBeingUpdated === school.id"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>


                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="availableWeeksInTerm.length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>

                <div class="overlay" ng-show="loadingSummary" ></div>
                <div class="loading-img"  style="padding: 50px; min-height: 100px" ng-show="loadingSummary"></div>
                <div class="box-footer">



                </div>
            </div>


        </div>
    </div>
</div>