<div class="row">
    <div class="col-sm-12" ng-show="districtTerms && districtWeeks && districtYears">
        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-xs-6">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in districtYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="term">Term</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in districtTerms">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in districtWeeks" >
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6 hidden">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>

            <div class="form-group col-md-3 col-xs-6">
                <label for="actions">Actions</label><br>
                <div class="row" style="padding-left: 0 !important;">
                    <div class="btn-group col-xs-12">

                        <button data-ng-disabled="loadingSummary" id="actions" data-ng-click="fetchSummaryData()" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                            Load<span ng-if="loadingSummary">ing</span> Data
                        </button>
                        <button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loadingSummary" data-toggle="dropdown">
                            <span class="caret"></span> <span class="sr-only">Other Load Options</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li data-ng-click="fetchSummaryData()"><a href="">Load Set Period</a></li>
                            <li class="divider"></li>
                            <li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>
                            <!--<li class="divider" ng-show="showTrend"></li>-->
                            <!--<li data-ng-click="doMultipleEnrolmentUpdates()" ng-show="showTrend"><a href="">Update Enrollment Totals</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li data-ng-click="currentEnrollment = !currentEnrollment"><a href=""><span ng-hide="currentEnrollment">Show</span><span ng-show="currentEnrollment">Hide</span> Current Enrollment</a></li>-->
                        </ul>

                    </div>
                </div>
            </div>
        </div>


        <!--Summary Table-->

        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="enrollmentSummaryData.schoolInfo" >
                    <h3 class="box-title">Enrollment Information
                        <div title=""  class="box-tools pull-right class hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="clearfix"></div>
                <div ng-hide="showTrend" ng-if="!classBreakdown" class="box-body" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="enrollmentSummaryData.schoolInfo">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-4 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-4 text-center">Term : <b class="showing_weekly_term"></b></small>
                                <small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"></b></small>
                            </p>
                            <p ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">District Total</p>
                            <table class="pointer table table-bordered" ng-click="showClassBreakDown()" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-success">
                                    <td class="horizontal_vertical_center">Total in District</td>
                                    <td class="horizontal_vertical_center">Boys in District</td>
                                    <td class="horizontal_vertical_center">Special Boys in District</td>
                                    <td class="horizontal_vertical_center">Girls in District</td>
                                    <td class="horizontal_vertical_center">Special Girls in District</td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in District</td>-->
                                </tr>
                                <tr class="" >
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].all_total    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].boys    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].special_boys    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].girls    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].special_girls}}</span></td>
                                    <!--<td class="horizontal_vertical_center">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].teachers_total    || 'Unavailable' }}</td>-->
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="col-sm-6 pull-left">Per School Breakdown</p>
                            <div class="btn-group pull-right">
                                <!--<button class="btn-danger btn btn-sm" ng-hide="showTrend" ng-click="showTrend = true">Show Trend</button>-->

                                <button class="btn btn-warning enrollmentSummaryData pull-right btn-sm" export-table="enrollmentSummaryData" file-name="{{selected_district.name + ' Enrollment WK' + summary_week + ' ' + summary_term + ' ' + summary_year}}">Begin Weekly Export</button>
                            </div>

                            <table class="table table-bordered table-striped table-responsive" id="enrollmentSummaryData" ng-show="enrollmentSummaryData.schoolInfo">
                                <thead>
                                <tr class="bg-green">
                                    <td class="">School</td>
                                    <td class="horizontal_vertical_center">Circuit</td>
                                    <td class="horizontal_vertical_center" >Boys</td>
                                    <td class="horizontal_vertical_center" >Girls</td>
                                    <td class="horizontal_vertical_center" >Total</td>
                                    <td class="horizontal_vertical_center">Special Boys</td>
                                    <td class="horizontal_vertical_center">Special Girls</td>
                                    <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr class="bg-gray">-->
                                <!--<td class=""></td>-->
                                <!--<td class=""></td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--<td class="horizontal_vertical_center">Special</td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--<td class="horizontal_vertical_center">Special</td>-->
                                <!--<td class="horizontal_vertical_center"></td>-->
                                <!--&lt;!&ndash;<td class="horizontal_vertical_center">Total Registered</td>&ndash;&gt;-->
                                <!--</tr>-->
                                <tr ng-repeat="enrollment in enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}">
                                    <td ><a ui-sref="dashboard.school.view_selected_school({id : enrollment.school_id, district_id : enrollment.district_id })">{{  schoolLookup[enrollment.school_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center"><a ui-sref="dashboard.view_selected_circuit.schools_stats_weekly({id : enrollment.circuit_id })">{{  circuitLookup[enrollment.circuit_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_boys}}</td>
                                    <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_girls}}</td>
                                    <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_students}}</td>
                                    <td class="horizontal_vertical_center">{{enrollment.special_enrolment_total_boys}}</td>
                                    <td class="horizontal_vertical_center">{{enrollment.special_enrolment_total_girls}}</td>
                                    <td class="horizontal_vertical_center tableexport-ignore"><button class="btn btn-default  btn-sm center-block" enrolment-preview="enrollment">Preview Data</button></td>
                                </tr>
                                </tbody>

                            </table>

                        </div>


                        <div ng-if="enrollmentSummaryData.schoolInfo" ng-hide="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>

                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="enrollmentSummaryData.schoolInfo">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>


                <!--The termly trend-->
                <div class="box-body" ng-show="showTrend" ng-if="!classBreakdown" style="min-height: 200px;">
                    <div class="row">
                        <div ng-show="availableWeeksInTerm.length" class="col-sm-12">
                            <div class="col-sm-12">
                                <p class="row page-header" style="font-size: 16px">
                                    <small class="col-sm-6 text-center">Year : <b class="showing_weekly_year">{{ showing_weekly_year }}</b></small>
                                    <small class="col-sm-6 text-center">Term : <b class="showing_weekly_term">{{ showing_weekly_term }}</b></small>
                                    <!--<small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"> {{ showing_weekly_week }}</b></small>-->
                                </p>

                                <p>District Totals</p>

                                <table class="table table-bordered">
                                    <tr class="bg-success">
                                        <td class="horizontal_vertical_center" >Total Boys Enrolled</td>
                                        <td class="horizontal_vertical_center">Total Girls Enrolled</td>
                                        <td class="horizontal_vertical_center">Total Student Population</td>
                                    </tr>
                                    <tr class="">
                                        <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.boys_in_model }}</span></td>
                                        <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.girls_in_model }}</span></td>
                                        <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.total_students }}</span></td>
                                    </tr>
                                </table>
                            </div>

                            <p class="col-sm-5 pull-left">
                                <label>
                                    <button ng-hide="filterTrendViews" class="btn btn-primary" ng-click="filterTrendOnEnrollment()">
                                        <span>Schools with Incomplete Submissions</span>
                                    </button>

                                    <button  ng-show="filterTrendViews" class="btn btn-danger" ng-click="cancelFilterTrendOnEnrollment()">
                                        <span>Show All</span>
                                    </button>
                                </label>
                            </p>
                            <!--<p class="col-sm-6">filterTrendViews : {{ filterTrendViews }}</p>-->
                            <div class="btn-group pull-right" >
                                <button class="btn btn-warning enrollmentSummaryDataTrend pull-right btn-sm" export-table="enrollmentSummaryDataTrend" file-name="{{selected_district.name + ' Enrollment Trend' + ' ' + summary_term + ' ' + summary_year}}">Begin Trend Export</button>
                                &nbsp;
                                <button class="btn-danger btn btn-sm" ng-show="showTrend" ng-click="showTrend = !showTrend; classBreakdown = false;">Close Trend</button>

                            </div>


                            <div class="table-responsive">

                                <table ng-class="{'table-striped' : !filterTrendViews}" class="table table-bordered table-responsive" id="enrollmentSummaryDataTrend">
                                    <thead>
                                    <tr class="bg-green " ng-init="schoolSortOrder = 'name'">
                                        <td class="pointer" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</td>
                                        <td class="horizontal_vertical_center">Circuit</td>
                                        <td class="horizontal_vertical_center" ng-repeat="week in availableWeeksInTerm">Week {{ week }}</td>
                                        <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="" ng-repeat="school in selected_district.allSchoolsHolder | orderBy : schoolSortOrder : reverse ">
                                        <td ng-class="inCompleteSubmission[school.id]"><a ui-sref="dashboard.school.view_selected_school.report_card.enrollment({id : school.id, district_id : school.district_id })">{{  schoolLookup[school.id].name  || 'Unavailable' }} <em ng-show="currentEnrollment">({{schoolLookup[school.id].testEnrollment}})</em></a></td>
                                        <td class="horizontal_vertical_center"><a ui-sref="dashboard.view_selected_circuit.schools_stats_weekly({id : school.circuit_id })">{{  circuitLookup[school.circuit_id].name  || 'Unavailable' }} </a></td>
                                        <td class="horizontal_vertical_center"  ng-repeat="week in availableWeeksInTerm">
                                            <a enrolment-preview="districtWeeklyDataTrend[school.id][week]" href="" class="pointer" ng-show="districtWeeklyDataTrend[school.id][week].normal_enrolment_total_students">{{ districtWeeklyDataTrend[school.id][week].normal_enrolment_total_students || '-' }}</a>
                                        </td>
                                        <td class="horizontal_vertical_center tableexport-ignore">
                                            <button class="btn btn-primary" data-ng-disabled="loadingEnrollmentData" ng-click="updateASchoolsEnrollmentTotals(school.id)">
                                                <span ng-hide="schoolBeingUpdated === school.id">Update</span>
                                                <span class="fa fa-spin fa-spinner" ng-show="loadingEnrollmentData && schoolBeingUpdated === school.id"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>


                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="availableWeeksInTerm.length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>




                <!--The Class by Class Breakdown Table-->
                <div ng-if="classBreakdown" class="box-body" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="enrollmentSummaryData.schoolInfo">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-4 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-4 text-center">Term : <b class="showing_weekly_term"></b></small>
                                <small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"></b></small>
                            </p>
                            <p ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">District Total</p>
                            <table class="table table-bordered pointer" ng-click="showClassBreakDown()" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-success">
                                    <td class="horizontal_vertical_center">Total in District</td>
                                    <td class="horizontal_vertical_center">Boys in District</td>
                                    <td class="horizontal_vertical_center">Special Boys in District</td>
                                    <td class="horizontal_vertical_center">Girls in District</td>
                                    <td class="horizontal_vertical_center">Special Girls in District</td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in District</td>-->
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].all_total    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].boys    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].special_boys    }}</span></td>
                                    <td class="horizontal_vertical_center "><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].girls    }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].special_girls}}</span></td>
                                    <!--<td class="horizontal_vertical_center">{{ enrollmentSummaryData.districtInfo[$parent.summary_data_collector_type].teachers_total    || 'Unavailable' }}</td>-->
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="col-sm-6 pull-left">Per Class Breakdown</p>
                            <div class="btn-group pull-right">
                                <button class="btn btn-success enrollmentByClassData pull-right btn-sm" export-table="enrollmentByClassData" file-name="{{selected_district.name + ' Enrollment WK' + summary_week + ' ' + summary_term + ' ' + summary_year}}">Begin Class Breakdown Export</button>
                            </div>

                            <table class="table table-bordered table-striped table-responsive" id="enrollmentByClassData" ng-show="enrollmentSummaryData.schoolInfo">
                                <thead>
                                <!--<tr ng-hide="true">{{ selected_district.name }}</tr>-->
                                <tr class="bg-olive">
                                    <td class="" >Class</td>
                                    <td class="horizontal_vertical_center" >Total Enrolled</td>
                                    <td class="horizontal_vertical_center" >Boys</td>
                                    <td class="horizontal_vertical_center" >Girls</td>
                                    <td class="horizontal_vertical_center" >Special Need Boys</td>
                                    <td class="horizontal_vertical_center" >Special Need Girls</td>
                                    <!--<td class="horizontal_vertical_center" >Action</td>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in enrollmentClassData">
                                    <td class="horizontal_vertical_center" ><h2>{{ key }}</h2></td>
                                    <td class="horizontal_vertical_center" ><h2>{{ value.normal }}</h2></td>
                                    <td class="horizontal_vertical_center" ><h2>{{ value.boys }}</h2></td>
                                    <td class="horizontal_vertical_center" ><h2>{{ value.girls }}</h2></td>
                                    <td class="horizontal_vertical_center" ><h2>{{ value.special_boys }}</h2></td>
                                    <td class="horizontal_vertical_center" ><h2>{{ value.special_girls }}</h2></td>
                                    <!--<td class="horizontal_vertical_center" ><button class="btn btn-default  btn-sm center-block" enrolment-preview="enrollment">Preview Data</button></td>-->
                                </tr>
                                </tbody>

                            </table>

                        </div>


                        <div ng-if="enrollmentSummaryData.schoolInfo" ng-hide="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>

                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="enrollmentSummaryData.schoolInfo">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>

                <div class="overlay" ng-show="loadingSummary" ></div>
                <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
                <div class="box-footer">



                </div>
            </div>


        </div>
    </div>

    <div class="col-sm-12" ng-hide="districtTerms && districtWeeks && districtYears">
        <p class="text-center" style="margin: 10% 0; font-size: 23px"><i class="fa fa-warning">
        </i>  No data submitted for this district.</p>
    </div>
</div>