<div class="row">
    <div class="col-sm-12">
        <h3 class="page-header">
                <span class="row">
                    <span class="col-sm-10">
                        <!--<small>{{selected_district.description}}</small>-->Teacher Population
                    </span>
                    <span class="col-sm-2 hidden" ng-show="teacherSummaryData.teachersInfo">
                        <div class="btn-group pull-right" >
                            <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                Options  <span class="caret"></span>
                                <span class="sr-only">Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li ng-show="districtAverage" ><a href="" class="pointer" data-ng-click="compareAverages()">Compare District Averages</a></li>
                                <li ng-show="compareRegionsDistrictAverages"><a href="" class="pointer" data-ng-click="singleAverage()">District Average</a></li>
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="#"></a></li>-->
                            </ul>
                        </div>
                    </span>
                </span>
        </h3>
        <div class="row hidden" ng-show="teacherSummaryData.teachersInfo">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-sm-3">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in districtYears">
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="term">Term</label>
                <!--ng-options="district.name for district in districts track by district.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in districtTerms">
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in districtWeeks" >
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button id="actions" data-ng-click="fetchAttendanceAverageSummaryData()" class="btn btn-primary form-control col-sm-12" style="padding-left: 0 !important;" >Load Averages</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12" ng-show="teacherSummaryData.teachersInfo">
        <table class="table table-bordered">
            <tr class="bg-gray">
                <td class="horizontal_vertical_center">Total in District</td>
                <td class="horizontal_vertical_center">Males</td>
                <td class="horizontal_vertical_center">Females</td>
                <!--<td class="horizontal_vertical_center">Average Attendance <small>(District)</small></td>-->
            </tr>
            <tr class="">
                <td class="horizontal_vertical_center">{{ teacherSummaryData.districtInfo.teachers_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.districtInfo.male_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.districtInfo.female_total    }}</td>
                <!--<td class="horizontal_vertical_center">{{ teacherAttendanceSummaryData.districtInfo.average_teacher_attendance[$parent.summary_data_collector_type] | teacherAveragePercentage  }}</td>-->
            </tr>
        </table>
    </div>
</div>

<div ng-show="districtAverage" class="box-no-shadow box-solid " >
    <div class="box-header" >
        <h3 class="box-title">District's Teachers' Information
            <div title=""  class="box-tools pull-right " ng-show="teacherSummaryData.teachersInfo" >
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.list}" data-ng-click="changeView('list')" type="button"><i class="fa fa-square text-green"></i> All Teachers List</button>
                    <button class="btn btn-default btn-sm hidden" ng-class="{'active' : view_to_show.summary}" data-ng-click="changeView('summary')" type="button"><i class="fa fa-square text-blue"></i> Group by School</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.attendance}" data-ng-click="changeView('attendance')" type="button"><i class="fa fa-square text-purple"></i> Teacher Attendance</button>

                </div>
            </div>
        </h3>
    </div>
    <div ng-show="teacherSummaryData.teachersInfo" class="box-body">
        <div class="row">
            <div ng-if="view_to_show.list" ng-include=" 'partials/templates_View/district/district_teacher_full_list.html' "></div>

            <div ng-if ="view_to_show.summary" ng-include=" 'partials/templates_View/district/district_teacher_summary.html' "></div>

            <div ng-if ="view_to_show.attendance" ng-include=" 'partials/templates_View/district/district_teacher_attendance_full_list.html' "></div>

        </div>

    </div>
    <div class="overlay" ng-show="loadingSummary" ></div>
    <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
    <div ng-hide="teacherSummaryData.teachersInfo">
        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning"> </i>  No teachers registered under this district</p>
    </div>
</div>


<div class="box-no-shadow box-solid " ng-show="compareRegionsDistrictAverages">
    <div class="box-header">
        <h3 class="box-title">Regions' Districts
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.chart}" data-ng-click="changeCompareView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.table}" data-ng-click="changeCompareView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="compare_view_to_show.chart">

                <div id="districtDistrictAverageBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="compare_view_to_show.table">

                <table class="table table-striped" >
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'headteacherAttendanceAverage'; reverse=!reverse"> Average Teacher Attendance </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse"> Status </a></th>
                    </tr>
                    <tr ng-repeat="district in districtChartData | orderBy : districtSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/district/{{district.id}}">{{ district.district }}</a></td>-->
                        <td style="text-align: left"><a href="">{{ district.name }}</a></td>
                        <td style="text-align: center" ng-show="district.headteacherAttendanceAverage">{{ district.headteacherAttendanceAverage }}%</td>
                        <td style="text-align: center" ng-hide="district.headteacherAttendanceAverage">NA</td>
                        <!--<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(district.headteacherAttendanceAverage)" style="font-size: 13px"> {{ labelStatusText(district.headteacherAttendanceAverage) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>