<div class="box-header " >
    <h3 class="box-title page-header">District's Schools

        <div title="" data-toggle="tooltip" class="box-tools pull-right" ng-show="selected_district.totalSchools">
            <div data-toggle="btn-toggle" class="btn-group">
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.weekly}" data-ng-click="changeView('weekly')" type="button"><i class="fa fa-square text-green"></i> Weekly</button>
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.termly}" data-ng-click="changeView('termly')" type="button"><i class="fa fa-square text-blue"></i> Termly</button>
            </div>
        </div>

    </h3>
    <section ng-show="selected_district.totalSchools">
    <div  ng-show="view_to_show.weekly" class="row">
        <div class="form-group sm col-sm-3">
            <label for="academic_year">Academic Year</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="academic_year" id="academic_year" class="form-control"
                    ng-model="filter_year" ng-options="year for year in schoolYears">
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="term">Term</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="term" id="term" class="form-control"
                    ng-model="filter_term"
                    ng-options="term.value as term.label for term in schoolTerms">
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label for="week">Week</label>
            <select name="week" id="week" class="form-control"
                    ng-model="filter_week" ng-options="week as week for week in schoolWeeks" >
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="filter_data_collector_type">Data Collector</label>
            <select name="filter_data_collector_type" id="filter_data_collector_type" class="form-control" disabled
                    ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
            </select>
        </div>

    </div>
    <div  ng-show="view_to_show.termly" class="row">
        <div class="form-group sm col-sm-4">
            <label for="academic_year2">Academic Year</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="academic_year" id="academic_year2" class="form-control"
                    ng-model="filter_year_termly" ng-options="year for year in schoolYears_Termly">
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="term2">Term</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="term" id="term2" class="form-control"
                    ng-model="filter_term_termly"
                    ng-options="term.value as term.label for term in schoolTerms_Termly">
            </select>
        </div>
        <!--<div class="form-group col-sm-2">-->
        <!--<label for="week">Week</label>-->
        <!--<select name="week" id="week" class="form-control"-->
        <!--ng-model="filter_week" ng-options="week as week for week in schoolWeeks" >-->
        <!--</select>-->
        <!--</div>-->
        <div class="form-group col-sm-4">
            <label for="filter_data_collector_type2">Data Collector</label>
            <select name="filter_data_collector_type" id="filter_data_collector_type2" class="form-control" disabled
                    ng-model="filter_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
            </select>
        </div>

    </div>
    </section>
</div>

<div class="box-no-shadow box-solid" ng-show="view_to_show.weekly" >
    <div  class="box-body" ng-show="selected_district.totalSchools">
        <div class="row" >

            <!--<div class="col-sm-12" ng-show="view_to_show.chart">-->

            <!--<div id="districtSchoolTeachersBarChart" style="width: 100%; height: 500px;"></div>-->

            <!--</div>-->

            <div class="col-sm-12">

                <table class="table table-bordered table-striped" ng-init="sorter = 'name'; reverse = 'false' ">
                    <thead>
                    <tr class="bg-primary">
                        <th ng-click="sorter = 'name'; reverse=!reverse;" class="pointer" title="Click to sort by name">Name of School</th>
                        <th  class="horizontal_vertical_center pointer"  title="Click to sort by name" >Total Normal Enrollment</th>
                        <th  class="horizontal_vertical_center pointer"  title="Click to sort by name" >Total Special Enrollment</th>
                        <th  class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Total Normal Attendance</th>
                        <th  class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Total Special Attendance</th>
                    </tr>
                    </thead>
                    <!--<button data-ng-click="logger()" class="btn btn-primary">Click me</button>-->
                    <tbody>


                    <tr ng-repeat="school in  selected_district.allSchools | orderBy : sorter : reverse">
                        <td><a href="">{{school.name}}</a></td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="week in school.weeklyAttendanceHolder | filter : {year : filter_year, term : filter_term, week_number : filter_week, data_collector_type : filter_data_collector_type}">
                                {{week.normal_enrolment_total_students}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="week in school.weeklyAttendanceHolder | filter : {year : filter_year, term : filter_term, week_number : filter_week, data_collector_type : filter_data_collector_type}">
                                {{week.special_enrolment_total_students}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="week in school.weeklyAttendanceHolder | filter : {year : filter_year, term : filter_term, week_number : filter_week, data_collector_type : filter_data_collector_type}">
                                {{week.normal_attendance_total_students}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="week in school.weeklyAttendanceHolder | filter : {year : filter_year, term : filter_term, week_number : filter_week, data_collector_type : filter_data_collector_type}">
                                {{week.special_attendance_total_students}}
                            </span>
                        </td>

                    </tr>
                    </tbody>

                </table>

            </div>

        </div>
    </div>
    <!--<div class="box-footer">-->
    <div ng-hide="selected_district.totalSchools">
        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning"> </i>  No schools registered under this district</p>
    </div>
    <!--</div>-->
</div>


<div class="box-no-shadow box-solid " ng-show="view_to_show.termly">
    <!--<div class="box-header">-->
    <!--<h3 class="box-title">District's Schools-->
    <!--<div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">-->
    <!--<div data-toggle="btn-toggle" class="btn-group">-->
    <!--<button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>-->
    <!--<button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</h3>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <div class="box-body">
        <div class="row" >

            <!--<div class="col-sm-12" ng-show="view_to_show.chart">-->

            <!--<div id="regionsDistrictAverageBarChart" style="width: 100%; height: 400px;"></div>-->

            <!--</div>-->

            <div class="col-sm-12">
                <h3 class="box-title">
                    <span ng-show="display_average"> Average Exam Score</span>
                    <span ng-show="display_textbooks">Number of Textbooks</span>
                    <div class="btn-group pull-right" ng-init="display_average = true ; display_textbooks = false ">
                        <button class="btn bg-maroon " ng-class="{'active' : display_average }" type="button" ng-click="display_average = true ; display_textbooks = false ">
                            <i class="fa fa-check-square"></i>  Average Score</button>
                        <!--<button class="btn btn-info" type="button">Middle</button>-->
                        <button class="btn bg-orange" ng-class="{'active' : display_textbooks}" type="button" ng-click="display_average = false ; display_textbooks = true ">
                            <i class="fa fa-book"></i> TextBooks</button>
                    </div>
                </h3>

                <table class="table table-bordered table-striped" ng-init="sortering = 'name'; reverse = 'false' " ng-show="display_average">
                    <thead>
                    <tr class="bg-primary">
                        <th ng-click="sortering = 'name'; reverse=!reverse;" class="pointer" title="Click to sort by name">Name of School</th>
                        <th ng-click="sortering = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >Gh. Lang. Average Score</th>
                        <th ng-click="sortering = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >Scoring Above Gh. Lang. Score</th>
                        <th ng-click="sortering = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >English Average Score</th>
                        <th ng-click="sortering = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >Scoring English Average Score</th>
                        <th ng-click="sortering = 'totalMaleTeachers'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Maths Average Score</th>
                        <th ng-click="sortering = 'totalMaleTeachers'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Scoring Above Maths Average Score</th>
                    </tr>
                    </thead>
                    <!--<button data-ng-click="logger()" class="btn btn-primary">Click me</button>-->
                    <tbody>

                    <tr ng-repeat="school in  selected_district.allSchools | orderBy : sortering : reverse">
                        <td><a href="" ui-sref="dashboard.school.view_selected_school({id : school.id , district_id : school.district_id })">{{school.name}}</a></td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.average_ghanaian_language_score}}<span ng-show="termly.average_ghanaian_language_score"> %</span>
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.ghanaian_language_above_average}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                              <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.average_english_score}}<span ng-show="termly.average_english_score"> %</span>
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                              <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.english_above_average}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                              <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.average_maths_score}}<span ng-show="termly.average_maths_score"> %</span>
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                              <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.maths_above_average}}
                            </span>
                        </td>

                    </tr>
                    </tbody>

                </table>

                <table class="table table-bordered table-striped" ng-init="sort = 'name'; reverse = 'false' " ng-show="display_textbooks">
                    <thead>
                    <tr class="bg-primary">
                        <th ng-click="sort = 'name'; reverse=!reverse;" class="pointer" title="Click to sort by name">Name of School</th>
                        <th ng-click="sort = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >Ghanaian Language</th>
                        <th ng-click="sort = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >English </th>
                        <th ng-click="sort = 'totalMaleTeachers'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Mathematics</th>
                    </tr>
                    </thead>
                    <!--<button data-ng-click="logger()" class="btn btn-primary">Click me</button>-->
                    <tbody>

                    <!--     average_ghanaian_language_score
                         ghanaian_language_above_average
                         average_english_score
                         english_above_average
                         average_maths_score
                         maths_above_average
                         num_ghanaian_language_books
                         num_english_books
                         num_maths_books-->

                    <tr ng-repeat="school in  selected_district.allSchools | orderBy : sort : reverse">
                        <td><a href="">{{school.name}}</a></td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.num_ghanaian_language_books}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                            <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.num_english_books}}
                            </span>
                        </td>
                        <td class="horizontal_vertical_center">
                              <span ng-repeat="termly in school.termlyDataHolder | filter : {year : filter_year_termly, term : filter_term_termly, data_collector_type : filter_data_collector_type}">
                                {{termly.num_maths_books}}
                            </span>
                        </td>

                    </tr>
                    </tbody>

                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>