
<!-- Custom Tabs -->
<h4 class="page-header">
    District's Community Involvement
</h4>
<div class="nav-tabs-custom">
<ul class="nav nav-tabs nav-justified">
    <li  select="">
        <a data-toggle="tab" data-target="#community_involvement"> Community </a>
    </li>
    <li select="">
        <a data-toggle="tab" data-target="#meetings">Meetings Held</a>
    </li>
    <li  select="">
        <a data-toggle="tab" data-target="#general_issues">General Issues</a>
    </li>
</ul>

<div class="tab-content">

<!----   Community Involvement ---->
<div id="community_involvement" class="tab-pane">
    <div ng-include=" 'partials/templates_View/district/community_involvement/ds_community_involvement_included_in_ds_community_involvement.html' "></div>
</div><!-- /.tab-pane -->

<!-----  Meetings Held ------>
<div id="meetings" class="tab-pane" >
    <div ng-include=" 'partials/templates_View/district/community_involvement/ds_meetings_held_included_in_ds_community_involvement.html' "></div>
</div><!-- /.tab-pane -->

<!------ General Issues  ------>
<div id="general_issues" class="tab-pane" >
    <div ng-include=" 'partials/templates_View/district/community_involvement/ds_general_issues_included_in_ds_community_involvement.html' "></div>
</div><!-- /.tab-pane -->

<div id="blank_tab" class="tab-pane active">
    <div class="row">
        <div class="col-sm-12">
            <p style="font-size: 24px;line-height: 20px; margin: 10%" class="text-center greyColor">
                <i class=" glyphicon glyphicon-arrow-up"></i>Please select a tab to show</p>
        </div>
    </div>
</div><!-- /.tab-pane -->


</div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->