<h4 class="page-header">
    <span ng-show="districts.length"> Select a district below
</span>
    <!--<small>This is a description of the current region.</small>-->
    <!--<a ui-sref="dashboard.add_district({id : 0, action : 'add' })"  ng-show="adminRight > 3 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add District</span></a>-->
</h4>
<div class="row ng-scope">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3 class="ng-binding">
                    {{lessons_count}}
                </h3>
                <p>
                    Total Class Observation<span ng-show="selected_region.allDistrictsHolder.length != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-earth"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3 class="ng-binding">
                    {{attendance_count}}
                </h3>
                <p>Total Attendance</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-locate"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3 class="ng-binding">
                    {{pupil_aggregated_count}}
                </h3>
                <p>
                    Total Pupil Aggregated Data
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
        </div>
    </div>
</div>
<br>


<div class="alert alert-danger" ng-hide="districts.length">There are no districts in the database.</div>

<div class="box box-primary" ng-show="districts.length" ui-view="">
    <div class="box-header">
        <!--<i class="fa fa-map-marker"></i>-->
        <pagination class="inline pagination"
                    total-items="totalItems"
                    items-per-page="15" ng-model="currentPage" ng-change="pageChanged(currentPage)"
                    ng-show="totalItems > 15">
        </pagination>
        <div class="box-tools pull-right ">
            <div class="input-group-btn">
            </div>
            <div class="input-group">
                <button class="btn btn-default" data-ng-click="searchModal()" ng-show="adminRight > 3">Click to search district</button>
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadDistricts()"><i class="fa fa-refresh"></i> Reload Districts</button>
                <input ng-model="searchDistrict"   ng-show="adminRight > 3"  type="text" placeholder="Search district" style="width: 200px;"
                       class="form-control input-st hidden" >
            </div>
        </div>

    </div>
    <div class="box-body no-padding" ng-show="!inSearchBox">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'regionName'; reverse=!reverse">Region </a></th>
                    <!--<th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating</a></th>-->
                    <th title="Click to Sort"><a href=""> Action </a></th>
                </tr>
                <tr ng-repeat="district in districts | filter : searchDistrict | orderBy : districtSortOrder : reverse | limitTo : 15">
                    <td><a ui-sref="">{{ district.name }}</a></td>
                    <td>{{ regionLookup[district.region_id].name }} </td>

                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li  ng-show="adminRight > 3"><a ui-sref="dashboard.t1viewdistrictone({id : district.id})" >View Attendance</a></li>

                                    <li  ng-show="adminRight > 3"><a ui-sref="dashboard.t1viewdistricttwo({id : district.id})" >View Pupil Aggregated Data</a></li>

                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info hidden" ng-hide="( districts  | filter: searchDistrict ).length">
            There are no more results to show.
        </div>
    </div>
</div>
