<h4 class="page-header">
    {{selected_district.name}}
    <div class="row">
        <div class="col-sm-10">
            <small>{{selected_district.description}}</small>
        </div>
        <div class="col-sm-2">
            <div class="btn-group">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Settings  <span class="caret"></span>
                    <span class="sr-only">District Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li ng-show="adminRight > 3 && currentUser.role === 'super' "><a href="" class="pointer" data-ng-click="createItineraryModal()">Add Itinerary </a></li>
                    <li ng-show="adminRight > 3 && currentUser.role === 'super' "><a ui-sref="dashboard.add_district({id : selected_district.id, action : 'edit'})">Edit District Details</a></li>
                    <li class="divider"></li>
                    <li><a href="" years="districtYears" update-district="selected_district">Update All District Data</a></li>
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <!--<button class="pull-right btn btn-primary" ><i class="fa fa-plus"></i>District Settings</button>-->
</h4>
<div class="row" >
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    {{districtLookup[selected_district.id].totalCircuits}}
                </h3>
                <p>
                    Circuit<span ng-show="districtLookup[selected_district.id].totalCircuits != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-locate"></i>
            </div>
            <a class="small-box-footer"  href="" data-toggle="tab" data-target="#circuits" anchor-scroll="circuits"><!--ui-sref="dashboard.view_circuit"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>
                    {{districtLookup[selected_district.id].totalSchools}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <p>
                    School<span ng-show="districtLookup[selected_district.id].totalSchools != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#schools" anchor-scroll="schools"><!--ui-sref="dashboard.school.view_school-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>
                    {{ districtLookup[selected_district.id].circuit_supervisors }}
                </h3>
                <p>
                    Circuit Supervisor<span ng-show=" districtLookup[selected_district.id].circuit_supervisors != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-social-user"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#datacollectors" anchor-scroll="datacollectors" ><!--ui-sref="dashboard.data_collectors_circuit_supervisors"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>
                    {{ districtLookup[selected_district.id].head_teachers }}
                    <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                </h3>
                <p>
                    Head Teacher<span ng-show=" districtLookup[selected_district.id].head_teachers != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-social-user"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#datacollectors" anchor-scroll="datacollectors" ><!--ui-sref="dashboard.data_collectors_head_teachers"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div>


<h5 class="page-header">District's Overview </h5>
<div  class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Region</td>
                                    <td><a ng-show="adminRight > 3" ui-sref="dashboard.view_selected_region({id : selected_district.region_id})"> {{selected_district.regionName}}</a>
                                        <span   ng-show="adminRight < 4">{{ selected_district.regionName }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{selected_district.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{selected_district.phone_number}}</td>
                                </tr>
                                <!--<tr>-->
                                <!--<td>Country</td>-->
                                <!--<td>Ghana</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Circuits</td>
                                    <td>{{ districtLookup[selected_district.id].totalCircuits }}</td>
                                </tr>
                                <tr>
                                    <td>Schools</td>
                                    <td>{{ districtLookup[selected_district.id].totalSchools }}</td>
                                </tr>
                                <tr>
                                    <td>Data Collectors</td>
                                    <td>{{ districtLookup[selected_district.id].head_teachers +districtLookup[selected_district.id].circuit_supervisors }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <!--<div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">District Ratings</h3>
            </div>&lt;!&ndash; /.box-header &ndash;&gt;


            &lt;!&ndash;Key for Coloring
                     0 - 2 = red
                     3 - 4 = warning
                     5 - 6 = yellow
                     7 - 8 = aqua
                     9 - 10 = green
                     &ndash;&gt;

            <div class="box-body">
                Inclusive School Rating: <span class="pull-right"> {{ selected_district.inclusiveness  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.inclusiveness"
                                 type="{{ colourProgressBar(selected_district.inclusiveness) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Healthy School Rating<span class="pull-right">{{ selected_district.healthy  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.healthy"
                                 type="{{ colourProgressBar(selected_district.healthy) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Effective Teaching and Learning School Rating<span class="pull-right">{{ selected_district.effective_teaching_learning  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.effective_teaching_learning"
                                 type="{{ colourProgressBar(selected_district.effective_teaching_learning) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Safe and Protective Rating<span class="pull-right">{{ selected_district.safe_protective  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.safe_protective"
                                 type="{{ colourProgressBar(selected_district.safe_protective) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Gender Friendly Rating<span class="pull-right">{{ selected_district.gender_friendly  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.gender_friendly"
                                 type="{{ colourProgressBar(selected_district.gender_friendly) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Community Involvement Rating<span class="pull-right">{{ selected_district.community_involvement  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_district.community_involvement"
                                 type="{{ colourProgressBar(selected_district.community_involvement) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
            </div>&lt;!&ndash; /.box-body &ndash;&gt;
        </div>&lt;!&ndash; /.box &ndash;&gt;
    </div>--><!-- /.col -->

    <div class="col-xs-12">
        <!-- recent activities box -->
        <div class="box box-warning ">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-tasks"></i> Recent Activities</h3>
                <!--<div class="box-tools pull-right" data-toggle="tooltip" title="Status">-->
                <!--<div class="btn-group" data-toggle="btn-toggle" >-->
                <!--<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>-->
                <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>-->
                <!--</div>-->
                <!--</div>-->
                <div class="box-tools pull-right">
                    <!--<ul class="pagination pagination-sm inline">-->
                    <!--<li><a href="#">«</a></li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">»</a></li>-->
                    <!--</ul>-->
                    <pagination class="sm inline pagination-sm" total-items="totalItems"
                                items-per-page="6" ng-model="currentPage" ng-change="pageChanged()"
                                boundary-links="true"
                                ng-show="districtRecentSubmissions"></pagination>

                </div>
            </div>
            <div class="box-body chat">
                <table class="table table-striped">
                    <tbody>
                    <!-- ngRepeat: teacherAttendance in teacherAttendanceData -->
                    <tr  ng-repeat="submission in districtRecentSubmissions | limitTo : 3">
                        <td style="width: 100px;" >
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>  {{submission.updated_at | date}}  </small></td>
                        <td>
                            <p><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id})">{{schoolLookup[submission.school_id].name}} </a></p>
                            <p>
                                <strong><a ui-sref="dashboard.view_data_collector({id : submission.data_collector_id})" class="name">
                                    <!--<span ng-hide=" lookupDataCollector[submission.data_collector_id]"> Aliu Gbeila Wahab  <small class="text-muted"> (Circuit Supervisor)</small></span>-->
                                    {{lookupDataCollector[submission.data_collector_id].name }}  <small> ( {{formatDataCollectorType[ lookupDataCollector[submission.data_collector_id].type ]  }} )</small>
                                </a></strong>
                            </p>
                            <p>
                                <a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id}}/{{submission.data_type_submitted}}">
                                    <span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span>
                                </a>
                            </p>
                        </td>
                        <td  class="" >
                            <p class="">
                                <a title="Circuit Name" ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})" class="text-yellow">{{circuitLookup[submission.circuit_id].name}}</a>
                            </p>
                            <p class="">
                                <a title="Region Name" ng-if="adminRight > 3" ui-sref="dashboard.view_selected_region({id : submission.region_id})" class="text-blue">{{regionLookup[submission.region_id].name}}</a>
                                <span title="Region Name" ng-if="adminRight < 4" class="text-green">{{regionLookup[submission.region_id].name}}</span>
                            </p>
                        </td>
                    </tr><!-- end ngRepeat: teacherAttendance in teacherAttendanceData -->
                    </tbody>
                </table>

            </div><!-- /.chat -->

            <div class="box-body" ng-hide="districtRecentSubmissions.length">
                <p style="margin: 50px; font-size: 21px" class="greyColor text-center">
                    <i class="fa fa-warning"></i> No activity under this district
                </p>
            </div>

        </div><!-- /.box (recent activities box) -->
    </div><!-- /.col -->
</div><!-- /.row -->

<!--</div>-->

<h5 class="page-header">District Data</h5>

<div class="row">
    <div class="col-xs-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified">
                <li class="active "><a data-toggle="tab" data-target="#stats" href="">Statistics</a></li>
                <li class=""><a data-toggle="tab" data-target="#data" href="">School Report Card</a></li>
                <li class=" "><a data-toggle="tab" data-target="#itineraries" href="">Itineraries</a></li>
                <li class=""><a data-toggle="tab" data-target="#circuits" href="">Circuits</a></li>
                <li><a data-toggle="tab" data-target="#schools" href="">Schools</a></li>
                <li><a data-toggle="tab" data-target="#datacollectors" href="">Data Collectors</a></li>
                <li class="hidden"><a data-toggle="tab" data-target="#miscellaneous" href="">Miscellaneous</a></li>

                <li class="pull-right dropdown hidden">
                    <a class="text-muted dropdown-toggle" href="" data-toggle="dropdown">
                        <i class="fa fa-gear"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul></li>
            </ul>
            <div class="tab-content">


                <!--------------------                     District's Statistics           --------------------------------------->
                <div id="stats" class="tab-pane active">
                    <div ng-include="'partials/templates_View/district/district_statistics_analytics.html'"></div>
                </div>

                <!--------------------                     District's Data           --------------------------------------->
                <div id="data" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title page-header">District SRC</h3>
                            <div class="box-tools pull-right">

                                <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row" >
                                <!--District rating -->
                                <!-- <div class="col-lg-2 col-xs-4">
                                    <div class="small-box bg-yellow pointer" data-ng-click="$state.go('dashboard.view_selected_district.rating_view')"
                                         ng-class="{'active' : $state.is('dashboard.view_selected_district.rating_view') }">
                                        <div class="inner">
                                            <h3 ng-show="selected_district.rating > 0">
                                                {{selected_district.rating}}
                                                <sup style="font-size: 20px">%</sup>
                                            </h3>
                                            <h4 ng-hide="selected_district.rating > 0">
                                                Incomplete<br>data for
                                            </h4>
                                            <p>
                                                District<br>Rating
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-star"></i>
                                        </div>
                                        <a class="small-box-footer" ui-sref="dashboard.view_selected_district.rating_view">
                                            Click to View <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- ./col -->
                                <!-- Total Number of Teachers in District-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_district.teachers">
                                    <!-- small box -->
                                    <div class="small-box bg-maroon" ng-class="{'active' : $state.is('dashboard.view_selected_district.teachers') }">
                                        <div class="inner">
                                            <h3>
                                                {{ teacherSummaryData.teachersInfo.length || '0' }}
                                                <sup style="font-size: 20px; margin-left: 20px" ng-if="loadingTeachers"><i class="fa fa-spinner fa-spin"></i></sup>
                                            </h3>
                                            <p>
                                                Teacher<br>Population
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="fa fa-spinner fa-spin" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingTeachers]"></i>
                                        </div>
                                        <a class="small-box-footer" ng-if="!(loadingTeachers)" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!--Supervisor Attendance Average -->
                                <!--<div class="col-lg-2 col-xs-4">
                                    &lt;!&ndash; small box &ndash;&gt;
                                    <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_district.cs_attendance_average') }">
                                        <div class="inner">
                                            <h3 ng-show="selected_district.supervisorAttendanceAverage > 0">
                                                {{selected_district.supervisorAttendanceAverage}}
                                                <sup style="font-size: 20px">%</sup>
                                            </h3>
                                            <h4 ng-hide="selected_district.supervisorAttendanceAverage > 0">
                                                No data <br> submitted for
                                            </h4>
                                            <p>
                                                Average Teacher <br>Attendance (CS)
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer" ui-sref="dashboard.view_selected_district.cs_attendance_average">
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>--><!-- ./col -->
                                <!--Heat Teacher Attendance Average -->
                                <div class="col-md-3 col-xs-6 hidden pointer" ui-sref="dashboard.view_selected_district.ht_attendance_average">
                                    <!-- small box -->
                                    <div class="small-box bg-light-blue pointer" ng-class="{'active' : $state.is('dashboard.view_selected_district.ht_attendance_average') }">
                                        <div class="inner">
                                            <h3 ng-show="selected_district.headteacherAttendanceAverage > 0">
                                                {{ selected_district.headteacherAttendanceAverage }}
                                                <sup style="font-size: 20px">%</sup>
                                            </h3>
                                            <h4 ng-hide="selected_district.headteacherAttendanceAverage > 0">
                                                No data <br> submitted for
                                            </h4>
                                            <p>
                                                Average Teacher <br>Attendance (HT)
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!-- Enrollment, Attendance Weekly-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_district.schools_stats_weekly">
                                    <!-- small box -->
                                    <div class="small-box bg-green pointer" ng-class="{'active' : $state.is('dashboard.view_selected_district.schools_stats_weekly')  }">
                                        <div class="inner">
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_cs }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Student <br>
                                                Enrollment  /<br>
                                                Attendance  /<br>
                                                Statistics <b>(Weekly)</b>
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-social-user"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!-- Students Exam Score and textbooks-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_district.schools_stats_termly">
                                    <!-- small box -->
                                    <div class="small-box bg-olive pointer" ng-class="{'active' : $state.is('dashboard.view_selected_district.schools_stats_termly')} ">
                                        <div class="inner">
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_ht }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Student <br>
                                                Exam Score  /<br>
                                                Textbooks  /<br>
                                                Statistics <b>(Termly)</b>
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-social-user"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                               <!--Other Termly Sessions-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_district.other_termly">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_district.other_termly') }">
                                        <div class="inner" >
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_cs }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Other <br>
                                                School <br>
                                                Termly <br>
                                                Sections
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer">
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->

                                <!--//Ui view when the box is clicked-->
                                <div class="col-sm-12"  ui-view=""></div>
                            </div>



                        </div><!-- /.box-body -->
                        <!-- Loading (remove the following to stop the loading)-->
                        <!--<div class="overlay" ></div>-->
                        <!--<div class="loading-img"  style="padding: 50px"></div>-->
                        <!-- end loading -->
                    </div>
                </div>



                <!--------------------                     District's Itineraries           --------------------------------------->
                <div id="itineraries" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title page-header">Itineraries
                                <div class="box-tools pull-right">
                                    <button class="btn btn-primary btn-sm" ng-click="createItineraryModal()"><i class="fa fa-plus"></i>&nbsp; New</button>
                                    <button class="btn btn-default btn-sm" ng-click="loadItinerary(true)"><i class="fa fa-refresh"></i>&nbsp; Reload</button>
                                </div>
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-show="districtItineraries" class="col-sm-12">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr class="bg-warning">
                                            <td width="20%">Itinerary Name</td>
                                            <td  width="48%" class="horizontal_vertical_center">Description</td>
                                            <td   width="13%" class="horizontal_vertical_center">Start</td>
                                            <td   width="13%" class="horizontal_vertical_center">End</td>
                                            <td  width="6%" class="horizontal_vertical_center">Actions</td>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="itinerary in districtItineraries">
                                            <td>{{itinerary.name}}</td>
                                            <td class="horizontal_vertical_center">{{itinerary.description}}</td>
                                            <td class="horizontal_vertical_center">{{ momentFormatDate (itinerary.start_date, 'll' ) }}</td>
                                            <td class="horizontal_vertical_center">{{ momentFormatDate (itinerary.end_date, 'll' )  }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <div class="btn-group" dropdown>
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                            Action <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <!--<li ><a data-ng-href="#/view/district/{{district.id}}">View Details</a></li>-->
                                                            <li><a class="pointer" ng-click="editItinerary(itinerary)">Edit Itinerary</a></li>
                                                            <li><a class="pointer" ng-click="deleteItinerary(itinerary)">Delete Itinerary</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-if="!loadingItinerary" ng-hide="districtItineraries" class="col-sm-12">
                                    <p style="margin: 3% 0 3% 0; font-size: 21px" class="greyColor text-center">
                                        <i class="fa fa-warning"></i> No itineraries created for this district
                                    </p>
                                </div>
                            </div>

                        </div><!-- /.box-body -->
                        <!--Loading (remove the following to stop the loading)-->
                        <div class="overlay" ng-show="loadingItinerary" ></div>
                        <div class="loading-img" ng-show="loadingItinerary" style="padding: 50px"></div>
                        <!--end loading-->
                    </div>
                </div>






                <!--------------------                     District's Circuits           --------------------------------------->

                <div id="circuits" class="tab-pane">
                    <div class="box-no-shadow">
                        <header class="box-header" ng-show="selected_district.totalCircuits">
                            <h4 class="box-title page-header">Circuits
                                <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu hidden">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
                            </h4>
                            <aside class="box-tools">
                                <span>Total in district: {{ selected_district.totalCircuits }}</span>
                                <button class="btn btn-success btn-sm pull-right" ng-click="reloadCircuits()"><i class="fa fa-refresh"></i> Reload Circuits</button>

                                <input type="text" placeholder="Search circuit" ng-model="districtCircuits" style="width: 150px;" class="form-control input-sm pull-right">
                            </aside>
                        </header><!--Box header-->
                        <aside class="clearfix"><br></aside>
                        <div class="box-body">

                            <table class="table table-bordered table-striped" ng-show="selected_district.totalCircuits">
                                <thead>
                                <tr class="bg-primary">
                                    <td>Name of Circuit</td>
                                    <td class="horizontal_vertical_center">Name of Circuit Supervisor</td>
                                    <!--<td>Rating</td>-->
                                    <td class="horizontal_vertical_center">District</td>
                                    <td class="horizontal_vertical_center">Number of Schools</td>
                                    <!--<td>Last Updated</td>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="circuit in  selected_district.allCircuits | filter : districtCircuits">
                                    <td><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">{{circuit.name}}</a></td>
                                    <td class="horizontal_vertical_center">{{ circuit.circuitSupervisor.name}}</td>
                                    <!--<td>{{ circuit.rating}} %</td>-->
                                    <td class="horizontal_vertical_center">{{circuit.districtName }}</td>
                                    <td class="horizontal_vertical_center">{{circuit.totalSchools }}</td>
                                    <!--<td>{{circuit.updated_at}}</td>-->
                                </tr>
                                </tbody>

                            </table>
                            <div ng-hide="selected_district.totalCircuits">
                                <p style="margin: 5% 35%; color: darkgrey; font-size: 20px"><i class="fa fa-warning"></i>  No circuits under this district</p>
                            </div>

                        </div>
                    </div>
                </div><!-- /.tab-pane -->

                <!--------------------                     District's Schools           --------------------------------------->

                <div id="schools" class="tab-pane">
                    <div class="box-no-shadow">
                        <header class="box-header" ng-show=" selected_district.allSchoolsHolder">
                            <h4 class="box-title page-header">Schools
                                <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>-->
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>-->
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>-->
                        <!--<li class="divider" role="presentation"></li>-->
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" >Reload Schools</a></li>
                    </ul>
                            </span>
                            </h4>
                            <aside class="box-tools">
                                <span>Total in district: {{ selected_district.totalSchools}}</span>
                                <button class="btn btn-success btn-sm pull-right" ng-click="reloadSchools()"><i class="fa fa-refresh"></i> Reload Schools</button>
                                <input type="text" placeholder="Search school" ng-model="districtSchools" style="width: 150px;" class="form-control input-sm pull-right">
                            </aside>
                        </header><!--Box header-->
                        <aside class="clearfix"><br></aside>
                        <div class="box-body">

                            <table class="table table-bordered table-striped" ng-show=" selected_district.allSchoolsHolder">
                                <thead>
                                <tr class="bg-green">
                                    <td>School</td>
                                    <td class="horizontal_vertical_center">Head Teacher</td>
                                    <td class="horizontal_vertical_center">Circuit Supervisor</td>
                                    <td class="horizontal_vertical_center hidden" >Number of Teachers</td>
                                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                                    <td class="horizontal_vertical_center">Circuit</td>
                                    <td class="horizontal_vertical_center">District</td>
                                    <td class="horizontal_vertical_center">Last Updated</td>
                                    <!--<td class="horizontal_vertical_center">Actions</td>-->
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="school in selected_district.allSchoolsHolder| filter : districtSchools">
                                    <td><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : selected_district.id })">{{school.name}}</a></td>
                                    <td class="horizontal_vertical_center">{{lookupDataCollector[school.headteacher_id].name }}</td>
                                    <td class="horizontal_vertical_center">{{ lookupDataCollector[school.supervisor_id].name }}</td>
                                    <td class="hidden horizontal_vertical_center" >not available</td>
                                    <!--<td class="horizontal_vertical_center">{{school.rating}} %</td>-->
                                    <td class="horizontal_vertical_center">{{school.circuitName}}</td>
                                    <td class="horizontal_vertical_center">{{ school.districtName}}</td>
                                    <td class="horizontal_vertical_center" tooltip="{{school.updated_at}}">{{momentFormatDate(school.updated_at, 'llll')}}</td>
                                    <!--<td><button class="btn btn-sm btn-default">Action <i class="fa fa-angle-down"></i></button></td>-->
                                </tr>
                                </tbody>

                            </table>
                            <div ng-hide=" selected_district.allSchoolsHolder">
                                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No schools under this district</p>
                            </div>

                        </div>
                    </div>
                </div><!-- /.tab-pane -->



                <!--------------------                     Districts's Data Collectors           --------------------------------------->
                <div id="datacollectors" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header" ng-show="districtDataCollectors">
                            <h4 class="box-title page-header">Data Collectors
                                <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" send-message="" size="sm" model="district" quantity="all" selected-model="selected_district"
                                                   multiple-data-collectors="dataCollectors_to_send_messages_to"                     tabindex="-1" role="menuitem">Message All DataCollectors</a></li>
                                                <li class="divider" role="presentation"></li>

                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" data-ng-click="selectMultiple = !selectMultiple">Message Multiple</a></li>
                        <!--<li class="divider" role="presentation"></li>-->
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>-->
                    </ul>
                            </span>
                            </h4>
                            <!--<div class="box-tools pull-right" style="margin-bottom: 10px">-->
                            <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
                            <!--</div>-->
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <!-- Navigation - folders-->
                                    <div style="margin-top: 15px;">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="header">Total : {{districtLookup[selected_district.id].circuit_supervisors  + districtLookup[selected_district.id].head_teachers  }}</li>
                                        </ul>
                                        <tabset vertical="true" type="pills">
                                            <tab select="showDataCollectors('all')">
                                                <tab-heading>
                                                    <i class="fa fa-users"></i> All Data Collectors
                                                </tab-heading>
                                            </tab>
                                            <tab select="showDataCollectors('circuit_supervisors')">
                                                <tab-heading>
                                                    <i class="fa fa-user"></i> Circuit Supervisors
                                                </tab-heading>
                                            </tab>
                                            <tab select="showDataCollectors('head_teachers')">
                                                <tab-heading>
                                                    <i class="fa fa-user"></i> Head Teachers
                                                </tab-heading>
                                            </tab>
                                        </tabset>
                                    </div>


                                </div>
                                <div class="col-sm-9"  ng-show="districtDataCollectors">
                                    <div ng-show="selectMultiple" style="margin-bottom: 5px">
                                        <button ng-show="dataCollectors_to_send_messages_to.length > 1"
                                                class="btn btn-warning" send-message=""
                                                size="lg" model="district"
                                                quantity="multiple"
                                                selected-model="selected_district"
                                                multiple-data-collectors="dataCollectors_to_send_messages_to">
                                            Send message to multiple</button>
                                    </div>
                                    <table class="table table-bordered table-striped" ng-show="districtDataCollectors">
                                        <thead>
                                        <tr class="bg-green">
                                            <td ng-show="selectMultiple">Select</td>
                                            <td>Name</td>
                                            <td>Type</td>
                                            <td>District</td>
                                            <td>Circuit</td>
                                            <td>Actions</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="collector in districtDataCollectors">
                                            <!--<td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>-->
                                            <td ng-show="selectMultiple"><input type="checkbox" data-ng-click="addRemoveCollector(collector.id)"></td>
                                            <td>{{collector.name }}</td>
                                            <td>{{ formatDataCollectorType [collector.type ] }}</td>
                                            <td>{{ districtLookup [ collector.district_id ].name }}</td>
                                            <td>{{ circuitLookup [ collector.circuit_id ].name }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <div class="btn-group" dropdown>
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                            Action <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a ui-sref="dashboard.view_data_collector({id : collector.id})">View Details</a></li>
                                                            <li><a href=""
                                                                   send-sms-modal="" size="md"
                                                                   selected-model="lookupDataCollector[collector.id]"
                                                                   multiple-data-collectors=""
                                                            >Send Message</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>
                                </div>
                                <div ng-hide="districtDataCollectors">
                                    <p style="margin: 5% 0 5% 50%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No {{data_collector_type}} under this district</p>
                                </div>
                            </div>


                        </div><!-- /.box-body -->
                    </div>
                </div><!-- /.tab-pane -->






                <!--------------------                     District's Miscelaneos           --------------------------------------->
                <div id="miscellaneous" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title hidden">Miscellaneous</h3>
                            <div class="box-tools pull-right hidden">
                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <p style="color: darkgrey; margin: 5% 29%; font-size: 20px">
                                Content loading, please move to other tabs.
                            </p>
                        </div><!-- /.box-body -->
                        <!-- Loading (remove the following to stop the loading)-->
                        <div class="overlay" ></div>
                        <div class="loading-img"  style="padding: 50px"></div>
                        <!-- end loading -->
                    </div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div>
</div>







<!-- All District Settings Modal -->
<div class="modal fade" id="districtSettingsModal" tabindex="-1" role="dialog" aria-labelledby="districtSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="districtSettingsModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Iteration Modal -->
