<h4 class="page-header">
    <span ng-show="districts.length">Districts</span>
    <!--<small>This is a description of the current region.</small>-->
    <a ui-sref="dashboard.add_district({id : 0, action : 'add' })"  ng-show="adminRight > 3 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add District</span></a>
</h4>
<div class="clearfix"><br></div>

<div class="alert alert-danger" ng-hide="districts.length">There are no districts in the database.</div>

<div class="box box-primary" ng-show="districts.length" ui-view="">
    <div class="box-header">
        <!--<i class="fa fa-map-marker"></i>-->
        <pagination class="inline pagination"
                    total-items="totalItems"
                    items-per-page="15" ng-model="currentPage" ng-change="pageChanged(currentPage)"
                    ng-show="totalItems > 15">
        </pagination>
        <div class="box-tools pull-right ">
            <div class="input-group-btn">
            </div>
            <div class="input-group">
                <button class="btn btn-default" data-ng-click="searchModal()" ng-show="adminRight > 3">Click to search district</button>
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadDistricts()"><i class="fa fa-refresh"></i> Reload Districts</button>
                <input ng-model="searchDistrict"   ng-show="adminRight > 3"  type="text" placeholder="Search district" style="width: 200px;"
                       class="form-control input-st hidden" >
            </div>
        </div>

    </div>
    <div class="box-body no-padding" ng-show="!inSearchBox">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'regionName'; reverse=!reverse">Region </a></th>
                    <!--<th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating</a></th>-->
                    <th title="Click to Sort"><a href=""> Action </a></th>
                </tr>
                <tr ng-repeat="district in districts | filter : searchDistrict | orderBy : districtSortOrder : reverse | limitTo : 15">
                    <td><a ui-sref="dashboard.view_selected_district({id : district.id})">{{ district.name }}</a></td>
                    <td>{{ regionLookup[district.region_id].name }} </td>
                    <!--<td>Upper Region </td>-->
                    <!--<td ng-show="district.rating">{{ district.rating }} %</td>-->
                    <!--<td ng-hide="district.rating">Incomplete data</td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li  ng-show="adminRight > 2"><a data-ng-href="#/view/district/{{district.id}}">View Details</a></li>
                                    <li  ng-show="adminRight > 3 && currentUser.role === 'super' "><a ui-sref="dashboard.add_district({id : district.id, action : 'edit'})">Edit District</a></li>
                                    <li  ng-show="adminRight > 3 && currentUser.role === 'super' "><a href="" onclick="return false" data-ng-click="deleteModal('sm', district.id, $event )">Delete District</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info hidden" ng-hide="( districts  | filter: searchDistrict ).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->

    <!--<div class="box-body no-padding" ng-show="inSearchBox">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'regionName'; reverse=!reverse">Region </a></th>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating</a></th>
                    <th title="Click to Sort"><a href=""> Action </a></th>
                </tr>
                <tr ng-repeat="district in districtsSearch | filter: searchDistrict | orderBy : districtSortOrder : reverse | limitTo : 15">
                    <td><a href="#/view/district/{{district.id}}">{{ district.name }}</a></td>
                    <td>{{ regionLookup[district.region_id].name }} </td>
                    &lt;!&ndash;<td>Upper Region </td>&ndash;&gt;
                    <td>{{ district.rating }}</td>
                    &lt;!&ndash;<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>&ndash;&gt;
                    <td>
                        <div class="btn-group">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li  ng-show="adminRight > 2"><a data-ng-href="#/view/district/{{district.id}}">View Details</a></li>
                                    <li  ng-show="adminRight > 4"><a ui-sref="dashboard.add_district({id : district.id, action : 'edit'})">Edit District</a></li>
                                    <li  ng-show="adminRight > 4"><a href="" onclick="return false" data-ng-click="deleteModal('sm', district.id, $event )">Delete District</a></li>
                                    &lt;!&ndash;<li class="divider"></li>&ndash;&gt;
                                    &lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>&lt;!&ndash; /.table &ndash;&gt;
        </div>
        <div class="alert alert-info" ng-hide="( districtsSearch  | filter: searchDistrict ).length">
            There are no more results to show.
        </div>
    </div>--><!-- /.box-body-->
</div>
