<div class="box-no-shadow" ng-controller="scViewSelectedCircuitSchoolsCommunityInvolvementController">
    <div class="box-header">
        <h3 class="box-title">Community Involvement
            <div class="box-tools  pull-right">
                <div class="input-group">
                    <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="community_year"
                            ng-options="year for year in circuitYears">
                        <option value="">Select year</option>
                    </select>
                    <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="community_term"
                            ng-options="term.value as term.label for term in circuitTerms">
                        <option value="">Select term</option>
                    </select>
                    <button  ng-click="fetchCommunityData()"  class="btn btn-primary btn-sm">
                        Load Data
                    </button>
                </div>
            </div>
        </h3>

    </div><!-- /.box-header -->
    <div class="clearfix"></div>
    <div class="box-body no-padding">
        <!--This is the Table Export Button-->
        <div class="row">
            <div class="col-sm-12" ng-show="communityData.length">

                <div class="btn-group pull-right ">
                    <button  class="btn btn-primary btn-sm src_communityTable" export-table="src_communityTable" file-name="{{selected_circuit.name + ' Termly Community Involvement Summary ' + community_year + ' ' + community_term}}">Begin Termly Community Involvement Summary Export</button>
                </div>
                <table class="table table-striped table-bordered table-hover" id="src_communityTable">
                    <thead>
                    <tr class="bg-primary">
                        <th style="text-align: center">School</th>
                        <th style="text-align: center">Good</th>
                        <th style="text-align: center">Fair</th>
                        <th style="text-align: center">Poor</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="community in communityData">
                        <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : community.school_id, district_id : community.district_id})">{{ community.name}}</a></td>

                        <td align="center">{{community.good}}</td>
                        <td align="center">{{community.fair}}</td>
                        <td align="center">{{community.poor}}</td>
                        <td align="center" class="text-danger text-center">
                            <div class="btn-group">
                            <button class="center-block btn btn-default btn-sm" community-preview="community">Preview Data</button>
                                <button class="center-block btn btn-danger btn-sm" delete-section-data="Community Involvement"
                                        section-type="community_relation" submission-id="{{community.data.id}}" function="fetchCommunityData()"
                                        term="{{community.data.term}}" year="{{community.data.year}}" school-id="{{community.school_id}}">Delete Data</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12" ng-hide="communityData.length" ng-if="!communityData.length">
                <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                    <span ng-if="loadingCommunityData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                    <span ng-if="!(loadingCommunityData)">No data available.</span>
                </div>
            </div>
        </div>

    </div><!-- /.box-body -->
</div><!-- /.box -->
