<div>
    <div class="box-no-shadow" ng-controller="scViewSelectedCircuitSchoolsMeetingsController">
        <div  class="box-header">
            <h3 class="box-title">Meetings Held
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="meeting_year"
                                ng-options="year for year in circuitYears">
                            <option value="">Select year</option>
                        </select>
                        <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="meeting_term"
                                ng-options="term.value as term.label for term in circuitTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchMeetingData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div  ng-show="meetingData.length" class="col-sm-12">
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm schoolMeetingsTable" export-table="schoolMeetingsTable" file-name="{{selected_circuit.name + ' Termly Meetings Held Summary ' + meeting_year + ' ' + meeting_term}}">Begin Termly Meetings Held Summary Export</button>
                    </div>
                    <table  class="table table-striped table-bordered table-hover" id="schoolMeetingsTable">
                        <thead>
                        <tr  class="bg-primary">
                            <th style="text-align: center" class="horizontal_vertical_center">School</th>
                            <th style="text-align: center" class="horizontal_vertical_center">Total Held</th>
                            <th style="text-align: center" class="horizontal_vertical_center" >Total Attendance</th>
                            <th style="text-align: center" class="horizontal_vertical_center" >CS Visits</th>
                            <th style="text-align: center" class="horizontal_vertical_center" >INSETS</th>
                            <th style="text-align: center"  class="horizontal_vertical_center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="meeting in meetingData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : meeting.school_id, district_id : meeting.district_id})">{{ meeting.name}}</a></td>

                            <td align="center">{{ meeting.number_held }}</td>
                            <td align="center">{{meeting.total_attendance}}</td>
                            <td align="center">{{meeting.cs_visits}}</td>
                            <td align="center">{{meeting.insets}}</td>
                            <td align="center" class="text-danger text-center">
                                <div class="btn-group">
                                    <button class="center-block btn btn-default btn-sm" meetings-preview="meeting">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="School Meetings"
                                            section-type="meeting" submission-id="{{meeting.data.id}}" function="fetchMeetingData()"
                                            term="{{meeting.data.term}}" year="{{meeting.data.year}}" school-id="{{meeting.school_id}}">Delete Data</button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12" ng-hide="meetingData.length" ng-if="!meetingData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingMeetingData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingMeetingData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->


    </div><!-- /.box -->
</div>