<div class="modal-header">
    <h3 class="modal-title bg-gray">{{itineraryAction}}  Itinerary</h3>
</div>
<div class="modal-body">

    <form role="form">
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success" ng-show="successMessage">{{ successMessage}}</div>
                    <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="itinerary_name">Itinerary Name <em>*</em></label>
                <input data-ng-disabled=" itineraryAction=='Delete' " type="text" class="form-control" id="itinerary_name" placeholder="Enter itinerary name" ng-model="itineraryFormData.name">
            </div>
            <div class="form-group col-sm-12">
                <label for="itinerary_description">Itinerary Description <em>*</em></label>
                <textarea  data-ng-disabled=" itineraryAction== 'Delete' " class="form-control" id="itinerary_description" placeholder="Enter a brief description of the itinerary " ng-model="itineraryFormData.description"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label for="start_date" class="control-label"><i class="fa fa-calendar"></i> &nbsp; Start Date <em>*</em></label>
                <p class="input-group">
                    <input id="start_date" type="text" class="form-control"
                           datepicker-popup="dd-MMMM-yyyy"
                           ng-model="itineraryFormData.start_date"
                           is-open="startOpened"
                           min-date="minDate"
                           max-date="itineraryFormData.end_date"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           show-weeks="false"
                           ng-required="true"
                           close-on-date-selection="false"
                           data-ng-disabled="true "
                           close-text="Close" />
                    <!--date-disabled="disabled(date, mode)"-->
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>

            </div>
            <div class="form-group col-sm-6">
                <label for="end_date" class="control-label"><i class="fa fa-calendar"></i> &nbsp; End Date <em>*</em></label>
                <p class="input-group">
                    <input id="end_date" type="text" class="form-control"
                           datepicker-popup="dd-MMMM-yyyy"
                           ng-model="itineraryFormData.end_date"
                           is-open="endOpened"
                           min-date="itineraryFormData.start_date"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           show-weeks="false"
                           ng-required="true"
                           date-disabled="disabled(date, mode)"
                           data-ng-disabled="true"
                           close-on-date-selection="false"
                           close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>

            </div>




        </div>

    </form>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary pull-left" data-ng-click="endOpened()"><i class="fa fa-calendar-o"></i> Reset Calendar</button>-->
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="submit" class="btn btn-success"  ng-click="ok()"
            ng-class="{'btn-success' : itineraryAction == 'Add', 'btn-warning' : itineraryAction == 'Edit', 'btn-danger' : itineraryAction == 'Delete'}"
            data-ng-disabled="!(itineraryFormData.name && itineraryFormData.description && itineraryFormData.start_date && itineraryFormData.end_date) || isSubmitting"
            >{{  itineraryAction }} Itinerary</button>
</div>
        <!--KgTODO the end date should be validated against the start date chosen-->