<div class="modal-header">
    <h3 class="modal-title bg-gray">CS Teacher Comment</h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-sm-12">
        <form role="form" name="commentFormParent">
            <div class="form-group">
                <label class="control-label">Teacher:</label>
                <p class="form-control col-sm-12">
                    <span class="label label-primary">{{ selected_teacher }} </span>
                </p>
                <!--<input type="text" id="name" placeholder="Send to:" disabled class="form-control" ng-value="selected_data_collector.name">-->
            </div>
            <div class="form-group">
                <label class="control-label">Section:</label>
                <p class="form-control col-sm-12">
                    <span class="label label-primary">{{ section }} </span>
                </p>
                <!--<input type="text" id="name" placeholder="Send to:" disabled class="form-control" ng-value="selected_data_collector.name">-->
            </div>
            <div class="form-group" >
                <label class="control-label">Comment:</label>
                <textarea maxlength="155" rows="5" class="form-control col-sm-12" name="comment"
                          placeholder="Type your comment here" ng-model="commentForm.cs_comment"></textarea>
            </div>
        </form>
    </div>
</div>


</div>

<div class="modal-footer">
    <br>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn" data-ng-disabled="postingComment" ng-click="submit()" ng-class="{true : 'btn-default', false : 'btn-success'}[postingComment]">
        <span ng-hide="postingComment">Submit Comment</span>
        <span ng-show="postingComment"><i class="fa fa-spin fa-spinner"></i> ... Submitting Comment</span>
    </button>
</div>