    <div class="modal-header">
        <h3 class="modal-title bg-red">Clear Cached Data</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                Are you sure you want to release system memory? All cached data will be reloaded.
            </div>
            <div ></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">Yes</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>