<div class="modal-header">
    <h3 class="modal-title bg-gray">Delete Teacher</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header">{{ teacherName }}</h2>
            <h4>Are you sure you want to delete this teacher from {{ schoolName}}? </h4>
        </div>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="delete()">Delete</button>
    <div class="clearfix"></div>
</div>