<div class="modal-header">
    <h3 class="modal-title bg-gray">Send Credentials</h3>
</div>
<div class="modal-body">
<p> Do you want to resend login credentials to <em>{{ datacollector.name }}</em> ?</p>
</div>

<div class="modal-footer">


    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="send()">Send Credentials</button>
</div>