<div class="modal-header">
    <h3 class="modal-title bg-gray">Teacher for  <span>{{selected_school.name}}</span>
        <span class="pull-right btn" title="Close modal" ng-click="cancel()"><i class="fa fa-times-circle"></i></span></h3>
</div>
<div class="modal-body">
    <h4 class="page-header">
        Fill out the details below
    </h4>
    <form name="teacher_form" novalidate="" >
        <div class="row">
            <div class="col-lg-12 form-group">
                <div class="row">
                    <!--<div class="form-group col-sm-3" ng-class="{'has-error' : validation.school_id || teacher_form.school_id.$invalid && highlightErrors }">-->
                        <!--<label for="school_id">School <em>*</em></label>-->
                        <!--<select disabled required="" class="form-control" name="school_id" ng-model="formData.school_id" id="school_id" ng-options="school.id as school.name for school in schools">-->
                            <!--<option value="" selected>Select School</option>-->
                        <!--</select>-->
                        <!--<p  ng-show="(teacher_form.school_id.$invalid) ||  validation.school_id"   class="text-red help-block">School is required.</p>-->
                    <!--</div>-->
                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.last_name || teacher_form.last_name.$invalid && highlightErrors }">
                        <label for="last_name">Surname <em>*</em></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name" ng-model="formData.last_name" required="">
                        <p  ng-show="(teacher_form.last_name.$invalid && !teacher_form.last_name.$pristine) ||  validation.last_name  || (teacher_form.last_name.$invalid && highlightErrors)"   class="text-red help-block">Last name is required.</p>
                    </div>
                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.first_name || teacher_form.first_name.$invalid && highlightErrors }">
                        <label for="first_name">Other names  <em>*</em></label>
                        <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter other names"  ng-model="formData.first_name" required="">
                        <p  ng-show="(teacher_form.first_name.$invalid && !teacher_form.first_name.$pristine) ||  validation.first_name  || (teacher_form.first_name.$invalid && highlightErrors)"   class="text-red help-block">Other names are required.</p>
                    </div>
                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.gender ||  (teacher_form.gender.$invalid && highlightErrors) }">
                        <label for="gender">Gender  <em>*</em></label>
                        <select  id="gender" class="form-control" name="gender" required="" ng-model="formData.gender">
                            <option value="" selected>Select gender of teacher</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <p  ng-show="(teacher_form.gender.$invalid && !teacher_form.gender.$pristine) ||  validation.gender ||  (teacher_form.gender.$invalid && highlightErrors)"   class="text-red help-block">Gender is required.</p>
                    </div>

                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.teacher_status ||  (teacher_form.teacher_status.$invalid && highlightErrors) }">
                        <label for="teacher_status">Teacher Status  <em>*</em></label>
                        <select  id="teacher_status" class="form-control" name="teacher_status" required="" ng-model="formData.teacher_status">
                            <option value="atpost">At Post</option>
                            <option value="studyleave">Study Leave</option>
                            <option value="otherleave">Other Leave</option>
                            <option value="retired">Retired</option>
                            <option value="deceased">Deceased</option>
                        </select>
                        <p  ng-show="(teacher_form.teacher_status.$invalid && !teacher_form.teacher_status.$pristine) ||  validation.teacher_status ||  (teacher_form.teacher_status.$invalid && highlightErrors)"   class="text-red help-block">Teacher Status is required.</p>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.staff_number ||  (teacher_form.staff_number.$invalid && highlightErrors) }">
                        <label for="staff_number">Staff Number <em> * </em></label>
                        <input type="text" class="form-control" id="staff_number" placeholder="Enter staff number"
                               required=""
                               name="staff_number"
                               ng-model="formData.staff_number" >

                        <p  ng-show="(teacher_form.staff_number.$invalid && !teacher_form.staff_number.$pristine) ||  validation.staff_number ||
                    (teacher_form.staff_number.$invalid && highlightErrors)"
                            class="text-red help-block"> Teacher staff number is required
                        </p>
                        <p  ng-show="staffNumberExists"   class="text-red help-block">Duplicate staff number in the system.</p>
                    </div>

                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.years_in_the_school ||  (teacher_form.years_in_the_school.$invalid && highlightErrors) }">
                        <label for="years_in_the_school">Year Posted to School <em> * </em></label>
                        <input type="text" class="form-control" id="years_in_the_school" placeholder="Enter year teacher was posted to the school"
                               required=""
                               name="years_in_the_school"
                               ng-model="formData.years_in_the_school" >

                        <p  ng-show="(teacher_form.years_in_the_school.$invalid && !teacher_form.years_in_the_school.$pristine) ||  validation.years_in_the_school ||
                    (teacher_form.years_in_the_school.$invalid && highlightErrors)"
                            class="text-red help-block">Year posted to school is required
                        </p>
                    </div>

                    <div class="form-group col-sm-3" ng-class="{ 'has-error' : validation.level_taught ||  (!teacher_form.level_taught.$invalid && highlightErrors) }">
                        <label for="level_taught">Level Taught <em>*</em></label>
                        <select id="level_taught" class="form-control" name="level_taught" required="" ng-model="formData.level_taught">
                            <option value="" selected>Select teaching level</option>
                            <option value="nursery">Nursery</option>
                            <option value="kg">KG</option>
                            <option value="primary">Primary</option>
                            <option value="jhs">JHS</option>
                            <option value="shs">SHS</option>
                            <option value="administration">Administration</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-3" ng-show="classLevel" ng-class="{'has-error' : validation.class_taught ||  (teacherFormIsValid() && highlightErrors) }">
                        <label for="class_taught">Class Taught <em>*</em></label>
                        <select  id="class_taught" class="form-control" name="class_taught" ng-model="formData.class_taught"
                                 ng-options="class.value as class.label for class in classes">
                            <option value="" selected>Select teacher subject/class</option>
                        </select>
                        <p  ng-show="(teacher_form.class_taught.$invalid && !teacher_form.class_taught.$pristine) ||  validation.class_taught ||  (teacher_form.class_taught.$invalid && highlightErrors)"   class="text-red help-block">
                            Class taught is required</p>
                    </div>

                    <div class="form-group col-sm-3" ng-show="subjectLevel" ng-class="{'has-error' : validation.class_subject_taught ||  (teacherFormIsValid() && highlightErrors) }">
                        <label for="class_subject_taught">Subject Taught  <em>*</em></label>
                        <select  id="class_subject_taught" class="form-control" name="class_subject_taught"  ng-model="formData.class_subject_taught">
                            <option value="" selected>Select teacher subject/class</option>
                            <option value="English Language">English Language</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Integrated Science">Integrated Science</option>
                            <option value="Social Studies">Social Studies</option>
                            <option value="Ghanaian Language & Culture">Ghanaian Language & Culture</option>
                            <option value="Basic Design and Technology">Basic Design and Technology</option>
                            <option value="ICT"> ICT</option>
                            <option value="French">French</option>
                            <option value="Physical Education"> Physical Education</option>
                            <option value="RME">RME</option>
                            <option value="Music">Music</option>
                            <option value="Others">Others</option>
                        </select>
                        <p  ng-show="(teacher_form.class_subject_taught.$invalid && !teacher_form.class_subject_taught.$pristine) ||  validation.class_subject_taught ||  (teacher_form.class_subject_taught.$invalid && highlightErrors)"   class="text-red help-block">
                            Subject taught is required</p>
                    </div>

                </div>

                <div class="row" >
                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.rank ||  (teacher_form.rank.$invalid && highlightErrors) }">
                        <label for="rank">Rank  <em>*</em></label>
                        <select  id="rank" class="form-control" name="rank" required="" ng-model="formData.rank">
                            <option value="" selected>Select rank of teacher</option>
                            <option value="Pupil Teacher">Pupil Teacher</option>
                            <option value="Director I">Director I</option>
                            <option value="Director II">Director II</option>
                            <option value="Deputy Director">Deputy Director</option>
                            <option value="Assistant Director I">Assistant Director I</option>
                            <option value="Assistant Director II">Assistant Director II</option>
                            <option value="Principal Superintendent">Principal Superintendent</option>
                            <option value="Senior Superintendent I">Senior Superintendent I</option>
                            <option value="Senior Superintendent II">Senior Superintendent II</option>
                            <option value="Superintendent I">Superintendent I</option>
                            <option value="Superintendent II">Superintendent II</option>
                            <option value="Not Ranked">Not Ranked</option>
                        </select>
                        <p  ng-show="(teacher_form.rank.$invalid && !teacher_form.rank.$pristine) ||  validation.rank ||  (teacher_form.rank.$invalid && highlightErrors)"   class="text-red help-block">
                            Teacher rank is  required</p>
                    </div>

                        <div class="form-group col-sm-3" ng-class="{'has-error' : validation.category ||  (teacher_form.category.$invalid && highlightErrors)}">
                            <label for="category">Category <em>*</em></label>
                            <select name="category" id="category" required="" class="form-control"  ng-model="formData.category">
                                <option value="" selected>Select category of teacher</option>
                                <option value="Professional">Professional</option>
                                <option value="Pupil Teacher">Pupil Teacher</option>
                                <option value="National Service">National Service</option>
                                <option value="Volunteer">Volunteer</option>
                                <option value="GYEEDA">GYEEDA</option>
                                <option value="Student Teacher">Student Teacher</option>
                                <option value="Others">Others</option>
                            </select>
                            <p  ng-show="(teacher_form.category.$invalid && !teacher_form.category.$pristine) ||  validation.category ||  (teacher_form.category.$invalid && highlightErrors)"   class="text-red help-block">
                                Category is required</p>
                        </div>

                    <div class="form-group col-sm-3" ng-class="{'has-error' : validation.highest_academic_qualification ||  (teacher_form.highest_academic_qualification.$invalid && highlightErrors) }">
                        <label for="highest_academic_qualification">Academic Qualification <em>*</em></label>
                        <select name="highest_academic_qualification" id="highest_academic_qualification" class="form-control"
                                ng-model="formData.highest_academic_qualification" required="">
                            <option value="" selected>Highest academic qualification</option>
                            <option value="MSLC">MSLC</option>
                            <option value="BECE">BECE</option>
                            <option value="GCE 'O' Level">GCE 'O' Level</option>
                            <option value="SSSCE">SSSCE</option>
                            <option value="GCE 'A' Level">GCE 'A' Level</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Degree">Degree</option>
                            <option value="Post Graduate Certificate">Post Graduate Certificate</option>
                            <option value="Post Graduate Diploma">Post Graduate Diploma</option>
                            <option value="Masters' Degree">Masters' Degree</option>
                            <option value="Others">Others</option>
                        </select>
                        <p  ng-show="(teacher_form.highest_academic_qualification.$invalid && !teacher_form.highest_academic_qualification.$pristine)
                            ||  validation.highest_academic_qualification ||
                             (teacher_form.highest_academic_qualification.$invalid && highlightErrors)"   class="text-red help-block">
                            Highest academic qualification is required</p>
                    </div>

                    <div class="col-sm-3 form-group" ng-class="{'has-error' : validation.highest_professional_qualification ||  (teacher_form.highest_professional_qualification.$invalid && highlightErrors)}">
                        <label for="highest_professional_qualification">Professional Qualification <em>*</em></label>
                        <select name="highest_professional_qualification" id="highest_professional_qualification" class="form-control"
                                ng-model="formData.highest_professional_qualification" required="">
                            <option value="" selected>Highest professional qualification</option>
                            <option value="Cert A">Cert A</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Degree">Degree</option>
                            <option value="Post Graduate Certificate">Post Graduate Certificate</option>
                            <option value="Masters' Degree">Masters' Degree</option>
                            <option value="Others">Others</option>
                        </select>
                        <p  ng-show="(teacher_form.highest_professional_qualification.$invalid && !teacher_form.highest_professional_qualification.$pristine) ||  validation.highest_professional_qualification ||  (teacher_form.highest_professional_qualification.$invalid && highlightErrors)"   class="text-red help-block">
                            Highest professional qualification is required</p>
                    </div>

                    <p class="col-xs-12" ng-hide="formData.id">
                        <button class="btn btn-success pull-right" data-ng-disabled="isSubmitting" ng-click="send()" ng-show="(teacher_form.$valid &&  teacherFormIsValid())">Add Teacher</button>
                        <span class="btn btn-danger pull-right" ng-hide="(teacher_form.$valid &&  teacherFormIsValid())" ng-click="highlightErrors = !highlightErrors">Add Teacher</span>
                    </p>

                </div>

            </div>

        </div>


    </form>
    <hr ng-hide="formData.id" />
    <h4 class="page-header" ng-hide="formData.id">
        Upload CSV of multiple teachers
        <span class="box-tools pull-right"><a href="/downloadadbles/teachers.csv" target="_blank" class="btn btn-default" title="Download a sample CSV"><i class="fa fa-download"></i>  Sample CSV</a> </span>
    </h4>
    <div class="clearfix"></div>

    <div class="row" ng-hide="formData.id">
        <div class="col-sm-3 form-group">
            <button class="btn btn-primary"
                    ng-file-select  ng-model="myFiles"  ng-file-change="fileSelected($files, $event)"
                    accept="*.csv"><i class="fa fa-file-text-o"></i> Click to upload CSV file </button>
        </div>
        <div class="form-group" ng-class="{true : 'col-sm-6', false : 'col-sm-9'}[ fileIsCorrect == true ]">
            <div class="input-group col-sm-12">
                <span class=" form-control" style="background: #eee" >{{ file.name ||"No file uploaded" }}</span>
            </div><!-- /input-group -->

            <div class="col-sm-12" ng-init="max = 100; current = 100" style="margin-top: 5px" ng-show="fileUploaded">
                <progressbar max="max" value="current"  type="success" class="progress-striped active"><span style="color:white; white-space:nowrap;">{{current}} / {{max}}</span></progressbar>
            </div>
        </div>
        <div class="col-sm-3 form-group" ng-show="file">
            <div class="btn-group">
                <button class="btn btn-success" data-ng-disabled="fileUploaded" ng-click="uploadCsv(file)"><i class="fa fa-upload"></i>  Upload</button>
                <button class="btn btn-danger" ng-click="cancelUpload()"><i class="fa fa-times-circle-o"></i>  Cancel</button>
            </div>
        </div>

    </div>

    <!--<pre>{{ formData | json }}</pre>-->

    <div class="modal-footer" ng-show="formData.id" style="margin: 6px 0">

        <button class="btn btn-default pull-left" ng-click="cancel()">Close Modal</button>

        <button class="btn btn-success pull-right" data-ng-disabled="isSubmitting" ng-click="send()" ng-show="(teacher_form.$valid &&  teacherFormIsValid())">Save Changes</button>
        <span class="btn btn-danger pull-right" ng-hide="(teacher_form.$valid &&  teacherFormIsValid())" ng-click="highlightErrors = !highlightErrors">Save Changes</span>


    </div>
</div>
