<div class="row">
    <div class="col-sm-12">

        <button ng-show="adminRight == 2" class="btn  btn-sm pull-left" ng-class="{true : 'btn-default', false : 'btn-warning'}[showComment == true]"
                ng-click="showComment = !showComment">
            <span ng-hide="showComment">Add Comment</span>
            <span ng-show="showComment">Hide Comment</span>
        </button>

        <button  class="btn btn-success btn-sm pull-right" data-ng-disabled="postingComment" ng-show="showComment" ng-click="postComment()">
            <span ng-hide="postingComment">  Post Comment</span>
            <span ng-show="postingComment"><i class="fa fa-spin fa-spinner"></i> Posting... </span>
        </button>

        <div class="clearfix"></div>
        <br>

        <textarea  class="form-control" ng-show="showComment"
          placeholder="Add CS Comment here" ng-model="csComment" rows="3">
        </textarea>

    </div>
</div>
