    <div class="modal-header">
        <h3 class="modal-title bg-red">Delete  {{ deleteSectionData }} Data</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                Are you sure you want to delete {{ deleteSectionData }} data for<span ng-show="week"> week {{week}}</span> {{ one_school_terms[term].label }}, {{ year}} for {{ deleteObject.name }}?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="delete()">Yes, delete it!</button>
        <button class="btn btn-primary pull-left" ng-click="cancel()">Cancel</button>
    </div>