<div class="modal-header">
    <h3 class="modal-title bg-gray">SRC for <span>{{selected_school.name}}</span></h3>
</div>
<div class="modal-body">
    <h4 class="page-header">
        Select the duration of the report to generate
    </h4>
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="input-group" >
                <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"> Year   <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">

                        <li ng-repeat="year in available_years">
                            <a class="pointer" data-ng-click="reportFormData.academic_year = year ">{{ year }}</a>
                        </li>

                        <!--<li><a class="pointer" data-ng-click="reportFormData.academic_year = '2014/2015' ">2014/2015</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.academic_year = '2015/2016' ">2015/2016</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.academic_year = '2016/2017' ">2016/2017</a></li>-->
                        <li class="divider"></li>
                        <li><a class="pointer" data-ng-click="reportFormData.academic_year = ''">Clear</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-model="reportFormData.academic_year" data-ng-disabled="true">
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <div class="input-group" >
                <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button"> Term  <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="term in available_terms">
                            <a class="pointer" data-ng-click="reportFormData.academic_term = term.number ">{{ term.label }}</a>
                        </li>
                        <!--<li><a class="pointer"  data-ng-click="reportFormData.academic_term = '1st' ">First term</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.academic_term = '2nd' ">Second Term</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.academic_term = '3rd' ">Third Term</a></li>-->
                        <li class="divider"></li>
                        <li><a class="pointer" data-ng-click="reportFormData.academic_term = ''">Clear</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-model="reportFormData.academic_term" data-ng-disabled="true">
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <div class="input-group" >
                <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" type="button"> Week <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">

                        <li ng-repeat="week in available_weeks">
                            <a class="pointer" data-ng-click="reportFormData.week_number = week ">{{ week }}</a>
                        </li>

                        <!--<li><a class="pointer" data-ng-click="reportFormData.week_number = '1' ">1</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.week_number = '2' ">2</a></li>-->
                        <!--<li><a class="pointer" data-ng-click="reportFormData.week_number = '3' ">3</a></li>-->
                        <li class="divider"></li>
                        <li><a class="pointer" data-ng-click="reportFormData.week_number = ''">Clear</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-model="reportFormData.week_number" data-ng-disabled="true">
            </div>
        </div>

    </div>

    <h4 class="page-header">
        Check the areas to include in the report
    </h4>

    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="reportFormData.student_enrollment">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee" >Student Enrollment</span>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-12 form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  ng-model="reportFormData.student_attendance">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee">Student Attendance</span>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-12 form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  ng-model="reportFormData.teacher_punctuality">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee">Teacher Attendance</span>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-12 form-group hidden">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  ng-model="reportFormData.records_performance">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee">Records and Performance</span>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-12 form-group hidden">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  ng-model="reportFormData.school_grounds">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee">School Grounds</span>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-12 form-group hidden">
            <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"  ng-model="reportFormData.community_involvement">
                    </span>
                <span class="col-sm-12 form-control" style="background: #eee">Community Involvement</span>
            </div><!-- /input-group -->
        </div>
    </div>
</div>

<div class="modal-footer">

    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="send()"
            data-ng-disabled="!( reportFormData.academic_year && reportFormData.academic_term  && reportFormData.week_number )">Generate Report</button>
</div>