<div class="row">
    <div class="col-sm-12 " ng-show="parentData[filter_year + filter_term + filter_week + filter_data_collector_type].venue">
        <div>Data submitted from : <em><b>{{ parentData[filter_year + filter_term + filter_week + filter_data_collector_type].venue }}</b></em>
            <p>( {{parentData[filter_year + filter_term + filter_week + filter_data_collector_type].latitude}}, {{parentData[filter_year + filter_term + filter_week + filter_data_collector_type].longitude}})</p>
            <p class="btn btn-sm btn-success" show-on-map=""
               longitude="{{ parentData[filter_year + filter_term + filter_week + filter_data_collector_type].longitude }}"
               latitude="{{parentData[filter_year + filter_term + filter_week + filter_data_collector_type].latitude }}">Show on a map</p>
        </div>
    </div>
    <div class="col-sm-12 " ng-hide="(parentData[filter_year + filter_term + filter_week + filter_data_collector_type].venue)">
        <p><button class="btn btn-warning" data-ng-click="getDataSubmissionLocation()">
            Get location</button></p>
    </div>
</div>