<div class="form-box" id="login-box" ng-controller="scAdminControllerLoginAdminUser">

    <a href="/" ng-if="!(csLoginCheck)">
        <div class="header">
            <img   src="/img/white_logo_150.png" class="img-responsive" alt="mSRC logo"
                  style="margin: auto; width: 37%">
            <!--<img src="../img/unicef_icon.jpg" class="img-circle" alt="Unicef Icon" style="width: 50px" />-->
            <p style="margin: auto; text-align: center"><small><b>Schools that learn</b></small></p>
            <!--<img src="../img/unicef_icon.jpg" class="img-circle" alt="Unicef Icon" style="width: 50px" />-->
        </div>
    </a>
    <a href="" ng-if="csLoginCheck">
        <div class="header">
            <img  src="/img/white_logo_150.png" class="img-responsive" alt="mSRC logo"
                  style="margin: auto; width: 37%">
            <!--<img src="../img/unicef_icon.jpg" class="img-circle" alt="Unicef Icon" style="width: 50px" />-->
            <p style="margin: auto; text-align: center"><small><b>Schools that learn</b></small></p>
            <p style="cursor : crosshair; margin: auto; text-align: center; font-size: smaller">
                <small ng-click="changeCSLogin()"><i>CS Dashboard</i></small></p>
            <!--<img src="../img/unicef_icon.jpg" class="img-circle" alt="Unicef Icon" style="width: 50px" />-->
        </div>
    </a>

    <form ng-submit="loginAdminUser()">
        <div class="body bg-gray">
            <div class="alert alert-danger text-center" style="margin-left : 0" ng-show="loginError">Invalid credentials entered. <br>Please check and retry.</div>
            <div class="form-group">
                <!--shown if the URL is not the cs dashboard-->
                <input type="text" required ng-if="!(csLoginCheck)" ng-model="loginForm.username" autocomplete="username" name="username" class="form-control" placeholder="User ID"/>

                <!--shown if the URL is the cs dashboard-->
                <input type="text" required ng-if="csLoginCheck" ng-model="loginForm.cs_phone_number" autocomplete="tel" name="cs_phone_number" class="form-control" placeholder="CS Phone Number"/>
            </div>
            <div class="form-group">
                <!--shown if the URL is not the cs dashboard-->
                <input type="password" required ng-if="!(csLoginCheck)" ng-model="loginForm.password" autocomplete="current-password" name="password" class="form-control" placeholder="Password"/>

                <!--shown if the URL is the cs dashboard-->
                <input type="password" required ng-if="csLoginCheck" ng-model="loginForm.cs_identity_code" autocomplete="current-password" name="cs_identity_code" class="form-control" placeholder="Password"/>
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember_me"/> Remember me
            </div>
        </div>


        <div class="footer">
            <button type="submit" class="btn   btn-block" ng-class="{true : 'bg-green', false : 'bg-aqua' }[csLoginCheck]" data-ng-disabled="submittingLogin">
                <span ng-if="!(submittingLogin)">Sign in</span>
                <span ng-if="submittingLogin">Authenticating User...</span>
            </button>

            <p style="text-align: center; display: none"><a href="" recover-password="">I forgot my password</a></p>

        </div>
    </form>

    <!--  <div class="margin text-center">
          <span>Sign in using social networks</span>
          <br/>
          <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
          <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
          <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

      </div>-->
</div>
