
<div class="modal-header">
    <h3 class="modal-title bg-gray">General Issues in <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <table class="table table-striped table-bordered table-hover" id="generalIssueTable">
                <thead>
                <tr class="bg-primary">
                    <th style="text-align: center">Issue</th>
                    <th style="text-align: center">Response</th>
                    <th style="text-align: center">Comment</th>
                    <!--<th style="text-align: center" class="trend">Trend</th>-->
                </tr>
                </thead>
                <tbody ng-repeat="(key, value) in recordRow">
                <tr class="bg-table-blue">
                    <th  style="text-align: left; color: rgba(85,85,85,1); font-size: 18px; background-color: rgba(218, 239, 255, 0.58) !important;" colspan="3"><b><i>{{ key }}</i></b></th>
                </tr>
                <tr ng-repeat="issue in value | filter: {term : filter_term, year : filter_year, data_collector_type : filter_data_collector_type}">
                    <td align="left" width="500px">{{ issue.situation }}</td>
                    <td align="center" width="100px">{{ issue.status }}&nbsp;&nbsp;&nbsp; <span check-mark status="{{issue.status}}"></span></td>
                    <td align="center"> {{issue.comment}}</td>
                </tr>
                </tbody>
            </table>

            <span cs-comment="" comment-exists="{{cs_comments}}"  submission-id="{{ submission_id }}" category="general_school_situation"></span>


        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
