
<div class="modal-header">
    <h3 class="modal-title bg-gray">Furniture for <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <table class="table table-striped table-bordered table-hover" id="recordsTable">
                <thead>
                <tr class="bg-primary">
                    <!--<th style="text-align: center">Term</th>-->
                    <th style="text-align: center">Item</th>
                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="furniture in recordRow">
                    <td align="center">{{furniture.name}}</td>
                    <td align="center" ng-class="{true : 'bg-green', false : 'bg-red'}[furniture.status == 'Adequate' ]">
                        <i class="fa" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[furniture.status == 'Adequate']"></i>
                        &nbsp;{{furniture.status}}</td>
                </tr>
                </tbody>
            </table>
            <span cs-comment=""  comment-exists="{{cs_comments}}" submission-id="{{ submission_id }}" category="furniture"></span>


        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
