
<div class="modal-header">
    <h3 class="modal-title bg-gray">Textbooks for <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <div class="box-no-shadow" style="min-height: 300px">
                <div class="box-body" ng-show="recordRow.length">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--This is the Table Export Button-->
                            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
                            <table class="table table-striped table-bordered table-hover" id="textbookTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th style="text-align: center">Class</th>
                                    <th style="text-align: center">GES Approved GH Language</th>
                                    <th style="text-align: center">English</th>
                                    <th style="text-align: center" class="">Mathematics</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="textbook in recordRow">
                                    <!--<tr ng-repeat="textbook in sanitationItems">-->
                                    <td align="center">{{textbook.class}}</td>
                                    <td align="center">{{textbook.gh_lang}}</td>
                                    <td align="center">{{textbook.english}}</td>
                                    <td align="center">{{textbook.maths}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <span cs-comment=""  comment-exists="{{cs_comments}}" submission-id="{{submission_id}}" category="class_textbooks"></span>
                        </div>
                    </div>
                </div>
                <!--Loading (remove the following to stop the loading)-->
                <div class="overlay" ng-show="loadingData" ></div>
                <div class="loading-img" ng-show="loadingData" style="padding: 50px"></div>
                <!--end loading-->

                <p style="margin-top: 150px" ng-hide="recordRow.length" class="h4 text-muted text-center horizontal_vertical_center">No Data Submitted</p>

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
