
<div class="modal-header">
    <h3 class="modal-title bg-gray">Sanitation for <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <table class="table table-striped table-bordered table-hover" id="recordsTable">
                <thead>
                <tr class="bg-primary">
                    <!--<th style="text-align: center">Term</th>-->
                    <th style="text-align: center">Item</th>
                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sanitation in recordRow">
                    <!--<td align="center">{{ one_school_terms[book.term].number}}</td>-->
                    <td align="center">{{sanitation.name}}</td>
                    <td align="center"
                        ng-class="{
                                'bg-green' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'bg-yellow' : sanitation.status == 'Available, not functional',
                                'bg-red' : sanitation.status == 'Not available'
                                }">
                        <!--<i class="fa " ng-class="{true : 'fa-check', false : 'fa-times'}[sanitation.status == 'Available']"></i>-->
                        <i class="fa " ng-class="{
                                'fa-check' : sanitation.status == 'Available' || sanitation.status == 'Available, functional' ,
                                'fa-exclamation-circle' : sanitation.status == 'Available, not functional',
                                'fa-times' : sanitation.status == 'Not available'
                                }"></i>
                        &nbsp;{{sanitation.status}}</td>
                </tr>
                </tbody>
            </table>
            <span cs-comment=""  comment-exists="{{cs_comments}}" submission-id="{{submission_id}}" category="sanitation"></span>


        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
