
<div class="modal-header">
    <h3 class="modal-title bg-gray">Meetings Held in <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <p>Number of Circuit Supervisor Visits : <b ng-bind="schoolMeetingsCSVisits || '0' "></b></p>
            <p>Number of INSETS : <b ng-bind="schoolMeetingsInsets  || '0' "></b></p>

            <table class="table table-striped table-bordered table-hover" id="schoolMeetingsTable">
                <thead>
                <tr  class="bg-primary">
                    <th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Meeting Type</th>
                    <th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Frequency</th>
                    <th style="text-align: center" colspan="2">Attendance</th>
                    <th style="text-align: center" rowspan="2" class="hidden horizontal_vertical_center">Comment</th>
                </tr>
                <tr  class="bg-table-blue" style="color: #ffffff">
                    <th style="text-align: center">Males</th>
                    <th style="text-align: center">Females</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="meeting in recordRow">
                    <!--<tr ng-repeat="sanitation in sanitationItems">-->
                    <td align="center">{{ meeting.name }}</td>
                    <td align="center">{{ meeting.frequency }}</td>
                    <td align="center">{{meeting.males_present}}</td>
                    <td align="center">{{meeting.females_present}}</td>
                    <td class="hidden">{{ meeting.comment }}</td>
                </tr>
                </tbody>
            </table>

            <span cs-comment=""  comment-exists="{{cs_comments}}" submission-id="{{ submission_id }}" category="schools_meeting"></span>


        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
