
<div class="modal-header">
    <h3 class="modal-title bg-gray">Student Enrolment of <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ 'Week ' + week }}</b></i> | <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
        <button class="btn btn-success pull-right" ng-show="enrollmentData.length" ng-click="updateSchoolWeeklyTotal()" data-ng-disabled="updatingTotals">Update School Totals</button>
        <span class="clearfix"></span>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <div class="box-no-shadow" style="min-height: 300px">
                <div class="box-body" ng-show="enrollmentData.length">
                    <div class="row">
                        <div class="col-sm-12" ng-show="enrollmentData.length">
                            <p>Number of days school was in session :  <b> {{ schoolNumberOfDaysInSession || '-' }}</b></p>
                            <p>Total Enrolled :  <b> {{ enrollmentDataTotals.normal || '0'}}</b></p>
                            <p>Total Special Enrolled :  <b> {{ enrollmentDataTotals.special || '0' }}</b></p>
                        </div>
                        <!--<div class="col-md-4 col-sm-12" ng-show="enrollmentData.length">-->
                        <!--&lt;!&ndash;This is the Table Export Button&ndash;&gt;-->
                        <!--<div class="btn-group pull-right" export-table target="enrollmentTable"></div>-->
                        <!--</div>-->
                    </div>

                    <div class="clearfix"></div>
                    <div class="box-body no-padding">

                        <table class="table table-bordered " id="enrollmentTable" ng-show="enrollmentData.length">
                            <thead>
                            <tr class="bg-primary">
                                <th style="text-align: center">Class</th>
                                <th style="text-align: center">No. of Streams</th>
                                <th style="text-align: center">Boys</th>
                                <th style="text-align: center">Girls</th>
                                <th style="text-align: center">Total</th>
                                <th style="text-align: center">Spec. Need Boys</th>
                                <th style="text-align: center">Spec. Need Girls</th>
                                <!--<th style="text-align: center">Trend</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="enrollment in enrollmentData"  class="pointer">
                                <td align="center">{{enrollment.class}}</td>
                                <td align="center">{{enrollment.streams}}</td>
                                <td align="center">{{enrollment.boys}}</td>
                                <td align="center">{{enrollment.girls}}</td>
                                <td align="center">{{enrollment.total}}</td>
                                <td align="center">{{enrollment.special_boys}}</td>
                                <td align="center">{{enrollment.special_girls}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <br>

                        <span cs-comment="" comment-exists="{{comment}}" submission-id="{{submission_id}}" category="student_enrolment"></span>
                    </div><!-- /.box-body -->

                    <!--
                     case 'student_enrolment':
                     case 'student_attendance':
                     case 'teacher_attendance':
                     case 'teachers_classmanagement':-->
                </div>
                <!--Loading (remove the following to stop the loading)-->
                <div class="overlay" ng-show="loadingData" ></div>
                <div class="loading-img" ng-show="loadingData" style="padding: 50px"></div>
                <!--end loading-->

                <p style="margin-top: 150px" ng-hide="enrollmentData.length" class="h4 text-muted text-center horizontal_vertical_center">No Data Submitted</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.enrollment({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
