
<div class="modal-header">
    <h3 class="modal-title bg-gray">Pupil Performance for <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <div class="box-no-shadow" style="min-height: 300px">
                <div class="box-body" ng-show="recordRow.length">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--This is the Table Export Button-->
                            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
                            <table  class="table table-striped table-bordered table-hover" id="pupilPerformanceTable">
                                <thead>
                                <tr  class="bg-primary">
                                    <th style="text-align: center" rowspan="2" class="horizontal_vertical_center">Class</th>
                                    <th style="text-align: center" colspan="2">GES Approved GH Language</th>
                                    <th style="text-align: center" colspan="2">English</th>
                                    <th style="text-align: center" colspan="2">Mathematics</th>
                                    <th style="text-align: center" colspan="2">Science</th>
                                    <th style="text-align: center" colspan="1">Literacy</th>
                                </tr>
                                <tr  class="bg-gray">
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center" >Average Score</th>
                                    <th style="text-align: center">No. Scoring above Average</th>
                                    <th style="text-align: center">No. That Can Read</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="performance in recordRow">
                                    <!--<tr ng-repeat="sanitation in sanitationItems">-->
                                    <td align="center">{{performance.class}}</td>
                                    <td align="center">{{performance.gh_lang_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_gh_lang_average_score}}</td>
                                    <td align="center">{{performance.english_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_english_score}}</td>
                                    <td align="center">{{performance.maths_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_maths_score}}</td>
                                    <td align="center">{{performance.science_average_score}}</td>
                                    <td align="center">{{performance.number_scoring_above_science_score}}</td>
                                    <td align="center">{{performance.num_pupil_who_can_read_and_write}}</td>
                                    <td class="hidden">{{ performance.comment}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <span cs-comment=""  comment-exists="{{cs_comments}}" submission-id="{{submission_id}}" category="class_textbooks"></span>
                        </div>
                    </div>
                </div>
                <!--Loading (remove the following to stop the loading)-->
                <div class="overlay" ng-show="loadingData" ></div>
                <div class="loading-img" ng-show="loadingData" style="padding: 50px"></div>
                <!--end loading-->

                <p style="margin-top: 150px" ng-hide="recordRow.length" class="h4 text-muted text-center horizontal_vertical_center">No Data Submitted</p>

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
