
<div class="modal-header">
    <h3 class="modal-title bg-gray">Teacher Attendance of <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ 'Week ' + week }}</b></i> | <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
        <button class="btn btn-success pull-right" ng-show="teacherInfoData.length" ng-click="updateSchoolWeeklyTotal()" data-ng-disabled="updatingTotals">Update School Totals</button>
        <span class="clearfix"></span>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <div class="box-no-shadow" style="min-height: 300px">
                <div class="box-body" ng-show="teacherInfoData.length">
                    <div class="row">
                        <div class="col-sm-12" ng-show="teacherInfoData.length">
                            <p>Number of days school was in session :  <b> {{ schoolNumberOfDaysInSession || '-' }}</b></p>
                            <p>Total Number of Teachers :  <b> {{ totalTeachers || '0'}}</b></p>
                            <br>
                            <div class="btn-group btn-group-justified">
                                <a href="" ng-click="showSection('days_punctual')"  class="btn btn-primary" ng-model="show.days_punctual" btn-checkbox>Show Attendance</a>
                                <a href="" ng-click="showSection('exercises')" class="btn btn-success" ng-model="show.exercises" btn-checkbox>Show Exercises</a>
                                <a href="" ng-click="showSection('units_covered')" class="btn btn-info" ng-model="show.units_covered" btn-checkbox>Show Units Covered</a>
                                <a href="" ng-click="showSection('class_management')" class="btn btn-warning" ng-model="show.class_management" btn-checkbox>Show Class Management</a>
                            </div>
                            <br>
                        </div>
                        <!--<div class="col-md-4 col-sm-12" ng-show="enrollmentData.length">-->
                        <!--&lt;!&ndash;This is the Table Export Button&ndash;&gt;-->
                        <!--<div class="btn-group pull-right" export-table target="enrollmentTable"></div>-->
                        <!--</div>-->

                    </div>

                    <div class="clearfix"></div>
                    <div class="box-body no-padding">

                        <!--<div class="btn-group pull-right" export-table target="teacherInfoTable"></div>-->
                        <div class="clearfix"></div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-responsive" id="teacherInfoTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th class="horizontal_vertical_center">Staff No.</th>
                                    <th class="horizontal_vertical_center" colspan="2">Name</th>
                                    <th class="horizontal_vertical_center">Gender</th>
                                    <th class="horizontal_vertical_center">Level Taught</th>
                                    <th class="horizontal_vertical_center">Class / Subject</th>
                                    <th class="horizontal_vertical_center"  colspan="2" ng-show="show.days_punctual">Days Present</th>
                                    <th class="horizontal_vertical_center" colspan="2" ng-show="show.days_punctual">Days Absent</th>
                                    <th class="horizontal_vertical_center" ng-show="show.days_punctual">Lesson Plan</th>
                                    <th class="horizontal_vertical_center" ng-show="show.units_covered" colspan="3">Units Covered</th>
                                    <th class="horizontal_vertical_center" colspan="2" ng-show="show.exercises">Exercises</th>
                                    <th class="horizontal_vertical_center" colspan="4" ng-show="show.class_management">Classroom Management</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr  class="bg-table-blue" style="color: #ffffff">
                                    <td class="horizontal_vertical_center"></td>
                                    <td class="horizontal_vertical_center"><em>Surname</em></td>
                                    <td  class="horizontal_vertical_center"><em>Other names</em></td>
                                    <td class="horizontal_vertical_center"></td>
                                    <td class="horizontal_vertical_center"></td>
                                    <td class="horizontal_vertical_center"></td>
                                    <td  class="horizontal_vertical_center" ng-show="show.days_punctual"><em>Present</em></td>
                                    <td  class="horizontal_vertical_center" ng-show="show.days_punctual"><em>Punctual</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual"><em>With Permission</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual"><em>Without Permission</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual"></td>
                                    <td class="horizontal_vertical_center" ng-show="show.units_covered" ><em>Gh. Lang</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.units_covered" ><em>English</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.units_covered" ><em>Math</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.exercises"><em>Total Given</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.exercises"><em>Total Marked</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management"><em>Class Control</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management"><em>Children Behaviour</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management"><em>Children Participation</em></td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management"><em>Teacher Discipline</em></td>
                                </tr>
                                <!--<tr ng-repeat="teacher in teacherInfoData | filter: {term : filter_term, week : filter_week, year : filter_year}">-->
                                </thead>
                                <tbody>
                                <tr ng-repeat="teacher in teacherInfoData" style="cursor: pointer" data-ng-click="viewTeacher(teacher.index)">
                                    <td align="center" class="horizontal_vertical_center">{{teacher.staff_number}}</td>
                                    <td align="center" class="horizontal_vertical_center">{{teacher.last_name}}</td>
                                    <td align="center" class="horizontal_vertical_center">{{teacher.first_name}}</td>
                                    <td align="center" class="horizontal_vertical_center">{{teacher.gender}}</td>
                                    <td align="center" class="horizontal_vertical_center">{{teacher.level_taught}}</td>
                                    <td align="center" class="horizontal_vertical_center">{{teacher.subject}}</td>
                                    <td class="horizontal_vertical_center " ng-show="show.days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div>{{ teacher.punctualityHolder.days_present || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div >{{teacher.punctualityHolder.days_punctual || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div> {{teacher.punctualityHolder.days_absent_with_permission || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div>{{teacher.punctualityHolder.days_absent_without_permission || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center"  ng-show="show.days_punctual" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div>{{teacher.punctualityHolder.lesson_plan || '-'}}</div>
                                    </td>

                                    <td class="horizontal_vertical_center" ng-show="show.units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_punctuality_comment}">
                                        <div> {{ teacher.unitsCoveredHolder.ghanaian_language_units_covered || '-'}}</div>
                                    </td>
                                    <td class="horizontal_vertical_center " ng-show="show.units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                        <div> {{ teacher.unitsCoveredHolder.english_language_units_covered || '-'}}</div>
                                    </td>
                                    <td class="horizontal_vertical_center " ng-show="show.units_covered" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                        <div> {{teacher.unitsCoveredHolder.mathematics_units_covered || '-'}}</div>
                                    </td>

                                    <td class="horizontal_vertical_center" ng-show="show.exercises" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                        <div>{{ teacher.punctualityHolder.num_of_exercises_given || '-' }}</div>
                                    </td>

                                    <td class="horizontal_vertical_center" ng-show="show.exercises" ng-class="{'bg-olive' : show_with_comments && teacher.has_units_covered_comment}">
                                        <div>{{ teacher.punctualityHolder.num_of_exercises_marked || '-' }}</div>
                                    </td>

                                    <td class="horizontal_vertical_center" ng-show="show.class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                        <div> {{teacher.punctualityHolder.class_control || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                        <div>{{ teacher.punctualityHolder.children_behaviour || '-'}}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                        <div>{{ teacher.punctualityHolder.children_participation || '-' }}</div>
                                    </td>
                                    <td class="horizontal_vertical_center" ng-show="show.class_management" ng-class="{'bg-olive' : show_with_comments && teacher.has_teacher_class_management_comment}">
                                        <div>{{teacher.punctualityHolder.teacher_discipline || '-' }}</div>
                                    </td>


                                    <!--<td class="horizontal_vertical_center" ng-show="!class_ma-gement">{{teacher.class_control}}</td>-->
                                    <!--<td class="horizontal_vertical_center" ng-show="!class_management">{{teacher.children_behaviour}}</td>-->
                                    <!--<td class="horizontal_vertical_center" ng-show="!class_management">{{teacher.children_participation}}</td>-->
                                    <!--<td class="horizontal_vertical_center" ng-show="!class_management">{{teacher.teacher_discipline}}</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <br>

                        <span cs-comment="" comment-exists="{{comment}}" submission-id="{{submission_id}}" category="teacher_attendance"></span>
                    </div><!-- /.box-body -->

                    <!--
                     case 'student_enrolment':
                     case 'student_attendance':
                     case 'teacher_attendance':
                     case 'teachers_classmanagement':-->
                </div>
                <!--Loading (remove the following to stop the loading)-->
                <div class="overlay" ng-show="loadingData" ></div>
                <div class="loading-img" ng-show="loadingData" style="padding: 50px"></div>
                <!--end loading-->

                <p style="margin-top: 150px" ng-hide="teacherInfoData.length" class="h4 text-muted text-center horizontal_vertical_center">No Data Submitted</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.teacher_information({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
