
<div class="modal-header">
    <h3 class="modal-title bg-gray">Community Involvement for <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <table class="table table-striped table-bordered table-hover" id="recordsTable">
                <thead>
                <tr class="bg-primary">
                    <!--<th style="text-align: center">Term</th>-->
                    <th style="text-align: center">Type</th>
                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="community in recordRow">
                    <td align="center">{{community.name}}</td>
                    <td align="center" ng-class="{
                    'bg-green' : community.status == 'Good',
                    'bg-yellow' : community.status == 'Fair',
                    'bg-red' : community.status == 'Poor'}">
                        <i class="fa" ng-class="{true : 'fa-smile-o', false : 'fa-frown-o'}[community.status == 'Good']"></i>
                        &nbsp;{{community.status}}</td>
                </tr>
                </tbody>
            </table>
            <span cs-comment="" comment-exists="{{cs_comments}}" submission-id="{{submission_id}}" category="school_community_relationship"></span>


        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.community_involvement({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
