
<div class="modal-header">
    <h3 class="modal-title bg-gray">Grants received in <span>{{school_name}}</span></h3>
</div>
<div class="modal-body">
    <h6 class="page-header">
        Showing records for <i><b>{{ term }}</b></i> | <i><b>{{ year }}</b></i>
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <!--This is the Table Export Button-->
            <!--<div class="btn-group" export-table target="recordsTable"></div>-->
            <table class="table table-striped table-bordered table-hover" id="schoolGrantsTable">
                <thead>
                <tr class="bg-primary">
                    <th style="text-align: center" rowspan="2" class="horizontal_vertical_center">Grant Type</th>
                    <th style="text-align: center" colspan="2">1st Tranche</th>
                    <th style="text-align: center" colspan="2">2nd Tranche</th>
                    <th style="text-align: center" colspan="2">3rd Tranche</th>
                    <!--<th style="text-align: center" class="horizontal_vertical_center" rowspan="2">Comment</th>-->
                </tr>
                <tr class="bg-table-blue"  style="color: #ffffff">
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Amount</th>
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Amount</th>
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Amount</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="grant in recordRow ">
                    <td align="center">{{ formatSchoolGrantType [ grant.school_grant_type ] }}</td>
                    <td align="center">{{ grant.first_tranche_date}}</td>
                    <td align="center">{{ grant.first_tranche_amount}}</td>
                    <td align="center">{{ grant.second_tranche_date}}</td>
                    <td align="center">{{ grant.second_tranche_amount}}</td>
                    <td align="center">{{ grant.third_tranche_date}}</td>
                    <td align="center">{{ grant.third_tranche_amount}}</td>
                    <!--<td>{{ grant.comment }}</td>-->
                </tr>
                </tbody>
            </table>
            <span cs-comment="" comment-exists="{{cs_comments}}" submission-id="{{submission_id}}" category="grant_type_tranches"></span>
            <!--
             case 'student_enrolment':
             case 'student_attendance':
             case 'teacher_attendance':
             case 'teachers_classmanagement':-->
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="cancel()">Close</button>
    <button class="btn btn-primary pull-left" ng-click="cancel()"
            ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : school_id, district_id : district_id})">
        Go to School</button>
</div>
