<div class="modal-header">
    <h3 class="modal-title bg-gray">Reset Password</h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-sm-12">
        <form role="form" name="passwordForm">
            <div class="form-group" >
                <label class="control-label">Current Password:</label>
                <input required type="password" id="old_password" placeholder="Current Password" class="form-control"
                       ng-model="model.old_password">
            </div>
            <br>
            <div class="form-group" >
                <label class="control-label">New Password:</label>
                <input required type="password" id="new_password" placeholder="New Password" class="form-control"
                       ng-model="model.new_password">
            </div>
            <br>
            <div class="form-group" >
                <label class="control-label">Confirm New Password:</label>
                <input required type="password" id="password" placeholder="Confirm New Password:" class="form-control"
                       ng-model="model.confirm_new_password">
            </div>
            <br>
        </form>
    </div>
</div>


</div>

<div class="modal-footer">
    <br>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="send()">Reset Password</button>
</div>