<div class="box-body">
    <div style="height: 275px; max-height: 280px; overflow: hidden" ng-if="requiredImages.sections[section].length">

        <!--Carousel-->
        <div id="main-slide-sanitation" class="carousel slide" data-ride="carousel" style="height: 275px">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide-sanitation" data-slide-to="{{image_indicator}}" ng-class="{'active' : $index == 0}"
                    class="pointer" ng-repeat="image_indicator in requiredImages.sections[section]"></li>
            </ol><!--/ Indicators end-->

            <!-- Carousel inner -->
            <div class="carousel-inner" ng-repeat="imageCategory in requiredImages.sections[section]">
                <div class="item" ng-repeat="image in imageCategory.images" ng-class="{'active' : $index == 0}">
                    <img class="img-responsive"
                         pretty-image=""
                         rel="prettyPhoto"
                         data-ng-href="{{image.image_url }}"
                         ng-src="{{image.image_url }}"
                         title="{{image.image_title + '   |   ' + image.image_description}}"
                         alt="{{image.image_title + '   |   ' + image.image_description}}"
                         style="margin:auto; width: auto; height: 250px">
                    <div class="carousel-caption">
                        <h4>Title : {{image.image_title || 'Untitled' }}</h4>
                        <h5>Description : {{image.image_description || 'None provided' }}</h5>
                    </div>
                </div><!--/ Carousel item end -->
            </div><!-- Carousel inner end-->

            <!-- Controls -->
            <a class="left carousel-control" href="" data-target="#main-slide-sanitation" data-slide="prev" ng-show="requiredImages.sections[section][0].images.length > 1">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="" data-target="#main-slide-sanitation" data-slide="next" ng-show="requiredImages.sections[section][0].images.length > 1">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <!--Carousel End-->

        <!--<carousel interval="myInterval">-->
        <!--<slide ng-repeat="slide in slides">-->
        <!--<img ng-src="{{slide.image_url}}" alt="{{ slide.image_title }}" style="margin:auto;" width="610" height="370">-->
        <!--<div class="carousel-caption">-->
        <!--<h4>Title: {{ slide.image_title || 'Untitled image' }}</h4>-->
        <!--<p>Description: {{slide.image_description || 'No description provided'}}</p>-->
        <!--</div>-->
        <!--</slide>-->
        <!--</carousel>-->
    </div>
    <div ng-hide="requiredImages.sections[section].length" style="height: 200px">
        <img src="/img/blue_logo_150.png" width="150px" class="center-block" style="margin-top: 10%">
        <p class="text-center" style="margin-top: 10%; color: darkgrey; font-size: 23px">
            <i class="fa fa-warning"></i> No images uploaded.</p>
    </div>
</div>