<div class="modal-header">
    <h3 class="modal-title bg-gray">Search School</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" autofocus placeholder="Type name of school to search" name="" ng-model="searchSchool" class="form-control">
    </div>
    <div class="clearfix"></div>
    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</a></th>
                    <th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'rating'; reverse=!reverse">District </a></th>
                    <th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'rating'; reverse=!reverse">Circuit </a></th>
                    <!--<th title="Click to Sort"  style="text-align: center"><a href="" data-ng-click="schoolSortOrder = 'position'; reverse=!reverse">Rating</a></th>-->
                    <th title="Click to Sort"><a href="">Action</a></th>
                </tr>
                <tr bindonce="" ng-repeat="school in schools | filter : {name : searchSchool} | orderBy : schoolSortOrder : reverse | limitTo : 15">
                    <!--data-ng-click="$state.go('dashboard.school.view_selected_school', {id : school.id} )"-->
                    <td data-ng-click="close()"><a  ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id})" bo-bind="school.name"></a></td>
                    <!--{{ districtLookup[school.district_id].name }}-->
                    <td style="text-align: center" bo-bind="districtLookup[school.district_id].name"></td>
                    <td style="text-align: center" bo-bind="circuitLookup[school.circuit_id].name"></td>
                    <!--<td  style="text-align: center">-->
                        <!--<span bo-show="school.rating" bo-bind="(school.rating | number : 2) + '%' "></span>-->
                        <!--<span bo-hide="school.rating"><em>Incomplete data</em></span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group">
                                <div class="btn-group dropdown" >
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" data-ng-click="close()">
                                        <li  ng-show="adminRight > 0"><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id})">View Details</a></li>
                                        <li  ng-show="adminRight > 1 && currentUser.role == 'super' "><a ui-sref="dashboard.school.add_school({action : 'edit', id : school.id})">Edit School</a></li>
                                        <li  ng-show="adminRight > 1 && currentUser.role == 'super' "><a href="" onclick="return false" data-ng-click="deleteSchoolModal('sm', school.id, $event )">Delete School</a></li>
                                        <!--<li class="divider"></li>-->
                                        <!--<li><a href="#"></a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info text-center" ng-hide="(schools  | filter: {name : searchSchool}).length">
            There are no more results to show.
        </div>
    </div>

</div>
