<div class="modal-header">
    <h3 class="modal-title bg-gray">Search District</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" autofocus placeholder="Search district" name="" ng-model="searchDistrict" class="form-control">
    </div>
    <div class="clearfix"></div>
    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                    <th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'regionName'; reverse=!reverse">Region </a></th>
                    <!--<th title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating</a></th>-->
                    <th title="Click to Sort"><a href=""> Action </a></th> 

                </tr>
                <tr bindonce="" ng-repeat="district in districts | filter: {name : searchDistrict } | orderBy : districtSortOrder : reverse | limitTo : 15">
                    <!-- data-bo-href-i="#/view/district/{{district.id}}" -->
                    <td data-ng-click="close()"><a  ui-sref="dashboard.view_selected_district({id : district.id})" data-bo-bind="district.name"></a></td>
                    <td data-bo-bind="regionLookup[district.region_id].name"></td>
                    <!--<td>Upper Region </td>-->
                    <!--<td data-bo-show="district.rating" data-bo-bind="district.rating + '%' "></td>-->
                    <!--<td data-bo-hide="district.rating">Incomplete data</td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" data-ng-click="close()">
                                    <li  ng-show="adminRight > 2"><a data-ng-href="#/view/district/{{district.id}}">View Details</a></li>
                                    <li  ng-show="adminRight > 3 && currentUser.role == 'super' "><a ui-sref="dashboard.add_district({id : district.id, action : 'edit'})">Edit District</a></li>
                                    <li  ng-show="adminRight > 3 && currentUser.role == 'super' "><a href="" onclick="return false" data-ng-click="deleteModal('sm', district.id, $event )">Delete District</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info text-center" ng-hide="( districts  | filter: { name : searchDistrict } ).length">
            There are no more results to show.
        </div>
    </div>

</div>

<!--<div class="modal-footer">-->


    <!--<button class="btn btn-default" ng-click="cancel()">Cancel</button>-->
    <!--<button class="btn btn-success" ng-click="send()">Send Email</button>-->
<!--</div>-->