<div class="modal-header">
    <h3 class="modal-title bg-gray">Search Circuit</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" autofocus placeholder="Search circuit" name="" id="searchCircuit" ng-model="searchCircuit" class="form-control">
    </div>
    <div class="clearfix"></div>
    <div class="box-body no-padding" >
        <div class="">
            <table class="table table-striped table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>
                    <th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'position'; reverse=!reverse">District</a></th>
                    <!--<th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'rating'; reverse=!reverse">Rating </a></th>-->
                    <th title="Click to Sort"><a href="" > Action </a></th>
                </tr>
                <tr bindonce="" ng-repeat="circuit in circuits  | filter: { name : searchCircuit } |  orderBy : circuitSortOrder : reverse | limitTo : 15">
                    <td data-ng-click="close()"><a  ui-sref="dashboard.view_selected_circuit({id : circuit.id})" data-bo-bind="circuit.name"></a></td>
                    <td data-bo-bind="districtLookup[circuit.district_id].name"></td>
                    <!--<td data-bo-show="circuit.rating" data-bo-bind="circuit.rating + '%' "></td>-->
                    <!--<td data-bo-hide="circuit.rating">Incomplete data</td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" data-ng-click="close()">
                                    <li  ng-show="adminRight > 1"><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">View Details</a></li>
                                    <li  ng-show="adminRight > 2 && currentUser.role == 'super' "><a ui-sref="dashboard.add_circuit({action : 'edit', id : circuit.id})">Edit Circuit</a></li>
                                    <li  ng-show="adminRight > 2 && currentUser.role == 'super' "><a href=""  delete-circuit="{{circuit.id}}">Delete Circuit</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info text-center" ng-hide="(circuits  | filter: { name : searchCircuit } ).length">
            There are no more results to show.
        </div>
    </div>

</div>
