<div class="modal-header">
    <h3 class="modal-title bg-gray">Send Message</h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-sm-12">
        <form role="form" name="notificationForm">
            <div class="form-group">
                <label class="control-label">To:</label>
                <p class="form-control col-sm-12">
                    <span class="label label-default" ng-repeat="recipient in selected_data_collectors" style="margin: 0 5px">{{recipient.name}}</span>
                    <span class="label label-default" ng-hide="selected_data_collectors.length">All Data Collectors</span>
                </p>
                <!--<input type="text" id="name" placeholder="Send to:" disabled class="form-control" ng-value="selected_data_collector.name">-->
            </div>
            <div class="form-group" >
                <label class="control-label">Message:</label>
                <textarea maxlength="155" rows="5" class="form-control col-sm-12" name="message"
                          placeholder="Type your message here" ng-model="messageForm.message"></textarea>
            </div>
            <br>
            <small ng-show="messageForm.message.length || notificationForm.$dirty">Characters typed: {{messageForm.message.length || '0' }} / 155</small>
        </form>
    </div>
</div>


</div>

<div class="modal-footer">
    <br>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="send()">Send Message</button>
</div>