<div class="modal-header">
    <h3 class="modal-title bg-gray">Send Email</h3>
</div>
<div class="modal-body">
    <!--<form role="form" name="notificationForm">-->
    <!--<form role="form">-->
    <!--<div class="form-group">-->
    <!--<label class="control-label">To:</label>-->
    <!--<p class="form-control col-sm-12">-->
    <!--<span class="label label-default" ng-repeat="recipient in selected_data_collectors" style="margin: 0 5px">{{recipient.name}}</span>-->
    <!--<span class="label label-default" ng-hide="selected_data_collectors">All Data Collectors</span>-->
    <!--</p>-->
    <!--&lt;!&ndash;<input type="text" id="name" placeholder="Send to:" disabled class="form-control" ng-value="selected_data_collector.name">&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="form-group" >-->
    <!--<label class="control-label">Message:</label>-->
    <!--<textarea maxlength="200" class="form-control col-sm-12" name="message" placeholder="Type your message here" ng-model="messageForm.message"></textarea>-->
    <!--</div>-->
    <!--<div>Characters typed: {{messageForm.message.length}} <span ng-hide="messageForm.message.length || notificationForm.$dirty">0 </span>/ 200</div>-->
    <!--</form>-->
    <form method="post" action="/admin/upload/email/attachment" enctype="multipart/form-data">
        <div class="form-group">
            <input type="email" placeholder="Email to:" name="emailto" ng-model="emailFormData.emails" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Subject" name="subject" ng-model="emailFormData.email_subject" class="form-control">
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px;"
                      class="textarea" placeholder="Message" ng-model="emailFormData.email_message">

            </textarea>
        </div>
        <section class="form-group" flow-init ="{target: '/admin/upload/email/attachment', singleFile : true }"
                 flow-file-success="emailFormData.file_path = $message" >
            <!--flow-files-submitted="$flow.upload()"-->
        <!--target: '/admin/upload/email/attachment',-->
            <!--flow-file-success=" uploaded = true"-->
            <table>
                <tr>
                    <td><span flow-btn class="btn btn-primary">Add attachment</span></td>
                </tr>
                <tr ng-repeat="file in $flow.files">
                    <td>
                        <p>{{file.name}} ( {{ file.size }} bytes )</p>
                        <p ng-hide="file.timeRemaining() != null || file.timeRemaining() == 0">{{ file.timeRemaining() }}</p>
                    </td>
                    <td width="150px"><img flow-img="file"  width="100px" height="auto" style="margin: 0 10px"/></td>
                    <td>
                        <span class="btn btn-danger btn-sm pull-right" data-ng-click="remove(file)" style="margin-left: 5px">Remove</span>
                        <!--<span class="btn btn-success btn-sm pull-right"  ng-show="!uploaded" data-ng-click="upload(file)" style="margin-left: 5px">Upload</span>-->
                        <span class="btn btn-success btn-sm pull-right"  ng-show="!emailFormData.file_path" data-ng-click="$flow.upload()" style="margin-left: 5px">Upload</span>
                    </td>
                </tr>

            </table>

        </section>

    </form>
    <div class="clearfix"></div>

    <!--<div class="clearfix"></div>-->
</div>

<div class="modal-footer">
    <!--<pre>-->
        <!--emailFormData.file_path : {{emailFormData.file_path}}<br>-->
         <!--emailFormData.emails : {{ emailFormData.emails }}<br>-->
        <!--emailFormData.email_subject : {{ emailFormData.email_subject }}<br>-->
       <!--emailFormData.email_message : {{emailFormData.email_message }}<br>-->
    <!--</pre>-->


    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="send()" data-ng-disabled="!(
    emailFormData.emails &&
    emailFormData.email_subject &&
    emailFormData.email_message &&
    emailFormData.file_path)">Send Email</button>
</div>