<div class="modal-header">
    <h3 class="modal-title bg-gray">Send Message</h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-sm-12">
        <form role="form" name="smsForm">
            <div class="form-group">
                <label class="control-label">To:</label>
                <p class="form-control col-sm-12">
                    <span class="label label-default" style="margin: 0 5px">{{ messageForm.recipient.name }}</span>
                    <!--<span class="label label-default" ng-hide="selected_data_collectors">All Data Collectors</span>-->
                </p>
            </div>
            <div class="form-group" >
                <label class="control-label">Message:</label>
                <textarea maxlength="155" rows="5" class="form-control col-sm-12" name="message"
                          placeholder="Type your message here" ng-model="messageForm.message"></textarea>
            </div>
            <br>
            <small ng-show="messageForm.message.length || smsForm.$dirty">Characters typed: {{messageForm.message.length || '0' }} / 155</small>
        </form>
    </div>
</div>


</div>

<div class="modal-footer">
    <br>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="sendSms()" data-ng-disabled="sendingSms">
        <span ng-hide="sendingSms">Send Message</span>
        <span ng-show="sendingSms">Sending message...</span>
    </button>
</div>