<div class="modal-header">
    <h3 class="modal-title bg-purple">Map Location
        <span class="pull-right btn" title="Close modal" ng-click="cancel()"><i class="fa fa-times-circle"></i></span></h3>
</div>
<div class="modal-body">
    <h4 class="page-header">
        <small style="display: inline;"> Coordinates  :  </small> {{ latitude + ', ' + longitude }}
    </h4>
    <div class="row">
        <div class="col-md-12 center-block" style="overflow: hidden">
            <iframe id="mapIFrame"
                    width="565"
                    height="350"
                    frameborder="0" style="border:0"
                    ng-src="{{mapUrl}}" allowfullscreen>
            </iframe>
            <div ng-if="!(mapLoaded)">
                <div  class="text-center" style="margin: 50px 0 0">Map will be displayed here</div>
                <br>   <br>
                <div class="text-center" style="margin: 0 0 50px"><i class="fa fa-spinner fa-spin"></i></div>
            </div>

        </div>
    </div>
    <hr/>
    <h4 class="page-header">
        Nearby Locations
        <!--<span class="box-tools pull-right"><a href=""  class="btn btn-default" title="Refresh"><i class="fa fa-refresh"></i></a> </span>-->
    </h4>
    <div class="clearfix"></div>

    <div class="info-block block-info clearfix" ng-repeat="place in locations" ng-if="locations.length">
        <div class="square-box pull-left">
            <span class="fa fa-map-marker"></span>
        </div>
        <h4 style="margin-top: 5px" ng-if="place.name"><span class="text-muted">Name : </span><b ng-bind="place.name"></b></h4>
        <p><span class="text-muted">Location :</span>
            <b ng-bind="place.location.crossStreet + ', '" ng-if="place.location.crossStreet"></b>
            <b ng-bind="place.location.city + ', '" ng-if="place.location.city"></b>
            <b ng-bind="place.location.country" ng-if="place.location.country"></b>
        </p>
        <p ng-if="place.categories.length">
            <span class="text-muted" ng-if="place.categories.length == 1">Category : </span>
            <span class="text-muted" ng-if="place.categories.length > 1">Categories : </span>
            &nbsp;&nbsp;
                    <span ng-repeat="category in place.categories" >
                        <span ng-if="$index != 0">  |  </span>
                        <b ng-bind="category.name"></b>
                    </span>
        </p>
        <p><span class="text-muted">Latitude : </span><b ng-bind="place.location.lat"></b>&nbsp;&nbsp;&nbsp;<span class="text-muted">Longitude : </span><b ng-bind="place.location.lng"></b></p>
    </div>

    <p class="text-center h4" style="margin: 20px 0" ng-if="!locations.length">No known nearby location found.</p>

    <div class="modal-footer" style="margin: 6px 0">
        <button class="btn btn-default" ng-click="cancel()">Close Modal</button>
        <!--<button class="btn btn-success" ng-click="confirmTransfer()" data-ng-disabled="isSubmitting">Submit</button>-->

    </div>
</div>
