<div class="modal-header">
    <h3 class="modal-title bg-green">Transfer Teacher
        <span class="pull-right btn" title="Close modal" ng-click="cancel()"><i class="fa fa-times-circle"></i></span></h3>
</div>
<div class="modal-body">
    <h4 class="page-header">
        <small style="display: inline;"> Teacher  :  </small> {{ selected_teacher.first_name + ' ' + selected_teacher.last_name }}
    </h4>
    <div class="">
        <div class="row">
            <p class="h6 col-md-3">Current School  :  </p><p class="col-md-6 text-left"><b class="h4" ng-bind="selected_teacher.school.name"></b></p>
        </div>
        <div class="row">
            <p class="h6 col-md-3">Staff Number  :  </p><p class="col-md-6 text-left"><b class="h4" ng-bind="selected_teacher.staff_number"></b></p>
        </div>
        <div class="row">
            <p class="h6 col-md-3">Level Taught :  </p><p class="col-md-6 text-left"><b class="h4" ng-bind="selected_teacher.level_taught"></b></p>
        </div>
        <div class="row">
            <p class="h6 col-md-3">Class / Subject  :  </p><p class="col-md-6 text-left"><b class="h4" ng-bind="selected_teacher.subject"></b></p>
        </div>
        <div class="row">
            <p class="h6 col-md-3">Years in School  :  </p><p class="col-md-6 text-left"><b class="h4" ng-bind="selected_teacher.years_in_the_school"></b></p>
        </div>
    </div>
    <hr/>
    <h4 class="page-header">
        Select New School
        <!--<span class="box-tools pull-right"><a href=""  class="btn btn-default" title="Refresh"><i class="fa fa-refresh"></i></a> </span>-->
    </h4>
    <div class="clearfix"></div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="region_select">Region</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="region_select" id="region_select" class="form-control"
                    ng-model="formData.regional_id"
                    ng-options="region.id as region.name for region in regions  | filter : {country_id : 1, id : circuitLookup[formData.circuit_id].region_id || districtLookup[formData.district_id].region_id }">
                <option value="" selected>Select a Region</option>
                <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
            </select>

        </div>

        <div class="form-group col-sm-6">
            <label for="district_select">District</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="district_select" id="district_select"
                    class="form-control"
                    ng-model="formData.district_id"
                    ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.regional_id, id : circuitLookup[formData.circuit_id].district_id } : true">
                <option value="" selected>Select a District</option>
                <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="circuit_select">Circuit</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="circuit_select" id="circuit_select" class="form-control"
                    ng-model="formData.circuit_id"
                    ng-options="circuit.id as circuit.name group by circuit.districtName for circuit in circuits | filter : {district_id : formData.district_id, region_id : formData.regional_id} : true">
                <option value="" selected>Select a Circuit</option>
                <!--<option ng-value="circuit.id" ng-repeat="circuit in circuits | filter : {district_id : formData.district}" >{{ circuit.name }}</option>-->
            </select>
        </div>


        <div class="form-group col-sm-6">
            <label for="school_select">School</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="school_select" id="school_select" class="form-control"
                    ng-model="formData.school_id"
                    ng-options="school.id as school.name group by school.circuitName for school in schools
                    | filter : {district_id : formData.district_id, region_id : formData.regional_id, circuit_id : formData.circuit_id }  : true" >
                <option value="" selected="">Select a School</option>
                <!--<option ng-value="circuit.id" ng-repeat="circuit in circuits | filter : {district_id : formData.district}" >{{ circuit.name }}</option>-->
            </select>
        </div>
    </div>

    <!--<pre>{{ formData | json }}</pre>-->

    <div class="modal-footer" style="margin: 6px 0">

        <!--<button class="btn btn-default hidden" ng-click="cancel()">Close Modal</button>-->
        <button class="btn btn-success" ng-click="confirmTransfer()" data-ng-disabled="isSubmitting">Submit</button>

    </div>
</div>
