<div class="modal-header">
    <h3 class="modal-title bg-gray">Update {{model.type_proper}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header">{{ selected_model.name }}</h2>
            <form>
                <label for="academic_year">Select the year's data to update.</label>
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="model.year" ng-options="year for year in yearsAvailable">
                    <option value="">Select year</option>

                </select>
            </form>
            <h4>Are you sure you want to update this {{model.type}}'s data?</h4>
            <h4>This process could take a while depending on your internet speed.</h4>
            <br>
            <div ng-show="updatingModel > 0">
                <span class="text-center center-block horizontal_vertical_center"><i style="font-size: 100px" class="text-center fa fa-spinner fa-spin"></i></span>
            </div>
            <br>
            <div ng-show="updatingModel > 0">
                <div class="col-sm-12"><progressbar class="progress-striped active" max="100" value="stepper" type="{{barColor}}"><i>{{stepper}}</i> %</progressbar></div>
            </div>
        </div>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-default pull-left" data-ng-disabled="updatingModel" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success pull-right" data-ng-disabled="updatingModel" ng-click="update()">Update</button>
    <div class="clearfix"></div>
</div>