
<div class="box-no-shadow" ng-controller="scViewSelectedRegionSecurityController">
    <div  class="box-header"><!--ng-show="securityItems"-->
        <h3 class="box-title">Security
            <div class="box-tools  pull-right">
                <div class="input-group">
                    <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="security_year"
                            ng-options="year for year in regionYears">
                        <option value="">Select year</option>
                    </select>
                    <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="security_term"
                            ng-options="term.value as term.label for term in regionTerms">
                        <option value="">Select term</option>
                    </select>
                    <button  ng-click="fetchSecurityData()"  class="btn btn-primary btn-sm">
                        Load Data
                    </button>
                </div>
            </div></h3>

    </div><!-- /.box-header -->

    <div class="box-body no-padding">
        <div class="row">
            <div   class="col-sm-12" ng-show="securityData.length">
                <!--This is the Table Export Button-->
                <div class="btn-group pull-right ">
                    <button  class="btn btn-primary btn-sm securityTable" export-table="securityTable" file-name="{{selected_region.name + ' Termly Security Summary ' + security_year + ' ' + security_term}}">Begin Termly Security Summary Export</button>
                </div>
                <table  class="table table-striped table-bordered table-hover" id="securityTable">
                    <thead>
                    <tr  class="bg-primary">
                        <th style="text-align: center">School</th>
                        <th style="text-align: center">Available</th>
                        <th style="text-align: center">Available, Not Functional</th>
                        <th style="text-align: center">Not Available</th>
                        <th style="text-align: center" >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="security in securityData ">
                        <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : security.school_id, district_id : security.district_id})">{{ security.name}}</a></td>

                        <td align="center">{{security.available }}</td>
                        <td align="center">{{security["available not functional"]}}</td>
                        <td align="center">{{security["not available"]}}</td>
                        <td align="center" class="text-danger text-center">
                            <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" security-preview="security">Preview Data</button>
                                <button class="center-block btn btn-danger btn-sm" delete-section-data="Security"
                                        section-type="security" submission-id="{{security.data.id}}" function="fetchSecurityData()"
                                        term="{{security.data.term}}" year="{{security.data.year}}" school-id="{{security.school_id}}">Delete Data</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12" ng-hide="securityData.length" ng-if="!securityData.length">
                <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                    <span ng-if="loadingSecurityData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                    <span ng-if="!(loadingSecurityData)">No data available.</span>
                </div>
            </div>
        </div>

    </div><!-- /.box-body -->
</div><!-- /.box -->
