<div class="box-no-shadow" ng-controller="scViewSelectedCountrySchoolsRecordBooksController" style="min-height: 300px">
    <div class="box-header" ><!--ng-show="books"-->
        <h3 class="box-title">Schools' Record Books
            <div class="box-tools pull-right">
                <div class="input-group">
                    <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="record_year"
                            ng-options="year for year in countryYears">
                        <option value="">Select year</option>
                    </select>
                    <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="record_term"
                            ng-options="term.value as term.label for term in countryTerms">
                        <option value="">Select term</option>
                    </select>
                    <button  ng-click="fetchRecordPerformanceData()"  class="btn btn-primary btn-sm">
                        Load Data
                    </button>
                </div>
            </div>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding" ng-show="recordPerformanceData.length">
        <div class="row">
            <div class="col-sm-12">
                <!--This is the Table Export Button-->
                <div class="btn-group pull-right ">
                    <button  class="btn btn-primary btn-sm recordsTable" export-table="recordsTable" file-name="{{selected_country.name + ' Termly Record Books Summary ' + record_year + ' ' + record_term}}">Begin Termly Record Books Summary Export</button>
                </div>
                <table class="table table-striped table-bordered table-hover" id="recordsTable">
                    <thead>
                    <tr class="bg-primary">
                        <th style="text-align: center">School</th>
                        <th style="text-align: center">Total Available</th>
                        <th style="text-align: center">Number Not Available</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="book in recordPerformanceData">
                        <td align="center" ><a href=""
                                               ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : book.school_id, district_id : book.district_id})">{{book.name}}</a></td>
                        <td align="center " class="text-success text-center">{{book.yes}}</td>
                        <td align="center" class="text-danger text-center">{{book.no}}</td>
                        <td align="center" class="text-danger text-center">
                            <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" record-books-preview="book">Preview Data</button>
                                <button class="center-block btn btn-danger btn-sm" function="fetchRecordPerformanceData()"
                                        delete-section-data="Record Books" section-type="record_books"
                                        submission-id="{{book.data.id}}"
                                        function="fetchRecordPerformanceData()" term="{{book.data.term}}"
                                        year="{{book.data.year}}" school-id="{{book.school_id}}">Delete Data</button>
                            </div>
                        </td>
                        <!--<td align="center"> {{book.status}}&nbsp;&nbsp;&nbsp; <span check-mark status="{{book.status}}"></span></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div><!-- /.box-body -->

    <div class="col-sm-12" ng-hide="recordPerformanceData.length" ng-if="!recordPerformanceData.length">
        <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
            <span ng-if="loadingRecordPerformanceData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
            <span ng-if="!(loadingRecordPerformanceData)">No data available.</span>
        </div>
    </div>

</div><!-- /.box -->