<section class="box box-solid box-primary">
    <div class="box-header">
        <div class="box-title"> {{ reportParams.school.name}} - School Report Card</div>
        <div class="box-tools pull-right">
            <!--<button class="btn btn-info" data-ng-click="$state.go('dashboard.school.view_selected_school', {id : reportParams.school.id })"><i class="fa fa-arrow-left"></i> Back</button>-->
            <button title="Go to previous page" class="btn btn-warning" data-ng-click=" goBackInHistory()"><i class="fa fa-arrow-left"></i> Back</button>
            <button title="Go to the current school's page" class="btn btn-info"
                    data-ng-click="$state.go('dashboard.school.view_selected_school',{id : selected_school.id, district_id: selected_school.district_id })">
                <i class="fa fa-eye"></i> View School</button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <!--Info Section-->
            <section class="col-md-12" style="margin-bottom: 20px">
                <h4 class="page-header">Info</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table table-condensed">
                        <thead>
                        <tr class="bg-gray">
                            <td>GES Code</td>
                            <td>Year</td>
                            <td>Term</td>
                            <td>Week Number</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{reportParams.school.ges_code}}</td>
                            <td>{{  reportParams.academic_year  }}</td>
                            <td>{{  reportParams.academic_term  }}</td>
                            <td>{{  reportParams.week_number  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!--Student Enrollment-->
            <section class="col-md-12"  ng-show="reportParams.student_enrollment" style="margin-bottom: 20px">
                <h4 class="page-header">Student Enrollment</h4>

                <section class="mini-loader" ng-show="student_enrollment_loading">
                    <img src="/img/ajax_loader_small.gif" style="margin-left: 45%; padding: 100px 0"/>
                </section>

                <article id="enrollmentChartDiv" style="width: 100%; height: 400px; background-color: #fefefe" ng-show="student_enrollment_chart"></article>

                <section class="mini-loader" ng-show="student_enrollment_loading_done">
                    <p style="margin: 0 30%; padding: 100px 0; font-size: 20px"><i class="fa fa-warning"></i> No data to display under this range</p>
                </section>
            </section>

            <div class="clearfix"><br></div>

            <!--Student Attendance-->
            <section class="col-md-12" ng-show="reportParams.student_attendance"  style="margin-bottom: 20px">
                <h4 class="page-header">Student Attendance</h4>

                <section class="mini-loader" ng-show="student_attendance_loading">
                    <img src="/img/ajax_loader_small.gif" style="margin-left: 45%; padding: 100px 0"/>
                </section>

                <article id="attendanceChartDiv" style="width: 100%; height: 400px; background-color: #fefefe" ng-show="student_attendance_chart"></article>

                <section class="mini-loader" ng-show="student_attendance_loading_done">
                    <p style="margin: 0 30%; padding: 100px 0; font-size: 20px"><i class="fa fa-warning"></i> No data to display under this range</p>
                </section>

            </section>

            <div class="clearfix"><br></div>

            <!--Teacher Punctuality-->
            <section class="col-md-12" ng-show="reportParams.teacher_punctuality" style="margin-bottom: 20px">
                <h4 class="page-header">Teacher Attendance</h4>

                <section class="mini-loader" ng-show="teacher_punctuality_loading">
                    <img src="/img/ajax_loader_small.gif" style="margin-left: 45%; padding: 100px 0"/>
                </section>

                <article id="teacherAttendanceChartDiv" style="width: 100%; height: 400px; background-color: #fefefe" ng-show="!teacher_punctuality_loading"></article>

            </section>

            <div class="clearfix"><br></div>

            <!--Records and Performance Books-->
            <section class="col-md-12" ng-show="reportParams.records_performance" style="margin-bottom: 20px">
                <h4 class="page-header">Records and Performance Books</h4>

            </section>

            <div class="clearfix"><br></div>

            <!--School Grounds-->
            <section class="col-md-12" ng-show="reportParams.school_grounds" style="margin-bottom: 20px">
                <h4 class="page-header">School Grounds</h4>

            </section>

            <div class="clearfix"><br></div>

            <!--Community Involvement-->
            <section class="col-md-12" ng-show="reportParams.community_involvement" style="margin-bottom: 20px">
                <h4 class="page-header">Community Involvement</h4>

            </section>

            <div class="clearfix"><br></div>

        </div>

    </div>

    <div class="box-footer">
        <!--<button class="btn btn-default">Save</button>-->
        <!--<button class="btn btn-primary pull-right" style="margin: 0 5px">Print</button>-->
        <button class="btn btn-success pull-right" style="margin: 0 5px" data-ng-click="createPdf()">Export as PDF</button>
        <div class="clearfix"><br></div>
    </div>
</section>


