<div class="row">
    <div class="col-sm-12" ng-show="countryTerms && countryWeeks && countryYears">
        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-xs-6">
                <label for="academic_year">Academic Year</label>
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in countryYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="term">Term</label>
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in countryTerms">
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in countryWeeks" >
                </select>
            </div>
            <div class="form-group col-sm-3 hidden">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-md-3 col-xs-6">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button id="actions" data-ng-click="fetchSummaryData()" class="btn btn-primary form-control col-sm-12" style="padding-left: 0 !important;" >Load Data</button>
                </div>
            </div>
        </div>


        <!--Summary Table-->

        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="enrollmentSummaryData.schoolInfo" >
                    <h3 class="box-title">Enrollment Information
                        <div title=""  class="box-tools pull-right class hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="clearfix"></div>
                <div class="box-body" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="enrollmentSummaryData.schoolInfo">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-4 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-4 text-center">Term : <b class="showing_weekly_term"></b></small>
                                <small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"></b></small>
                            </p>
                            <p ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">Country Total</p>
                            <table class="table table-bordered" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-gray">
                                    <td class="horizontal_vertical_center">Total in Country</td>
                                    <td class="horizontal_vertical_center">Boys in Country</td>
                                    <td class="horizontal_vertical_center">Special Boys in Country</td>
                                    <td class="horizontal_vertical_center">Girls in Country</td>
                                    <td class="horizontal_vertical_center">Special Girls in Country</td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in Country</td>-->
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo[$parent.summary_data_collector_type].all_total    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo[$parent.summary_data_collector_type].boys    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo[$parent.summary_data_collector_type].special_boys    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo[$parent.summary_data_collector_type].girls    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo[$parent.summary_data_collector_type].special_girls    }}</td>
                                    <!--<td class="horizontal_vertical_center">{{ enrollmentSummaryData.countryInfo.teachers_total    || 'Unavailable' }}</td>-->
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="col-sm-6 pull-left">Per School Breakdown</p>
                            <div class="">
                                <button  class="btn pull-right btn-primary btn-sm enrollmentSummaryData" export-table="enrollmentSummaryData" file-name="{{'Country Enrollment WK' + $parent.summary_week + '_' +  $parent.summary_term  + '_' + $parent.summary_year}}">Begin Country Enrollment Export</button>
                            </div>
                        </div>


                        <table class="table table-bordered table-striped table-responsive" id="enrollmentSummaryData" ng-show="enrollmentSummaryData.schoolInfo">
                            <thead>
                            <tr class="bg-green pointer" ng-init="orderProp = 'name'">
                                <td class="" ng-click="orderProp = 'name'">School</td>
                                <td class="horizontal_vertical_center" colspan="2" ng-click="orderProp = ['districtEnrollmentCheck','name']">Boys</td>
                                <td class="horizontal_vertical_center" colspan="2" ng-click="orderProp = ['name','districtEnrollmentCheck']">Girls</td>
                                <td class="horizontal_vertical_center" colspan="1" ng-click="orderProp = ['name','districtEnrollmentCheck']">Total</td>
                                <!--<td class="horizontal_vertical_center" colspan="1">Teachers</td>-->
                                <!--<td class="horizontal_vertical_center">Total in Class</td>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-gray">
                                <td class="" >Name</td>
                                <td class="horizontal_vertical_center"></td>
                                <td class="horizontal_vertical_center">Special</td>
                                <td class="horizontal_vertical_center"></td>
                                <td class="horizontal_vertical_center">Special</td>
                                <td class="horizontal_vertical_center"></td>
                                <!--<td class="horizontal_vertical_center">Total Registered</td>-->
                            </tr>
                            <!--<tr ng-repeat="enrollment in enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}">-->
                            <tr ng-repeat="school in selected_country.allSchoolsHolder | orderBy : orderProp">
                                <td ><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id })">{{  school.name  || 'Unavailable' }}</a></td>
                                <td class="horizontal_vertical_center">{{ enrollmentSummaryData.schoolData[school.id].normal_enrolment_total_boys }}</td>
                                <td class="horizontal_vertical_center">{{ enrollmentSummaryData.schoolData[school.id].special_enrolment_total_boys }}</td>
                                <td class="horizontal_vertical_center">{{ enrollmentSummaryData.schoolData[school.id].normal_enrolment_total_girls }}</td>
                                <td class="horizontal_vertical_center">{{ enrollmentSummaryData.schoolData[school.id].special_enrolment_total_girls }}</td>
                                <td class="horizontal_vertical_center">{{ enrollmentSummaryData.schoolData[school.id].normal_enrolment_total_students }}</td>
                                <!--<td class="horizontal_vertical_center">{{enrollment.current_number_of_teachers || 'Unavailable' }}</td>-->
                            </tr>
                            </tbody>

                        </table>

                    </div>


                    <div ng-if="enrollmentSummaryData.schoolInfo" ng-hide="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                        </i>  No data available by the selected data collector type.</p>
                    </div>

                    <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="enrollmentSummaryData.schoolInfo">
                        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                        </i>  No data available for the selected period</p>
                    </div>
                    <div ng-hide="initialSummaryInfoCount">
                        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                        </i>  Select a period and click <b>FETCH</b> to display data </p>
                    </div>

                </div>
            </div>
            <div class="overlay" ng-show="loadingSummary" ></div>
            <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
            <div class="box-footer">



            </div>
        </div>


    </div>
</div>

<div class="col-sm-12" ng-hide="countryTerms && countryWeeks && countryYears">
    <p class="text-center" style="margin: 10% 0; font-size: 23px"><i class="fa fa-warning">
    </i>  No data submitted for this country.</p>
</div>
</div>