<div class="box-header " >
    <h3 class="box-title page-header">Termly Information

        <div title="" data-toggle="tooltip" class="box-tools pull-right">
            <div data-toggle="btn-toggle" class="btn-group">
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.display_average}" data-ng-click="changeView('display_average')" type="button"><i class="fa fa-square text-green"></i> Exam Average Score</button>
                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.display_textbooks}" data-ng-click="changeView('display_textbooks')" type="button"><i class="fa fa-square text-blue"></i> Textbooks </button>
            </div>
        </div>

    </h3>
</div>

<div class="box-no-shadow box-solid" ng-show="view_to_show.display_average" >
    <div ng-include="'partials/templates_View/country/country_exam_average_summary.html'"></div>
</div>


<div class="box-no-shadow box-solid" ng-show="view_to_show.display_textbooks">
    <div ng-include="'partials/templates_View/country/country_text_books_summary.html'"></div>
</div>