<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!-- Custom Tabs -->
<h4 class="page-header">
    School Grounds
</h4>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-justified">
        <li >
            <a data-toggle="tab" data-target="#sanitation"> Sanitation </a>
        </li>
        <li>
            <a data-toggle="tab" data-target="#security"> Security </a>
        </li>
        <li >
            <a data-toggle="tab" data-target="#sports"> Sports / Recreational Facilities</a>
        </li>
        <li >
            <a data-toggle="tab" data-target="#structure" > School Structure </a>
        </li>
        <li >
            <a data-toggle="tab" data-target="#furniture" > Furniture </a>
        </li>
    </ul>


    <div class="tab-content">

        <!----   Sanitation ---->
        <div id="sanitation" class="tab-pane">
            <div ng-include=" 'partials/templates_View/country/school_grounds/ct_sanitation_included_in_ct_school_grounds.html' "></div>
        </div><!-- /.tab-pane -->

        <!------ Security ------>
        <div id="security" class="tab-pane" >
            <div ng-include=" 'partials/templates_View/country/school_grounds/ct_security_included_in_ct_school_grounds.html' "></div>
        </div><!-- /.tab-pane -->

        <!---- Sports and Recreation  ----->
        <div id="sports" class="tab-pane" >
            <div ng-include=" 'partials/templates_View/country/school_grounds/ct_sports_included_in_ct_school_grounds.html' "></div>
        </div><!-- /.tab-pane -->

        <!-----  Structure  --- -->
        <div id="structure" class="tab-pane" >
            <div ng-include=" 'partials/templates_View/country/school_grounds/ct_structure_included_in_ct_school_grounds.html' "></div>
        </div><!-- /.tab-pane -->

        <!---- Furniture ---->
        <div id="furniture" class="tab-pane" >
            <div ng-include=" 'partials/templates_View/country/school_grounds/ct_furniture_included_in_ct_school_grounds.html' "></div>
        </div>
        <!-- /.tab-pane -->

        <div id="blank_tab" class="tab-pane active">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 24px;line-height: 20px; margin: 10%" class="text-center greyColor">
                        <i class=" glyphicon glyphicon-arrow-up"></i>Please select a tab to show</p>
                </div>
            </div>
        </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
<!--</div>-->
<!--</div>-->