<div class="col-sm-12">

    <table export-table class="table table-bordered table-striped" ng-init="schoolSortOrder = 'name'; reverse = 'false' " id="teacherPopulationTable">
        <thead>
        <tr class="bg-primary">
            <th ng-click="schoolSortOrder = 'name'; reverse=!reverse;" class="pointer" title="Click to sort by name">Name of School</th>
            <th ng-click="schoolSortOrder = 'totalTeachers'; reverse=!reverse" class="horizontal_vertical_center pointer"  title="Click to sort by name" >Number of Teachers</th>
            <th ng-click="schoolSortOrder = 'totalMaleTeachers'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by male teachers">Male Teachers</th>
            <th  ng-click="schoolSortOrder = 'totalFemaleTeachers'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by female teachers">Female Teachers</th>
            <th ng-click="schoolSortOrder = 'name'; reverse=!reverse" class="horizontal_vertical_center  pointer"  title="Click to sort by average attendance">Average Teacher Attendance</th>
        </tr>
        </thead>
        <!--<button data-ng-click="logger()" class="btn btn-primary">Click me</button>-->
        <tbody>
        <tr ng-init="doReset()" ng-repeat="school in  selected_district.allSchools | orderBy : schoolSortOrder : reverse">
            <td><a ui-sref="dashboard.school.view_selected_school({id : school.id , district_id : school.district_id })">{{school.name}}</a></td>
            <td class="horizontal_vertical_center">{{school.totalTeachers}}</td>
            <td class="horizontal_vertical_center">{{school.totalMaleTeachers}}</td>
            <td class="horizontal_vertical_center">{{school.totalFemaleTeachers}}</td>
            <td class="horizontal_vertical_center" >
                <span ng-repeat="average in teacherAttendanceSummaryData.attendanceAverageInfo |
                filter : {year : $parent.summary_year, term : $parent.summary_term, week_number : $parent.summary_week, data_collector_type : $parent.summary_data_collector_type, school_id : school.id } | limitTo : 1">
                    {{ average.average_teacher_attendance | checkPercentage}} <span ng-show="average.average_teacher_attendance">%</span>
                </span>
                <span ng-hide="(teacherAttendanceSummaryData.attendanceAverageInfo |
                filter : {year : $parent.summary_year, term : $parent.summary_term, week_number : $parent.summary_week, data_collector_type : $parent.summary_data_collector_type, school_id : school.id }).length">---</span>
            </td>

        </tr>
        </tbody>

    </table>

</div>