
<div class="col-sm-12">
    <input type="text" class="input-sm pull-left col-sm-3" placeholder="Search teacher by name or staff number" title="searchTeacher" ng-init="searchTeacher = '' " ng-model="searchTeacher">
    <small>Showing : {{ (teacherSummaryData.teachersInfo | filter : searchTeacher | limitTo : numberToShow ).length }} &nbsp; of &nbsp; {{ teacherSummaryData.teachersInfo.length }}</small>

    <div class="table-responsive" scroll-infinitely="">

        <table export-table class="table table-bordered table-striped" id="teacherPopulationTableFullList" ng-show="teacherSummaryData.teachersInfo">
            <thead>
            <tr class="bg-green">
                <td class="horizontal_vertical_center pointer">Staff No</td>
                <td class="horizontal_vertical_center" colspan="2">Name</td>
                <td class="horizontal_vertical_center pointer"  colspan="1"  ng-click="teacherSortOrder = 'gender'; reverse=!reverse" >Gender</td>
                <td class="horizontal_vertical_center pointer" colspan="1"  ng-click="teacherSortOrder = 'rank'; reverse=!reverse" >Rank</td>
                <td class="horizontal_vertical_center pointer" colspan="2" ng-click="teacherSortOrder = 'subject'; reverse=!reverse" >Class / Subject</td>
                <td class="horizontal_vertical_center pointer" ng-click="teacherSortOrder = 'category'; reverse=!reverse" >Category</td>
                <td class="horizontal_vertical_center " >School</td>
                <td class="horizontal_vertical_center">Action</td>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-gray">
                <td class="horizontal_vertical_center" title="Staff Number"></td>
                <td class="horizontal_vertical_center pointer" ng-click="teacherSortOrder = 'first_name'; reverse=!reverse">First</td>
                <td class="horizontal_vertical_center pointer" ng-click="teacherSortOrder = 'last_name'; reverse=!reverse">Last</td>
                <td class="horizontal_vertical_center" title="gender"></td>
                <td class="horizontal_vertical_center" title="rank"></td>
                <td class="horizontal_vertical_center" title="Subject/Level"></td>
                <td class="horizontal_vertical_center" title=""></td>
                <td class="horizontal_vertical_center" title="Category"></td>
                <td class="horizontal_vertical_center" title="School">Name</td>
                <td class="horizontal_vertical_center" title="Action"></td>
            </tr>
            <tr ng-repeat="teacher in teacherSummaryData.teachersInfo | orderBy : teacherSortOrder : reverse | filter :   searchTeacher | limitTo : numberToShow">
                <td class="horizontal_vertical_center">{{  teacher.staff_number}}</td>
                <td class="horizontal_vertical_center">{{  teacher.first_name  || 'Unavailable' }}</td>
                <td class="horizontal_vertical_center">{{  teacher.last_name  || 'Unavailable' }}</td>
                <td class="horizontal_vertical_center">{{teacher.gender}}</td>
                <td class="horizontal_vertical_center">{{teacher.rank}}</td>
                <td class="horizontal_vertical_center"><span ng-show="teacher.class_subject_taught">{{teacher.class_subject_taught}}</span> {{teacher.level_taught | uppercase }}</td>
                <td class="horizontal_vertical_center">{{teacher.subject}}</td>
                <td class="horizontal_vertical_center">{{teacher.category}}</td>
                <td class="horizontal_vertical_center"><a ui-sref="dashboard.school.view_selected_school({id : teacher.school_id, district_id : teacher.district_id})">{{ schoolLookup[teacher.school_id].name }}</a></td>
                <td class="horizontal_vertical_center">
                    <button class="btn btn-warning btn-sm" edit-teacher="teacher" jurisdiction="country"><i class="fa fa-edit"></i> Edit</button>
<!--                    <button class="btn btn-danger btn-sm" delete-teacher="teacher" jurisdiction="country"><i class="fa fa-ban"></i> Delete</button>-->
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>


