<div class="box-no-shadow box-danger">
    <div class="box-header">
        <h3 class="box-title page-header">Country's SRC</h3>
        <div class="box-tools pull-right">

            <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row" >

            <!-- Total Number of Teachers in Region-->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-maroon" ng-class="{'active' : $state.is('dashboard.view_country_details.teachers') }">
                    <div class="inner">
                        <h3>
                            {{ teacherSummaryData.teachersInfo.length || '0' }}
                            <sup style="font-size: 20px; margin-left: 20px" ng-if="loadingTeachers"><i class="fa fa-spinner fa-spin"></i></sup>
                        </h3>
                        <p>
                            Teacher<br>Population
                        </p>
                    </div>
                    <div class="icon hidden-lg">
                        <i class="ion ion-android-social-user"></i>
                    </div>
                    <a class="small-box-footer" ng-if="!loadingTeachers" ui-sref="dashboard.view_country_details.teachers">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->

            <!--Enrollment, Attendance-->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green pointer" ng-class="{'active' : $state.is('dashboard.view_country_details.schools_stats_weekly') }">
                    <div class="inner">
                        <h3 class="no-min-height">
                            <!--{{ totalStudentsInDistrict_cs }}-->
                            <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                        </h3>
                        <p>
                            Student <br>
                            Enrollment  /<br>
                            Attendance  /<br>
                            Statistics <b>(Weekly)</b>
                        </p>
                    </div>
                    <div class="icon hidden-lg">
                        <i class="ion ion-android-social-user"></i>
                    </div>
                    <a class="small-box-footer" ui-sref="dashboard.view_country_details.schools_stats_weekly">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->

            <!-- Exam Score and Textbooks-->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-olive pointer" ng-class="{'active' : $state.is('dashboard.view_country_details.schools_stats_termly')} ">
                    <div class="inner">
                        <h3 class="no-min-height">
                            <!--{{ totalStudentsInDistrict_ht }}-->
                            <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                        </h3>
                        <p>
                            Student <br>
                            Exam Score  /<br>
                            Textbooks  /<br>
                            Statistics <b>(Termly)</b>
                        </p>
                    </div>
                    <div class="icon hidden-lg">
                        <i class="ion ion-android-social-user"></i>
                    </div>
                    <a class="small-box-footer" ui-sref="dashboard.view_country_details.schools_stats_termly">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->

            <!--Other Termly Sections -->
            <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_country_details.other_termly">
                <!-- small box -->
                <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_country_details.other_termly') }">
                    <div class="inner" >
                        <h3 class="no-min-height">
                            <!--{{ totalStudentsInDistrict_cs }}-->
                            <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                        </h3>
                        <p>
                            Other <br>
                            School <br>
                            Termly <br>
                            Sections
                        </p>
                    </div>
                    <div class="icon hidden-lg">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->

            <!--//Ui view when the box is clicked-->
            <div class="col-sm-12"  ui-view=""></div>
        </div>



    </div><!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <!--<div class="overlay" ></div>-->
    <!--<div class="loading-img"  style="padding: 50px"></div>-->
    <!-- end loading -->
</div>