<div class="" style="margin-bottom: 15px">
    <a class="btn btn-app  col-sm-4 col-xs-4" ui-sref="dashboard.view_country_details.other_termly.school_management"
       ng-class="{'active' : $state.is('dashboard.view_country_details.other_termly.school_management')}">
        <i class="fa fa-book"></i> School Management
    </a>
    <a class="btn btn-app col-sm-4 col-xs-4" ui-sref="dashboard.view_country_details.other_termly.school_grounds"
       ng-class="{'active' : $state.is('dashboard.view_country_details.other_termly.school_grounds')}">
        <i class="fa fa-cogs"></i> School Grounds
    </a>
    <a class="btn btn-app col-sm-4 col-xs-4" ui-sref="dashboard.view_country_details.other_termly.community_involvement"
       ng-class="{'active' : $state.is('dashboard.view_country_details.other_termly.community_involvement')}">
        <i class="fa fa-users"></i> Community Involvement
    </a>

</div>

<br>
<div class="clearfix"></div>

<div class="" ui-view="" autoscroll='false' style="margin-top: 15px" >
    <div class="box-no-shadow" >
        <div class="col-sm-12" style="min-height: 200px">
            <div style="vertical-align: middle; margin-top : 10%; padding: 0 15px; font-size: 24px" class="text-center center-block greyColor">
                <i class="glyphicon glyphicon-arrow-up"></i>Select a category above.</div>
        </div>
        <!--style="margin: 30% 10%; font-size: 22px;-->

    </div><!-- /.box-body -->
</div>