<h4 class="page-header">
    Ghana
    <small>Data Analytics for the nation</small>
</h4>

<div class="row ">
    <!-- Region box -->
    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 4
      }">

        <div class="small-box "  ng-class="envCheck ? 'bg-yellow' : 'bg-aqua' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{regions.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{regionLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    Region<span  ng-show="adminRight > 4">s</span>
                </p>
            </div>
            <div class="icon"  ng-show="adminRight > 4">
                <i class="ion ion-android-earth"></i>
            </div>
            <a  ng-show="adminRight > 4" ui-sref="dashboard.view_region" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight == 4" ui-sref="dashboard.view_selected_country({id : currentUser.level_id })" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  region box-->


    <!-- District box -->

    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 3
      }">


        <div class="small-box bg-light-blue" ng-class="envCheck ? 'bg-light-blue' : 'bg-green' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{districts.length}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalDistricts }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    District<span  ng-show="adminRight > 3">s</span>
                </p>
            </div>
            <div class="icon" >
                <i class="ion ion-android-locate"></i>
            </div>
            <a  ng-show="adminRight > 3" ui-sref="dashboard.view_district" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 3" ui-sref="dashboard.view_selected_district({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  district box-->


    <!-- Circuit  box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 2
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-red' : 'bg-yellow' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{circuits.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    Circuit<span  ng-show="adminRight > 2">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-location"></i>
            </div>
            <a  ng-show="adminRight > 2" ui-sref="dashboard.view_circuit" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 2" ui-sref="dashboard.view_selected_circuit({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  Circuit box-->


    <!-- School box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-teal' : 'bg-red' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{schools.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 1">
                    {{ schoolLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    School<span  ng-show="adminRight > 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a  ng-show="adminRight > 1" ui-sref="dashboard.school.view_school" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 1" ui-sref="dashboard.school.view_selected_school({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  school box-->
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    {{num_circuitsupervisors}}
                </h3>
                <p>
                    Circuit Supervisors</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-social-user"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#districts" anchor-scroll="districts"><!--ui-sref="dashboard.view_district"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>
                    {{num_headteachers}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <p>
                    Headteachers
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-social-user"></i>
            </div>
            <a class="small-box-footer"  href="" data-toggle="tab" data-target="#circuits" anchor-scroll="circuits" ><!--ui-sref="dashboard.view_circuit"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>
                    {{teacherSummaryData.teachersInfo.length}}
                </h3>
                <p>
                    Teachers
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a class="small-box-footer"  href="" data-toggle="tab" data-target="#schools" anchor-scroll="schools"><!--ui-sref="dashboard.school.view_school"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <!--<div class="col-lg-4 col-xs-6">
        &lt;!&ndash; small box &ndash;&gt;
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3 ng-show="selected_country.rating > 0">
                    {{selected_country.rating}}
                    <sup style="font-size: 20px">%</sup>
                </h3>
                <h4 ng-hide="selected_country.rating > 0">
                    No data submitted for
                </h4>
                <p>
                    Rating
                </p>
            </div>
            <div class="icon">
                <i class="ion-star"></i>
            </div>
            <a class="small-box-footer" ui-sref="dashboard.school.view_school">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>--><!-- ./col -->
</div>


<!--<h5 class="page-header">Country Overview</h5>-->
<!--<div  class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="box box-solid box-primary">-->
            <!--<div class="box-header">-->
                <!--<h3 class="box-title">Details</h3>-->
            <!--</div>-->
            <!--<div class="box-body">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-xs-12">-->
                        <!--<div class="table-responsive">-->
                            <!--<table class="table table-striped">-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>Name</td>-->
                                    <!--<td>{{selected_country.name}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Email</td>-->
                                    <!--<td>{{selected_country.email}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Phone Number</td>-->
                                    <!--<td>{{selected_country.phone_number}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Country</td>-->
                                    <!--<td>Ghana</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-xs-12">-->
                        <!--<div class="table-responsive">-->
                            <!--<table class="table table-striped">-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>Districts</td>-->
                                    <!--<td>{{selected_country.allDistrictsHolder.length}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Circuits</td>-->
                                    <!--<td>{{ selected_country.allCircuitsHolder.length }}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Schools</td>-->
                                    <!--<td> {{ selected_country.allSchoolsHolder.length }}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Data Collectors</td>-->
                                    <!--<td>{{selected_country.circuit_supervisors_holder.length + selected_country.head_teachers_holder.length }}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row">

    <div class="col-xs-12">
        <!-- recent activities box -->
        <div class="box box-warning ">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-tasks"></i> Recent Activities in Country</h3>
                <div class="box-tools pull-right">
                    <pagination class="sm inline pagination-sm" total-items="totalItems"
                                items-per-page="3" ng-model="currentPage" ng-change="pageChanged()"
                                boundary-links="true"
                                ng-show="countryRecentSubmissions.length"></pagination>

                </div>
            </div>
            <div class="box-body chat">
                <!-- chat item -->

                <table class="table table-striped">
                    <tbody>
                    <!-- ngRepeat: teacherAttendance in teacherAttendanceData -->
                    <tr  ng-repeat="submission in countryRecentSubmissions | limitTo : 3">
                        <td style="width: 100px;" >
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>  {{submission.updated_at | date}}  </small></td>
                        <td>
                            <p><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id})">{{schoolLookup[submission.school_id].name}} </a></p>
                            <p>
                                <strong><a ui-sref="dashboard.view_data_collector({id : submission.data_collector_id})" class="name">
                                    {{lookupDataCollector[submission.data_collector_id].first_name}}&nbsp;{{lookupDataCollector[submission.data_collector_id].last_name}}
                                    <small>{{ formatDataCollectorType[ lookupDataCollector[submission.data_collector_id].type ] }}</small>
                                </a></strong>
                            </p>
                            <p>
                                <a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id}}/{{submission.data_type_submitted}}">
                                    <span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span>
                                </a>
                            </p>
                        </td>
                        <td  class="">
                            <p class="">
                                <a title="Circuit Name" ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})" class="text-yellow">{{circuitLookup[submission.circuit_id].name}}</a>
                            </p>
                            <p class="">
                                <a title="District Name" ui-sref="dashboard.view_selected_district({id : submission.district_id})" class="text-green">{{districtLookup[submission.district_id].name}}</a>
                            </p>
                        </td>
                    </tr><!-- end ngRepeat: teacherAttendance in teacherAttendanceData -->
                    </tbody>
                </table>

                <div class="box-body" ng-hide="countryRecentSubmissions.length">

                    <p style="margin: 50px 0; font-size: 21px" class="text-center greyColor">
                        <i class="fa fa-warning"></i> Activity under this country could not load
                    </p>
                </div>

            </div><!-- /.item -->

        </div><!-- /.chat -->


    </div><!-- /.box (recent activities box) -->

</div><!-- /.col -->


<h5 class="page-header">Country Data</h5>

<div class="row">
<div class="col-sm-12">
<!-- Custom Tabs -->
<div class="nav-tabs-custom">
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" data-target="#stats" href="" ui-sref="dashboard.view_country_details.country_stats">Statistics</a></li>
    <li ><a data-toggle="tab" data-target="#data" href="">School Report Card</a></li>
    <li  ><a data-toggle="tab" data-target="#regions" href="">Regions</a></li>
    <li  ><a data-toggle="tab" data-target="#districts" href="">Districts</a></li>
    <li><a data-toggle="tab" data-target="#circuits" href="">Circuits</a></li>
    <li><a data-toggle="tab" data-target="#schools" href="">Schools</a></li>
    <li><a data-toggle="tab" data-target="#datacollectors" href="">Data Collectors</a></li>

    <li class="pull-right dropdown hidden">
        <a class="text-muted dropdown-toggle" href="" data-toggle="dropdown">
            <i class="fa fa-gear"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Region</a></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Configurations</a></li>
            <li class="divider" role="presentation"></li>
            <li role="presentation"><a href="" tabindex="-1" role="menuitem">Go back</a></li>
        </ul></li>
</ul>
<div class="tab-content">


<!--------------------                     Country's Stats           --------------------------------------->
    <div id="stats" class="tab-pane active">
        <div ui-view="country_stats"></div>
    </div>

<!--------------------                     Country's Data           --------------------------------------->
    <div id="data" class="tab-pane">
        <div ng-include="'partials/templates_View/country/country_data_tab.html'"></div>
    </div>






<!--------------------                     Country's Regions           --------------------------------------->

<div id="regions" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_country.allRegionsHolder">
            <h4 class="box-title page-header">Regions
                            <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in country: {{selected_country.allRegionsHolder.length}}</span>
                <input type="text" placeholder="Search region" ng-model="allRegionsHolder" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_country.allRegionsHolder">
                <thead>
                <tr class="bg-teal">
                    <td>Name of Region</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">Number of Districts</td>
                    <td class="horizontal_vertical_center">Number of Circuits</td>
                    <td class="horizontal_vertical_center">Number of Schools</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="region in selected_country.allRegionsHolder | filter : regionDistricts">
                    <td><a ui-sref="dashboard.view_selected_region({id : region.id})">{{region.name}}</a></td>
                    <td class="horizontal_vertical_center">{{ region.totalDistricts}}</td>
                    <td class="horizontal_vertical_center">{{ region.totalCircuits}}</td>
                    <td class="horizontal_vertical_center">{{region.totalSchools}}</td>
                    <td class="horizontal_vertical_center">{{region.updated_at}}</td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_country.allRegionsHolder">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No region under this country.</p>
            </div>

        </div>
    </div><!--Box-->
</div><!-- /.tab-pane -->

    <!--------------------                     Country's Districts           --------------------------------------->

<div id="districts" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_country.allDistrictsHolder">
            <h4 class="box-title page-header">Districts
                            <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in country: {{selected_country.allDistrictsHolder.length}}</span>
                <input type="text" placeholder="Search district" ng-model="regionDistricts" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_country.allDistrictsHolder">
                <thead>
                <tr class="bg-yellow">
                    <td>Name of District</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">Number of Circuits</td>
                    <td class="horizontal_vertical_center">Number of Schools</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="district in selected_country.allDistrictsHolder | filter : regionDistricts">
                    <td><a ui-sref="dashboard.view_selected_district({id : district.id})">{{district.name}}</a></td>
                    <!--<td class="horizontal_vertical_center">{{district.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{ district.totalCircuits}}</td>
                    <td class="horizontal_vertical_center">{{district.totalSchools}}</td>
                    <td class="horizontal_vertical_center">{{district.updated_at}}</td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_country.allDistrictsHolder">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No district under this country.</p>
            </div>

        </div>
    </div><!--Box-->
</div><!-- /.tab-pane -->

<!--------------------                     Country's Circuits           --------------------------------------->

<div id="circuits" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_country.allCircuitsHolder">
            <h4 class="box-title page-header">Circuits
                            <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in country: {{selected_country.allCircuitsHolder.length}}</span>
                <input type="text" placeholder="Search circuit" ng-model="regionCircuits" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_country.allCircuitsHolder">
                <thead>
                <tr class="bg-primary">
                    <td>Name of Circuit</td>
                    <td class="horizontal_vertical_center">Name of Circuit Supervisor</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">District</td>
                    <td class="horizontal_vertical_center">Number of Schools</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="circuit in selected_country.allCircuitsHolder | filter : regionCircuits">
                    <td><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">{{circuit.name}}</a></td>
                    <td class="horizontal_vertical_center">{{ circuit.circuitSupervisor.name}}</td>
                    <!--<td class="horizontal_vertical_center">{{ circuit.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{ circuit.districtName }}</td>
                    <td class="horizontal_vertical_center">{{ circuit.totalSchools }}</td>
                    <td class="horizontal_vertical_center">{{ circuit.updated_at }}</td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_country.allCircuitsHolder ">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No circuit under this country.</p>
            </div>

        </div>
    </div>
</div><!-- /.tab-pane -->

<!--------------------                     Country's Schools           --------------------------------------->

<div id="schools" class="tab-pane">
    <div class="box-no-shadow">
        <header class="box-header" ng-show="selected_country.allSchoolsHolder ">
            <h4 class="box-title page-header">Schools
                            <span class="pull-right dropdown hidden">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Bar Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Line Chart</a></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>
                    </ul>
                            </span>
            </h4>
            <aside class="box-tools">
                <span>Total in country: {{selected_country.allSchoolsHolder.length}}</span>
                <input type="text" placeholder="Search school" ng-model="regionSchools" style="width: 150px;" class="form-control input-sm pull-right">
            </aside>
        </header><!--Box header-->
        <aside class="clearfix"><br></aside>
        <div class="box-body">

            <table class="table table-bordered table-striped" ng-show="selected_country.allSchoolsHolder ">
                <thead>
                <tr class="bg-green">
                    <td>Name of School</td>
                    <td class="horizontal_vertical_center">Head Teacher</td>
                    <td class="horizontal_vertical_center">Circuit Supervisor</td>
                    <!--<td class="horizontal_vertical_center">Rating</td>-->
                    <td class="horizontal_vertical_center">Circuit</td>
                    <td class="horizontal_vertical_center">District</td>
                    <td class="horizontal_vertical_center">Last Updated</td>
                    <td class="horizontal_vertical_center hidden">Actions</td>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="school in selected_country.allSchoolsHolder  | filter : regionSchools">
                    <td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>
                    <td class="horizontal_vertical_center">{{lookupDataCollector[school.headteacher_id].name }}</td>
                    <td class="horizontal_vertical_center">{{ lookupDataCollector[school.supervisor_id].name }}</td>
                    <!--<td class="horizontal_vertical_center">{{school.rating}} %</td>-->
                    <td class="horizontal_vertical_center">{{circuitLookup[school.circuit_id].name}}</td>
                    <td class="horizontal_vertical_center">{{districtLookup[school.district_id].name}}</td>
                    <td class="horizontal_vertical_center">{{school.updated_at}}</td>
                    <td class="hidden"><button class="btn btn-sm btn-default">Action <i class="fa fa-angle-down"></i></button></td>
                </tr>
                </tbody>

            </table>
            <div ng-hide="selected_country.allSchoolsHolder ">
                <p style="margin: 5% 35%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No school under this country</p>
            </div>

        </div>
    </div>
</div><!-- /.tab-pane -->

<!--------------------                     Country's Data Collectors           --------------------------------------->
<div id="datacollectors" class="tab-pane">
    <div class="box-no-shadow box-danger">
        <div class="box-header">
            <h4 class="box-title page-header">Data Collectors
                            <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href=""   send-message="" size="sm" model="country" quantity="all" selected-model="selected_country" multiple-data-collectors="dataCollectors_to_send_messages_to"       tabindex="-1" role="menuitem">Message All DataCollectors</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="" tabindex="-1" role="menuitem" data-ng-click="selectMultiple = !selectMultiple">Message Multiple</a></li>
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Column Chart</a></li>-->
                        <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>-->
                    </ul>
                            </span>
            </h4>
            <!--<div class="box-tools pull-right" style="margin-bottom: 10px">-->
            <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
            <!--</div>-->
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Navigation - folders-->
                    <div style="margin-top: 15px;">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="header">Total : {{num_circuitsupervisors + num_headteachers}}</li>
                            <!--<li class="">-->
                            <!--<a >-->
                            <!--<i class="fa fa-users"></i> All Data Collectors</a>-->
                            <!--</li>-->
                            <!--<li class="" >-->
                            <!--<a >-->
                            <!--<i class="fa fa-user"></i> Circuit Supervisors</a>-->
                            <!--</li>-->
                            <!--<li class="" >-->
                            <!--<a>-->
                            <!--<i class="fa fa-user"></i> Head Teachers</a>-->
                            <!--</li>-->

                        </ul>
                        <tabset vertical="true" type="pills">
                            <tab select="showDataCollectors('all')">
                                <tab-heading>
                                    <i class="fa fa-users"></i> All Data Collectors
                                </tab-heading>
                            </tab>
                            <tab select="showDataCollectors('supervisor')">
                                <tab-heading>
                                    <i class="fa fa-user"></i> Circuit Supervisors ({{num_circuitsupervisors}})
                                </tab-heading>
                            </tab>
                            <tab select="showDataCollectors('headteacher')">
                                <tab-heading>
                                    <i class="fa fa-user"></i> Head Teachers ({{num_headteachers}})
                                </tab-heading>
                            </tab>
                        </tabset>
                    </div>


                </div>
                <div class="col-sm-9" ng-show="countryDataCollectors">
                    <span ng-show="selectMultiple" style="margin-bottom: 5px">
                    <button ng-show="dataCollectors_to_send_messages_to.length > 1"
                            class="btn btn-warning"
                            send-message=""
                            size="lg" model="country"
                            quantity="multiple"
                            selected-model="selected_country"
                            multiple-data-collectors="dataCollectors_to_send_messages_to"
                    >Send message to multiple</button>
                        </span>
                    <table class="table table-bordered table-striped" ng-show="countryDataCollectors">
                        <thead>
                        <tr class="bg-gray">
                            <td ng-show="selectMultiple">Select</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>District</td>
                            <td>Circuit</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="collector in countryDataCollectors">
                            <!--<td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>-->
                            <td ng-show="selectMultiple"><input type="checkbox" data-ng-click="addRemoveCollector(collector.id)"></td>
                            <td>{{collector.name }}</td>
                            <td>{{ formatDataCollectorType [collector.type] }}</td>
                            <td>{{ districtLookup [ collector.district_id].name }}</td>
                            <td>{{ circuitLookup [ collector.circuit_id].name }}</td>
                            <td>
                                <div class="btn-group">
                                    <div class="btn-group" dropdown>
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ui-sref="dashboard.view_data_collector({id : collector.id})">View Details</a></li>
                                            <li><a href=""  send-sms-modal="" size="md"
                                                   selected-model="lookupDataCollector[collector.id]" multiple-data-collectors="">Send Message</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <div class="col-sm-9">
                    <div ng-hide="countryDataCollectors">
                        <p style="margin: 5% 30%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No data collectors under this country</p>
                    </div>
                </div>
            </div>


        </div><!-- /.box-body -->
    </div>
</div><!-- /.tab-pane -->


<!--------------------                     Country's Miscellaneous           --------------------------------------->
<div id="miscellaneous" class="tab-pane">
    <div class="box-no-shadow box-danger">
        <div class="box-header">
            <h3 class="box-title hidden">Miscellaneous</h3>
            <div class="box-tools pull-right hidden">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body">
            <p style="color: darkgrey; margin: 5% 33%; font-size: 20px">
                Content loading, please move to other tabs.
            </p>
        </div><!-- /.box-body -->
        <!-- Loading (remove the following to stop the loading)-->
        <div class="overlay" ></div>
        <div class="loading-img"  style="padding: 50px"></div>
        <!-- end loading -->
    </div>
</div><!-- /.tab-pane -->
</div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
</div>
</div>
