<h4 class="page-header">
    <span ng-show="regions.length">Select a country below</span>
    <!--<small>This is a description of the current region.</small>-->
    <!--<a ui-sref="dashboard.add_region({action: 'add', id : 0})" ng-show="adminRight > 4 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add Country</span></a>-->
</h4>

<div class="clearfix"><br></div>

<div class="box box-primary" ui-view="" >
    <div class="box-header">
        <i class="fa fa-map-marker"></i>
        <h3 class="box-title">
            Country
        </h3>
        <!-- tools box -->
        <!--<div class="pull-right box-tools">-->
        <!--<button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>-->
        <!--<button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>-->
        <!--</div>&lt;!&ndash; /. tools &ndash;&gt;-->
        <div class="box-tools pull-right hidden">
            <div class="input-group">
                <input ng-model="searchRegion" type="text"  ng-show="adminRight > 4" placeholder="Search region" style="width: 200px;" class="form-control input-sm t" name="table_search">
                <div class="input-group-btn">
                    <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
                </div>
            </div>
        </div>


    </div>

    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Country</a></th>
                    <!--<th title="Click to Sort" style="text-align: center"><a href="" ng-click="regionSortOrder = 'rating'; reverse=!reverse">Rating </a></th>-->
                    <!--<th title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                    <th title="Click to Sort" style="text-align: center"><a href="" >Actions</a></th>
                </tr>
                <tr>
                    <td style="text-align: left"><a ui-sref="dashboard.view_country_details.country_stats({id : 1})" >Ghana</a></td>
                    <!--<td style="text-align: center"><span ng-show="region.rating">{{ region.rating }} %</span>-->
                    <!--<span ng-hide="region.rating"><em>Incomplete data</em></span></td>-->
                    <!--<td>{{ region.position }}</td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group col-sm-offset-5 col-xs-offset-3">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li  ng-show="adminRight > 3"><a ui-sref="dashboard.view_country_details" >View Details</a></li>
                                    <!--<li  ng-show="adminRight > 4 && currentUser.role == 'super' "><a ui-sref="dashboard.add_region({action: 'edit', id : region.id})">Edit Country</a></li>-->
                                    <!--<li  ng-show="adminRight > 4 && currentUser.role == 'super' "><a href="" onclick="return false" >Delete Country</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>

        <div class="alert alert-info" ng-hide="(regions  | filter: searchRegion).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->
    <!--<div class="box-footer">-->
    <!--<button class="btn btn-info"><i class="fa fa-eye"></i> View More</button>-->
    <!--<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>-->
    <!--</div>-->
</div>
