<div ng-controller="scViewSelectedCircuitStructureController">
    <div class="box-no-shadow">
        <div  class="box-header"><!--ng-show="structureItems"-->
            <h3 class="box-title">School Structure
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="structure_year"
                                ng-options="year for year in circuitYears">
                            <option value="">Select year</option>
                        </select>
                        <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="structure_term"
                                ng-options="term.value as term.label for term in circuitTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchStructureData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div   class="col-sm-12" ng-show="structureData.length">
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm structureTable" export-table="structureTable" file-name="{{selected_circuit.name + ' Termly School Structure Summary ' + structure_year + ' ' + structure_term}}">Begin Termly School Structure Summary Export</button>
                    </div>
                    <table  class="table table-striped table-bordered table-hover" id="structureTable">
                        <thead>
                        <tr  class="bg-primary">
                            <th style="text-align: center">School</th>
                            <th style="text-align: center">Good</th>
                            <th style="text-align: center">Fair</th>
                            <th style="text-align: center">Poor</th>
                            <th style="text-align: center" >Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="structure in structureData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_grounds({id : structure.school_id, district_id : structure.district_id})">{{ structure.name}}</a></td>

                            <td align="center">{{structure.good}}</td>
                            <td align="center">{{structure.fair}}</td>
                            <td align="center">{{structure.poor}}</td>
                            <td align="center" class="text-danger text-center">
                                <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" structure-preview="structure">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="Structure"
                                            section-type="structure" submission-id="{{structure.data.id}}" function="fetchStructureData()"
                                            term="{{structure.data.term}}" year="{{structure.data.year}}" school-id="{{structure.school_id}}">Delete Data</button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-sm-12" ng-hide="structureData.length" ng-if="!structureData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingStructureData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingStructureData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>