<!DOCTYPE html>
<html ng-app="mobileMsrc">
<!--manifest="../msrc.appcache"-->
<head>
    <meta charset="UTF-8">
    <title>mSRC: Schools that learn</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--All Css Files-->
    <link rel="stylesheet" href="/mobile/<%= grunt.config.get('pkg.name_lowercase') %>.css">
    <!-- Favicon-->
    <link href="/img/favicon.ico" rel="icon" type="image/ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>

<body layout="column">
<div layout="column" layout-fill>
    <md-content layout-padding style="padding: 25px; min-height: 480px" ui-view="">
    </md-content>
</div>


<!--All Other script Files-->
<script type="text/javascript" src="/mobile/<%= grunt.config.get('pkg.name_lowercase') %>-scripts.js"></script>

<!--MSRC Angular Script files-->
<script type="text/javascript" src="/mobile/ng-<%= grunt.config.get('pkg.name_lowercase') %>.js"></script>

<!--Html Partials using template caching-->
<script src="/mobile/templates/app.js"></script>

</body>
</html>