<h2 class="page-header"> Data Collectors</h2>


<div class="alert alert-danger" ng-show="messageFromServer">{{ messageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{ paramAction() }} {{ dataCollectorType() }}</h3>

        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm pull-right" ng-click="goBackInHistory()">Cancel</button>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="data_collector_form" ng-submit="processForm()" novalidate="" ng-init="highlightErrors = false">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.last_name || data_collector_form.last_name.$invalid && highlightErrors }">
                    <label for="last_name">Surname <em>*</em></label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name" ng-model="formData.last_name" required="">
                    <p  ng-show="(data_collector_form.last_name.$invalid && !data_collector_form.last_name.$pristine) ||  validation.last_name  || (data_collector_form.last_name.$invalid && highlightErrors)"   class="text-red help-block">Last name is required.</p>
                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.first_name || data_collector_form.first_name.$invalid && highlightErrors }">
                    <label for="first_name">Other names  <em>*</em></label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter other names"  ng-model="formData.first_name" required="">
                    <p  ng-show="(data_collector_form.first_name.$invalid && !data_collector_form.first_name.$pristine) ||  validation.first_name  || (data_collector_form.first_name.$invalid && highlightErrors)"   class="text-red help-block">Other names are required.</p>
                </div>
            </div>
            <div class="row">


                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.phone_number ||  (data_collector_form.phone_number.$invalid && highlightErrors) }">
                    <label for="phone">Phone Number <em> * </em><span style="color: #b5b5b5; font-style: italic; font-size: 14px"> (0xxx xxx xxx)</span></label>
                    <input type="text" class="form-control" id="phone" placeholder=""
                           required=""
                           name="phone_number"
                           ng-model="formData.phone_number"
                           ng-value="0"
                           value="0"
                           data-ng-blur="checkPhoneNumber($event)"
                           data-ng-minlength="10">
                    <p  ng-show="(data_collector_form.phone_number.$invalid && !data_collector_form.phone_number.$pristine) ||  validation.phone_number ||
                    (data_collector_form.phone_number.$invalid && highlightErrors)"
                        class="text-red help-block">(Required) Phone number must be 10 digits starting with <code>0</code>
                    </p>
                    <p  ng-show="phoneNumberExists"   class="text-red help-block">Duplicate phone number in the system.</p>
                </div>

                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.email ||  (data_collector_form.email.$invalid && highlightErrors) }">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter optional email address" data-ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/" ng-model="formData.email">
                <p  ng-show="(data_collector_form.email.$invalid && !data_collector_form.email.$pristine) ||  validation.email ||  (data_collector_form.email.$invalid && highlightErrors)"   class="text-red help-block">Email should be in the form : <code>name@domain.com</code></p>
                </div>
            </div>

            <div class="row">


                <div class="form-group col-sm-3" ng-class="{'has-error' : validation.gender ||  (data_collector_form.gender.$invalid && highlightErrors) }">
                    <label for="gender">Gender  <em>*</em></label>
                    <select  id="gender" class="form-control" name="gender" required="" ng-model="formData.gender">
                        <option value="" selected>Select gender of data collector</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <p  ng-show="(data_collector_form.gender.$invalid && !data_collector_form.gender.$pristine) ||  validation.gender ||  (data_collector_form.gender.$invalid && highlightErrors)"   class="text-red help-block">Gender is required.</p>
                </div>

                <div class="form-group col-sm-3" ng-class="{'has-error' : validation.type ||  (data_collector_form.type.$invalid && highlightErrors) }">
                    <label for="type">Type  <em>*</em></label>
                    <select  id="type" class="form-control" name="type" required="" ng-model="formData.type">
                        <option value="">Select type of data collector</option>
                        <option ng-selected="true" value="{{ $stateParams.type }}">{{ dataCollectorType() }} </option>
                        <!--<option value="$stateParams.type">Head Teacher</option>-->
                    </select>
                    <p  ng-show="(data_collector_form.type.$invalid && !data_collector_form.type.$pristine) ||  validation.type ||  (data_collector_form.type.$invalid && highlightErrors)"   class="text-red help-block">Please choose a data collector type.</p>
                </div>


                <div class="input-group col-sm-6" style="padding: 0 15px;">
                    <label for="identity_code_display">Identity Code</label>
                    <input disabled id="identity_code_display" type="text" class="identity_code form-control">
                    <div class="input-group-btn" style="vertical-align: bottom">
                        <button class="btn btn-primary" type="button" data-ng-disabled="true" ng-click="generateIdentityCode()">Generate</button>
                    </div><!-- /btn-group -->
                </div>

            </div>

        </div><!-- /.box-body -->
        <!--<div class="row margin-left-10 " >-->
        <div class="" >
            <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
            <div class="form-group col-sm-4" >
                <div class="form-group" ng-class="{'has-error' : validation.region_id ||  (data_collector_form.region_select.$invalid && highlightErrors)}">
                    <label for="region_select">Region <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="region_select" id="region_select" class="form-control"
                            ng-model="formData.region" required=""
                            ng-options="region.id as region.name for region in regions  | filter : {country_id : 1}">
                        <option value="" selected>Select a Region</option>
                        <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                    </select>
                    <p  ng-show="(data_collector_form.region_select.$invalid && !data_collector_form.region_select.$pristine)
                    ||  validation.region_id ||  (data_collector_form.region_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a region.</p>
                </div>
            </div>
            <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error' : validation.district_id ||  (data_collector_form.district_select.$invalid && highlightErrors)}">
                    <label for="district_select">District <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="district_select" id="district_select" class="form-control"
                            ng-model="formData.district" required=""
                            ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.region} : true">
                        <option value="" selected>Select a District</option>
                        <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                    </select>
                    <p  ng-show="(data_collector_form.district_select.$invalid && !data_collector_form.district_select.$pristine) ||  validation.district_id ||  (data_collector_form.district_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a district.</p>
                </div>
            </div>

            <!--<div class="form-group" ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']">-->
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error' : validation.circuit_id ||  (data_collector_form.circuit_select.$invalid && highlightErrors)}">
                    <label for="circuit_select">Circuit <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="circuit_select" id="circuit_select" required="" class="form-control"  ng-model="formData.circuit"
                            ng-options="circuit.id as circuit.name group by circuit.districtName for circuit in circuits | filter : {district_id : formData.district} : true">
                        <option value="" selected>Select a Circuit</option>
                    </select>
                    <p  ng-show="(data_collector_form.circuit_select.$invalid && !data_collector_form.circuit_select.$pristine) ||  validation.circuit_id ||  (data_collector_form.circuit_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a circuit.</p>

                </div>
            </div>

            <!--<div class="form-group" ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']" ng-show="formData.type == 'head_teacher' ">-->
            <!--<div class="form-group">-->
            <!--<label for="school_select">School</label>-->
            <!--<select name="school_select" id="school_select" class="form-control" ng-model="formData.school"-->
            <!--ng-options="school.id as school.name group by school.circuitName for school in schools | filter : {circuit_id : formData.circuit}">-->
            <!--<option value="" selected>Select a School</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <!---->

        </div>
<!--</div>-->




<div class="row" style="margin-right : 5px">
    <!--initForm is a function defined in the controller to change the region and district values of the signed in admin-->
    <div class="pull-right">
        <button class="btn btn-warning" type="reset">Reset</button>

        <!--Button for submitting-->
        <button type="submit" class="btn btn-success"  ng-show="data_collector_form.$valid && !phoneNumberExists" >
            <span ng-show="paramAction() == 'Edit'">Save Changes</span>
            <span ng-hide="paramAction() == 'Edit'">{{ paramAction() }} {{dataCollectorType()}}</span>
        </button>

        <!--Button to show errors-->
        <span class="btn btn-danger" ng-show="data_collector_form.$invalid || phoneNumberExists"
              ng-click="highlightErrors = !highlightErrors">
             <span ng-show="paramAction() == 'Edit'">Save Changes</span>
            <span ng-hide="paramAction() == 'Edit'">{{ paramAction() }} {{dataCollectorType()}}
        </span>
        <!--<div class="row">-->
<!--<pre>-->
<!--{{ formData | json }}-->
<!--</pre>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-success" ng-show="paramAction() == 'Edit' " data-ng-disabled="data_collector_form.$invalid" >Save Changes</button>-->
    </div>
</div>
</form>
</div><!-- /.box -->

