<h2 class="page-header">Circuit Supervisors
    <a ui-sref="dashboard.add_data_collector({type: 'circuit_supervisor', action : 'add'})" ng-show="adminRight > 2 && currentUser.role == 'super' "
       class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add Circuit Supervisor
    </a>
</h2>

<div class="alert alert-danger" ng-show="!circuit_supervisors.length">There are no Circuit Supervisors in the database</div>

<div ng-show="circuit_supervisors.length" ui-view class="box box-primary">
    <div class="box-header">
        <!--<i class="fa fa-map-marker"></i>-->

        <!-- tools box -->
        <!--<div class="pull-right box-tools">-->
        <!--<button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>-->
        <!--<button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>-->
        <!--</div><!-- /. tools -->
        <div class="box-tools pull-right ">
            <div class="input-group">
                <input ng-model="searchSupervisor" type="text" placeholder="Search supervisor by name" style="width: 200px;" class="form-control input-sm t" name="table_search">
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadCircuitSupervisors()"><i class="fa fa-refresh"></i> Reload Circuit Supervisors</button>

                <div class="input-group-btn">
                    <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
                    <button class="btn btn-warning btn-sm pull-right" ui-sref="dashboard.data_collectors_circuit_supervisors.show_all" data-widget='collapse' data-toggle="tooltip" title="View All Circuit Supervisors" style="margin-right: 5px;"><i class="fa fa-eye"></i></button>

                </div>
            </div>
        </div>


    </div>
    <div class="box-body no-padding">
        <div class="" scroll-infinitely="">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                <tr class="bg-primary">
                    <th title="Click to Sort" style="text-align: left"><span class="pointer" ng-click="supervisorSortOrder = 'name'; reverse=!reverse">Name</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" ng-click="supervisorSortOrder = 'district_id'; reverse=!reverse">District</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" ng-click="supervisorSortOrder = 'circuit_id'; reverse=!reverse">Circuit </span></th>
                    <th title="Click to Sort" style="text-align: left">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr  ng-repeat="supervisor in circuit_supervisors |filter : searchSupervisor | orderBy : supervisorSortOrder : reverse | limitTo : numberToShow ">

                    <td style="text-align: left"><a ui-sref="dashboard.view_data_collector({id : supervisor.id})">{{ supervisor.first_name}}&nbsp;{{supervisor.last_name}}</a></td>
                    <td style="text-align: center">{{ districtLookup[supervisor.district_id].name }}</td>
                    <td style="text-align: center">{{ circuitLookup[supervisor.circuit_id].name }}</td>
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a ui-sref="dashboard.view_data_collector({id: supervisor.id})">View Details</a></li>
                                    <!--<li ng-show="adminRight > 2 && currentUser.role == 'super' ">-->
                                        <!--<a class="pointer" send-message="" size="md" model="school"-->
                                                                 <!--quantity="{{ supervisor.id }}"-->
                                                                 <!--selected-model="supervisor"-->
                                                                 <!--multiple-data-collectors="">Send Message</a>-->
                                    <!--</li>-->
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' ">
                                        <a class="pointer" send-sms-modal="" size="md"
                                           selected-model="supervisor" multiple-data-collectors="">Send Message</a>
                                    </li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a class="pointer" data-ng-click="resendCredentialModal(supervisor.id)">Resend Login Credentials</a></li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a ui-sref="dashboard.add_data_collector({type: 'circuit_supervisor', action : 'edit', id : supervisor.id})">Edit Details</a></li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a class="pointer" onclick="return false" data-ng-click="deleteModal(supervisor.id)">Delete Supervisor</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr></tbody>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info" ng-hide="(circuit_supervisors  | filter: searchSupervisor).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->
    <!--<div class="box-footer">-->
    <!--<button class="btn btn-info"><i class="fa fa-eye"></i> View More</button>-->
    <!--<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>-->
    <!--</div>-->
</div>