<h2 class="page-header">Community SMS
    <span class="pull-right"><input class="form-control" ng-model="searchSMS" type="text" placeholder="Search"></span>
</h2>
<div class="row" ng-show="community_smses">
    <div class="col-lg-12">
          <span class="pull-right label label-primary" style="padding: 10px; margin-right:25px; font-size: 12px">
                Showing : {{  (community_smses | filter: searchSMS).length }}  of   {{community_smses.length}}</span>
    </div>

    <div class="col-sm-12">
        <!-- The time line -->
        <ul class="timeline" ng-show="(community_smses | filter : date.formatted | filter : searchSMS : false).length"
            ng-repeat="date in dates">

            <!-- timeline time label -->
            <li class="time-label" >
                                    <span class="bg-red">
                                     {{ momentFormatDate (date.formatted, 'll')}}
                                    </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li ng-repeat="eachSMS in community_smses | filter : date.formatted | filter : searchSMS : false">

                <i class="fa fa fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i>
                        &nbsp;{{momentFormatDate(eachSMS.created_at,'lll')}} ({{ momentDateFromNow( eachSMS.created_at) }})</span>
                    <h3 class="timeline-header"><a href="#">{{eachSMS.sender}}</a> <small>sent a text message</small></h3>
                    <div class="timeline-body">
                        <p>
                            <b>School :    {{schoolLookup [eachSMS.school_id].name}} </b>
                            <small>({{  eachSMS.school_sms_code  }})</small>
                            <a class="btn btn-danger btn-xs pull-right hidden">Delete</a>
                        </p>
                        Message : {{eachSMS.message}}
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs" ui-sref="dashboard.school.view_selected_school({id : eachSMS.school_id})">View school</a>

                    </div>
                </div>
            </li>
            <!-- END timeline item -->
        </ul>
    </div><!-- /.col -->
    <div class="alert alert-info col-sm-12" ng-hide="(community_smses | filter : searchSMS).length">
        <i class="fa-warning fa"></i>No more SMS to display</div>
</div>



<div class="box-no-shadow" ng-hide="community_smses">
    <div class="box-body">
        <p style="margin: 0 30%; padding: 35px; font-size: 21px" class="greyColor"><i class="fa fa-warning"></i>  No SMS from the community</p>
    </div>
</div>