<h2 class="page-header">Head Teachers
    <a ui-sref="dashboard.add_data_collector({type: 'head_teacher', action : 'add'})" ng-show="adminRight > 2 && currentUser.role == 'super' " >
        <span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add Head Teacher</span>
    </a>
</h2>

<div class="alert alert-danger" ng-show="!head_teachers.length">Head Teachers could not be loaded. Check internet connection and reload the page.</div>

<div ng-show="head_teachers.length" ui-view class="box box-success">
    <div class="box-header">
        <!--<i class="fa fa-map-marker"></i>-->

        <!-- tools box -->
        <div class="pull-right box-tools">
            <!--<button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>-->
            <button class="btn btn-warning btn-sm pull-right" ui-sref="dashboard.data_collectors_head_teachers.show_all" data-widget='collapse' data-toggle="tooltip" title="View All Head Teachers" style="margin-right: 5px;"><i class="fa fa-eye"></i></button>
        </div><!-- /. tools -->
        <div class="box-tools pull-right ">
            <div class="input-group">
                <input ng-model="searchTeacher" type="text" placeholder="Search headteacher by name" style="width: 200px;" class="form-control input-sm t" name="table_search">
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadHeadTeachers()"><i class="fa fa-refresh"></i> Reload Head Teachers</button>

                <div class="input-group-btn">
                    <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
                </div>
            </div>
        </div>


    </div>
    <div class="box-body no-padding">
        <div class="" scroll-infinitely="">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                <tr class="bg-green">
                    <th title="Click to Sort"><span class="pointer" data-ng-click="regionSortOrder = 'name'; reverse=!reverse">Name</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" data-ng-click="regionSortOrder = 'district_id'; reverse=!reverse">District</span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'circuit_id'; reverse=!reverse">Circuit </span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'school_id'; reverse=!reverse">School</span></th>
                    <th title="Click to Sort" style="text-align: left"><span>Action</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="teacher in head_teachers |filter : searchTeacher | orderBy : regionSortOrder : reverse | limitTo : numberToShow">
                    <td><a ui-sref="dashboard.view_data_collector({id : teacher.id})">{{ teacher.first_name}}&nbsp;{{teacher.last_name}}</a></td>
                    <td style="text-align: center">{{ districtLookup[teacher.district_id].name }}</td>
                    <td style="text-align: center">{{ circuitLookup[teacher.circuit_id].name }}</td>
                    <td  style="text-align: center">{{ lookupDataCollector[ teacher.id ].school_name || 'Not yet assigned' }}</td>
                    <!--<td>-->
                    <!--<div class="btn-group">-->
                    <!--<a  ui-sref="dashboard.add_data_collector({type: 'head_teacher', action : 'edit', id : teacher.id})" class="btn btn-default btn-sm">Edit</a>-->
                    <!--<button popover="{{ someHtml }}" popover-title="The title." class="btn btn-danger btn-sm">Delete</button>-->
                    <!--</div>-->
                    <!--</td>-->
                    <td >
                        <div class="btn-group" >
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li ><a ui-sref="dashboard.view_data_collector({id: teacher.id})">View Details</a></li>
                                    <!--<li ng-show="adminRight > 1 && currentUser.role == 'super' ">-->
                                    <!--<a class="pointer" send-message="" size="md" model="school"-->
                                    <!--quantity="{{ teacher.id }}"-->
                                    <!--selected-model="teacher"-->
                                    <!--multiple-data-collectors="">Send Message</a>-->
                                    <!--</li>-->
                                    <li ng-show="adminRight > 1 && currentUser.role == 'super' ">
                                        <a class="pointer" send-sms-modal="" size="md"
                                           selected-model="teacher" multiple-data-collectors="">Send Message</a>
                                    </li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a class="pointer" data-ng-click="resendCredentialModal(teacher.id)">Resend Login Credentials</a></li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a  ui-sref="dashboard.add_data_collector({type: 'head_teacher', action : 'edit', id : teacher.id})" >Edit Details</a></li>
                                    <li ng-show="adminRight > 2 && currentUser.role == 'super' "><a class="pointer" onclick="return false" data-ng-click="deleteModal(teacher.id)">Delete Head Teacher</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info" ng-hide="(head_teachers  | filter: searchTeacher).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->
    <!--<div class="box-footer">-->
    <!--<button class="btn btn-info"><i class="fa fa-eye"></i> View More</button>-->
    <!--<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>-->
    <!--</div>-->
</div>