<h4 class="page-header">Data Collector
    <a ng-show="selected_data_collector.type == 'circuit_supervisor' " ui-sref="dashboard.data_collectors_circuit_supervisors" style="margin: 0 5px" class="btn btn-warning  pull-right"><i class="fa fa-eye"></i>   View All</a>
    <a ng-show="selected_data_collector.type == 'head_teacher' " ui-sref="dashboard.data_collectors_head_teachers" style="margin: 0 5px" class="btn btn-warning  pull-right"><i class="fa fa-eye"></i>   View All</a>
    <a ng-show="adminRight == 2" ui-sref="dashboard.view_selected_circuit({id : selected_data_collector.circuit_id})" style="margin: 0 5px" class="btn btn-success  pull-right"><i class="fa fa-dashboard"></i>  Circuit Dashboard</a>
    <a class="btn btn-primary pull-right" ng-show="adminRight > 2 && currentUser.role == 'super' " ui-sref="dashboard.add_data_collector({type: selected_data_collector.type, action : 'edit', id : selected_data_collector.id})" ><i class="fa fa-edit"></i> Edit Details</a>

</h4>

<div class="row">
    <div class="col-sm-12">
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row">
                    <div class="col-sm-5 col-md-4"  style="background-color: #ffffff">
                        <div class="user-left">
                            <div class="center">
                                <h4>{{selected_data_collector.name}}</h4>
                                <hr>
                            </div>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th colspan="3" class="text-blue">Contact Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Phone Number</td>
                                    <td class="text-warning">{{selected_data_collector.phone_number}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td  class="text-warning">{{selected_data_collector.email}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th colspan="3" class="text-blue">General information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Identity Code</td>
                                    <td  class="text-muted">{{ selected_data_collector.identity_code }}</td>
                                </tr>
                                <tr>
                                    <td>Position</td>
                                    <td  class="text-warning">{{ formatDataCollectorType[selected_data_collector.type] }}</td>
                                </tr>
                                <tr>
                                    <td>Last Submitted </td>
                                    <td  class="text-warning">{{ lastSubmitted }}</td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td  class="text-warning">{{ regionLookup[selected_data_collector.region_id].name }}</td>
                                </tr>
                                <tr>
                                    <td>District</td>
                                    <td  class="text-warning">{{ districtLookup[selected_data_collector.district_id].name }}</td>
                                </tr>
                                <tr>
                                    <td>Circuit</td>
                                    <td  class="text-warning">{{ circuitLookup[selected_data_collector.circuit_id].name }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th colspan="3" class="text-blue">Additional information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-if="selected_data_collector.type == 'head_teacher' ">
                                    <td>Date Employed as a Teacher</td>
                                    <td>{{selected_data_collector.employed_date_as_teacher || "---"}}</td>
                                </tr>
                                <tr  ng-if="selected_data_collector.type == 'head_teacher' ">
                                    <td>Date Employed as a Head Teacher</td>
                                    <td>{{selected_data_collector.employed_date_as_headteacher || "---"}}</td>
                                </tr>
                                <tr ng-if="selected_data_collector.type == 'circuit_supervisor' ">
                                    <td>Date Employed as a Circuit Supervisor</td>
                                    <td>{{selected_data_collector.employed_date_as_circuit_supervisor || "---" }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8">
                        <!--<p>-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus.-->
                        <!--</p>-->
                        <div class="row ">
                            <div class="col-sm-4">
                                <button class="btn btn-primary btn-icon btn-block" data-target="#recent_submissions" data-toggle="tab">
                                    <i class="fa fa-folder-open"></i>
                                    Recent Submission <span class="badge badge-info">{{ recentDataCollectorSubmissions.length }}</span>
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary btn-icon btn-block"  data-target="#messages" data-toggle="tab">
                                    <i class="fa fa-envelope"></i>
                                    Messages <span class="badge badge-info"> {{data_collector_messages.length}} </span>
                                </button>
                            </div>
                            <div class="col-sm-4" ng-if="selected_data_collector.type == 'head_teacher' ">
                                <button class="btn btn-primary btn-icon btn-block" data-target="#head_teacher_school_list" data-toggle="tab">
                                    <i class="fa fa-book"></i>
                                    School <span class="badge badge-info"> {{ ( circuitLookup [selected_data_collector.circuit_id].allSchoolsHolder | filter : {headteacher_id : selected_data_collector.id}).length  }} </span>
                                </button>
                            </div>
                            <div class="col-sm-4" ng-if="selected_data_collector.type == 'circuit_supervisor' ">
                                <button class="btn btn-primary btn-icon btn-block" data-target="#circuit_supervisor_school_list" data-toggle="tab">
                                    <i class="fa fa-book"></i>
                                    Schools <span class="badge badge-info"> {{ circuitLookup [selected_data_collector.circuit_id].totalSchools  }} </span>
                                </button>
                            </div>
                            <!--<div class="col-sm-3">-->
                            <!--<button class="btn btn-icon btn-block">-->
                            <!--<i class="clip-list-3"></i>-->
                            <!--Notifications <span class="badge badge-info"> 9 </span>-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="recent_submissions">
                                <div class="panel panel-white">
                                    <h4 class="page-header pad-10"> Recent Submissions</h4>
                                    <div class="panel-body panel-scroll height-300 ps-container">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <!-- recent activities box -->
                                                <div class="box-no-shadow box-warning ">
                                                    <div class="box-header" ng-show="recentDataCollectorSubmissions.length">
                                                        <div class="box-tools pull-right">
                                                            <pagination class="sm inline pagination-sm" total-items="totalItems"
                                                                        items-per-page="maxSize" ng-model="currentPage" ng-change="pageChanged()"
                                                                        ng-show="recentDataCollectorSubmissions">
                                                            </pagination>


                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="box-body chat" ng-show="recentDataCollectorSubmissions.length">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                            <!-- ngRepeat: teacherAttendance in teacherAttendanceData -->
                                                            <tr ng-repeat="submission in recentDataCollectorSubmissions | limitTo : maxSize">
                                                                <td style="width: 100px;" >
                                                                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{submission.updated_at | date}}  </small></td>
                                                                <td>
                                                                    <p><em>School&nbsp;</em>:<a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id  })">&nbsp;{{schoolLookup[submission.school_id].name}} </a></p>
                                                                    <p>
                                                                        <a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id}}/{{submission.data_type_submitted}}">
                                                                            <span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span>
                                                                        </a>
                                                                    </p>
                                                                </td>
                                                                <!--<td  class="">-->
                                                                <!--<p class="">-->
                                                                <!--<em>Circuit </em>:<a ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})" class="text-yellow">&nbsp;{{circuitLookup[submission.circuit_id].name}}</a>-->
                                                                <!--</p>-->
                                                                <!--<p class="">-->
                                                                <!--<em>District</em> : <a ui-sref="dashboard.view_selected_district({id : submission.district_id})" class="text-green">&nbsp;{{districtLookup[submission.district_id].name}}</a>-->
                                                                <!--</p>-->
                                                                <!--</td>-->
                                                            </tr><!-- end ngRepeat: teacherAttendance in teacherAttendanceData -->
                                                            </tbody>
                                                        </table>

                                                    </div><!-- /.chat -->

                                                    <div class="box-body" ng-hide="recentDataCollectorSubmissions.length">
                                                        <p style="font-size: 21px; margin: 10%" class="greyColor text-center">
                                                            <i class="fa fa-warning"></i> No submission from <em>{{selected_data_collector.name}}</em>
                                                        </p>
                                                    </div>

                                                </div><!-- /.box (recent activities box) -->
                                            </div><!-- /.col -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="head_teacher_school_list" ng-if="selected_data_collector.type == 'head_teacher' ">
                                <div class="box ">
                                    <h4 class="page-header pad-10">School</h4>
                                    <div class="box-body">
                                        <table  class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr >
                                                <th>School Name</th>
                                                <th class="horizontal_vertical_center">Rating</th>
                                                <th class="horizontal_vertical_center">Last Updated</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="school in circuitLookup [selected_data_collector.circuit_id].allSchoolsHolder | filter : {headteacher_id : selected_data_collector.id} ">
                                                <td><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id  })">{{school.name}}</a></td>
                                                <td class="horizontal_vertical_center">{{ school.rating }} %</td>
                                                <td class="horizontal_vertical_center">{{ momentFormatDate( school.updated_at , 'LLL' ) }}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="circuit_supervisor_school_list" ng-if="selected_data_collector.type == 'circuit_supervisor' ">
                                <div class="box ">
                                    <h4 class="page-header pad-10">Schools</h4>
                                    <div class="box-body">
                                        <table id="projects" class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr >
                                                <th>School Name</th>
                                                <th class="horizontal_vertical_center">Rating</th>
                                                <th class="horizontal_vertical_center">Last Updated</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="school in circuitLookup [selected_data_collector.circuit_id].allSchoolsHolder">
                                                <td><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id  })">{{school.name}}</a></td>
                                                <td class="horizontal_vertical_center">{{ school.rating }} %</td>
                                                <td class="horizontal_vertical_center">{{ momentFormatDate( school.updated_at , 'LLL' ) }}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="messages">

                                <div class="box box-success">
                                    <div class="box-header" style="cursor: move;">
                                        <i class="fa fa-comments-o"></i>
                                        <h3 class="box-title">Messages</h3>
                                        <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                                            <div class="btn-group"><!-- data-toggle="btn-toggle"-->
                                                <button class="btn btn-default btn-sm" tooltip="Reload Messages" ng-click="fetchAndUpdateDCMessages()" type="button">
                                                    <i class="fa fa-refresh" ng-class="{true : 'fa-spin', false : '' }[loadingSMS]"></i></button>
                                                <!--<button class="btn btn-default btn-sm" type="button"><i class="fa fa-square text-red"></i></button>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slimScrollDiv" style="position: relative; overflow-x: hidden; overflow-y: scroll; width: auto; min-height: 500px;">
                                        <div id="chat-box" class="box-body chat" style="overflow-x: hidden; overflow-y: scroll; width: auto; min-height: 500px;">
                                            <!-- chat item -->

                                            <p class="h3 text-center" ng-hide="data_collector_messages.length" style="margin: 12% auto">No messages to display</p>

                                            <p class="h1 text-center col-sm-12" ng-show="loadingSMS" style="margin: 12% auto; position: absolute"><i class="fa fa-spinner fa-spin"></i></p>

                                            <div ng-show="data_collector_messages.length" class="item" ng-repeat="message in data_collector_messages">
                                                <img class="online" alt="user image" data-ng-src="/img/user_{{selected_data_collector.gender}}.png">
                                                <p class="message">

                                                        <small class="text-muted pull-right">
                                                            <i class="fa fa-clock-o"></i>&nbsp;{{ momentDateFromNow (message.created_at) }}</small>
                                                        <span ng-show="message.sender">Sender : <b class="name" >{{ message.sender }}</b></span>

                                                        <span class="label"
                                                              ng-class="{ 'label-success' : message.from == 'Circuit Supervisor',
                                                              'label-primary' : message.from == 'Admin',
                                                              'label-danger' : message.from == 'Head Teacher' }">
                                                              {{ message.from }}
                                                        </span>
                                                        <br>
                                                       <span ng-show="message.recipient"> Recipient : <b class="name" >{{ message.recipient }}</b></span>
                                                    <br>
                                                    <span>Message : <b class="name" >{{ message.message }}</b></span>
                                                </p>
                                                <!--<div class="attachment">
                                                    <h4>Attachments:</h4>
                                                    <p class="filename">
                                                        Theme-thumbnail-image.jpg
                                                    </p>
                                                    <div class="pull-right">
                                                        <button class="btn btn-primary btn-sm btn-flat">Open</button>
                                                    </div>
                                                </div>--><!-- /.attachment -->
                                            </div><!-- /.item -->
                                        </div>
                                        <div class="slimScrollBar" style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 187.126px;"></div>
                                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div><!-- /.chat -->
                                    <div class="box-footer" >
                                        <div class="input-group">
                                            <input placeholder="Type message..." ng-model="messageForm.message" class="form-control">
                                            <div class="input-group-btn">
                                                <button class="btn btn-success" ng-click="sendSms()" data-ng-disabled="sendingSms">
                                                    <span ng-hide="sendingSms">Send Message <i class="fa fa-share"></i></span>
                                                    <span ng-show="sendingSms">Sending message... <i class="fa fa-spinner fa-spin"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>