

<div class="box box-success">



    <div class="box-header">
        <br>
        <br>
        <div class="box-tools">

            <a ui-sref="dashboard.data_collectors_circuit_supervisors" ng-show="adminRight > 2 && currentUser.role == 'super' " >
                <span class="pull-right btn btn-primary btn-sm"><i class="fa fa-arrow-left"> </i>&nbsp; Go back</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>

        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3 ng-show=" circuit_supervisors.length">
                        {{ circuit_supervisors.length }}
                    </h3>
                    <p>
                        Total
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingSupervisors]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingSupervisors"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div><!-- ./col -->

        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 ng-show=" circuit_supervisors.length">
                        {{ supervisorDetails.male }}
                    </h3>
                    <p>
                        Males
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingSupervisors]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingSupervisors"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div><!-- ./col -->


        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 ng-show=" circuit_supervisors.length">
                        {{ supervisorDetails.female }}
                    </h3>
                    <p>
                        Females
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingSupervisors]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingSupervisors"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="box-body">
        <div class="">
            <div class="btn-group pull-right"  ng-show="circuit_supervisors.length">
                <button class="btn btn-warning enrollmentTrendTable pull-right btn-sm" export-table="supervisorTable" file-name="{{ 'Circuit Supervisors_in' + filename_export }}">Begin Export</button>
            </div>
            <div class="clearfix"></div>

            <table class="table table-striped table-responsive table-hover" id="supervisorTable">
                <thead>
                <tr class="bg-green">
                    <th title="Click to Sort" ><span class="pointer" data-ng-click="regionSortOrder = 'district_id'; reverse=!reverse">District</span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'circuit_id'; reverse=!reverse">Circuit </span></th>
                    <!--<th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'school_id'; reverse=!reverse">School</span></th>-->
                    <!--<th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'school_id'; reverse=!reverse">School Phone Number</span></th>-->
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" data-ng-click="regionSortOrder = 'name'; reverse=!reverse">Name of CS</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" data-ng-click="regionSortOrder = 'name'; reverse=!reverse">mSRC Phone Number</span></th>
                    <!--<th title="Click to Sort" style="text-align: left"><span>Action</span></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="supervisor in circuit_supervisors |filter : searchsupervisor | orderBy : regionSortOrder : reverse | limitTo : numberToShow">
                    <td >{{ districtLookup[supervisor.district_id].name }}</td>
                    <td style="text-align: center">{{ circuitLookup[supervisor.circuit_id].name }}</td>
                    <!--<td  style="text-align: center">{{ schoolLookup[ supervisor.school_id ].name }}</td>-->
                    <!--<td  style="text-align: center">{{ schoolLookup[ supervisor.school_id ].phone_number }}</td>-->

                    <td style="text-align: center"><a ui-sref="dashboard.view_data_collector({id : supervisor.id})">{{ supervisor.first_name}}&nbsp;{{supervisor.last_name}}</a></td>
                    <td style="text-align: center"><a>{{ supervisor.phone_number}} </a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>