

<div class="box box-success">



    <div class="box-header">
        <br>
        <br>
        <div class="box-tools">

            <a ui-sref="dashboard.data_collectors_head_teachers" ng-show="adminRight > 2 && currentUser.role == 'super' " >
                <span class="pull-right btn btn-primary btn-sm"><i class="fa fa-arrow-left"> </i>&nbsp; Go back</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>

        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3 ng-show=" head_teachers.length">
                        {{ head_teachers.length }}
                    </h3>
                    <p>
                        Total
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingTeachers]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingTeachers"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div> <!--./col-->

        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 ng-show=" head_teachers.length">
                        {{ teacherDetails.male }}
                    </h3>
                    <p>
                        Males
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingTeachers]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingTeachers"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div><!-- ./col -->


        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 ng-show=" head_teachers.length">
                        {{ teacherDetails.female }}
                    </h3>
                    <p>
                        Females
                    </p>
                </div>
                <div class="icon">
                    <i class="" ng-class="{true : 'fa fa-spinner fa-spin', false : 'ion ion-android-social-user'}[loadingTeachers]"></i>
                    <!--<i class="ion ion-android-social-user" ng-hide="loadingTeachers"></i>-->
                </div>
                <a class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="box-body">
        <div class="">
            <div class="btn-group pull-right"  ng-show="head_teachers.length">
                <button class="btn btn-warning enrollmentTrendTable pull-right btn-sm" export-table="headteacherTable" file-name="{{ 'Headteachers_in' + filename_export }}">Begin Export</button>
            </div>
            <div class="clearfix"></div>

            <table class="table table-striped table-responsive table-hover" id="headteacherTable">
                <thead>
                <tr class="bg-green">
                    <th title="Click to Sort" ><span class="pointer" data-ng-click="regionSortOrder = 'district_id'; reverse=!reverse">District</span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'circuit_id'; reverse=!reverse">Circuit </span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'school_id'; reverse=!reverse">School</span></th>
                    <th title="Click to Sort" style="text-align: center"><span  class="pointer" data-ng-click="regionSortOrder = 'school_id'; reverse=!reverse">School Phone Number</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" data-ng-click="regionSortOrder = 'name'; reverse=!reverse">Name of HT</span></th>
                    <th title="Click to Sort" style="text-align: center"><span class="pointer" data-ng-click="regionSortOrder = 'name'; reverse=!reverse">mSRC Phone Number</span></th>
                    <!--<th title="Click to Sort" style="text-align: left"><span>Action</span></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="teacher in head_teachers |filter : searchTeacher | orderBy : regionSortOrder : reverse | limitTo : numberToShow">
                    <td >{{ districtLookup[teacher.district_id].name }}</td>
                    <td style="text-align: center">{{ circuitLookup[teacher.circuit_id].name }}</td>
                    <td  style="text-align: center">{{ schoolLookup[ teacher.school_id ].name }}</td>
                    <td  style="text-align: center">{{ schoolLookup[ teacher.school_id ].phone_number }}</td>

                    <td style="text-align: center"><a ui-sref="dashboard.view_data_collector({id : teacher.id})">{{ teacher.first_name}}&nbsp;{{teacher.last_name}}</a></td>
                    <td style="text-align: center"><a>{{ teacher.phone_number}} </a></td>


                    <!--1. District Name;
2. Circuit Name;
3. School Name;
4. School Phone Number;
5. HT Name;
6. HT Phone number;-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>