<h2 class="page-header"> Attendance</h2>

<div class="box box-primary" ng-app="submitattendanceFormApp" ng-controller="submitattendanceFormController">

    <!-- form start -->
    <form role="form" name="attendance" ng-submit="submitattendanceForm();" method="post">

        <div class="box-body">


            <div class="row">
                <div class="form-group col-sm-6" >
                    <div class="form-group" >
                        <label for="attendance_academic_term">Attendance academic term <em>*</em></label>

                        <select name="attendance_academic_term" id="attendance_academic_term" class="form-control"
                                ng-model="formData.attendance_academic_term" required="">
                            <option value="" selected>Select a term</option>
                            <option value="Term 1">Term 1</option>
                            <option value="Term 2">Term 2</option>
                            <option value="Term 3">Term 3</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="attendance_academic_year">Attendance academic year <em>*</em></label>
                        <select name="attendance_academic_year" id="attendance_academic_year" class="form-control"
                                ng-model="formData.attendance_academic_year" required="">
                            <option value="" selected>Select a year</option>
                            <option value="2014/2015">2014/2015</option>
                            <option value="2015/2016">2015/2016</option>
                            <option value="2016/2017">2016/2017</option>
                            <option value="2017/2018">2017/2018</option>
                            <option value="2018/2019">2018/2019</option>
                            <option value="2019/2020">2019/2020</option>
                            <option value="2020/2021">2020/2021</option>
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2022/2023</option>
                            <option value="2023/2024">2023/2024</option>
                            <option value="2024/2025">2024/2025</option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="form-group col-sm-4" >
                    <div class="form-group" >
                        <label for="attendance_academic_week">Week number <em>*</em></label>
                        <select name="attendance_academic_week" id="attendance_academic_week" class="form-control"
                                ng-model="formData.attendance_academic_week" required="">
                            <option value="" selected>Select a week</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="attendance_academic_level">Attendance academic level <em>*</em></label>
                        <select name="attendance_academic_level" id="attendance_academic_level" class="form-control"
                                ng-model="formData.attendance_academic_level" required="">
                            <option value="" selected>Select a level</option>
                            <option value="Level 1">Level 1</option>
                            <option value="Level 2">Level 2</option>
                            <option value="Level 3">Level 3</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="attendance_academic_subject">Attendance academic subject <em>*</em></label>
                    <select name="attendance_academic_subject" id="attendance_academic_subject" class="form-control"
                            ng-model="formData.attendance_academic_subject" required="">
                        <option value="" selected>Select a Subject</option>
                        <option value="English">English</option>
                        <option value="Maths">Maths</option>

                    </select>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="attendance_no_pupil_level">No. of pupils at level <em>*</em></label>
                    <input type="number" class="form-control" name="attendance_no_pupil_level" id="attendance_no_pupil_level" min="0" max="100" placeholder="Enter No. of pupil at level" ng-model="formData.attendance_no_pupil_level" required="">


                </div>
                <div class="form-group col-sm-4">
                    <label for="attendance_no_pupil_avg">Average pupil attendance for week<em>*</em></label>
                    <input type="number" name="attendance_no_pupil_avg" class="form-control" id="attendance_no_pupil_avg" min="0" max="100" placeholder="Enter No. of Students assessed"  ng-model="formData.attendance_no_pupil_avg" required="">
                </div>

                <div class="form-group col-sm-4">
                    <label for="attendance_no_teacher_avg">Average teacher attendance for week<em>*</em></label>
                    <input type="number" name="attendance_no_teacher_avg" class="form-control" id="attendance_no_teacher_avg" min="0" max="100" placeholder="Enter No. of Students assessed"  ng-model="formData.attendance_no_teacher_avg" required="">
                </div>



            </div>



            <div class="row" style="margin-right : 5px">
                <div class="pull-right">
                    <button class="btn btn-warning" type="reset">Reset</button>
                    <button  type="submit" class="btn btn-success" value="Submit">

                        <span >Save Changes</span>
                    </button>

                </div>
            </div>



            </div>






        </div>
    </form>

</div><!-- /.box -->


