<h2 class="page-header"> Class Observation</h2>

<div class="box box-primary" ng-app="submitClassObservationFormApp" ng-controller="submitClassObservationFormController">

    <!-- form start -->
    <form role="form" name="attendance" ng-submit="submitClassObservationForm();" method="post">

        <div class="box-body">


            <div class="row">
                <div class="form-group col-sm-4">
                    <div class="form-group " >
                        <label for="class_ob_teacher_name"> Teacher Name*</label>

                        <select name="class_ob_teacher_name js-example-basic-single" id="class_ob_teacher_name"
                        ng-model="formData.class_ob_teacher_name.full_name" class="form-control"
                        ng-options="item.full_name for item in teachers_data track by item.full_name" required>
                        <option value="" disabled selected>Select Teacher name</option>

                        </select>

                        <!--<input type="text" class="form-control " name="class_ob_teacher_name"-->
                               <!--id="class_ob_teacher_name"  placeholder="Teacher Name"-->
                               <!--ng-model="formData.class_ob_teacher_name.full_name" required="">-->


                                <!--<input  type="text" name="class_ob_teacher_name" placeholder="teacher name" id="class_ob_teacher_name"-->
                                       <!--ng-model="formData.class_ob_teacher_name"-->
                                       <!--ng-options="item.full_name for item in teachers_data track by item.full_name" required>-->

                    </div>
                </div>
                <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="class_ob_subject"> Subject*</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="class_ob_subject" id="class_ob_subject" class="form-control"
                                ng-model="formData.class_ob_subject" required="">
                            <option value="" selected>Select subject</option>
                            <option value="English">English</option>
                            <option value="Math">Math</option>
                            <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="class_ob_level"> Level*</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="class_ob_level" id="class_ob_level" class="form-control"
                                ng-model="formData.class_ob_level" required="">
                            <option value="" selected>Select a level</option>
                            <option value="Level 1">Level 1</option>
                            <option value="Level 2">Level 2</option>
                            <option value="Level 3">Level 3</option>
                            <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                        </select>
                    </div>
                </div>

                <!--<div class="form-group" ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']">-->

            </div>


            <div class="row">


                <div class="form-group col-sm-12">
                    <label>Students Enrolled(No assigned to TI) from this class </label>
                </div>

                <div class="form-group col-sm-3">
                    <label for="class_ob_enrolled_p_four"> P4*</label>
                    <input type="number" class="form-control qty1" name="class_ob_enrolled_p_four"
                           id="class_ob_enrolled_p_four" min="0" max="100" placeholder=""
                           ng-model="formData.class_ob_enrolled_p_four" required="">


                </div>
                <div class="form-group col-sm-3">
                    <label for="class_ob_enrolled_p_five">P5*</label>
                    <input type="number" name="class_ob_enrolled_p_five" class="form-control qty1"
                           id="class_ob_enrolled_p_five" min="0" max="100" placeholder=""
                           ng-model="formData.class_ob_enrolled_p_five" required="">
                </div>

                <div class="form-group col-sm-3">
                    <label for="class_ob_enrolled_p_six">P6*</label>
                    <input type="number" name="class_ob_enrolled_p_six" class="form-control qty1"
                           id="class_ob_enrolled_p_six" min="0" max="100" placeholder=""
                           ng-model="formData.class_ob_enrolled_p_six" required="">
                </div>

                <div class="form-group col-sm-3">
                    <label for="class_ob_enrolled_p_total">Total*</label>
                    <input type="number" name="class_ob_enrolled_p_total" class="form-control total"
                           id="class_ob_enrolled_p_total" min="0" max="100" placeholder="" ng-model="formData.class_ob_enrolled_p_total"
                           required="" readonly>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-sm-12">
                    <label>No. Students Absent(take a roll call) </label>
                </div>


                <div class="form-group col-sm-3">
                    <label for="class_ob_absent_p_four"> P4*</label>
                    <input type="number" class="form-control qty2" name="class_ob_absent_p_four" id="class_ob_absent_p_four"
                           min="0" max="100" placeholder="" ng-model="formData.class_ob_absent_p_four" required="">


                </div>
                <div class="form-group col-sm-3">
                    <label for="class_ob_absent_p_five">P5*</label>
                    <input type="number" name="class_ob_absent_p_five" class="form-control qty2" id="class_ob_absent_p_five"
                           min="0" max="100" placeholder="" ng-model="formData.class_ob_absent_p_five" required="">
                </div>

                <div class="form-group col-sm-3">
                    <label for="class_ob_absent_p_six">P6*</label>
                    <input type="number" name="class_ob_absent_p_six" class="form-control qty2" id="class_ob_absent_p_six"
                           min="0" max="100" placeholder="" ng-model="formData.class_ob_absent_p_six" required="">
                </div>

                <div class="form-group col-sm-3">
                    <label for="class_ob_absent_p_total">Total*</label>
                    <input type="number" name="class_ob_absent_p_total" class="form-control total2"
                           id="class_ob_absent_p_total" min="0" max="100" placeholder="" ng-model="formData.class_ob_absent_p_total"
                           required="" readonly>
                </div>
            </div>


            <label for="attendance_no_pupil_level">No. of pupils at level <em>*</em></label>
            <input type="number" class="form-control" name="attendance_no_pupil_level" id="attendance_no_pupil_level"
                   min="0" max="100" placeholder="Enter No. of pupil at level"
                   ng-model="formData.attendance_no_pupil_level" required="">

            <br>
            <div class="row">


                <div class="form-group col-sm-3">
                    <label for="class_ob_date_monitoring"> Date of Monitoring*</label>
                    <input type="date" class="form-control" name="class_ob_date_monitoring"
                           id="class_ob_date_monitoring" placeholder="" ng-model="formData.class_ob_date_monitoring"
                           required>


                </div>
                <div class="form-group col-sm-3">
                    <label for="class_ob_duration">Duration*</label>
                    <input type="number" name="class_ob_duration" class="form-control" id="class_ob_duration"
                           placeholder="" ng-model="formData.class_ob_duration" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="class_ob_attendance_summary">TI Pupil Attendance Summary*</label>
                    <input type="text" name="class_ob_attendance_summary" class="form-control"
                           id="class_ob_attendance_summary" placeholder=""
                           ng-model="formData.class_ob_attendance_summary" required>
                </div>


            </div>

            <div class="row">
                <!--<label >No. Students Absent(take a roll call) <em>*</em></label>-->

                <div class="form-group col-sm-6">
                    <label> Is the teacher talking less than half of the time?</label>
                    <br>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="la_question_one_answer" ng-model="formData.la_question_one_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="la_question_one_answer" ng-model="formData.la_question_one_answer" required value="No"> No
                    </div>

                    <input type="text" name="la_question_one_comment" id="la_question_one_comment"
                           ng-model="formData.la_question_one_comment" required class="form-control">
                </div>

                <div class="form-group col-sm-6">
                    <label>Does teacher use a variety of methods to engage children (engage
                        children as whole class,individual,and group)?</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="la_question_two_answer" ng-model="formData.la_question_two_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="la_question_two_answer" ng-model="formData.la_question_two_answer" required value="No"> No

                    </div>


                    <input type="text" name="la_question_two_comment" id="la_question_two_comment"
                           ng-model="formData.la_question_two_comment" required class="form-control">

                </div>


            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label>Was the teacher able to complete the lesson plan as per the
                        teacher guide? (select not applicable if you were not there for the entire lesson)</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="la_question_three_answer" ng-model="formData.la_question_three_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="la_question_three_answer" ng-model="formData.la_question_three_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="la_question_three_answer" ng-model="formData.la_question_three_answer" required value="Not Applicable"> Not Applicable
                    </div>

                    <input type="text" name="la_question_three_comment" id="la_question_three_comment"
                           ng-model="formData.la_question_three_comment" required class="form-control">

                </div>


                <div class="form-group col-sm-6">
                    <label for="la_lesson_summary"> Lesson Content Summary</label>
                    <input type="text" name="la_lesson_summary" id="la_lesson_summary"
                           ng-model="formData.la_lesson_summary" required class="form-control">
                    <br>
                    <br>
                </div>


            </div>


            <div class="row">

                <div class="form-group col-sm-6">
                    <label> Are learners grouped into learning levels (is the TI class happening)?</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="ti_question_one_answer" ng-model="formData.ti_question_one_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="ti_question_one_answer" ng-model="formData.ti_question_one_answer" required value="No"> No
                    </div>

                    <input type="text" name="ti_question_one_comment" id="ti_question_one_comment"
                           ng-model="formData.ti_question_one_comment" required class="form-control">

                </div>
                <div class="form-group col-sm-6">
                    <label>Does teacher teach the right content according to the lesson plan given the level?</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="ti_question_two_answer" ng-model="formData.ti_question_two_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="ti_question_two_answer" ng-model="formData.ti_question_two_answer" required value="No"> No
                    </div>

                    <input type="text" name="ti_question_two_comment" id="ti_question_two_comment"
                           ng-model="formData.ti_question_two_comment" required class="form-control">

                </div>

            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label>Does the teacher teach with appropriate materials</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="ti_question_three_answer" ng-model="formData.ti_question_three_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="ti_question_three_answer" ng-model="formData.ti_question_three_answer" required value="No"> No
                    </div>

                    <input type="text" name="ti_question_three_comment" id="ti_question_three_comment"
                           ng-model="formData.ti_question_three_comment" required class="form-control">

                </div>


                <div class="form-group col-sm-6">
                    <label for="ti_lesson_summary">Lesson Preparation Summary:</label>
                    <input type="text" name="ti_lesson_summary" id="ti_lesson_summary"
                           ng-model="formData.ti_lesson_summary" required class="form-control">
                </div>


            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label>Did the lesson today involve the following aspects of learning ?</label>

                    <p>(a) Reading</p>
                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_one_reading_answer" ng-model="formData.cl_question_one_reading_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_reading_answer" ng-model="formData.cl_question_one_reading_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_reading_answer" ng-model="formData.cl_question_one_reading_answer" required value="Not Applicable"> Not Applicable
                    </div>

                    <p>(b) Saying</p>
                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_one_saying_answer" ng-model="formData.cl_question_one_saying_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_saying_answer" ng-model="formData.cl_question_one_saying_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_saying_answer" ng-model="formData.cl_question_one_saying_answer" required value="Not Applicable"> Not Applicable
                    </div>


                    <p>(c) Doing</p>
                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_one_doing_answer" ng-model="formData.cl_question_one_doing_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_doing_answer" ng-model="formData.cl_question_one_doing_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_doing_answer" ng-model="formData.cl_question_one_doing_answer" required value="Not Applicable"> Not Applicable
                    </div>


                    <p>(d) Writing</p>
                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_one_writing_answer" ng-model="formData.cl_question_one_writing_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_writing_answer" ng-model="formData.cl_question_one_writing_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_writing_answer" ng-model="formData.cl_question_one_writing_answer" required value="Not Applicable"> Not Applicable
                    </div>

                    <p>(e) Speaking</p>
                    <div class="" style="margin-bottom: 24px;">
                        <input type="radio" name="cl_question_one_speaking_answer" ng-model="formData.cl_question_one_speaking_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_speaking_answer" ng-model="formData.cl_question_one_speaking_answer" required value="No"> No

                        <input style="margin-left: 16px;" type="radio" name="cl_question_one_speaking_answer" ng-model="formData.cl_question_one_speaking_answer" required value="Not Applicable"> Not Applicable
                    </div>


                    <input type="text" name="cl_question_one_comment" id="cl_question_one_comment"
                           ng-model="formData.cl_question_one_comment" required class="form-control">


                </div>

                <div class="form-group col-sm-6">
                    <label>Are the children following the lesson being taught for the day?</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_two_answer" ng-model="formData.cl_question_two_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_two_answer" ng-model="formData.cl_question_two_answer" required value="No"> No
                    </div>

                    <input type="text" name="cl_question_two_comment" id="cl_question_two_comment"
                           ng-model="formData.cl_question_two_comment" required class="form-control">

                </div>

                <div class="form-group col-sm-6">
                    <label>Were more than half of the pupils participating during the
                        lesson?(Participation means children are activily involve with class activities asking and
                        responding to questions and not idle)</label>

                    <div class="" style="margin-bottom: 8px;">
                        <input type="radio" name="cl_question_three_answer" ng-model="formData.cl_question_three_answer" required value="Yes"> Yes

                        <input style="margin-left: 16px;" type="radio" name="cl_question_three_answer" ng-model="formData.cl_question_three_answer" required value="No"> No
                    </div>

                    <input type="text" name="cl_question_three_comment" id="cl_question_three_comment"
                           ng-model="formData.cl_question_three_comment" required class="form-control">

                </div>


                <div class="form-group col-sm-6">
                    <label for="cl_question_four_comment">What key challenges is this teacher facing during T1
                        implementation?List at least two.</label>

                    <input type="text" name="cl_question_four_comment" id="cl_question_four_comment"
                           ng-model="formData.cl_question_four_comment" required class="form-control">

                </div>

                <div class="form-group col-sm-6">
                    <label for="cl_classroom_summary"> Lesson Content Summary</label>

                    <input type="text" name="cl_classroom_summary" id="cl_classroom_summary"
                           ng-model="formData.cl_classroom_summary" required class="form-control">
                </div>


            </div>


            <div class="row" style="margin-right : 5px">

                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-warning" type="reset">Reset</button>

                        <button type="submit" class="btn btn-success" value="Submit">

                            <span>Save Changes</span>
                        </button>

                    </div>
                </div>
            </div>


        </div>


    </form>
</div>

</div>

