<h2 class="page-header"> Pupil Aggregated Data</h2>


<div class="alert alert-danger" ng-show="messageFromServer">{{ messageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<div class="box box-primary">

    <!-- form start -->
    <form role="form" name="pupilaggregateddata" ng-submit="savedata()" novalidate="" ng-init="highlightErrors = false">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.last_name || data_collector_form.last_name.$invalid && highlightErrors }">
                    <label for="grade">No. of Students in grade <em>*</em></label>
                    <input type="text" class="form-control" name="grade" id="grade" placeholder="Enter No. of Students in grade" ng-model="formData.grade" required="">

                    <p  ng-show="(pupilaggregateddata.grade.$invalid && !pupilaggregateddata.grade.$pristine) ||  validation.last_name  || (data_collector_form.last_name.$invalid && highlightErrors)"   class="text-red help-block">Last name is required.</p>

                </div>
                <div class="form-group col-sm-6" ng-class="{'has-error' : validation.first_name || data_collector_form.first_name.$invalid && highlightErrors }">
                    <label for="first_name">No. of students assessed  <em>*</em></label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter No. of Students in grade"  ng-model="formData.first_name" required="">

                    <p  ng-show="(data_collector_form.first_name.$invalid && !data_collector_form.first_name.$pristine) ||  validation.first_name  || (data_collector_form.first_name.$invalid && highlightErrors)"   class="text-red help-block">Other names are required.</p>
                </div>
            </div>


            <!-- /.box-body -->
        <!--<div class="row margin-left-10 " >-->
        <div class="" >
            <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
            <div class="form-group col-sm-4" >
                <div class="form-group" ng-class="{'has-error' : validation.region_id ||  (data_collector_form.region_select.$invalid && highlightErrors)}">
                    <label for="region_select">academic term <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="region_select" id="region_select" class="form-control"
                            ng-model="formData.region" required=""
                            ng-options="region.id as region.name for region in regions  | filter : {country_id : 1}">
                        <option value="" selected>Select a term</option>
                        <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                    </select>
                    <p  ng-show="(data_collector_form.region_select.$invalid && !data_collector_form.region_select.$pristine)
                    ||  validation.region_id ||  (data_collector_form.region_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a region.</p>
                </div>
            </div>
            <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error' : validation.district_id ||  (data_collector_form.district_select.$invalid && highlightErrors)}">
                    <label for="district_select">academic year <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="district_select" id="district_select" class="form-control"
                            ng-model="formData.district" required=""
                            ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.region} : true">
                        <option value="" selected>Select a year</option>
                        <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                    </select>
                    <p  ng-show="(data_collector_form.district_select.$invalid && !data_collector_form.district_select.$pristine) ||  validation.district_id ||  (data_collector_form.district_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a district.</p>
                </div>
            </div>

            <!--<div class="form-group" ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']">-->
            <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error' : validation.circuit_id ||  (data_collector_form.circuit_select.$invalid && highlightErrors)}">
                    <label for="circuit_select">grade <em>*</em></label>
                    <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                    <select name="circuit_select" id="circuit_select" required="" class="form-control"  ng-model="formData.circuit"
                            ng-options="circuit.id as circuit.name group by circuit.districtName for circuit in circuits | filter : {district_id : formData.district} : true">
                        <option value="" selected>Select a grade</option>
                    </select>
                    <p  ng-show="(data_collector_form.circuit_select.$invalid && !data_collector_form.circuit_select.$pristine) ||  validation.circuit_id ||  (data_collector_form.circuit_select.$invalid && highlightErrors)"   class="text-red help-block">Please select a circuit.</p>

                </div>
            </div>



        </div>
        <!--</div>-->




        <div class="row" style="margin-right : 5px">
            <!--initForm is a function defined in the controller to change the region and district values of the signed in admin-->
            <div class="pull-right">
                <button class="btn btn-warning" type="reset">Reset</button>

                <!--Button for submitting-->
                <button type="submit" class="btn btn-success"  ng-show="data_collector_form.$valid && !phoneNumberExists" >
                    <span ng-show="paramAction() == 'Edit'">Save Changes</span>
                    <span ng-hide="paramAction() == 'Edit'">{{ paramAction() }} {{dataCollectorType()}}</span>
                </button>

                <!--Button to show errors-->
                <span class="btn btn-danger" ng-show="data_collector_form.$invalid || phoneNumberExists"
                      ng-click="highlightErrors = !highlightErrors">
             <span ng-show="paramAction() == 'Edit'">Save Changes</span>
            <span ng-hide="paramAction() == 'Edit'">{{ paramAction() }} {{dataCollectorType()}}
        </span>
                    <!--<div class="row">-->
                    <!--<pre>-->
                    <!--{{ formData | json }}-->
                    <!--</pre>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-success" ng-show="paramAction() == 'Edit' " data-ng-disabled="data_collector_form.$invalid" >Save Changes</button>-->
            </div>
        </div>
    </form>
</div><!-- /.box -->

