<h2 class="page-header">Poll Graph</h2>

<div class="box box-primary" ng-app="submitFormApp" ng-controller="analyticsPollGraphController">

    <!-- form start -->
    <form role="form" name="poll_analytics_form" ng-submit="filterPoll();" method="post">

        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label>Poll Title <em>*</em></label>

                        <select name="poll_title" id="poll_title" ng-model="formData.poll_title" class="form-control"
                                ng-options="item.poll_question for item in poll_data track by item.id" required>
                            <option value="" disabled selected>Select Question Title</option>
                        </select>

                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label>Action</label><br>
                        <button type="submit" class="btn btn-success" value="Submit">
                            <span>Filter</span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </form>


</div>

<br><br>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="chart-container" style="position: relative; width:100%">
            <div class="chartjs-size-monitor"
                 style="left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; visibility: hidden; position: absolute; z-index: -1; pointer-events: none;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <canvas width="502" height="439" class="chartjs-render-monitor" id="myChart"
                    style="width: 437px; height: 382px; display: block;"></canvas>
        </div>
    </div>

    <div id="export_wrapper" class="col-xs-12 col-sm-6" style="display: none">

        <div class='form-group'>
            <label>Export</label><br>
            <a href='/export/targetedinstruction/polls' id="download_export" class='btn btn-success' target='_blank'>
                <span>Export to Excel</span>
            </a>
        </div>

    </div>


</div>

<br>


</div>

</div><!-- /.box -->


