<h4 class="page-header ng-scope">
    <span class="ng-show">Poll</span>
    <!--<small>This is a description of the current region.</small>-->
    <a ui-sref="dashboard.t1viewpolllist" class="ng-show" href=""><span class="pull-right btn btn-primary">&nbsp; View Poll list</span></a>
</h4>


<div class="box box-primary" ng-app="submitPollFormApp" ng-controller="analyticsPollController">

    <!-- form start -->
    <form role="form" name="attendance" ng-submit="submitPollForm();" method="post">

        <div class="box-body">

            <div class="row">

                <div class="form-group col-sm-12">
                    <label >Poll Title<em>*</em></label>

                    <input type="text" name="poll_title" id="poll_title"    ng-model="formData.poll_title" required class="form-control" placeholder="Type  Poll Title Here">
                    <br>
                    <label >Poll Question<em>*</em></label>

                    <textarea rows="4" cols="50"  type="text" name="poll_question" id="poll_question" ng-model="formData.poll_question" required class="form-control" placeholder="Type Poll Question Here"></textarea>
                    <br>


                </div>

                <div class="form-group col-sm-12">
                    <label> Answers (Provide at least two (2) answers for the above questions)</label>

                    <div class="row" >
                        <div class="form-group col-sm-4"> <input type="text" name="la_lesson_summary1" id="la_lesson_summary1"    ng-model="formData.la_lesson_summary1" required class="form-control" placeholder=""></div>

                        <div class="form-group col-sm-4"> <input type="text" name="la_lesson_summary2" id="la_lesson_summary2"    ng-model="formData.la_lesson_summary2" required class="form-control" placeholder=""></div>

                        <div class="form-group col-sm-4"> <input type="text" name="la_lesson_summary3" id="la_lesson_summary3"    ng-model="formData.la_lesson_summary3" class="form-control" placeholder=""></div>
                    </div>


                </div>

            </div>

            <div class="row" style="margin-right : 5px">
                <div class="pull-right">
                    <button class="btn btn-warning" type="reset">Reset</button>
                    <button  type="submit" class="btn btn-success" value="Submit">

                        <span >Save Changes</span>
                    </button>

                </div>
            </div>

        </div>


    </form>
</div>



