<!--<h2 class="page-header"> Poll List</h2>-->
<!--<h4 class="page-header">-->
<!--<span ng-show=""></span>-->
<!--&lt;!&ndash;<small>This is a description of the current region.</small>&ndash;&gt;-->
<!--&lt;!&ndash;<a ui-sref=""  ng-show="adminRight > 3 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; </span></a>&ndash;&gt;-->
<!--</h4>-->
<!--<div class="clearfix"><br>-->

<!--</div>-->


<!--<div class="box box-primary" ng-show="" ui-view="">-->



<!--</div>-->




<!--    -->


<h2 class="page-header">Poll List
    <a ui-sref="dashboard.t1viewpoll" class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Send Poll
    </a>
</h2>



<div class="box-body no-padding">
    <div class="" scroll-infinitely="">
        <table class="table table-striped table-responsive table-hover">
            <thead>
            <tr class="bg-primary">
                <th title="Click to Sort" style="text-align: left"><span class="pointer" ng-click="supervisorSortOrder = 'name'; reverse=!reverse">Title</span></th>
                <th title="Click to Sort" style="text-align: center"><span class="pointer" ng-click="supervisorSortOrder = 'district_id'; reverse=!reverse">Question</span></th>
                <th title="Click to Sort" style="text-align: center"><span class="pointer" ng-click="supervisorSortOrder = 'circuit_id'; reverse=!reverse">Answers </span></th>
                <th title="Click to Sort" style="text-align: left">Action</th>
            </tr>
            </thead>

            <tbody>
            <!--<tr  ng-repeat="supervisor in circuit_supervisors |filter : searchSupervisor | orderBy : supervisorSortOrder : reverse | limitTo : numberToShow ">-->

            <tr  ng-repeat="polls in poll_data">

                <td style="text-align: left">{{ polls.title}}&nbsp;</td>
                <td style="text-align: center">{{ polls.question }}</td>
                <td style="text-align: center">{{ polls.answer }}</td>
                <td>
                    <div class="btn-group">
                        <div class="btn-group dropdown" >
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <!--<li><a ui-sref="">View Details</a></li>-->


                                <li ><a ui-sref="dashboard.t1editpoll({type:'poll',action:'edit',id: polls.id})">Edit Details</a></li>
                                <!--dashboard.t1editpoll({type:'poll',action:'edit',id: polls.id})-->

                                <!--dashboard.add_data_collector({type: 'circuit_supervisor', action : 'edit', id : supervisor.id})-->
                                <!--<li ><a ui-sref="dashboard.t1editpoll({type:'poll',action:'edit',id: polls.id})">Edit Details</a></li>-->
                                <li><a class="pointer" onclick="return true" data-ng-click="delete(polls.id)">Delete</a></li>

                                <!--<li ><a ui-sref="dashboard.t1deletepoll({type:'poll',action:'destroy',id: polls.id})">Delete</a></li>-->
                                <!--class="pointer" onclick="return false" data-ng-click="deleteModal(polls.id)-->
                                <!--ui-sref="dashboard.t1deletepoll({type:'poll',action:'destroy',id: polls.id})"-->
                            </ul>
                        </div>
                    </div>
                </td>
            </tr></tbody>
        </table>
    </div>
    <!--<div class="alert alert-info" ng-hide="(circuit_supervisors  | filter: searchSupervisor).length">-->
    <!--There are no more results to show.-->
    <!--</div>-->
</div>

</div>