<h2 class="page-header"> Pupil Aggregated Data</h2>

<div class="box box-primary" ng-app="submitFormApp" ng-controller="submitFormController">

    <!-- form start -->
    <form role="form" name="pupilaggregateddata" ng-submit="submitForm();" method="post">

        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="no_student_grade">No. of Students in class <em>*</em></label>
                    <input type="number" class="form-control" name="no_student_grade" id="no_student_grade" min="0" max="100" placeholder="Enter No. of Students in grade" ng-model="formData.no_student_grade" required="">


                </div>
                <div class="form-group col-sm-6">
                    <label for="no_student_assessed">No. of students assessed  <em>*</em></label>
                    <input type="number" name="no_student_assessed" class="form-control" id="no_student_assessed" min="0" max="100" placeholder="Enter No. of Students assessed"  ng-model="formData.no_student_assessed" required="">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-4" >
                    <div class="form-group" >
                        <label for="academic_term">Academic term <em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="academic_term" id="academic_term" class="form-control"
                                ng-model="formData.academic_term" required="">
                            <option value="" selected>Select a term</option>
                            <option value="Beginning of Term 1">Beginning of Term 1</option>
                            <option value="Beginning of Term 2">Beginning of Term 2</option>
                            <option value="Beginning of Term 3">Beginning of Term 3</option>
                            <option value="End of Term 3">End of Term 3</option>
                            <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                        </select>
                    </div>
                </div>
                <!--ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']"-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="academic_year">Academic year <em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="academic_year" id="academic_year" class="form-control"
                                ng-model="formData.academic_year" required="">
                            <option value="" selected>Select a year</option>
                            <option value="2014/2015">2014/2015</option>
                            <option value="2015/2016">2015/2016</option>
                            <option value="2016/2017">2016/2017</option>
                            <option value="2017/2018">2017/2018</option>
                            <option value="2018/2019">2018/2019</option>
                            <option value="2019/2020">2019/2020</option>
                            <option value="2020/2021">2020/2021</option>
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2022/2023</option>
                            <option value="2023/2024">2023/2024</option>
                            <option value="2024/2025">2024/2025</option>
                            <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                        </select>
                    </div>
                </div>

                <!--<div class="form-group" ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[formData.type == 'head_teacher']">-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="grade">Grade <em>*</em></label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="grade" id="grade" required="" class="form-control"  ng-model="formData.grade">
                            <option value="" selected>Select a grade</option>
                            <option value="P4">P4</option>
                            <option value="P5">P5</option>
                            <option value="P6">P6</option>
                        </select>

                    </div>
                </div>



            </div>


            <div class="row">

                <div class="form-group col-sm-12">
                    <label for="academic_term">Math Assessment<em>*</em></label>
                </div>


                <div class="form-group col-sm-4">
                    <label for="math_beginner_text">Beginner<em>*</em></label>
                    <input type="number" class="form-control" name="math_beginner_text" id="math_beginner_text" min="0" max="100" placeholder="Enter " ng-model="formData.math_beginner_text" required="">

                </div>
                <div class="form-group col-sm-4">
                    <label for="math_digit_one_text">1-Digit<em>*</em></label>
                    <input type="number" name="math_digit_one_text" class="form-control" id="math_digit_one_text" min="0" max="100" placeholder="Enter"  ng-model="formData.math_digit_one_text" required="">
                </div>

                <div class="form-group col-sm-4">
                    <label for="math_digit_two_text">2-Digit<em>*</em></label>
                    <input type="number" class="form-control" name="math_digit_two_text" id="math_digit_two_text" min="0" max="100" placeholder="Enter " ng-model="formData.math_digit_two_text" required="">
                </div>


            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label for="math_addition_text">Addition<em>*</em></label>
                    <input type="number" class="form-control" name="math_addition_text" id="math_addition_text" min="0" max="100" placeholder="Enter " ng-model="formData.math_addition_text" required="">


                </div>
                <div class="form-group col-sm-6">
                    <label for="math_subtraction_text">Subtraction<em>*</em></label>
                    <input type="number" name="math_subtraction_text" class="form-control" id="math_subtraction_text" min="0" max="100" placeholder="Enter"  ng-model="formData.math_subtraction_text" required="">
                </div>

            </div>


            <div class="row">
                <!--<label for="academic_term">English level records<em>*</em></label>-->

                <div class="form-group col-sm-4">
                    <label for="math_level_one_text">Level 1 <em>*</em></label>
                    <input type="number" class="form-control" name="math_level_one_text" id="math_level_one_text" min="0" max="100" placeholder="Enter " ng-model="formData.math_level_one_text" required="">


                </div>
                <div class="form-group col-sm-4">
                    <label for="math_level_two_text">Level 2 <em>*</em></label>
                    <input type="number" name="math_level_two_text" class="form-control" id="math_level_two_text" min="0" max="100" placeholder="Enter"  ng-model="formData.math_level_two_text" required="">
                </div>

                <div class="form-group col-sm-4">
                    <label for="math_level_three_text">Level 3 <em>*</em></label>
                    <input type="number" class="form-control" name="math_level_three_text" id="math_level_three_text" min="0" max="100" placeholder="Enter " ng-model="formData.math_level_three_text" required="">


                </div>

            </div>



            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="">English Assessment<em>*</em></label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="english_beginner_text">Beginner<em>*</em></label>
                    <input type="number" class="form-control" name="english_beginner_text" id="english_beginner_text" min="0" max="100" placeholder="Enter " ng-model="formData.english_beginner_text" required="">


                </div>
                <div class="form-group col-sm-4">
                    <label for="english_letter_text">Letter<em>*</em></label>
                    <input type="number" name="english_letter_text" class="form-control" id="english_letter_text" min="0" max="100" placeholder="Enter"  ng-model="formData.english_letter_text" required="">
                </div>

                <div class="form-group col-sm-4">
                    <label for="english_paragraph_text">Paragraph<em>*</em></label>
                    <input type="number" class="form-control" name="english_paragraph_text" id="english_paragraph_text" min="0" max="100" placeholder="Enter " ng-model="formData.english_paragraph_text" required="">


                </div>

            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label for="english_word_text">Word <em>*</em></label>
                    <input type="number" class="form-control" name="english_word_text" id="english_word_text" min="0" max="100" placeholder="Enter " ng-model="formData.english_word_text" required="">


                </div>
                <div class="form-group col-sm-6">
                    <label for="english_sentence_text">Sentence <em>*</em></label>
                    <input type="number" name="english_sentence_text" class="form-control" id="english_sentence_text" min="0" max="100" placeholder="Enter"  ng-model="formData.english_sentence_text" required="">
                </div>

            </div>


            <div class="row">
                <!--<label for="academic_term">English level records<em>*</em></label>-->

                <div class="form-group col-sm-4">
                    <label for="english_level_one_text">Level 1 <em>*</em></label>
                    <input type="number" class="form-control" name="english_level_one_text" id="english_level_one_text" min="0" max="100" placeholder="Enter " ng-model="formData.english_level_one_text" required="">


                </div>
                <div class="form-group col-sm-4">
                    <label for="english_level_two_text">Level 2 <em>*</em></label>
                    <input type="number" name="english_level_two_text" class="form-control" id="english_level_two_text" min="0" max="100" placeholder="Enter"  ng-model="formData.english_level_two_text" required="">
                </div>

                <div class="form-group col-sm-4">
                    <label for="english_level_three_text">Level 3 <em>*</em></label>
                    <input type="number" class="form-control" name="english_level_three_text" id="english_level_three_text" min="0" max="100" placeholder="Enter " ng-model="formData.english_level_three_text" required="">


                </div>

            </div>


            <!--</div>-->

            <div class="row" style="margin-right : 5px">
                <!--initForm is a function defined in the controller to change the region and district values of the signed in admin-->
                <div class="pull-right">
                    <button class="btn btn-warning" type="reset">Reset</button>

                    <!--Button for submitting-->
                    <button  type="submit" class="btn btn-success" value="Submit">

                        <span >Save Changes</span>
                    </button>

                </div>
            </div>





</div>
    </form>

</div>


