
<h5 class="page-header">School Data</h5>

<div class="row">
    <div class="col-sm-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">

            <div class="tab-content">


                <!--------------------                     Country's Stats           --------------------------------------->
                <div id="stats" class="tab-pane active">
                    <!--<div ui-view="country_stats"></div>-->
                    <!---->
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title page-header"> Attendance Statistics
                                <div class="box-tools pull-right" ng-show="isNotVirgin">
                                    <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                                </div>
                            </h3>


                        </div>
                        <div class="box box-primary" ng-app="submitFormApp" ng-controller="submitPupilAggregatedDataSchoolGraphFormController">
                            <form role="form" name="url" ng-submit="submitForm();" method="post">
                                <input type="hidden" name="url" id="url"  ng-model="formData.url"  value=""  readonly/>

                                <div class="box-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <!--<p class="col-sm-12">Select a period to see summary</p>-->
                                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                                    <label for="attendance_academic_year">Select Academic Year</label>
                                                    <select name="attendance_academic_year" id="attendance_academic_year" class="form-control"
                                                            ng-model="formData.attendance_academic_year">
                                                        <option value="">Select Academic Year</option>


                                                        <option value="2014/2015">2014/2015</option>
                                                        <option value="2015/2016">2015/2016</option>
                                                        <option value="2016/2017">2016/2017</option>
                                                        <option value="2017/2018">2017/2018</option>
                                                        <option value="2018/2019">2018/2019</option>
                                                        <option value="2019/2020">2019/2020</option>
                                                        <option value="2020/2021">2020/2021</option>
                                                        <option value="2021/2022">2021/2022</option>
                                                        <option value="2021/2022">2022/2023</option>
                                                        <option value="2023/2024">2023/2024</option>
                                                        <option value="2024/2025">2024/2025</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                                    <label for="subject">Select Subject</label>
                                                    <select name="subject" id="subject" class="form-control"
                                                            ng-model="formData.subject">
                                                        <option value="">Select Subject</option>
                                                        <option value="Math">Math </option>
                                                        <option value="English">English </option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                                    <label for="term">Select Term</label>
                                                    <select name="term" id="term" class="form-control"
                                                            ng-model="formData.attendance_academic_term">
                                                        <option value=""> Select Term</option>
                                                        <option value="Term 1">Term 1</option>
                                                        <option value="Term 2">Term 2</option>
                                                        <option value="Term 3">Term 3</option>

                                                    </select>
                                                </div>


                                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                                    <label for=" "></label><br>
                                                    <div class="row" style="padding-left: 0 !important;">
                                                        <div class="btn-group col-xs-12">


                                                            <button  type="submit" class="btn btn-success col-md-12 col-xs-12" value="Submit">

                                                                <span >Submit </span>
                                                            </button>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <br><br><br>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="chart-container" style="position: relative; width:100%"><div class="chartjs-size-monitor" style="left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; visibility: hidden; position: absolute; z-index: -1; pointer-events: none;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                    <canvas width="502" height="439" class="chartjs-render-monitor" id="myChart" style="width: 437px; height: 382px; display: block;"></canvas>
                                                </div>
                                            </div>


                                        </div>

                                        <br>


                                    </div>

                                    <!---->
                                </div>
                            </form>
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div>
            </div>


