<div class="alert alert-danger" ng-show="errorMessageFromServer">{{ errorMessageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<!-- form start -->
<!--<div class="box-body">-->

<h2 ng-show="$state.is('dashboard.settings.dashboard_admin.add_user')" class="page-header"><i class="fa fa-plus"></i> Add Users <small class="small" style="font-style: italic; color: darkgrey">All fields are required.</small></h2>
<h2 ng-show="$state.is('dashboard.settings.dashboard_admin.edit_user')" class="page-header"><i class="fa fa-edit"></i> Edit User</h2>

<form role="form" name="admin_user_form" ng-submit="processForm()" novalidate="">
    <section class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error' : validation.lastname }">
            <label for="other_names">Surname <em>*</em></label>
            <input type="text" class="form-control" id="other_names" name="other_names" placeholder="Enter other names" ng-model="formData.other_names" required="">
            <p  ng-show="(admin_user_form.other_names.$invalid && !admin_user_form.other_names.$pristine) ||  validation.last_name"   class="text-red help-block">Last name is required.</p>
        </div>
        <div class="form-group col-sm-6" ng-class="{'has-error' : validation.firstname }">
            <label for="first_name">Other names <em>*</em></label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name" ng-model="formData.first_name" required="">
            <p  ng-show="(admin_user_form.first_name.$invalid && !admin_user_form.first_name.$pristine) ||  validation.lastname"   class="text-red help-block">Other names are required.</p>
        </div>
    </section>
    <section class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error' : validation.email }">
            <label for="email">Email address <em>*</em></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email address" ng-model="formData.email" required="" data-ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/">
            <p  ng-show="admin_user_form.email.$invalid && !admin_user_form.email.$pristine"   class="text-red help-block">Email should be in the form : <code>name@domain.com</code></p>
            <p  ng-show=" validation.email"   class="text-red help-block">Email already exists.</p>
        </div>
        <div class="form-group col-sm-6" ng-class="{'has-error' : validation.phone_number }">
            <label for="phone">User Phone Number <em>*</em></label>
            <input type="text" class="form-control" name="phone_number" id="phone" placeholder="Enter phone number" ng-model="formData.user_phone_number" maxlength="10" data-ng-pattern="/[0-9]{10}/" required="">
            <p  ng-show="(admin_user_form.phone_number.$invalid && !admin_user_form.phone_number.$pristine) ||  validation.phone_number"   class="text-red help-block">Phone number must be 10 digits.</p>
        </div>
    </section>
    <section class="row">
        <div class="form-group" ng-class="{'has-error' : validation.username, 'col-sm-8' : model.isEditing == true, 'col-sm-4' : model.isEditing == false || model.isEditing == null || model.isEditing == undefined}">
            <label for="username">Username <em>*</em></label>
            <input type="text" class="form-control" data-ng-disabled="model.isEditing" name="user_name" id="username" placeholder="Username for logging in" ng-model="formData.username"
                   ng-required="$state.is('dashboard.settings.dashboard_admin.add_user')">
            <p  ng-show="admin_user_form.user_name.$invalid && !admin_user_form.user_name.$pristine"   class="text-red help-block">Username is required.</p>
            <p  ng-show=" validation.username"   class="text-red help-block">Username already exists.</p>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error' : validation.password }" ng-if="!model.isEditing">
            <label for="password">Password <em>*</em></label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="formData.password"
                   ng-required="$state.is('dashboard.settings.dashboard_admin.add_user')">
            <p  ng-show="(admin_user_form.password.$invalid && !admin_user_form.password.$pristine) ||  validation.password"   class="text-red help-block">Password is required.</p>
        </div>
        <div class="form-group col-sm-4" ng-if="!model.isEditing">
            <label for="password">Confirm password <em>*</em></label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Re-type password" ng-model="formData.confirm_password"
                   ng-required="$state.is('dashboard.settings.dashboard_admin.add_user')">
            <p  ng-show="admin_user_form.password.$valid && !admin_user_form.confirm_password.$pristine && ( formData.password !== formData.confirm_password )  ||  validation.password"
                class="text-red help-block">Password mismatch</p>
        </div>

        <div class="form-group col-sm-4" ng-if="model.isEditing">
            <a style="margin: 20px -10px 0" reset-user-password="userToEdit" class="btn btn-warning btn-block">Reset Password</a>
        </div>
    </section>


    <div class="row margin-left-15" >
        <div style="margin-left: -15px" class="col-md-4">
            <!-- Primary box -->
            <div class="box box-primary box-solid">
                <div class="box-header" data-toggle="tooltip" title="Gender">
                    <h3 class="box-title">Gender <em>*</em></h3>
                    <div class="box-tools pull-right hidden">
                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" >
                    <div class="form-group row" ng-class="{'has-error' : validation.gender }">
                        <label class="margin-left-15" style="font-style: italic; color: darkgrey">Select the gender of the user</label><br>
                        <div class="col-sm-12 ">
                            <label>
                                <input type="radio" name="gender" id="gender_male" value="male" checked ng-model="formData.gender" required="">
                                Male
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <input type="radio" name="gender" id="gender_female" value="female" ng-model="formData.gender" required="">
                                Female
                            </label>
                        </div>
                        <p   ng-show="(admin_user_form.gender.$invalid && !admin_user_form.gender.$pristine) ||  validation.gender"   class="col-lg-12 text-red help-block">Gender is required</p>
                    </div>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">-->
                <!--<code>.box-footer</code>-->
                <!--</div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div style="margin-left: 8px" class="col-md-4">
            <!-- Primary box -->
            <div class="box box-primary box-solid">
                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                    <h3 class="box-title">User Level <em>*</em></h3>
                    <div class="box-tools pull-right hidden">
                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row" ng-class="{'has-error' : validation.level }">
                        <label class="margin-left-15" style="font-style: italic; color: darkgrey">Specify administrative level</label><br>
                        <div class="col-sm-6" ng-show="adminRight > 4">
                            <label>
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_type" id="super_user" value="national"
                                       checked ng-model="formData.user_type" data-ng-click="chosenLevel = 0" required="">
                                National
                            </label>
                        </div>
                        <div class="col-sm-6" ng-show="adminRight > 3">
                            <label>
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_type" id="regional_level" value="regional"
                                       ng-model="formData.user_type" data-ng-click="chosenLevel = 1" required="">
                                Regional
                            </label>
                        </div>
                        <div class="col-sm-6" ng-show="adminRight > 2">
                            <label>
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_type" id="district_level" value="district"
                                       ng-model="formData.user_type" data-ng-click="chosenLevel = 2" required="">
                                District
                            </label>
                        </div>
                        <div class="col-sm-6 hidden">
                            <label>
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_type" id="circuit_level" value="circuit"
                                       ng-model="formData.user_type" data-ng-click="chosenLevel = 3" required="">
                                Circuit
                            </label>
                        </div>
                        <div class="col-sm-6 hidden">
                            <label>
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_type" id="school_level" value="school"
                                       ng-model="formData.user_type" data-ng-click="chosenLevel = 4" required="">
                                School
                            </label>
                        </div>
                        <p  ng-show="(admin_user_form.user_type.$invalid && !admin_user_form.user_type.$pristine) ||  validation.level"   class="col-lg-12 text-red help-block">Level is required.</p>
                    </div>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">-->
                <!--<code>.box-footer</code>-->
                <!--</div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div style="margin-left: 7px" class="col-md-4">
            <!-- Primary box -->
            <div class="box box-primary box-solid">
                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                    <h3 class="box-title">User Role <em>*</em></h3>
                    <div class="box-tools pull-right hidden">
                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row" ng-class="{'has-error' : validation.role }">
                        <label class="margin-left-15" style="font-style: italic; color: darkgrey">Specify administrative role</label><br>
                        <div class="col-sm-12">
                            <label for="super_admin">
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_role" id="super_admin" value="super" ng-model="formData.admin_role" required="">
                                Super Admin
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label for="admin">
                                <input data-ng-disabled="model.isEditing" type="radio" name="user_role" id="admin" value="normal" ng-model="formData.admin_role" required="">
                                Normal Admin
                            </label>
                        </div>

                        <p  ng-show="(admin_user_form.user_role.$invalid && !admin_user_form.user_role.$pristine) ||  validation.role"   class="col-lg-12 text-red help-block">Role is required.</p>
                    </div>


                    <!--<div class="box-footer">-->
                    <!--<code>.box-footer</code>-->
                    <!--</div><!-- /.box-footer-->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </div>

    <p  ng-show="validation.level_id && chosenLevel > 0"   class="col-lg-12 text-red help-block">Please choose a geographical area</p>

    <div class="" ng-show="chosenLevel > 0">
        <div class="form-group" ng-show="chosenLevel > 0"
             ng-class="level[chosenLevel]">
            <div class="form-group" ng-class="{'has-error' : validation.level_id }">
                <label for="region_select">Region</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select data-ng-disabled="model.isEditing" name="region_select" id="region_select" class="form-control"
                        ng-model="formData.regional_id"
                        ng-options="region.id as region.name for region in regions
                    | filter : {country_id : 1, id : circuitLookup[formData.circuit_id].region_id || districtLookup[formData.district_id].region_id }">
                    <option value="" selected>Select a Region</option>
                    <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                </select>

            </div>
        </div>

        <div class="form-group "   ng-show="chosenLevel > 1"
             ng-class="level[chosenLevel]">
            <div class="form-group" ng-class="{'has-error' : validation.level_id }">
                <label for="district_select">District</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select data-ng-disabled="model.isEditing" name="district_select" id="district_select"
                        ng-change="getDistrictName(formData.district)"
                        class="form-control"
                        ng-model="formData.district_id"
                        ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.regional_id, id : circuitLookup[formData.circuit_id].district_id } : true">
                    <option value="" selected>Select a District</option>
                    <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                </select>
            </div>
        </div>

        <div class="form-group "  ng-show="chosenLevel > 2"
             ng-class="level[chosenLevel]">
            <!--ng-class="{'col-sm-12': one, 'col-sm-6': two, 'col-sm-4': three, 'col-sm-3': four}">-->
            <div class="form-group" ng-class="{'has-error' : validation.level_id }">
                <label for="circuit_select">Circuit</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select data-ng-disabled="model.isEditing" name="circuit_select" id="circuit_select" class="form-control"
                        ng-model="formData.circuit_id"
                        ng-options="circuit.id as circuit.name group by circuit.districtName for circuit in circuits | filter : {district_id : formData.district_id, region_id : formData.regional_id} : true">
                    <option value="" selected>Select a Circuit</option>
                    <!--<option ng-value="circuit.id" ng-repeat="circuit in circuits | filter : {district_id : formData.district}" >{{ circuit.name }}</option>-->
                </select>
            </div>


        </div>

        <div class="form-group"  ng-show="chosenLevel > 3"
             ng-class="level[chosenLevel]">
            <div class="form-group" ng-class="{'has-error' : validation.level_id }">
                <label for="school_select">School</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select data-ng-disabled="model.isEditing" name="school_select" id="school_select" class="form-control"
                        ng-model="formData.school_id"
                        ng-options="school.id as school.name group by school.circuitName for school in schools | filter : {district_id : formData.district_id, region_id : formData.regional_id, circuit_id : formData.circuit_id} : true" >
                    <option value="" selected>Select a School</option>
                    <!--<option ng-value="circuit.id" ng-repeat="circuit in circuits | filter : {district_id : formData.district}" >{{ circuit.name }}</option>-->
                </select>
            </div>

        </div>
    </div><!-- /.box-body -->

    <!--<pre>{{formData | json}}</pre>-->
    <div class="box-footer clearfix">
        <button class="btn btn-warning  pull-left " type="reset">Reset</button>
        <button type="submit" class="btn btn-success pull-right"
                ng-show="$state.is('dashboard.settings.dashboard_admin.add_user')" data-ng-disabled="admin_user_form.$invalid">Add User</button>
        <button type="submit" class="btn btn-success pull-right"
                ng-show="$state.is('dashboard.settings.dashboard_admin.edit_user')" data-ng-disabled="admin_user_form.$invalid">Save Changes</button>
    </div>

</form>
<!--</div>-->
<!-- /.box-body -->


