<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Configure Reports</h3>
    </div>
    <div class="box-body">
        <p>Choose which format reports can be exported as</p>

        <hr>

        <br>

        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">PNG</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">JPG</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">PDF</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">CSV</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">Excel</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">MSWord</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

    </div>

</div>