`<div class="box box-primary" style="min-height: 500px">
    <div class="box-header">
        <h3 class="box-title">Admin Dashboard Users</h3>
        <div class="box-tools pull-right">
            <a ng-show="$state.is('dashboard.settings.dashboard_admin') && adminRight > 2 && currentUser.role == 'super' " ui-sref="dashboard.settings.dashboard_admin.add_user" class="whiteColor btn btn-primary"> <i class="fa fa-plus"></i>&nbsp; Add User</a>
            <a ng-show="$state.is('dashboard.settings.dashboard_admin.add_user')" ui-sref="dashboard.settings.dashboard_admin" class="whiteColor btn btn-danger"> <i class="fa fa-arrow-left"></i>&nbsp; Go back</a>
            <a ng-show="$state.is('dashboard.settings.dashboard_admin.edit_user')" ui-sref="dashboard.settings.dashboard_admin" class="whiteColor btn btn-danger"> <i class="fa fa-arrow-left"></i>&nbsp; Go back</a>
        </div>
    </div>

    <!--<div class="box-body" ui-view="add_users">-->
    <div class="box-body" ui-view="" ng-hide="loadingAdmins">
        <p>These are the current users that have access to the dashboard.</p>

        <hr>

        <section class="row">
            <div class="col-sm-12 col-md-6">
                Total Administrators : {{ allUsers.length }}
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label for="searchAdminUsers"></label>
                    <input id="searchAdminUsers" type="text" ng-model="searchAdminUsers" class="form-control pull-right" placeholder="Search">
            </div>
        </section>


        <div class="">

            <table class="table table-bordered table-responsive"><!--table-hover-->
                <thead>
                <tr>
                    <td>Name</td>
                    <td align="center">Level</td>
                    <td align="center">Area</td>
                    <td  align="center">Last Login</td>
                    <td  align="center">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'bg-light-blue' : user.id === currentUser.id}" ng-repeat="user in allUsers | filter : searchAdminUsers" ng-hide="user.phone_number == '0207361609'  || userAdminLevel(user)">
                    <td > {{user.firstname}}&nbsp;{{user.lastname}} </td>
                    <td  align="center"> {{user.level}} <br> <span class="label" ng-class="{'label-primary' : user.role == 'super', 'label-warning' : user.role != 'super'}">{{ user.role }}</span> </td>
                    <td  align="center"> {{user.geography}} </td>
                    <td  align="center"> {{user.last_login}} </td>
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" ng-show="(adminRight >= user.showRight) && (currentUser.role == 'super') ">
                                    <li ><a ui-sref="dashboard.settings.dashboard_admin.edit_user({id : user.id}) ">Edit User</a></li>
                                    <li ><a href="" onclick="return false" data-ng-click="deleteModal(user)">Delete User</a></li>
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-show="loadingAdmins"></div>
    <div class="loading-img" ng-show="loadingAdmins" style="padding: 50px"></div>
    <!--end loading-->

</div>`