<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">General Settings</h3>
    </div>
    <div class="box-body">
        <p>These allow the ability to customize the look and feel of the dashboard as well as certain behaviour of the application</p>

        <hr>

        <br>


        <div class="row hidden">
            <div class="col-lg-12">
                <!--<label class="col-md-3"></label>-->
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" data-ng-click="hideOffCanvas(); sidebar_show = !sidebar_show">
                    </span>
                    <!--<input type="text" class="form-control" value="Hide sidebar" disabled>-->
                    <span ng-show="sidebar_show" style="background: #eee" class="col-sm-12 form-control">Show sidebar</span>
                    <span ng-hide="sidebar_show" style="background: #eee" class="col-sm-12 form-control">Hide sidebar</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row hidden" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">Save to local storage</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row hidden" style="margin-top: 15px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span style="background: #eee" class="col-sm-12 form-control">Allow real time updates and notifications</span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-lg-1">
                <button  ng-click="clearAllCachedData()" class="btn btn-danger btn-sm">Reload</button>
            </div>
            <div class="col-lg-11">
                <div class="input-group">
                    <!--<span class="input-group-addon">-->
                        <!--<input type="checkbox" disabled>-->
                    <!--</span>-->
                </div><!-- /input-group -->
                    <span style="background: #eee" class="col-sm-12 form-control">
                       Reload data from server
                    </span>
            </div><!-- /.col-lg-12 -->
        </div>

    </div>

</div>