<h4 class="page-header">Settings</h4>
<div class="col-sm-3">

    <tabset vertical="true" type="pills">
        <!--<tab  select="$state.go('dashboard.settings.general_settings')">-->
        <tab ng-click="$state.go('dashboard.settings.general_settings')" >
            <tab-heading>
                <i class="fa fa-dashboard"></i>
                &nbsp;&nbsp;General Settings
            </tab-heading>
        </tab>
        <!--<tab select="$state.go('dashboard.settings.user_profile')">-->
        <tab ng-click="$state.go('dashboard.settings.user_profile')" >
            <tab-heading>
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;User Profile
            </tab-heading>
        </tab>
        <tab  ng-if="adminRight > 2" ng-click="$state.go('dashboard.settings.dashboard_admin')" >
        <!--<tab select="$state.go('dashboard.settings.dashboard_admin')">-->
            <tab-heading>
                <i class="fa fa-users"></i>
                &nbsp;&nbsp;Dashboard Administrators
            </tab-heading>
        </tab >
        <!--<tab select="$state.go('dashboard.settings.configure_reports')">-->
        <tab class="hidden" ng-click="$state.go('dashboard.settings.configure_reports')" >
            <tab-heading>
                <i class="fa fa-signal"></i>
                &nbsp;&nbsp;Configure Reports
            </tab-heading>
        </tab>

        <tab ng-if="adminRight > 4"  ng-click="$state.go('dashboard.settings.user_logs')" >
            <tab-heading>
                <i class="fa fa-file"></i>
                &nbsp;&nbsp;User Logs
            </tab-heading>
        </tab>
    </tabset>


</div>
<div class="col-sm-9" ui-view="">
<p style="margin-top: 5%;padding: 0 15px; font-size: 24px" class="col-sm-offset-4 greyColor">Please select an option.</p>
</div>