<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">User Profile </h3>
        <div class="box-tools pull-right">
            <button ng-if="!(csLoginCheck)" class="btn btn-warning btn-sm" ng-click="editable()">Edit</button>
            <button ng-if="csLoginCheck" class="btn btn-warning btn-sm"
                    ui-sref="dashboard.add_data_collector({type: 'circuit_supervisor', action : 'edit', id : adminUser.id})">Edit</button>
        </div>
    </div>
    <div class="box-body">
        <p>Changes will only be saved when you click the Save button</p>

        <hr>

        <br>

        <form class="form-horizontal">

            <div class="form-group">

                <label for="username" class="col-md-3">Username</label>

                <div class="col-md-7">
                    <input type="text" data-ng-disabled="allowEdit" id="username" class="form-control" ng-model="adminUser.username" name="user-name">
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="firstname" class="col-md-3">First Name</label>

                <div class="col-md-7">
                    <input type="text"  data-ng-disabled="allowEdit" class="form-control" value="Rod" ng-model="adminUser.firstname" id="firstname" name="first-name">
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="lastname" class="col-md-3">Last Name</label>

                <div class="col-md-7">
                    <input type="text"  data-ng-disabled="allowEdit" class="form-control" ng-model="adminUser.lastname" id="lastname" name="last-name">
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="email" class="col-md-3">Email Address</label>

                <div class="col-md-4">
                    <input type="text"  data-ng-disabled="allowEdit" class="form-control" ng-model="adminUser.email" id="email" name="email-address">
                </div> <!-- /.col -->
                <div class="col-md-3">
                    <a style="padding: 6px 0 !important;" reset-user-password="adminUser" class="btn btn-warning btn-block">Reset Password</a>
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label class="col-md-3">Gender</label>

                <div class="col-md-7">
                    <input type="text"  data-ng-disabled="allowEdit" class="form-control"  ng-model="adminUser.gender" name="gender">
                </div> <!-- /.col -->


            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="phone_number" class="col-md-3">Phone Number</label>

                <div class="col-md-7">
                    <input type="text"  data-ng-disabled="allowEdit" class="form-control" ng-model="adminUser.phone_number" id="phone_number" name="phone_number">
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="level" class="col-md-3">Admin Level</label>

                <div class="col-md-5">
                    <input type="text"  data-ng-disabled="true" class="form-control" ng-model="adminUser.level" id="level" name="level">
                </div> <!-- /.col -->
                <div class="col-md-2">
                    <input type="text"  data-ng-disabled="true" class="form-control" ng-model="adminUser.role" id="role" name="role">
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

                <label for="geography" class="col-md-3">Area</label>

                <div class="col-md-7">
                    <input type="text"  data-ng-disabled="true" class="form-control" ng-model="adminUser.geography" id="geography" name="geography">
                </div> <!-- /.col -->
            </div> <!-- /.form-group -->


            <br>

            <div class="form-group" ng-if="!(csLoginCheck)">

                <div class="col-md-7 col-md-push-3">
                    <button class="btn btn-primary"  data-ng-disabled="allowEdit" type="submit">Save Changes</button>
                    &nbsp;
                    <button class="btn btn-default"  data-ng-disabled="allowEdit" type="reset">Reset</button>
                </div> <!-- /.col -->

            </div> <!-- /.form-group -->

        </form>

    </div>

</div>