<div class="box box-primary" style="min-height: 500px">
    <div class="box-header">
        <h3 class="box-title">User Logs</h3>
        <div class="box-tools pull-right">
            <a href="" class="whiteColor btn btn-primary" ng-click="clearCacheAndRefresh()" tooltip="Reload User Logs"> <i class="fa fa-refresh"></i></a>
        </div>
    </div>
    <!--<div class="box-body" ui-view="add_users">-->
    <div class="box-body" ui-view="">
        <p>Logs of actions performed by users</p>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <span ng-click="changeShowingTo('created')" ng-class="{active : showing == 'created'}" class="btn btn-primary center-block">Created</span>
            </div>
            <div class="col-md-4">
                <span ng-click="changeShowingTo('edited')" ng-class="{active : showing == 'edited'}" class="btn btn-warning center-block">Edited</span>
            </div>
            <div class="col-md-4">
                <span ng-click="changeShowingTo('deleted')" ng-class="{active : showing == 'deleted'}" class="btn btn-danger center-block">Deleted</span>
            </div>
        </div>
        <br>
        <div class="table-responsive" ng-if="showing">
            <table class="table table-hover" ng-show="logsToShow">
              Showing &nbsp; <span class="label"  style="margin-bottom: 5px; display: inline-block"
                     ng-class="{' label-primary' : showing == 'created', 'label-warning' : showing == 'edited', 'label-danger' : showing == 'deleted' }">
                   {{showing | uppercase }} </span>
                <tbody>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <!--<th>Status</th>-->
                    <th>Reason</th>
                </tr>
                <tr ng-repeat="log in logsToShow">
                    <td>{{ log.name }}</td>
                    <td>{{ log.created_at }}</td>
                    <td>{{ log.what_was_created || log.what_was_edited || log.what_was_deleted}}</td>
                </tr>
                </tbody>
            </table>

            <h3 ng-hide="logsToShow" class="text-center" style="margin: 100px 0 0">No logs recorded for "{{showing | uppercase }}"</h3>


        </div>
        <h3 ng-if="!showing" class="text-center" style="margin: 100px 0 0">Select a log to display</h3>
    </div>
    <!--Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-show="loadingLogs"></div>
    <div class="loading-img" ng-show="loadingLogs" style="padding: 50px"></div>
    <!--end loading-->

</div>