<h4 class="page-header">STARS Admin Panel
    <a ng-show="selected_data_collector.type == 'circuit_supervisor' " ui-sref="dashboard.data_collectors_circuit_supervisors" style="margin: 0 5px" class="btn btn-warning  pull-right"><i class="fa fa-eye"></i>   View All</a>
    <a ng-show="selected_data_collector.type == 'head_teacher' " ui-sref="dashboard.data_collectors_head_teachers" style="margin: 0 5px" class="btn btn-warning  pull-right"><i class="fa fa-eye"></i>   View All</a>
    <a ng-show="adminRight == 2" ui-sref="dashboard.view_selected_circuit({id : selected_data_collector.circuit_id})" style="margin: 0 5px" class="btn btn-success  pull-right"><i class="fa fa-dashboard"></i>  Circuit Dashboard</a>
    <a class="btn btn-primary pull-right" ng-show="adminRight > 2 && currentUser.role == 'super' " ui-sref="dashboard.add_data_collector({type: selected_data_collector.type, action : 'edit', id : selected_data_collector.id})" ><i class="fa fa-edit"></i> Edit Details</a>

</h4>

<div class="row ">
    <!-- Region box -->
    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 4
      }">

        <div class="small-box "  ng-class="envCheck ? 'bg-yellow' : 'bg-aqua' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{regions.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{regionLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    Region<span  ng-show="adminRight > 4">s</span>
                </p>
            </div>
            <div class="icon font-75"  ng-show="adminRight > 4">
                <i class="ion ion-android-earth"></i>
            </div>
            <a  ng-show="adminRight > 4" ui-sref="dashboard.view_region" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight == 4" ui-sref="dashboard.view_selected_country({id : currentUser.level_id })" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  region box-->


    <!-- District box -->

    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 3
      }">


        <div class="small-box bg-light-blue" ng-class="envCheck ? 'bg-light-blue' : 'bg-green' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{districts.length}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalDistricts }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    District<span  ng-show="adminRight > 3">s</span>
                </p>
            </div>
            <div class="icon font-75" >
                <i class="ion ion-android-locate"></i>
            </div>
            <a  ng-show="adminRight > 3" ui-sref="dashboard.view_district" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 3" ui-sref="dashboard.view_selected_district({id : currentUser.level_id})" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  district box-->


    <!-- Circuit  box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 2
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-red' : 'bg-yellow' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{circuits.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    Circuit<span  ng-show="adminRight > 2">s</span>
                </p>
            </div>
            <div class="icon font-75">
                <i class="ion ion-android-location"></i>
            </div>
            <a  ng-show="adminRight > 2" ui-sref="dashboard.view_circuit" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 2" ui-sref="dashboard.view_selected_circuit({id : currentUser.level_id})" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  Circuit box-->


    <!-- School box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-teal' : 'bg-red' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{schools.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 1">
                    {{ schoolLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    School<span  ng-show="adminRight > 1">s</span>
                </p>
            </div>
            <div class="icon font-75">
                <i class="ion ion-android-book"></i>
            </div>
            <a  ng-show="adminRight > 1" ui-sref="dashboard.school.view_school" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 1" ui-sref="dashboard.school.view_selected_school({id : currentUser.level_id})" class="small-box-footer hidden">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  school box-->
</div>


<div class="row" style="margin-top: 25px">
    <div class="col-sm-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{active : $state.includes('dashboard.stars_panel.targeted_instructions') }" style="text-align: center">
                    <a data-toggle="tab" data-target="#tab_view" ui-sref="dashboard.stars_panel.targeted_instructions"><h4>Targeted Instructions</h4></a>
                </li>
                <li ng-class="{active : $state.includes('dashboard.stars_panel.e_library') }" style="text-align: center">
                    <a data-toggle="tab" data-target="#tab_view" ui-sref="dashboard.stars_panel.e_library"><h4>E-Library</h4></a>
                </li>
                <li ng-class="{active : $state.includes('dashboard.stars_panel.help_desk') }" style="text-align: center">
                    <a data-toggle="tab" data-target="#tab_view" ui-sref="dashboard.stars_panel.help_desk"><h4>Help Desk</h4></a>
                </li>
                <li ng-class="{active : $state.includes('dashboard.stars_panel.push_polls')}" style="text-align: center">
                    <a data-toggle="tab" data-target="#tab_view" ui-sref="dashboard.stars_panel.push_polls"> <h4>Push Poll</h4></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab_view" class="tab-pane active">
                    <div ui-view="">
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-size: 30px;line-height: 50px; margin: 100px auto" class="greyColor">
                                    <i class="col-sm-offset-4 glyphicon glyphicon-arrow-up"></i> Select a tab to show</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div>
</div>