<div class="alert alert-danger" ng-show="messageFromServer">{{ messageFromServer }}</div>
<div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{ paramAction() }} Circuit</h3>

        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm pull-right" data-ng-click="goBackInHistory()">Cancel</button>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" data-ng-submit="processForm()">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="circuit_name">Name of Circuit  <em>*</em></label>
                    <input type="text" class="form-control" id="circuit_name" placeholder="Enter name of circuit" ng-model="formData.circuit_name">
                </div>

                <div class="form-group col-sm-12">
                    <label for="brief_description">Brief Description  <em>*</em></label>
                    <textarea class="form-control" id="brief_description" placeholder="A brief description of the circuit"  ng-model="formData.description"></textarea>
                </div>

                <div class="form-group col-sm-4">
                    <label for="email">Circuit's Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter optional email address of the circuit" ng-model="formData.circuit_email">
                </div>

                <div class="form-group col-sm-4">
                    <label for="phone">Circuit's Phone Number <em>*</em></label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number of the circuit or head teacher" ng-model="formData.circuit_phone_number">
                </div>

                <div class="form-group col-sm-4">
                    <label for="circuit_location">Circuit Centre  <em>*</em></label>
                    <input type="text" class="form-control" id="circuit_location" placeholder="Enter the centre town of circuit" ng-model="formData.circuit_location">
                </div>

                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label for="region_select">Region</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="region_select" id="region_select" class="form-control"
                                ng-model="formData.region"
                                ng-options="region.id as region.name for region in regions  | filter : {country_id : 1}">
                            <option value="" selected>Select a Region</option>
                            <!--<option ng-value="region.id" ng-repeat="region in regions | filter : {country_id : 1}" >{{ region.name }}</option>-->
                        </select>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="form-group">
                        <label for="district_select">District</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="district_select" id="district_select" class="form-control"
                                ng-model="formData.district"
                                ng-options="district.id as district.name group by district.regionName for district in districts | filter : {region_id : formData.region} : true">
                            <option value="" selected>Select a District</option>
                            <!--<option ng-value="district.id" ng-repeat="district in districts | filter : {region_id : formData.region}" >{{ district.name }}</option>-->
                        </select>
                    </div>
                </div>



            </div>
        </div>
        <div class="row" style="margin-right : 5px">
            <div class="pull-right">
                <button class="btn btn-warning" type="reset">Reset</button>
                <button type="submit" class="btn btn-success" ng-show=" paramAction() == 'Add' ">{{ paramAction() }} Circuit</button>
                <button type="submit" class="btn btn-success" ng-show=" paramAction() == 'Edit' "> Save Changes</button>
            </div>
        </div>
    </form>
</div><!-- /.box -->

<!--<div class="box">-->
            <!--<pre>-->
		<!--{{ formData  |  json }}-->
	<!--</pre>-->
<!--</div>-->