<div class="row">
    <div class="col-sm-12">

        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-sm-6">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in circuitYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="term">Term</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in circuitTerms">
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in circuitWeeks" >
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6 hidden">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button data-ng-disabled="loadingData" id="actions" data-ng-click="fetchSummaryData()" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Load<span ng-if="loadingData">ing</span> Data
                    </button>
                    <button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loadingData" data-toggle="dropdown">
                        <span class="caret"></span> <span class="sr-only">Other Load Options</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-ng-click="fetchSummaryData()"><a href="">Load Set Period</a></li>
                        <li class="divider"></li>
                        <li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>
                        <!--<li class="divider" ng-show="showTrend"></li>-->
                        <!--<li ng-show="showTrend" data-ng-click="doMultipleTeacherAttendanceUpdates()"><a href="">Update Teacher Attendance Totals</a></li>-->
                    </ul>

                </div>
            </div>
        </div>


        <!--Summary Table-->

        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="teacherAttendanceSummaryData.schoolInfo">
                    <h3 class="box-title">Teacher Attendance Information
                        <div title=""  class="box-tools pull-right hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="clearfix"></div>

                <!--The weekly attendance summary-->

                <div class="box-body" ng-hide="showTrend" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="teacherAttendanceSummaryData.schoolInfo">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-4 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-4 text-center">Term : <b class="showing_weekly_term"></b></small>
                                <small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"></b></small>
                            </p>

                            <p ng-if="(teacherAttendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">Circuit Total</p>
                            <table class="table table-bordered table-responsive" ng-if="(teacherAttendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-gray">
                                    <td class="horizontal_vertical_center"><span tooltip="Total number of teachers registered in the circuit">Total in Circuit</span></td>
                                    <td class="horizontal_vertical_center"><span tooltip="Total number of male teachers registered in the circuit">Total Males</span></td>
                                    <td class="horizontal_vertical_center"><span tooltip="Total number of female teachers registered in the circuit">Total Females</span></td>
                                    <td class="horizontal_vertical_center"><span tooltip="This is the total number of teachers whose attendance have been submitted in the circuit">Total Number Submitted For</span></td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in Circuit</td>-->
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.teachers_total    }}</td>
                                    <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.male_total    }}</td>
                                    <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.female_total    }}</td>
                                    <td class="horizontal_vertical_center"><span tooltip="If this is greater than the total teachers registered, then there are duplicate submissions.">{{ teacherAttendanceSummaryData.circuitInfo[$parent.summary_data_collector_type].teachers_total_submitted}}</span></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(teacherAttendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <!--<p class="col-sm-6 pull-left">Per School Breakdown</p>-->
                            <!--<p class="row page-header" style="font-size: 16px ">-->
                            <!--<small class="col-sm-6 text-center">Year : <b class="showing_weekly_year"></b></small>-->
                            <!--<small class="col-sm-6 text-center">Term : <b class="showing_weekly_term"></b></small>-->
                            <!--</p>-->
                            <div class="btn-group pull-right">
                                <button  ng-hide="showTrend" class="btn btn-warning btn-sm teacherAttendanceSummaryData" export-table="teacherAttendanceSummaryData" file-name="{{selected_circuit.name + ' Weekly Teacher Attendance Summary' + $parent.summary_year + ' ' + $parent.summary_term + '_week_' + $parent.summary_week}}">Begin Weekly Teacher Attendance Summary Export</button>
                            </div>
                            <table  class="table table-bordered table-striped table-responsive" id="teacherAttendanceSummaryData" ng-show="teacherAttendanceSummaryData.schoolInfo">
                                <thead>
                                <tr class="bg-maroon">
                                    <td class="">School</td>
                                    <td class="horizontal_vertical_center">Average Attendance</td>
                                    <td class="horizontal_vertical_center">Number Submitted</td>
                                    <td class="horizontal_vertical_center"><span>Expected Total</span></td>
                                    <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                </tr>
                                </thead>
                                <tbody >

                                <tr ng-repeat="attendance in teacherAttendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}">
                                    <td><a href="" ui-sref="dashboard.school.view_selected_school.report_card.teacher_information({id : attendance.school_id, district_id : attendance.district_id })">{{  schoolLookup[attendance.school_id].name  || 'Unavailable' }}</a></td>
                                    <td class="horizontal_vertical_center">{{ attendance.average_teacher_attendance || '-'}}<sup ng-show="attendance.average_teacher_attendance">%</sup></td>
                                    <td class="horizontal_vertical_center">{{ attendance.current_number_of_teachers  || '-'}}</td>
                                    <td class="horizontal_vertical_center">{{  schoolLookup[attendance.school_id].totalTeachers  || '-' }}</td>
                                    <td align="center" class="text-danger text-center tableexport-ignore">
                                        <div class="btn-group">
                                            <button class=" btn btn-default btn-sm" teacher-attendance-preview="attendance">Preview Data</button>
                                            <button class=" btn btn-danger btn-sm" delete-section-data="Teacher Attendance" function="fetchSummaryData()" section-type="teacher_attendance" week="{{attendance.week_number}}" term="{{attendance.term}}" year="{{attendance.year}}" school-id="{{attendance.school_id}}">Delete Data</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                        <div ng-if="teacherAttendanceSummaryData.schoolInfo.length" ng-hide="(teacherAttendanceSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>


                        <div style="margin: 7% 0; font-size: 23px" ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="teacherAttendanceSummaryData.schoolInfo">
                            <p class="text-center" ><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>


                <!--The termly trend-->
                <div class="box-body" ng-show="showTrend" style="min-height: 200px;">
                    <div class="row">
                        <div ng-show="availableWeeksInTerm.length" class="col-sm-12">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-6 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-6 text-center">Term : <b class="showing_weekly_term"></b></small>
                            </p>

                            <p class="">District Totals</p>

                            <table class="table table-bordered ">
                                <tr class="bg-light-maroon whiteColor">
                                    <td class="horizontal_vertical_center" colspan="2">Termly Total Days in Session</td>
                                    <td class="hidden horizontal_vertical_center">Termly Total Attendance</td>
                                    <td class="horizontal_vertical_center" colspan="2">Termly Teacher Attendance Average</td>
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center" colspan="2"><span class="label label-danger h2"> {{ studAttendanceTotal.days_in_session    }} </span></td>
                                    <td class="hidden horizontal_vertical_center"><span class="label label-danger h2"> {{ studAttendanceTotal.totalTeacherAttendance }} </span></td>
                                    <td class="horizontal_vertical_center" colspan="2"><span class="label label-danger h2"> {{  studAttendanceTotal.teacherAttendanceAverage  | teacherAveragePercentage }} </span></td>
                                </tr>
                            </table>

                            <p class="col-sm-6 pull-left">
                                <button class="btn btn-info" ng-hide="average_teacher_attendance_filterTrendViews" ng-click="filterTrendOnSubmission('average_teacher_attendance')">Show Schools With Data Gaps</button>
                                <button class="btn btn-danger" ng-show="average_teacher_attendance_filterTrendViews" ng-click="cancelFilterTrendOnSubmission('average_teacher_attendance')">Show All</button>
                            </p>

                            <div class="btn-group pull-right">
                                <button  ng-show="showTrend" class="btn btn-info btn-sm teacherAttendanceSummaryDataTrend" export-table="teacherAttendanceSummaryDataTrend" file-name="{{selected_circuit.name + ' Termly Teacher Attendance Summary' + $parent.summary_year + ' ' + $parent.summary_term}}">Begin Termly Teacher Attendance Summary Export</button>
                            </div>
                            <div class="table-responsive">
                                <table  class="table table-bordered table-striped table-responsive" id="teacherAttendanceSummaryDataTrend">
                                    <thead>
                                    <tr  class="bg-maroon" ng-init="schoolSortOrder = 'name'">
                                        <td class="pointer" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</td>
                                        <td class="horizontal_vertical_center">Average</td>
                                        <td class="horizontal_vertical_center" ng-repeat="week in availableWeeksInTerm">Week {{ week }}</td>
                                        <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-class="{'hidden' : school.average_teacher_attendance_hide == true}" ng-repeat="school in selected_circuit.allSchoolsHolder | orderBy : schoolSortOrder : reverse ">
                                        <td ><a ui-sref="dashboard.school.view_selected_school.report_card.teacher_information({id : school.id, district_id : school.district_id })">{{  schoolLookup[school.id].name  || 'Unavailable' }}</a></td>
                                        <td class="horizontal_vertical_center">{{school.teacherAttendanceAverage | checkPercentage}}<sup ng-if="school.teacherAttendanceAverage">%</sup></td>
                                        <td ng-class="{'bg-red' : !school.average_teacher_attendance_hide && !circuitWeeklyDataTrend[school.id][week].average_teacher_attendance}"
                                            class="horizontal_vertical_center"  ng-repeat="week in availableWeeksInTerm">
                                            <a teacher-attendance-preview="circuitWeeklyDataTrend[school.id][week]" class="pointer" ng-if="circuitWeeklyDataTrend[school.id][week].average_teacher_attendance">{{ circuitWeeklyDataTrend[school.id][week].average_teacher_attendance | checkPercentage }}<sup ng-if="circuitWeeklyDataTrend[school.id][week].average_teacher_attendance">%</sup></a>
                                        </td>

                                        <td class="horizontal_vertical_center tableexport-ignore">
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-sm" data-ng-disabled="updatingTeacherTotals" ng-click="updateASchoolsTeacherAttendanceTotals(school.id)">
                                                    <span ng-hide="teacherSchoolBeingUpdated == school.id">Update</span>
                                                    <span ng-show="updatingTeacherTotals && (teacherSchoolBeingUpdated == school.id)"><i class="fa fa-spin fa-spinner"></i></span>
                                                </button>

                                                <button ng-show="currentUser.role === 'super' " class=" btn btn-danger btn-sm" delete-section-data="Teacher Attendance" function="fetchAggregatedData()" section-type="teacher_attendance"  term="{{showing_weekly_term}}" year="{{showing_weekly_year}}" school-id="{{school.id}}">Delete Data</button>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="availableWeeksInTerm.length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>



                <div class="overlay" ng-show="loadingSummary" ></div>
                <div class="loading-img"  style="padding: 50px; min-height: 100px" ng-show="loadingSummary"></div>
                <div class="box-footer">



                </div>
            </div>


        </div>
    </div>
</div>