<div class="box-no-shadow box-danger" ng-controller="scViewCircuitStatisticsController">
    <div class="box-header">
        <h3 class="box-title page-header">Statistics/Analytics
            <div class="box-tools pull-right" ng-show="isNotVirgin">
                <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-primary btn-sm" ng-click="downloadPDF()"><i class="fa fa-download"></i> &nbsp; Export PDF</button>
            </div>
        </h3>


    </div>
    <div class="box-body">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <!--<p class="col-sm-12">Select a period to see summary</p>-->
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="academic_year">Academic Year</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="academic_year" id="academic_year" class="form-control"
                                ng-model="summary_year" ng-options="year for year in circuitYears">
                            <option value="">Select year</option>

                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="term">Term</label>
                        <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                        <select name="term" id="term" class="form-control"
                                ng-model="summary_term"
                                ng-options="term.value as term.label for term in circuitTerms">
                            <option value="">Select term</option>

                        </select>
                    </div>
                    <!--<div class="form-group col-md-3 col-xs-6">-->
                        <!--<label for="week">Week</label>-->
                        <!--<select name="week" id="week" class="form-control"-->
                                <!--ng-model="$parent.summary_week" ng-options="week as week for week in circuitWeeks" >-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="actions">Actions</label><br>
                        <div class="row" style="padding-left: 0 !important;">
                            <div class="btn-group col-xs-12">

                                <button data-ng-disabled="loading" id="actions" data-ng-click="loadCircuitStats()" class="btn btn-info col-md-12 col-xs-12" style="padding-left: 0 !important;">
                                    Load<span ng-if="loading">ing</span> Data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Basic School Stats-->
            <h3 class="box-title page-header" ng-show="isNotVirgin">General Statistics</h3>
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-info ">
                        <h3>{{ selected_circuit.totalSchools || 0 }} schools</h3>
                        <p> Number of schools in circuit</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-warning">
                        <h3>{{ selected_circuit.head_teachers_holder.length || 0}}</h3>
                        <p>Number of Headteachers</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ teacherSummaryData.circuitInfo.trained || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>Trained Teachers</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ teacherSummaryData.circuitInfo.atpost || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>At Post</p>
                    </div>
                </div>
            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">Pupil Analytics</h3>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" >
                        <h3>{{ (circuitEnrollmentTotals.total_pupils || 0) | number : 0}} </h3>
                        <p>Total Enrollment<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-success">
                        <h3>{{ (circuitAttendanceTotals.attendance_ratio )|| 0 }}%</h3>
                        <p>Student Attendance Rate<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{  circuitEnrollmentTotals.total_male | number : 0}} <small class="smaller">BOYS</small> | {{ circuitEnrollmentTotals.total_female | number : 0}} <small class="smaller">GIRLS</small></h3>
                        <p>Boys | Girls Enrolled<br>&nbsp;</p>
                    </div>
                    <br>
                    <div class="callout callout-info">
                        <h3>{{  circuitSpecialEnrollmentTotals.total_male | number : 0 }} <small class="smaller">BOYS</small> | {{ circuitSpecialEnrollmentTotals.total_female | number : 0}} <small class="smaller">GIRLS</small></h3>
                        <p>Special Need Students Enrolled</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div ng-show="enrollmentBarChart.chartData.length" class="chart-container" style="position: relative; width:100%">
                        <canvas id="barChart" width="400" height="300" style="width: 100%; height: 300px"></canvas>
                    </div>
                </div>

            </div>


            <div class="row" ng-show="circuitPerformanceTotals.loaded && isNotVirgin" style="margin-top: 30px">
                <div class="col-xs-12 col-sm-6" style="margin-top: 20px">
                    <div class="chart-container" style="position: relative; width:100%">
                        <canvas id="horizontalBarChart" width="400" height="350" style="width: 100%; height: 350px"></canvas>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="alert alert-grey">
                        <h3>Average Performance of Pupils by Class</h3>
                        <div class="table-responsive">
                            <table class="margin-bottom-0 table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <td>Class</td>
                                    <td class="horizontal_vertical_center">GH. Lang</td>
                                    <td class="horizontal_vertical_center">English</td>
                                    <td class="horizontal_vertical_center">Math</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>KG1</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['KG1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['KG1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>KG2</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['KG2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['KG2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P1</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P2</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P3</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P3'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P4</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P4'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P4'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P5</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P5'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P5'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>P6</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['P6'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['P6'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS1</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['JHS1'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS2</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['JHS2'].average_score }} <sup>%</sup></td>
                                </tr>
                                <tr>
                                    <td>JHS3</td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.gh_lang.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.english.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                    <td class="horizontal_vertical_center">{{ circuitPerformanceTotals.math.class_score['JHS3'].average_score }} <sup>%</sup></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>


            <h3 class="box-title page-header" ng-show="isNotVirgin">Teacher Analytics</h3>
            <!--Teacher Attendance Ratio-->
            <!--Pupil Teacher Ratio-->
            <!--Percentage of Trained Teacher-->
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning" ng-show="teacherSummaryData.circuitInfo.trained">
                        <h3>{{  teacherSummaryData.circuitInfo.percentage_trained || 0}} <sup ng-if="teacherSummaryData.circuitInfo.trained">%</sup></h3>
                        <p>Percentage of Trained Teachers</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <!--<span ng-if="teacherAttendancePieChart.data.length" target="teacherAttendance"  chart-js-pie="" data="teacherAttendancePieChart.data" label="{{teacherAttendancePieChart.label}}" labels="teacherAttendancePieChart.labels"></span>-->
                    <div class="callout callout-info">
                        <h3>{{ (circuitTeacherAttendanceTotals.attendanceRatio | currency : '' : 0) || 0 }} <sup ng-show="circuitTeacherAttendanceTotals.attendanceRatio">%</sup></h3>
                        <p>Teacher Attendance Rate<br>&nbsp;</p>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3 ng-show="pupilTeacherRatio">{{ pupilTeacherRatio }} : 1</h3>
                        <h3 ng-hide="pupilTeacherRatio">-</h3>
                        <p>Pupil to Teacher Ratio<br>&nbsp;</p>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <!--<span ng-if="teacherAttendanceAboveFiftyPieChart.data.length"  target="AboveFiftyPieChart" chart-js-pie-second="" data="teacherAttendanceAboveFiftyPieChart.data" label="{{teacherAttendanceAboveFiftyPieChart.label}}" labels="teacherAttendanceAboveFiftyPieChart.labels"></span>-->
                    <div class="callout callout-success">
                        <h3>{{ circuitTeacherAttendanceTotals.total_above_50 || 0 }}</h3>
                        <p>Schools with Teacher Punctuality above 50%</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ teacherSummaryData.circuitInfo.studyleave || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>On Study Leave</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ teacherSummaryData.circuitInfo.otherleave || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>On Other Leave</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-warning">
                        <h3>{{ teacherSummaryData.circuitInfo.retired || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>on Retirement</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="callout callout-info">
                        <h3>{{ teacherSummaryData.circuitInfo.deceased || 0 }} <sup> / {{ teacherSummaryData.circuitInfo.teachers_total }}</sup></h3>
                        <p>Deceased</p>
                    </div>
                </div>

            </div>

            <h3 class="box-title page-header" ng-show="isNotVirgin">Circuit's Schools Analytics</h3>
            <!--

            Percentage of Schools with Adequately Marked exercises
            Percentage of Schools with Record Books
            Percentage of Schools that Received Grant
            Percentage of Schools that received support in kind, in cash, both or none
            Percentage of Schools with Adequate Furniture
            Percentage of Schools with a good school structure
            Percentage of Schools with Sanitation Facilities
            Percentage of Schools with Functional Sanitation Facilities
            Percentage of Schools with Recreational Facilities
            Percentage of Schools with Functional Recreational Facilities
            Percentage of Schools with Security Facilities
            Percentage of Schools that hold meetings
            Percentage of Schools with active community participation
            -->
            <div class="row" ng-show="isNotVirgin" >
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info" >
                        <h3>{{ circuitTeacherAttendanceTotals.adequately_marked_schools || 0 }} <sup ng-show="circuitTeacherAttendanceTotals.adequately_marked_schools">%</sup></h3>
                        <p>Percentage of Schools with Exercises Marked <br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success">
                        <h3>{{ circuitRecordBooks.percentage_of_schools_with_books || 0 }} <sup ng-show="circuitRecordBooks.percentage_of_schools_with_books">%</sup></h3>
                        <p>Percentage of Schools with Record Books<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger" >
                        <h3>{{ circuitGrantStuff.percentage_received || 0 }} <sup ng-show="circuitGrantStuff.percentage_received">%</sup></h3>
                        <p>Percentage of Schools that Received Grant<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning ">
                        <h3>{{ circuitSupportStuff.percentage_received_support || 0 }} <sup ng-show="circuitSupportStuff.percentage_received_support">%</sup></h3>
                        <p>Percentage of Schools that received support (kind, cash or both)</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-warning ">
                        <h3>{{ circuitFurniture.adequate_percentage || 0}}<sup ng-show="circuitFurniture.adequate_percentage">%</sup></h3>
                        <p>Percentage of Schools with Adequate Furniture</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-danger">
                        <h3>{{ circuitStructure.good_percentage || 0}}<sup ng-show="circuitStructure.good_percentage">%</sup></h3>
                        <p>Percentage of Schools with a Good School Structure</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-info">
                        <h3>{{ circuitSanitation.available_percentage || 0}} <sup ng-show="circuitSanitation.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Sanitation Facilities</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="callout callout-success ">
                        <h3>{{ circuitRecreation.available_percentage || 0}}<sup ng-show="circuitRecreation.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Recreational Facilities</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="isNotVirgin">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-success">
                        <h3>{{ circuitSecurity.available_percentage || 0}} <sup ng-show="circuitSecurity.available_percentage">%</sup></h3>
                        <p>Percentage of Schools with Security Facilities<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-warning ">
                        <h3>{{ circuitMeeting.frequency_percentage || 0}} <sup ng-show="circuitMeeting.frequency_percentage">%</sup></h3>
                        <p>Percentage of Schools that Hold Meetings<br>&nbsp;</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="callout callout-info ">
                        <h3>{{ circuitCommInvolvement.good_percentage || 0}} <sup ng-show="circuitCommInvolvement.good_percentage">%</sup></h3>
                        <p>Percentage of Schools with Active Community Participation</p>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!isNotVirgin" style="margin: 80px 0">
                <h3 class="horizontal_vertical_center text-muted">Tap to load statistics for {{ selected_circuit.name}} circuit</h3>
            </div>

            <!--<div style="width:75%;">-->
            <!--<canvas id="myChart" width="300" height="300"></canvas>-->
            <!--</div>-->

        </div>
    </div><!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-show="loading"></div>
    <div class="loading-img" ng-show="loading"  style="padding: 50px"></div>
    <!-- end loading -->
</div>

