<div class="row">
    <div class="col-sm-12" ng-show="circuitTerms && circuitWeeks && circuitYears">
        <div class="row ">
            <!--<p class="col-sm-12">Select a period to see summary</p>-->
            <div class="form-group col-md-3 col-sm-6">
                <label for="academic_year">Academic Year</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select name="academic_year" id="academic_year" class="form-control"
                        ng-model="$parent.summary_year" ng-options="year for year in circuitYears">
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="term">Term</label>
                <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
                <select name="term" id="term" class="form-control"
                        ng-model="$parent.summary_term"
                        ng-options="term.value as term.label for term in circuitTerms">
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="week">Week</label>
                <select name="week" id="week" class="form-control"
                        ng-model="$parent.summary_week" ng-options="week as week for week in circuitWeeks" >
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6 hidden">
                <label for="summary_data_collector_type">Data Collector</label>
                <select name="summary_data_collector_type" id="summary_data_collector_type" class="form-control"
                        ng-model="$parent.summary_data_collector_type" ng-options="collector.type as collector.label for collector in data_collector_types" >
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="actions">Actions</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button data-ng-disabled="loadingData" id="actions" data-ng-click="fetchSummaryData()" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Load<span ng-if="loadingData">ing</span> Data
                    </button>
                    <button class="btn btn-primary dropdown-toggle col-md-4 col-xs-4" data-ng-disabled="loadingData" data-toggle="dropdown">
                        <span class="caret"></span> <span class="sr-only">Other Load Options</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-ng-click="fetchSummaryData()"><a href="">Load Set Period</a></li>
                        <li class="divider"></li>
                        <li data-ng-click="fetchAggregatedData()"><a href="">Show Data Trend</a></li>
                        <!--<li class="divider" ng-show="showTrend"></li>-->
                        <!--<li data-ng-click="doMultipleEnrolmentUpdates()" ng-show="showTrend"><a href="">Update Enrollment Totals</a></li>-->
                        <li class="divider"></li>
                        <li data-ng-click="currentEnrollment = !currentEnrollment"><a href=""><span ng-hide="currentEnrollment">Show</span><span ng-show="currentEnrollment">Hide</span> Current Enrollment</a></li>

                    </ul>

                </div>
            </div>
        </div>



        <!--Summary Table-->

        <div class="col-sm-12" >
            <div class="box-no-shadow box-solid  ng-scope">
                <div class="box-header" ng-show="enrollmentSummaryData.schoolInfo" >
                    <h3 class="box-title">Enrollment Information
                        <div title=""  class="box-tools pull-right class hidden" >
                            <div data-toggle="btn-toggle" class="btn-group">
                                <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> School</button>
                                <button class=" btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Class</button>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="clearfix"></div>


                <!--The normal weekly breakdown-->
                <div class="box-body" ng-hide="showTrend" style="min-height: 200px;">
                    <div class="row">
                        <div class="col-sm-12" ng-show="enrollmentSummaryData.schoolInfo">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-4 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-4 text-center">Term : <b class="showing_weekly_term"></b></small>
                                <small class="col-sm-4 text-center">Week : <b class="showing_weekly_week"></b></small>
                            </p>

                            <p ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">Circuit Total</p>
                            <table class="table table-bordered table-responsive"  ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                                <tr class="bg-gray">
                                    <td class="horizontal_vertical_center">Total in Circuit</td>
                                    <td class="horizontal_vertical_center">Boys in Circuit</td>
                                    <td class="horizontal_vertical_center">Special Boys in Circuit</td>
                                    <td class="horizontal_vertical_center">Girls in Circuit</td>
                                    <td class="horizontal_vertical_center">Special Girls in Circuit</td>
                                    <!--<td class="horizontal_vertical_center">Total Teachers in Circuit</td>-->
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].all_total    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].boys    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].special_boys    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].girls    }}</td>
                                    <td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].special_girls    }}</td>
                                    <!--<td class="horizontal_vertical_center">{{ enrollmentSummaryData.circuitInfo[$parent.summary_data_collector_type].teachers_total    || 'Unavailable' }}</td>-->
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-12" ng-if="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <div class="btn-group pull-right">
                                <button  ng-hide="showTrend" class="btn btn-success btn-sm enrollmentSummaryData" export-table="enrollmentSummaryData" file-name="{{selected_circuit.name + ' Weekly Enrollment ' + $parent.summary_year + ' ' + $parent.summary_term + '_week_' + $parent.summary_week}}">Begin Weekly Enrollment Export</button>
                            </div>

                            <!--Displays schools with weekly submissions-->
                            <section>
                                <table class="table table-bordered table-striped table-responsive" id="enrollmentSummaryData" ng-show="enrollmentSummaryData.schoolInfo">
                                    <thead>
                                    <tr class="bg-green" ng-init="schoolSortOrder = 'name'">
                                        <td class="pointer" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</td>
                                        <td class="horizontal_vertical_center" >Boys</td>
                                        <td class="horizontal_vertical_center" >Girls</td>
                                        <td class="horizontal_vertical_center" >Total</td>
                                        <td class="horizontal_vertical_center">Special Boys</td>
                                        <td class="horizontal_vertical_center">Special Girls</td>
                                        <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="enrollment in enrollmentSummaryData.schoolInfo | orderBy : schoolSortOrder : reverse |filter: { data_collector_type : $parent.summary_data_collector_type}">
                                        <td ><a ui-sref="dashboard.school.view_selected_school.report_card.enrollment({id : enrollment.school_id, district_id : enrollment.district_id })">{{  schoolLookup[enrollment.school_id].name  || 'Unavailable' }}</a></td>
                                        <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_boys}}</td>
                                        <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_girls}}</td>
                                        <td class="horizontal_vertical_center">{{enrollment.normal_enrolment_total_students}}</td>
                                        <td class="horizontal_vertical_center">{{enrollment.special_enrolment_total_boys}}</td>
                                        <td class="horizontal_vertical_center">{{enrollment.special_enrolment_total_girls}}</td>
                                        <td align="center" class="text-danger text-center tableexport-ignore">
                                            <div class="btn-group">
                                                <button class=" btn btn-default btn-sm" enrolment-preview="enrollment">Preview Data</button>
                                                <button class=" btn btn-danger btn-sm" delete-section-data="Enrollment" section-type="normal_enrolment" function="fetchSummaryData()" week="{{enrollment.week_number}}" term="{{enrollment.term}}" year="{{enrollment.year}}" school-id="{{enrollment.school_id}}">Delete Data</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </section>

                        </div>


                        <div ng-if="enrollmentSummaryData.schoolInfo" ng-hide="(enrollmentSummaryData.schoolInfo | filter: { data_collector_type : $parent.summary_data_collector_type}).length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available by the selected data collector type.</p>
                        </div>

                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="enrollmentSummaryData.schoolInfo">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>

                <!--The termly trend-->
                <div class="box-body" ng-show="showTrend " style="min-height: 200px;">
                    <div class="row">
                        <div ng-show="availableWeeksInTerm.length" class="col-sm-12">
                            <p class="row page-header" style="font-size: 16px ">
                                <small class="col-sm-6 text-center">Year : <b class="showing_weekly_year"></b></small>
                                <small class="col-sm-6 text-center">Term : <b class="showing_weekly_term"></b></small>
                            </p>
                            <p>Circuit Totals</p>

                            <table class="table table-bordered">
                                <tr class="bg-success">
                                    <td class="horizontal_vertical_center" >Total Boys Enrolled</td>
                                    <td class="horizontal_vertical_center">Total Girls Enrolled</td>
                                    <td class="horizontal_vertical_center">Total Student Population</td>
                                </tr>
                                <tr class="">
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.boys_in_model }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.girls_in_model }}</span></td>
                                    <td class="horizontal_vertical_center"><span class="label label-success h2 pad-10"> {{ studAttendanceTotal.total_students }}</span></td>
                                </tr>
                            </table>

                            <p class="col-sm-6 pull-left">
                                <button class="btn btn-info" ng-hide="normal_enrolment_total_students_filterTrendViews" ng-click="filterTrendOnSubmission('normal_enrolment_total_students')">Show Schools With Data Gaps</button>
                                <button class="btn btn-danger" ng-show="normal_enrolment_total_students_filterTrendViews" ng-click="cancelFilterTrendOnSubmission('normal_enrolment_total_students')">Show All</button>
                            </p>
                            <div class="btn-group pull-right">
                                <button  ng-show="showTrend" class="btn btn-info btn-sm enrollmentSummaryDataTrend" export-table="enrollmentSummaryDataTrend" file-name="{{selected_circuit.name + ' Termly Enrollment ' + $parent.summary_year + ' ' + $parent.summary_term}}">Begin Termly Enrollment Export</button>
                            </div>

                            <div class="table-responsive">
                                <table  class="table table-bordered table-striped table-responsive" id="enrollmentSummaryDataTrend">
                                    <thead>
                                    <tr  class="bg-green" ng-init="schoolSortOrder = 'name'">
                                        <td class="pointer" data-ng-click="schoolSortOrder = 'name'; reverse=!reverse">School</td>
                                        <td class="horizontal_vertical_center" ng-repeat="week in availableWeeksInTerm">Week {{ week }}</td>
                                        <td class="horizontal_vertical_center tableexport-ignore">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-class="{'hidden' : school.normal_enrolment_total_students_hide == true}" ng-repeat="school in selected_circuit.allSchoolsHolder | orderBy : schoolSortOrder : reverse ">
                                        <!--<td>inCompleteSubmission[school.id] : {{inCompleteSubmission[school.id]}}<br>-->
                                        <!--filterTrendViews : {{ filterTrendViews}}-->
                                        <!--</td>-->
                                        <td ><a ui-sref="dashboard.school.view_selected_school.report_card.enrollment({id : school.id, district_id : school.district_id })">{{  schoolLookup[school.id].name  || 'Unavailable' }} <em ng-show="currentEnrollment">({{schoolLookup[school.id].testEnrollment}})</em></a></td>
                                        <td class="horizontal_vertical_center" ng-class="{'bg-red' : !school.normal_enrolment_total_students_hide && !circuitWeeklyDataTrend[school.id][week].normal_enrolment_total_students}" ng-repeat="week in availableWeeksInTerm">
                                            <span enrolment-preview="circuitWeeklyDataTrend[school.id][week]" class="pointer">{{ circuitWeeklyDataTrend[school.id][week].normal_enrolment_total_students | replaceWithDash }}</span>
                                        </td>
                                        <td class="horizontal_vertical_center tableexport-ignore">
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-sm" data-ng-disabled="loadingEnrollmentData" ng-click="updateASchoolsEnrollmentTotals(school.id)">
                                                    <span ng-hide="schoolBeingUpdated === school.id">Update</span>
                                                    <span class="fa fa-spin fa-spinner" ng-show="loadingEnrollmentData && schoolBeingUpdated === school.id"></span>
                                                </button>
                                                <button ng-show="currentUser.role === 'super'" class=" btn btn-danger btn-sm" delete-section-data="Enrollment" section-type="normal_enrolment" function="fetchAggregatedData()" term="{{showing_weekly_term}}" year="{{showing_weekly_year}}" school-id="{{school.id}}">Delete Data</button>
                                            </div>
                                        </td>
                                    </tr>





                                    </tbody>

                                </table>
                            </div>

                        </div>


                        <div ng-if="initialSummaryInfoCount && !loadingSummary" ng-hide="availableWeeksInTerm.length">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning">
                            </i>  No data available for the selected period</p>
                        </div>
                        <div ng-hide="initialSummaryInfoCount">
                            <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-info">
                            </i>  Select a period and click <b>FETCH</b> to display data </p>
                        </div>

                    </div>
                </div>


                <div class="overlay" ng-show="loadingSummary" ></div>
                <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>

                <div class="box-footer">

                    <!--<span cs-comment="" submission-id="" category="student_enrolment"></span>-->

                </div>
            </div>


        </div>
    </div>

    <div class="col-sm-12" ng-hide="circuitTerms && circuitWeeks && circuitYears">
        <p class="text-center" style="margin: 10% 0; font-size: 23px"><i class="fa fa-warning">
        </i>  No data submitted for this circuit.</p>
    </div>
</div>`