
<div class="col-sm-12" ng-controller="scViewSelectedCircuitTeacherAttendanceController">

    <div class="row" style="margin: 40px 0">
        <!--<p class="col-sm-12">Select a period to see summary</p>-->
        <div class="form-group col-sm-4">
            <label for="academic_year">Academic Year</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="academic_year" id="academic_year" class="form-control"
                    ng-model="attYear" ng-options="year for year in circuitYears">
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="term">Term</label>
            <!--ng-options="circuit.name for circuit in circuits track by circuit.id"-->
            <select name="term" id="term" class="form-control"
                    ng-model="attTerm"
                    ng-options="term.value as term.label for term in circuitTerms">
            </select>
        </div>
        <!--<div class="form-group col-sm-3">-->
        <!--<label for="week">Week</label>-->
        <!--<select name="week" id="week" class="form-control"-->
        <!--ng-model="$parent.summary_week" ng-options="week as week for week in circuitWeeks" >-->
        <!--</select>-->
        <!--</div>-->

        <div class="form-group col-sm-4">
            <label for="actions">Actions</label><br>
            <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                <button id="actions" data-ng-click="fetchAttendanceAverageSummaryData()" class="btn btn-primary form-control col-sm-12" style="padding-left: 0 !important;" >Load Data</button>
            </div>
        </div>
    </div>


    <div class="btn-group pull-right " ng-if="loadingData">
        <button  class="btn btn-info btn-sm teacherAttendanceTableFullList" export-table="teacherAttendanceTableFullList" file-name="{{selected_circuit.name + ' Teacher Attendance ' + $parent.summary_year + ' ' + $parent.summary_term}}">Begin Teacher Attendance Export</button>

    </div>


    <div class="table-responsive" style="margin-top: 40px"><!--scroll-infinitely=""-->
        <!--This is the trending part-->
        <div>
            <div class="" ng-if="loadingData">

                <div class="btn-group hidden pull-left">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                        Choose Trend Columns
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-middle noclose">
                        <li data-ng-click="changeTrendToShow('trend_days_punctual')"><input type="radio" name="trendRadio" value="trend_days_punctual" checked id="trend_days_punctual"   ><label for="trend_days_punctual">Present Days</label></li>
                        <li data-ng-click="changeTrendToShow('trend_lesson_plan_vetted')"><input type="radio" name="trendRadio" value="trend_lesson_plan_vetted" id="trend_lesson_plan_vetted"  ><label for="trend_lesson_plan_vetted">Lesson Plan</label></li>
                        <li data-ng-click="changeTrendToShow('trend_exercises')"><input type="radio" name="trendRadio" value="trend_exercises" id="trend_exercises"  ><label for="trend_exercises">Exercises Given/Marked</label></li>
                        <li data-ng-click="changeTrendToShow('trend_class_management')"><input type="radio" name="trendRadio" value="trend_class_management" id="trend_class_management"  ><label for="trend_class_management">Classroom Management</label></li>
                        <li data-ng-click="changeTrendToShow('trend_units_covered')"><input type="radio" name="trendRadio" value="trend_units_covered" id="trend_units_covered"  ><label for="trend_units_covered">Units Covered</label></li>
                    </ul>
                </div>


                <div class="btn-group pull-right"  >
                    &nbsp;
                    <button ng-show="loadingEverything" class="btn btn-warning teacherInfoTable" export-table="teacherAttendanceTrendTable" file-name="{{selected_school.name + ' School Teacher Attendance' +  ' ' + attTerm + ' ' + attYear}}">Begin Trend Export</button>
                </div>

                <div class="clearfix"></div>


            </div>
            <div class="box-body no-padding table table-responsive" ng-if="loadingData" ><!--ng-show="(schoolWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}).length"-->


                <table class="table table-bordered table-responsive" id="teacherAttendanceTableFullList" ng-if="loadingData"> <!--ng-show="( teacherInfoData | filter: {term : attTerm, year : attYear}  : true).length"-->

                    <thead style="display: none" class="hidden">
                    <tr class="horizontal_vertical_center hidden" style="display: none">
                        <th colspan="3" class="horizontal_vertical_center hidden" style="display: none">
                            {{ selected_circuit.name }} Teacher Attendance ({{one_school_terms[summary_term].label}}, {{summary_year}})
                        </th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="bg-primary">
                        <th class="horizontal_vertical_center" colspan="1">Staff ID</th>
                        <th class="horizontal_vertical_center" colspan="1">Name</th>
                        <th class="horizontal_vertical_center"  colspan="2" ng-repeat="item in circuitWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}">
                            {{ item.week + "/" + item.termObj.number + "-" + item.year }}<br>
                        </th>
                    </thead>

                    <!--Days in Session Row-->
                    <thead>
                    <tr class="bg-info" >
                        <th style="text-align: center"></th>
                        <th style="text-align: center">Days in Session</th>
                        <th  style="text-align: center" colspan="2" ng-repeat="item in circuitWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}">{{ schoolNumberOfDaysInSession[item.week + item.termValue + item.year] }}</th>
                    </tr>
                    </thead>

                    <!--Days Present and Absent-->
                    <thead>
                    <tr class="bg-gray" >
                        <th style="text-align: center"></th>
                        <th style="text-align: center">Present And Absent</th>
                        <th  style="text-align: center" ng-repeat-start="item in circuitWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}">P</th>
                        <th style="text-align: center" ng-repeat-end="">A</th>
                    </tr>
                    </thead>


                    <tbody ng-repeat="(schoolId, schoolObj) in schoolTeacherTotalTracker">
                        <tr style="cursor: pointer" class="bg-info">
                            <td colspan="2">{{ schoolObj.school_name}}</td>
                        </tr>
                        <tr ng-repeat="(teacherId, teacher) in schoolObj.teacherObjects">
                            <td  align="center" class="horizontal_vertical_center" >{{teacher.staff_number}} <br>
                                <span teacher-status-label-color="{{teacher.teacher_status}}"></span>
                            </td>
                            <td  align="center" class="horizontal_vertical_center">{{teacher.last_name + ' ' + teacher.first_name}}</td>

                            <td class="horizontal_vertical_center" ng-repeat-start="item in circuitWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}" ng-class="">
                                <div>{{ teacher.punctualityHolder[item.week + item.termValue + item.year].days_present | replaceWithDash }}</div><!--ng-repeat="punctuality in teacher.punctualityHolder | filter: {week_number : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true"-->
                            </td>

                            <td ng-repeat-end="" class="horizontal_vertical_center ">
                                <div>{{ (teacher.punctualityHolder[item.week + item.termValue + item.year].total_days_absent) | replaceWithDash }}</div><!--ng-repeat="punctuality in teacher.punctualityHolder | filter: {week_number : item.week, term : item.termValue, year : item.year, data_collector_type : 'head_teacher'} : true"-->
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <h2 class="text-center" ng-hide="(circuitWeeksTrendHolder | filter: {termValue : attTerm, year : attYear}).length" style="margin: 150px 0">
                <i class="fa fa-warning"></i> No trend data available for the set term</h2>

            <h2 class="text-center" ng-if="!loadingData" style="margin: 150px 0">
                <i class="fa fa-arrow-up"></i> Select period and load data to view teacher attendance</h2>
        </div>



    </div>
</div>


