<h3 class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <!--<small>{{selected_district.description}}</small>-->Circuit Rating
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right">
                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Options  <span class="caret"></span>
                    <span class="sr-only">Rating Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li ng-show="circuitRating"><a href="" class="pointer" data-ng-click="compareRatings()">Compare Circuit Ratings</a></li>
                    <li  ng-show="compareDistrictCircuitRating"><a href="" class="pointer" data-ng-click="singleRating()">Circuit Rating</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</h3>

<div class="row" ng-show="circuitRating">

    <div class="col-sm-12">

        <div id="circuitRatingBarChart" style="width: 100%; height: 500px;"></div>

    </div>

</div>

<div class="box-no-shadow box-solid " ng-show="compareDistrictCircuitRating">
    <div class="box-header">
        <h3 class="box-title">Districts' Circuits
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.chart}" data-ng-click="changeView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.table}" data-ng-click="changeView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="view_to_show.chart">

                <div id="districtsCircuitRatingBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="view_to_show.table">

                <table class="table table-striped" ng-init="circuitSortOrder = 'rating'; reverse=!reverse">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="circuit in circuitChartData | orderBy : circuitSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/circuit/{{circuit.id}}">{{ circuit.circuit }}</a></td>-->
                        <td style="text-align: left"><a href="">{{ circuit.name }}</a></td>
                        <td style="text-align: center" ng-show="circuit.rating">{{ circuit.rating }}%</td>
                        <td style="text-align: center" ng-hide="circuit.rating">NA</td>
                        <!--<td style="text-align: center">{{ circuit.position }}{{positionExtension(circuit.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(circuit.status)"> {{ circuit.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(circuit.rating)" style="font-size: 13px"> {{ labelStatusText(circuit.rating) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>