<div class="row">
    <div class="col-sm-12">
        <h3 class="page-header">
                <span class="row">
                    <span class="col-sm-10">
                        <!--<small>{{selected_district.description}}</small>-->Teacher Population
                    </span>
                    <span class="col-sm-2 hidden" ng-show="teacherSummaryData.teachersInfo">
                        <div class="btn-group pull-right" >
                            <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#districtSettingsModal">Settings</button>-->
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                Options  <span class="caret"></span>
                                <span class="sr-only">Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu ">
                                <li ng-show="circuitAverage" ><a href="" class="pointer" data-ng-click="compareAverages()">Compare District Averages</a></li>
                                <li ng-show="compareCircuitDistrictAverages"><a href="" class="pointer" data-ng-click="singleAverage()">Circuit Average</a></li>
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="#"></a></li>-->
                            </ul>
                        </div>
                    </span>
                </span>
        </h3>

    </div>

    <div class="col-sm-12" ng-show="teacherSummaryData.teachersInfo">
        <table  class="table table-bordered">
            <tr class="bg-gray">
                <td class="horizontal_vertical_center" colspan="2">Total in Circuit</td>
                <td class="horizontal_vertical_center">Males</td>
                <td class="horizontal_vertical_center">Females</td>
                <td class="horizontal_vertical_center">Trained</td>
            </tr>
            <tr class="" >
                <td class="horizontal_vertical_center" colspan="2">{{ teacherSummaryData.circuitInfo.teachers_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.male_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.female_total    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.trained }}</td>
            </tr>
            <tr class="bg-primary">
                <td class="horizontal_vertical_center">At Post</td>
                <td class="horizontal_vertical_center">Study Leave</td>
                <td class="horizontal_vertical_center">Other Leave</td>
                <td class="horizontal_vertical_center">Retired</td>
                <td class="horizontal_vertical_center">Deceased</td>
            </tr>
            <tr class="" >
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.atpost  }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.studyleave    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.otherleave    }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.retired }}</td>
                <td class="horizontal_vertical_center">{{ teacherSummaryData.circuitInfo.deceased }}</td>
            </tr>
        </table>
    </div>
</div>

<div ng-show="circuitAverage" class="box-no-shadow box-solid " >
    <div class="box-header" >
        <h3 class="box-title">Circuit's Teachers' Information
            <div title=""  class="box-tools pull-right" ng-show="teacherSummaryData.teachersInfo" >
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm active" ng-class="{'active' : view_to_show.list}" data-ng-click="changeView('list')" type="button"><i class="fa fa-square text-green"></i> All Teachers List</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.summary}" data-ng-click="changeView('summary')" type="button"><i class="fa fa-square text-blue"></i> Group by School</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : view_to_show.attendance}" data-ng-click="changeView('attendance')" type="button"><i class="fa fa-square text-purple"></i> Teacher Attendance</button>
                </div>
            </div>
        </h3>
    </div>

    <div ng-show="teacherSummaryData.teachersInfo" class="box-body">
        <div class="row">
            <div ng-if="view_to_show.list" ng-include=" 'partials/templates_View/circuit/circuit_teacher_full_list.html' "></div>

            <div ng-if ="view_to_show.summary" ng-include=" 'partials/templates_View/circuit/circuit_teacher_summary.html' "></div>

            <div ng-if ="view_to_show.attendance" ng-include=" 'partials/templates_View/circuit/circuit_teacher_attendance_full_list.html' "></div>
        </div>

    </div>
    <div class="overlay" ng-show="loadingSummary" ></div>
    <div class="loading-img"  style="padding: 50px" ng-show="loadingSummary"></div>
    <div ng-hide="teacherSummaryData.teachersInfo">
        <p class="text-center" style="margin: 7% 0; font-size: 23px"><i class="fa fa-warning"> </i>  No teachers registered under this circuit</p>
    </div>
</div>


<div class="box-no-shadow box-solid " ng-show="compareCircuitDistrictAverages">
    <div class="box-header">
        <h3 class="box-title">Districts' Circuits
            <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                <div data-toggle="btn-toggle" class="btn-group">
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.chart}" data-ng-click="changeCompareView('chart')" type="button"><i class="fa fa-square text-green"></i> Chart</button>
                    <button class="btn btn-default btn-sm" ng-class="{'active' : compare_view_to_show.table}" data-ng-click="changeCompareView('table')" type="button"><i class="fa fa-square text-blue"></i> Table</button>
                </div>
            </div>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="row" >

            <div class="col-sm-12" ng-show="compare_view_to_show.chart">

                <div id="circuitDistrictAverageBarChart" style="width: 100%; height: 400px;"></div>

            </div>

            <div class="col-sm-12" ng-show="compare_view_to_show.table">

                <table class="table table-striped" >
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'headteacherAttendanceAverage'; reverse=!reverse"> Average Teacher Attendance </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'status'; reverse=!reverse"> Status </a></th>
                    </tr>
                    <tr ng-repeat="circuit in circuitChartData | orderBy : circuitSortOrder : reverse">
                        <!--<td style="text-align: left"><a href="#/view/circuit/{{circuit.id}}">{{ circuit.circuit }}</a></td>-->
                        <td style="text-align: left"><a href="">{{ circuit.name }}</a></td>
                        <td style="text-align: center" ng-show="circuit.headteacherAttendanceAverage">{{ circuit.headteacherAttendanceAverage }}%</td>
                        <td style="text-align: center" ng-hide="circuit.headteacherAttendanceAverage">NA</td>
                        <!--<td style="text-align: center">{{ circuit.position }}{{positionExtension(circuit.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(circuit.status)"> {{ circuit.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(circuit.headteacherAttendanceAverage)" style="font-size: 13px"> {{ labelStatusText(circuit.headteacherAttendanceAverage) }} </span></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>