<h4 class="page-header">
    <span ng-show="circuits.length">Select a circuit below</span>
    <!--<small>This is a description of the current region.</small>-->
    <!--<a ui-sref="dashboard.add_circuit({action : 'add', id : 0})"  ng-show="adminRight > 2 && currentUser.role == 'super' "><span class="pull-right btn btn-primary"><i class="fa fa-plus"> </i>&nbsp; Add Circuit</span></a>-->
</h4>
<div class="row ng-scope">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3 class="ng-binding">
                    {{lessons_count}}
                </h3>
                <p>
                    Total Class Observation<span ng-show="selected_region.allDistrictsHolder.length != 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-earth"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3 class="ng-binding">
                    {{attendance_count}}
                </h3>
                <p>Total Attendance</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-locate"></i>
            </div>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3 class="ng-binding">
                    {{pupil_aggregated_count}}
                </h3>
                <p>
                    Total Pupil Aggregated Data
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
        </div>
    </div>
</div>

<br>
<div class="alert alert-danger" ng-hide="circuits.length">There are no circuits in the database.</div>

<div class="box box-primary" ui-view="" ng-show="circuits.length">

    <div class="box-header">
        <pagination class="inline pagination"
                    total-items="totalItems"
                    items-per-page="15" ng-model="currentPage" ng-change="pageChanged(currentPage)"
                    ng-show="totalItems > 15">
        </pagination>
        <div class="box-tools pull-right ">
            <div class="input-group-btn">
            </div>
            <div class="input-group">
                <button class="btn btn-default" data-ng-click="searchModal()">Click to search circuit</button>
                <button style="margin: auto 10px" class="btn btn-success pull-right" data-ng-click="reloadCircuits()"><i class="fa fa-refresh"></i> Reload Circuits</button>

                <input ng-model="searchCircuit"   ng-show="adminRight > 2"  type="text" placeholder="Search circuit" style="width: 200px;"
                       class="form-control input-st hidden" data-ng-focus="inSearchBox = true" data-ng-blur="inSearchBox = false">
            </div>
        </div>
        <!--<pre>{{districts | json}}</pre>-->

    </div>
    <div class="box-body no-padding">
        <div class="">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>
                    <th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'position'; reverse=!reverse">District</a></th>
                    <!--<th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'rating'; reverse=!reverse">Rating </a></th>-->
                    <th title="Click to Sort"><a href="" > Action </a></th>
                </tr>
                <tr ng-repeat="circuit in circuits  | orderBy : circuitSortOrder : reverse">
                    <td><a  ui-sref="">{{ circuit.name }}</a></td>
                    <td>{{ districtLookup[circuit.district_id].name }}</td>
                    <!--<td ng-show="circuit.rating">{{ circuit.rating }} %</td>-->
                    <!--<td ng-hide="circuit.rating">Incomplete data</td>-->
                    <!--<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>-->
                    <td>
                        <div class="btn-group">
                            <div class="btn-group dropdown" >
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <!--<li  ng-show="adminRight > 1"><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">View Details</a></li>-->
                                    <li  ng-show="adminRight > 3"> <a ui-sref="dashboard.t1viewcircuitone({id : circuit.id})">View Attendance</a></li>
                                    <li  ng-show="adminRight > 3"> <a ui-sref="dashboard.t1viewcircuittwo({id : circuit.id})">View Pupil Aggregated Data </a></li>
                                    <!--<li  ng-show="adminRight > 2 && currentUser.role === 'super' "><a ui-sref="dashboard.add_circuit({action : 'edit', id : circuit.id})">Edit Circuit</a></li>-->
                                    <!--<li  ng-show="adminRight > 2 && currentUser.role === 'super' "><a href=""  delete-circuit="{{circuit.id}}">Delete Circuit</a></li>-->

                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><!-- /.table -->
        </div>
        <div class="alert alert-info hidden" ng-hide="(circuits  | filter: searchCircuit ).length">
            There are no more results to show.
        </div>
    </div><!-- /.box-body-->

    <!--<div class="box-body no-padding" ng-show="inSearchBox">-->
    <!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
    <!--<tr>-->
    <!--<th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>-->
    <!--<th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'position'; reverse=!reverse">District</a></th>-->
    <!--<th title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'rating'; reverse=!reverse">Rating </a></th>-->
    <!--<th title="Click to Sort"><a href="" > Action </a></th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="circuit in circuitsSearch | filter: searchCircuit | orderBy : circuitSortOrder : reverse">-->
    <!--<td><a  ui-sref="dashboard.view_selected_circuit({id : circuit.id})">{{ circuit.name }}</a></td>-->
    <!--<td>{{ districtLookup[circuit.district_id].name }}</td>-->
    <!--<td>{{ circuit.rating }}</td>-->
    <!--&lt;!&ndash;<td><span class="label" ng-class="regionStatusColor(region.status)"> {{ region.status }} </span></td>&ndash;&gt;-->
    <!--<td>-->
    <!--<div class="btn-group">-->
    <!--<div class="btn-group" dropdown>-->
    <!--<button type="button" class="btn btn-default btn-sm dropdown-toggle" >-->
    <!--Action <span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li  ng-show="adminRight > 1"><a ui-sref="dashboard.view_selected_circuit({id : circuit.id})">View Details</a></li>-->
    <!--<li  ng-show="adminRight > 4"><a ui-sref="dashboard.add_circuit({action : 'edit', id : circuit.id})">Edit Circuit</a></li>-->
    <!--<li  ng-show="adminRight > 4"><a href="" onclick="return false" data-ng-click="deleteModal('sm', circuit.id, $event )">Delete Circuit</a></li>-->
    <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>&lt;!&ndash; /.table &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="alert alert-info" ng-hide="(circuitsSearch  | filter: searchCircuit ).length">-->
    <!--There are no more results to show.-->
    <!--</div>-->
    <!--</div>-->
</div>
