<h4 class="page-header">
    {{selected_circuit.name}}
    <div class="row">
        <div class="col-sm-10">
            <small> {{selected_circuit.description}}</small>
        </div>
        <div class="col-sm-2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Actions <span class="caret"></span>
                    <span class="sr-only">Circuit Settings Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li class="hidden"><a class="pointer">Generate Report</a></li>
                    <li ng-show="adminRight > 2 && currentUser.role === 'super' "><a ui-sref="dashboard.add_circuit({action : 'edit', id : selected_circuit.id})">Edit Circuit Details</a></li>
                    <li> <a ui-sref="dashboard.view_data_collector({id : selected_circuit.circuitSupervisor.id })">Circuit Supervisor Profile</a></li>
                    <li class="divider"></li>
                    <li  ng-show="adminRight > 2 && currentUser.role === 'super' "><a href=""  delete-circuit="{{selected_circuit.id}}">Delete Circuit</a></li>
                    <li class="divider"></li>
                    <li><a href="" years="circuitYears" update-circuit="selected_circuit">Update All Circuit Data</a></li>

                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</h4>

<div class="row">
    <div class="col-md-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    {{selected_circuit.totalSchools}}
                </h3>
                <p>
                    School<span ng-hide="selected_circuit.totalSchools == 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#schools" anchor-scroll="schools" ><!--ui-sref="dashboard.school.view_school"-->
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-md-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>
                    {{circuitLookup[selected_circuit.id].head_teachers}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <p>
                    Head Teacher<span ng-hide="circuitLookup[selected_circuit.id].head_teachers == 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-social-user"></i>
            </div>
            <a class="small-box-footer" href="" data-toggle="tab" data-target="#headteachers" anchor-scroll="headteachers">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <!--<div class="col-md-4 col-xs-6">-->
    <!--&lt;!&ndash; small box &ndash;&gt;-->
    <!--<div class="small-box bg-teal">-->
    <!--<div class="inner">-->
    <!--<h3 ng-show="selected_circuit.rating > 0">-->
    <!--{{selected_circuit.rating}}-->
    <!--<sup style="font-size: 20px">%</sup>-->
    <!--</h3>-->
    <!--<h4 ng-hide="selected_circuit.rating > 0">-->
    <!--Incomplete data for-->
    <!--</h4>-->
    <!--<p>-->
    <!--Rating-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="icon">-->
    <!--<i class="ion ion-star"></i>-->
    <!--</div>-->
    <!--<a class="small-box-footer" href="#">-->
    <!--More info <i class="fa fa-arrow-circle-right"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
    <div class="col-lg-3 col-xs-6 hidden">
        <!-- small box -->
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>
                    {{selected_circuit.position}} &nbsp;
                    <!--<sup style="font-size: 20px">{{ positionExtension( selected_circuit.position ) }}</sup>-->
                </h3>
                <p>
                    &nbsp;
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-checkmark"></i>
            </div>
            <a class="small-box-footer" href="#">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div>

<h5 class="page-header">Circuit's Overview </h5>
<div  class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Region</td>
                                    <td><a   ng-show="adminRight > 3" ui-sref="dashboard.view_selected_region({id : selected_circuit.region_id})">{{selected_circuit.regionName}} </a>
                                        <span ng-show="adminRight < 4" >{{  selected_circuit.regionName  }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>District</td>
                                    <td><a ng-show="adminRight > 2" ui-sref="dashboard.view_selected_district({id : selected_circuit.district_id})"> {{selected_circuit.districtName}}</a>
                                        <span ng-show="adminRight < 3" >{{  selected_circuit.districtName  }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{selected_circuit.email}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Circuit Supervisor</td>
                                    <td ng-if="adminRight > 1">
                                        <a ui-sref="dashboard.view_data_collector({id : selected_circuit.circuitSupervisor.id })">{{selected_circuit.circuitSupervisor.name }}</a>
                                    </td>
                                    <td ng-if="adminRight < 2">
                                        <a>{{selected_circuit.circuitSupervisor.name }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Headteachers</td>
                                    <td>{{ selected_circuit.head_teachers }}</td>
                                </tr>
                                <tr>
                                    <td>Schools</td>
                                    <td>{{ selected_circuit.totalSchools }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h5 class="page-header">Circuit Stats </h5>

<div class="row">

    <!--<div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Circuit Ratings</h3>
            </div>&lt;!&ndash; /.box-header &ndash;&gt;

            <div class="box-body">
                Inclusive School Rating: <span class="pull-right"> {{ selected_circuit.inclusiveness  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.inclusiveness"
                                 type="{{ colourProgressBar(selected_circuit.inclusiveness) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Healthy School Rating<span class="pull-right">{{ selected_circuit.healthy  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.healthy"
                                 type="{{ colourProgressBar(selected_circuit.healthy) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Effective Teaching and Learning School Rating<span class="pull-right">{{ selected_circuit.effective_teaching_learning  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.effective_teaching_learning"
                                 type="{{ colourProgressBar(selected_circuit.effective_teaching_learning) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Safe and Protective Rating<span class="pull-right">{{ selected_circuit.safe_protective  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.safe_protective"
                                 type="{{ colourProgressBar(selected_circuit.safe_protective) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Gender Friendly Rating<span class="pull-right">{{ selected_circuit.gender_friendly  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.gender_friendly"
                                 type="{{ colourProgressBar(selected_circuit.gender_friendly) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
                Community Involvement Rating<span class="pull-right">{{ selected_circuit.community_involvement  }} / 10 </span>
                <div class="progress xs">
                    <progressbar value="selected_circuit.community_involvement"
                                 type="{{ colourProgressBar(selected_circuit.community_involvement) }}"
                                 max="10" class="progress-striped active">
                    </progressbar>
                </div>
            </div>&lt;!&ndash; /.box-body &ndash;&gt;
        </div>&lt;!&ndash; /.box &ndash;&gt;
    </div>--><!-- /.col -->

    <div class="col-xs-12">
        <!-- recent activities box -->
        <div class="box box-warning ">
            <div class="box-header">
                <h3  class="box-title"><i class="fa fa-tasks"></i> Recent Activities</h3>
                <div class="box-tools pull-right">
                    <pagination class="sm inline pagination-sm" total-items="totalItems"
                                items-per-page="6" ng-model="currentPage" ng-change="pageChanged()"
                                boundary-links="true"
                                ng-show="circuit_recent_submissions.length"></pagination>

                </div>
            </div>
            <div class="box-body chat">
                <table class="table table-striped">
                    <tbody>
                    <!-- ngRepeat: teacherAttendance in teacherAttendanceData -->
                    <tr  ng-repeat="submission in circuit_recent_submissions | limitTo : 3">
                        <td style="width: 100px;" >
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>  {{submission.updated_at | date}}  </small></td>
                        <td>
                            <p><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id})">{{schoolLookup[submission.school_id].name}} </a></p>
                            <p>
                                <strong><a ui-sref="dashboard.view_data_collector({id : submission.data_collector_id})" class="name">
                                    <!--<span ng-hide=" lookupDataCollector[submission.data_collector_id]"> Aliu Gbeila Wahab  <small class="text-muted"> (Circuit Supervisor)</small></span>-->
                                    {{lookupDataCollector[submission.data_collector_id].name }}  <small> ( {{formatDataCollectorType[ lookupDataCollector[submission.data_collector_id].type ]  }} )</small>
                                </a></strong>
                            </p>
                            <p>
                                <a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id}}/{{submission.data_type_submitted}}">
                                    <span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span>
                                </a>
                            </p>
                        </td>
                        <td  class="">
                            <p class="">
                                <a title="District Name" ng-if="adminRight > 2" ui-sref="dashboard.view_selected_district({id : submission.district_id})" class="text-green">{{districtLookup[submission.district_id].name}}</a>
                                <span title="District Name" ng-if="adminRight < 3" class="text-green">{{districtLookup[submission.district_id].name}}</span>
                            </p>
                            <p class=""  ng-show="adminRight > 3">
                                <a title="Region Name" ng-if="adminRight > 3" ui-sref="dashboard.view_selected_region({id : submission.region_id})" class="text-blue">{{regionLookup[submission.region_id].name}}</a>
                                <span title="Region Name" ng-if="adminRight < 4" class="text-green">{{regionLookup[submission.region_id].name}}</span>
                            </p>
                        </td>
                    </tr><!-- end ngRepeat: teacherAttendance in teacherAttendanceData -->
                    </tbody>
                </table>

            </div><!-- /.chat -->

            <div class="box-body" ng-hide="circuit_recent_submissions.length">
                <p style="margin: 3% 0 3% 15%; font-size: 21px" class="greyColor">
                    <i class="fa fa-warning"></i> No activity under this circuit
                </p>
            </div>

        </div><!-- /.box (recent activities box) -->

    </div>

</div>

<h4 class="page-header">Circuit Data</h4>

<div class="row">
    <div class="col-xs-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified">
                <li class="">
                    <a data-toggle="tab" data-target="#stats"><h3>Statistics</h3></a>
                </li>
                <li><a data-toggle="tab" data-target="#src" href=""><h3>School Report Card</h3></a></li>
                <li><a data-toggle="tab" data-target="#schools" href=""><h3>Schools</h3></a></li>
                <li class=""><a data-toggle="tab" data-target="#headteachers" href=""><h3>Head Teachers</h3></a></li>

            </ul>
            <div class="tab-content">
                <div id="stats" class="tab-pane">
                    <div ng-include="'partials/templates_View/circuit/circuit_statistics_analytics.html'"></div>
                </div><!-- /.tab-pane -->
                <div id="src" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title page-header">Circuit SRC</h3>
                            <div class="box-tools pull-right">

                                <button class="btn btn-default btn-sm hidden"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row" >
                                <!--Circuit rating -->
                                <!--<div class="col-lg-2 col-xs-4"> <div class="small-box bg-yellow pointer" data-ng-click="$state.go('dashboard.view_selected_circuit.rating_view')" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.rating_view') }"> <div class="inner"> <h3 ng-show="selected_circuit.rating > 0"> {{selected_circuit.rating}} <sup style="font-size: 20px">%</sup> </h3> <h4 ng-hide="selected_circuit.rating > 0"> Incomplete<br>data for </h4> <p> Circuit<br>Rating </p> </div> <div class="icon hidden-lg"> <i class="ion ion-android-star"></i> </div> <a class="small-box-footer" ui-sref="dashboard.view_selected_circuit.rating_view"> Click to View <i class="fa fa-arrow-circle-right"></i> </a> </div> </div>--><!-- ./col -->

                                <!-- Total Number of Teachers in District-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_circuit.teachers">
                                    <!-- small box -->
                                    <div class="small-box bg-maroon no-active" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.teachers') }">
                                        <div class="inner pointer">
                                            <h3>
                                                {{ teacherSummaryData.teachersInfo.length || '0' }}
                                                <sup style="font-size: 20px; margin-left: 20px" ng-if="loadingTeachers"><i class="fa fa-spinner fa-spin"></i></sup>
                                            </h3>
                                            <p>
                                                Teacher<br>Population
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-social-user"></i>
                                        </div>
                                        <a class="small-box-footer" href="" ng-if="!(loadingTeachers)" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!--HT Teacher Attendance Average -->
                                <div class="col-md-3 col-xs-6 hidden pointer" ui-sref="dashboard.view_selected_circuit.ht_attendance_average">
                                    <!-- small box -->
                                    <div class="small-box bg-light-blue pointer" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.ht_attendance_average') }">
                                        <div class="inner">
                                            <h3 ng-show="selected_circuit.headteacherAttendanceAverage > 0">
                                                {{ selected_circuit.headteacherAttendanceAverage }}
                                                <sup style="font-size: 20px">%</sup>
                                            </h3>
                                            <h4 ng-hide="selected_circuit.headteacherAttendanceAverage > 0">
                                                No data <br> submitted for
                                            </h4>
                                            <p>
                                                Average Teacher <br>Attendance (HT)
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!-- Weekly Stats - Enrolment and Attendance-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_circuit.schools_stats_weekly">
                                    <!-- small box -->
                                    <div class="small-box bg-green pointer" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.schools_stats_weekly') }">
                                        <div class="inner pointer">
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_cs }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Student <br>
                                                Enrollment & Attendance /<br>
                                                Teacher Attendance  /<br>
                                                Statistics <b>(Weekly)</b>
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-social-user"></i>
                                        </div>
                                        <a class="small-box-footer" href="">
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!--Termly stats : Calculable-->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_circuit.schools_stats_termly">
                                    <!-- small box -->
                                    <div class="small-box bg-olive pointer" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.schools_stats_termly')} ">
                                        <div class="inner">
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_ht }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Student <br>
                                                Exam Score  /<br>
                                                Textbooks  /<br>
                                                Statistics <b>(Termly)</b>
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-android-social-user"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div><!-- ./col -->
                                <!--Supervisor Attendance Average -->
                                <div class="col-md-3 col-xs-6 hidden pointer" ui-sref="dashboard.view_selected_circuit.cs_attendance_average">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.cs_attendance_average') }">
                                        <div class="inner">
                                            <h3 ng-show="selected_circuit.supervisorAttendanceAverage > 0">
                                                {{selected_circuit.supervisorAttendanceAverage}}
                                                <sup style="font-size: 20px">%</sup>
                                            </h3>
                                            <h4 ng-hide="selected_circuit.supervisorAttendanceAverage > 0">
                                                No data <br> submitted for
                                            </h4>
                                            <p>
                                                Average Teacher <br>Attendance (CS)
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer" >
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <!--Other Termly Sections -->
                                <div class="col-md-3 col-xs-6 pointer" ui-sref="dashboard.view_selected_circuit.other_termly">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua pointer" ng-class="{'active' : $state.is('dashboard.view_selected_circuit.other_termly') }">
                                        <div class="inner" >
                                            <h3 class="no-min-height">
                                                <!--{{ totalStudentsInDistrict_cs }}-->
                                                <!--<sup style="font-size: 20px">{{ regionPositionExtension }}</sup>-->
                                            </h3>
                                            <p>
                                                Other <br>
                                                School <br>
                                                Termly <br>
                                                Sections
                                            </p>
                                        </div>
                                        <div class="icon hidden-lg">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a class="small-box-footer">
                                            More info <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->

                                <!--//Ui view when the box is clicked-->
                                <div class="col-sm-12"  ui-view=""></div>
                            </div>
                        </div><!-- /.box-body -->
                        <!-- Loading (remove the following to stop the loading)-->
                        <!--<div class="overlay" ></div>-->
                        <!--<div class="loading-img"  style="padding: 50px"></div>-->
                        <!-- end loading -->
                    </div>
                </div>


                <div id="schools" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header">
                            <h3 class="box-title page-header">Circuit's Schools</h3>
                            <div class="box-tools pull-right">

                                <button class="btn btn-success btn-sm " ng-click="reloadSchools()"><i class="fa fa-refresh"></i> Reload Schools</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <span ng-show="selected_circuit.allSchoolsHolder">Total in Circuit : <b>{{selected_circuit.totalSchools}}</b></span>
                            <table class="table table-bordered table-striped" ng-show="selected_circuit.allSchoolsHolder.length">
                                <thead>
                                <tr class="bg-light-blue">
                                    <td  title="Click to sort by Name of School" class="pointer" ng-click="schoolSortOrder = 'name'; reverse=!reverse">Name of School</td>
                                    <th  class="horizontal_vertical_center">Head Teacher</th>
                                    <!--<th  class="horizontal_vertical_center pointer" title="Click to sort by Rating"  ng-click="schoolSortOrder = 'rating'; reverse=!reverse">Rating </th>-->
                                    <th  class="horizontal_vertical_center pointer " title="Click to sort by Updated by" ng-click="schoolSortOrder = 'updated_at'; reverse=!reverse"> Updated</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="school in selected_circuit.allSchoolsHolder | orderBy : schoolSortOrder : reverse">
                                    <td class="text-left"><a ui-sref="dashboard.school.view_selected_school({id : school.id, district_id : school.district_id})">{{school.name}} </a></td>
                                    <td class="horizontal_vertical_center"><a ui-sref="dashboard.view_data_collector({id : school.headteacher_id})">{{ lookupDataCollector[school.headteacher_id].name }}</a></td>
                                    <!--<td class="horizontal_vertical_center">{{school.rating}} %</td>-->
                                    <td class="horizontal_vertical_center">{{momentFormatDate(school.updated_at, 'llll')}}</td>
                                </tr>
                                </tbody>

                            </table>
                            <div ng-hide="selected_circuit.allSchoolsHolder">
                                <p class="text-center" style="margin: 5% 0; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No schools under this circuit</p>
                            </div>
                        </div>
                    </div>

                </div><!-- /.tab-pane -->

                <div id="headteachers" class="tab-pane">
                    <div class="box-no-shadow box-danger">
                        <div class="box-header" ng-show="selected_circuit.head_teachers_holder.length">
                            <h4 class="box-title page-header">Circuit's Head Teachers
                                <span class="pull-right dropdown">
                                  <a class="text-muted btn-sm dropdown-toggle" href="" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>
                                      <span class="caret"></span>
                                  </a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a href="" send-message="" size="sm" model="circuit" quantity="all" selected-model="selected_circuit"
                                       multiple-data-collectors="dataCollectors_to_send_messages_to"
                                       tabindex="-1" role="menuitem">Message All Head Teachers</a></li>
                                                        <li class="divider" role="presentation"></li>

                                <li role="presentation">
                                    <a href="" tabindex="-1" role="menuitem" data-ng-click="selectMultiple = !selectMultiple">Message Multiple</a></li>
                                <!--<li class="divider" role="presentation"></li>-->
                                <!--<li role="presentation"><a href="" tabindex="-1" role="menuitem">Settings</a></li>-->
                            </ul>
                            </span>
                            </h4>
                            <!--<div class="box-tools pull-right" style="margin-bottom: 10px">-->
                            <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
                            <!--</div>-->
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12"  ng-show="selected_circuit.head_teachers_holder.length">
                                    <div ng-show="selectMultiple" style="margin-bottom: 5px">
                                        <button ng-show="dataCollectors_to_send_messages_to.length > 1"
                                                class="btn btn-warning" send-message=""
                                                size="lg" model="circuit"
                                                quantity="multiple"
                                                selected-model="selected_circuit"
                                                multiple-data-collectors="dataCollectors_to_send_messages_to">
                                            Send message to multiple</button>
                                    </div>
                                    <span ng-show="selected_circuit.allSchoolsHolder">Total in Circuit : <b>{{selected_circuit.head_teachers}}</b></span>

                                    <table class="table table-bordered table-striped" ng-show="selected_circuit.head_teachers_holder.length">
                                        <thead>
                                        <tr class="bg-light-blue">
                                            <td ng-show="selectMultiple">Select</td>
                                            <td class="horizontal_vertical_center">Head Teacher</td>
                                            <td class="horizontal_vertical_center">School</td>
                                            <td class="horizontal_vertical_center">Actions</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="collector in selected_circuit.head_teachers_holder">
                                            <!--<td><a ui-sref="dashboard.school.view_selected_school({id : school.id})">{{school.name}}</a></td>-->
                                            <td ng-show="selectMultiple"><input type="checkbox" data-ng-click="addRemoveCollector(collector.id)"></td>
                                            <td>{{collector.name }}</td>
                                            <td class="horizontal_vertical_center"><a ui-sref="dashboard.school.view_selected_school({id : collector.school_id, district_id : collector.district_id})">{{collector.school_name}} </a></td>

                                            <td class="horizontal_vertical_center">
                                        <span class="btn btn-sm btn-primary " send-sms-modal="" size="md"
                                              selected-model="lookupDataCollector[collector.id]" multiple-data-collectors=""><i class="fa fa-envelope"></i>  Send Message</span></td>
                                        </tr>

                                        </tbody>

                                    </table>
                                </div>
                                <div ng-hide="selected_circuit.head_teachers_holder.length">
                                    <p style="margin: 5% 0 5% 50%; color: darkgrey; font-size: 19px"><i class="fa fa-warning"></i>  No headteachers under this circuit</p>
                                </div>
                            </div>


                        </div><!-- /.box-body -->
                    </div>
                </div>

                <div id="blank_tab" class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="font-size: 24px;line-height: 150px ;" class="greyColor"><i class="col-sm-offset-4 glyphicon glyphicon-arrow-up"></i>  Please select a tab to show</p>
                        </div>
                    </div>
                </div><!-- /.tab-pane -->

            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div><!--col-sm-12-->
</div><!--rov-->


