<section class="row">

    <div class="col-sm-12">

        <div class="box box-solid box-success">

            <div class="box-header">
                <h4 class="box-title">
                    District
                </h4>
            </div>

            <div class="box-body">


                <div class="row">

                    <!--District Rating Progress bar-->
                    <div class="col-md-6">

                        <div class="box-no-shadow box-primary">
                            <div class="box-header">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <!--<button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>-->
                                    <!--<button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>-->
                                    <!--<button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
                                </div><!-- /. tools -->
                                <!--<i class="fa fa-cloud"></i>-->

                                <h3 class="box-title">Overview</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="page-header"><i class="ion ion-android-locate"></i>  {{selected_district.name}}</h3>
                                        <div class="pad">

                                            <!--Key for Coloring
                                            0 - 2 = red
                                            3 - 4 = warning
                                            5 - 6 = yellow
                                            7 - 8 = aqua
                                            9 - 10 = green
                                            -->

                                            <!-- Progress bars -->
                                            <div class="clearfix" style="margin-top: 17px; display: block">
                                                <span class="pull-left">Inclusive School</span>
                                                <small class="pull-right" id="pbar-inclusive"> {{ selected_district.inclusiveness  }} / 10 </small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.inclusiveness"
                                                             type="{{ colourProgressBar(selected_district.inclusiveness) }}"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                                <!--<div class="progress-bar progress-bar-yellow pbar-inclusive" style="width: 50%;"></div>-->
                                            </div>

                                            <div class="clearfix" style="margin-top: 30px; display: block">
                                                <span class="pull-left">Teaching and Learning</span>
                                                <small class="pull-right" id="pbar-teaching"> {{ selected_district.effective_teaching_learning }} / 10</small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.effective_teaching_learning"
                                                             type="{{ colourProgressBar(selected_district.effective_teaching_learning) }}"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                                <!--<div class="progress-bar progress-bar-aqua pbar-teaching" style="width: 70%;"></div>-->
                                            </div>

                                            <div class="clearfix" style="margin-top: 30px; display: block">
                                                <span class="pull-left">Healthy School</span>
                                                <small class="pull-right" id="pbar-health"> {{ selected_district.healthy }} / 10 </small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.healthy"
                                                             type="{{ colourProgressBar(selected_district.healthy) }}"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                                <!--<div class="progress-bar progress-bar-red pbar-health" style="width: 20%;"></div>-->
                                            </div>

                                            <div class="clearfix" style="margin-top: 30px; display: block">
                                                <span class="pull-left">Safe and Protective</span>
                                                <small class="pull-right" id="pbar-safety">{{ selected_district.safe_protective }} / 10 </small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.safe_protective"
                                                             type="{{ colourProgressBar(selected_district.safe_protective) }}"
                                                             animate="true"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                                <!--<div class="progress-bar progress-bar-green pbar-safety" style="width: 90%;"></div>-->
                                            </div>

                                            <div class="clearfix" style="margin-top: 30px; display: block">
                                                <span class="pull-left">Gender Friendliness</span>
                                                <small class="pull-right" id="pbar-gender">{{ selected_district.gender_friendly }} / 10 </small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.gender_friendly"
                                                             type="{{ colourProgressBar(selected_district.gender_friendly) }}"
                                                             animate="true"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                            </div>

                                            <div class="clearfix" style="margin-top: 30px; display: block">
                                                <span class="pull-left">Community Involvement</span>
                                                <small class="pull-right" id="pbar-involvement"> {{ selected_district.community_involvement }} / 10 </small>
                                            </div>
                                            <div class="progress xs">
                                                <progressbar value="selected_district.community_involvement"
                                                             type="{{ colourProgressBar(selected_district.community_involvement) }}"
                                                             animate="true"
                                                             max="10" class="progress-striped active">
                                                </progressbar>
                                                <!--<div class="progress-bar progress-bar-aqua pbar-involvement" style="width: 60%;"></div>-->
                                            </div>
                                            <!-- Buttons -->
                                            <p ng-show="checkDistrictVisibility(selected_district.id)">
                                                <a data-ng-href="#/view/district/{{selected_district.id}}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> View  {{selected_district.name}}</a>
                                            </p>
                                        </div><!-- /.pad -->
                                    </div><!-- /.col -->
                                </div><!-- /.row - inside box -->
                            </div><!-- /.box-body -->
                        </div>

                    </div>


                    <div class="col-md-6">

                        <!--  (District Overview tabs)-->
                        <div class="box-no-shadow box-shadow-none box-primary" ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]">
                            <div class="box-header">
                                <div class="box-tools pull-right">
                                    <!--<pager num-pages="noOfPages" current-page="currentPage"></pager>-->
                                    <button class="btn btn-success btn-sm" data-toggle="tooltip" title="Reload"
                                            data-ng-click="loadDistrictView()"><i class="fa fa-refresh">&nbsp; Random</i></button>
                                </div>
                            </div>
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right ">
                                    <li class="active"><a href="" data-target="#mainViewDistrictChartTab" data-toggle="tab">Bar Chart</a></li>
                                    <li><a href="" data-target="#districtStats" data-toggle="tab">Stats</a></li>
                                    <li class="pull-left header"><i class="fa fa-star"></i> Ratings</li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <!-- AmCharts -->

                                    <div class="chart tab-pane active" id="mainViewDistrictChartTab">
                                        <div id="mainViewDistrictChart" style="position: relative; height: 450px;"></div>
                                    </div>

                                    <div class="chart tab-pane" id="districtStats">
                                        <table class="table table-striped">
                                            <tr style="text-align: center">
                                                <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                                                <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                                                <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                                                <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse">Status</a></th>
                                            </tr>
                                            <tr ng-repeat="district in districtChartData | orderBy : districtSortOrder : reverse | limitTo : 10">
                                                <!--<td style="text-align: left"><a href="#/view/district/{{district.id}}">{{ district.district }}</a></td>-->
                                                <td style="text-align: left"><a href="" data-ng-click="showChangedDistrict(district.id)">{{ district.district }}</a></td>
                                                <td style="text-align: center" ng-show="district.rating">{{ district.rating }}%</td>
                                                <td style="text-align: center" ng-hide="district.rating">No Data</td>
                                                <!--<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>-->
                                                <!--<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>-->
                                                <td style="text-align: center"><span class="label" ng-class="labelStatusColor(district.rating)"> {{ labelStatusText(district.rating) }} </span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- /.nav-tabs-custom -->
                        </div>

                    </div>


                </div>


            </div>

        </div>

    </div>



</section>