<!-- Small boxes (Stat box) -->
<div class="row">
        <!-- Region box -->

        <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 4
      }">

        <div class="small-box bg-aqua">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{regions.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{regionLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    Region<span  ng-show="adminRight > 4">s</span>
                </p>
            </div>
            <div class="icon"  ng-show="adminRight > 4">
                <i class="ion ion-android-earth
                "></i>
            </div>
            <a  ng-show="adminRight > 4" ui-sref="dashboard.view_region" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight == 4" ui-sref="dashboard.view_selected_region({id : currentUser.level_id })" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  region box-->


        <!-- District box -->

        <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 3
      }">


        <div class="small-box bg-green">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{districts.length}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalDistricts }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    District<span  ng-show="adminRight > 3">s</span>
                </p>
            </div>
            <div class="icon" >
                <i class="ion ion-android-locate"></i>
            </div>
            <a  ng-show="adminRight > 3" ui-sref="dashboard.view_district" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 3" ui-sref="dashboard.view_selected_district({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  district box-->


    <!-- Circuit  box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 2
      }">

        <div class="small-box bg-yellow">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{circuits.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    Circuit<span  ng-show="adminRight > 2">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-location"></i>
            </div>
            <a  ng-show="adminRight > 2" ui-sref="dashboard.view_circuit" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 2" ui-sref="dashboard.view_selected_circuit({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  Circuit box-->


    <!-- School box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
      }">

        <div class="small-box bg-red">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{schools.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 1">
                    {{ schoolLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    School<span  ng-show="adminRight > 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a  ng-show="adminRight > 1" ui-sref="dashboard.school.view_school" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 1" ui-sref="dashboard.school.view_selected_school({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  school box-->
</div><!-- /.row -->

<!-- top row -->
<div class="row">
    <div class="col-xs-12 connectedSortable">
    </div><!-- /.col -->
</div>
<!-- /.row -->

<!-- Main row -->
<div class="row">

<div  class="col-sm-12" ng-include="  '/partials/templates_Main/regional_level.html'  "></div>


<!-- Left col -->
<section class="col-lg-6 connectedSortable">


<!-- Box for regional progress bars -->
<div class="box box-danger" ng-class="{true : '' , false : 'hidden'}[ adminRight > 3 ]">
    <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>
            <!--<button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>-->
            <!--<button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
        </div><!-- /. tools -->
        <i class="fa fa-cloud"></i>

        <h3 class="box-title">Region Overview</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="row">
            <div class="col-sm-6">
                <!-- show region -->
                <h4 class="col-sm-12">{{selected_region.name}} Region</h4>
                <div class="chart" id="selected_region" style="height: 250px;">
                    <img ng-src="/img/regions/Ghana_-_blank_region_map_{{selected_region.name}}.png" alt="{{selected_region.name}}">
                </div>
                <div class="col-sm-12" style="margin-top: 40px">
                    <p class="lead"  style="font-size: 18px">Overall Rating: <em>{{selected_region.rating}} %</em></p>
                    <!--<p class="lead"  style="font-size: 17px">Ranking: <em>{{selected_region.position}}{{positionExtension(selected_region.position)}}</em> <small>out of {{regions.length}} regions</small></p>-->
                    <!--<span class="lead"  style="font-size: 17px">Ranking: <em class="text-blue">{{selected_region.position}}{{positionExtension( selected_region.position )}}</em> out of 10 regions.</span>-->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pad">

                    <!--Key for Coloring
                    0 - 2 = red
                    3 - 4 = warning
                    5 - 6 = yellow
                    7 - 8 = aqua
                    9 - 10 = green
                    -->

                    <!-- Progress bars -->
                    <div class="clearfix">
                        <span class="pull-left">Inclusive School</span>
                        <small class="pull-right" id="pbar-inclusive"> {{ selected_region.inclusiveness  }} / 100 </small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.inclusiveness"
                                     type="{{ colourProgressBar(selected_region.inclusiveness) }}"
                                     max="100" class="progress-striped active">
                        </progressbar>
                        <!--<div class="progress-bar progress-bar-yellow pbar-inclusive" style="width: 50%;"></div>-->
                    </div>

                    <div class="clearfix">
                        <span class="pull-left">Teaching and Learning</span>
                        <small class="pull-right" id="pbar-teaching"> {{ selected_region.effective_teaching_learning }} / 100</small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.effective_teaching_learning"
                                     type="{{ colourProgressBar(selected_region.effective_teaching_learning) }}"
                                     max="100" class="progress-striped active">
                        </progressbar>
                        <!--<div class="progress-bar progress-bar-aqua pbar-teaching" style="width: 70%;"></div>-->
                    </div>

                    <div class="clearfix">
                        <span class="pull-left">Healthy School</span>
                        <small class="pull-right" id="pbar-health"> {{ selected_region.healthy }} / 100 </small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.healthy"
                                     type="{{ colourProgressBar(selected_region.healthy) }}"
                                     max="100" class="progress-striped active">
                        </progressbar>
                        <!--<div class="progress-bar progress-bar-red pbar-health" style="width: 20%;"></div>-->
                    </div>

                    <div class="clearfix">
                        <span class="pull-left">Safe and Protective</span>
                        <small class="pull-right" id="pbar-safety">{{ selected_region.safe_protective }} / 100 </small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.safe_protective"
                                     type="{{ colourProgressBar(selected_region.safe_protective) }}"
                                     animate="true"
                                     max="100" class="progress-striped active">
                        </progressbar>
                        <!--<div class="progress-bar progress-bar-green pbar-safety" style="width: 90%;"></div>-->
                    </div>

                    <div class="clearfix">
                        <span class="pull-left">Gender Friendliness</span>
                        <small class="pull-right" id="pbar-gender">{{ selected_region.gender_friendly }} / 100 </small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.gender_friendly"
                                     type="{{ colourProgressBar(selected_region.gender_friendly) }}"
                                     animate="true"
                                     max="100" class="progress-striped active">
                        </progressbar>
                    </div>

                    <div class="clearfix">
                        <span class="pull-left">Community Involvement</span>
                        <small class="pull-right" id="pbar-involvement"> {{ selected_region.community_involvement }} / 100 </small>
                    </div>
                    <div class="progress xs">
                        <progressbar value="selected_region.community_involvement"
                                     type="{{ colourProgressBar(selected_region.community_involvement) }}"
                                     animate="true"
                                     max="100" class="progress-striped active">
                        </progressbar>
                        <!--<div class="progress-bar progress-bar-aqua pbar-involvement" style="width: 60%;"></div>-->
                    </div>
                    <!-- Buttons -->
                    <p>
                        <a href="#/view/region/{{selected_region.id}}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> View  {{selected_region.name}}</a>
                    </p>
                </div><!-- /.pad -->
            </div><!-- /.col -->
        </div><!-- /.row - inside box -->
    </div><!-- /.box-body -->
</div><!-- /.box -->



<!--  (District Overview tabs)-->
<div class="box box-primary" ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]">

    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right ">
            <li class="active"><a href="" data-target="#mainViewDistrictChart" data-toggle="tab">Bar Chart</a></li>
            <li><a href="" data-target="#districtStats" data-toggle="tab">Stats</a></li>
            <li class="pull-left header"><i class="fa fa-map-marker"></i> District Overview</li>
        </ul>
        <div class="tab-content no-padding">
            <!-- AmCharts -->
            <div class="chart tab-pane active" id="mainViewDistrictChart" style="position: relative; height: 450px;"></div>
            <div class="chart tab-pane" id="districtStats">
                <table class="table table-striped">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="district in districtChartData | orderBy : districtSortOrder : reverse | limitTo : 10">
                        <td style="text-align: left"><a href="#/view/district/{{district.id}}">{{ district.district }}</a></td>
                        <td style="text-align: center" ng-show="district.rating">{{ district.rating }}%</td>
                        <td style="text-align: center" ng-hide="district.rating">NA</td>
                        <!--<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(district.rating)"> {{ labelStatusText(district.rating) }} </span></td>
                    </tr>
                    <!--<tr>-->
                    <!--<td><a href="#">India</a></td>-->
                    <!--<td><div id="sparkline-2"></div></td>-->
                    <!--<td>131</td>-->
                    <!--<td>958</td>-->
                    <!--</tr>-->
                </table>
            </div>
        </div>
    </div><!-- /.nav-tabs-custom -->
</div>

<!--Circuit Overview-->
<div class="box box-primary" ng-class="{true : '' , false : 'hidden'}[ adminRight > 1 ]">

    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right ">
            <li class="active"><a href="" data-target="#mainViewCircuitChart" data-toggle="tab">Bar Chart</a></li>
            <li><a href="" data-target="#circuitStats" data-toggle="tab">Stats</a></li>
            <li class="pull-left header"><i class="fa fa-map-marker"></i> Circuits Overview</li>
        </ul>
        <div class="tab-content no-padding">
            <!-- AmCharts -->
            <div class="chart tab-pane active" id="mainViewCircuitChart" style="position: relative; height: 450px;"></div>
            <div class="chart tab-pane" id="circuitStats">
                <table class="table table-striped">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'name'; reverse=!reverse">Circuit</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="circuitSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="circuit in circuitChartData | orderBy : circuitSortOrder : reverse | limitTo : 10">
                        <td style="text-align: left"><a href="#/view/circuit/{{circuit.id}}">{{ circuit.circuit }}</a></td>
                        <td style="text-align: center" ng-show="circuit.rating">{{ circuit.rating }}%</td>
                        <td style="text-align: center" ng-hide="circuit.rating">NA</td>
                        <!--<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>-->
                        <!--<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>-->
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(circuit.rating)"> {{ labelStatusText(circuit.rating) }} </span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div><!-- /.nav-tabs-custom -->
</div>


<!--Top 10 Districts-->
<!--
    <div class="box box-primary box-solid hidden">
        <div class="box-header">
            &lt;!&ndash; tools box &ndash;&gt;
            <div class="pull-right box-tools">
                &lt;!&ndash;<button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>&ndash;&gt;
&lt;!&ndash;<button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>&ndash;&gt;
            </div>&lt;!&ndash; /. tools &ndash;&gt;

            <i class="fa fa-map-marker"></i>
            <h3 class="box-title" >
                District Overview
            </h3>
        </div>
        <div class="box-body no-padding">
            <div ng-show="districts" class="table-responsive">
                &lt;!&ndash; .table - Uses sparkline charts&ndash;&gt;
                <table class="table table-striped">
                    <tr style="text-align: center">
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'name'; reverse=!reverse">District</a></th>
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        &lt;!&ndash;<th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'position'; reverse=!reverse">Position</a></th>&ndash;&gt;
                        <th style="text-align: center" title="Click to Sort"><a href="" ng-click="districtSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr ng-repeat="district in districtChartData | orderBy : districtSortOrder : reverse | limitTo : 5">
                        <td style="text-align: left"><a href="#/view/district/{{district.id}}">{{ district.district }}</a></td>
                        <td style="text-align: center" ng-show="district.rating">{{ district.rating }}%</td>
                        <td style="text-align: center" ng-hide="district.rating">NA</td>
                        &lt;!&ndash;<td style="text-align: center">{{ district.position }}{{positionExtension(district.position)}}</td>&ndash;&gt;
&lt;!&ndash;<td><span class="label" ng-class="labelStatusColor(district.status)"> {{ district.status }} </span></td>&ndash;&gt;
                        <td style="text-align: center"><span class="label" ng-class="labelStatusColor(district.rating)"> {{ labelStatusText(district.rating) }} </span></td>
                    </tr>
                    &lt;!&ndash;<tr>&ndash;&gt;
&lt;!&ndash;<td><a href="#">India</a></td>&ndash;&gt;
&lt;!&ndash;<td><div id="sparkline-2"></div></td>&ndash;&gt;
&lt;!&ndash;<td>131</td>&ndash;&gt;
&lt;!&ndash;<td>958</td>&ndash;&gt;
&lt;!&ndash;</tr>&ndash;&gt;
                </table>&lt;!&ndash; /.table &ndash;&gt;
            </div>
            <p ng-hide="districts" style="  font-size: 20px; padding: 7% 0 6% 26%" class="greyColor al"><i class="fa fa-warning"></i>  No districts on the server.</p>
        </div>&lt;!&ndash; /.box-body&ndash;&gt;
        <div class="box-footer" ng-show="districts">
            <a ui-sref="dashboard.view_district" class="btn btn-info"><i class="fa fa-eye"></i> View More</a>
            &lt;!&ndash;<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>&ndash;&gt;
        </div>
    </div>
-->
<!-- /.box -->

</section><!-- /.Left col -->


<!-- Country Overview -->
<section class="col-lg-6 connectedSortable">
    <!-- Map box -->
    <div class="box box-success" ng-class="{true : '' , false : 'hidden'}[ adminRight > 4 ]">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools hidden">
                <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->

            <i class="fa fa-map-marker"></i>
            <h3 class="box-title">
                Country Overview
            </h3>
        </div>
        <!--Regions table-->
        <div class="box-body no-padding">
            <div class="table-responsive">
                <!-- .table - Uses sparkline charts-->
                <table class="table table-striped table-hover">
                    <tr>
                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>
                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                        <th style="text-align: center"  title="Click to Sort"><a href="" ng-click="regionSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                        <th style="text-align: center"  title="Click to Sort"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse">Status</a></th>
                    </tr>
                    <tr class="pointer"
                        ng-repeat="region in regions | orderBy : regionSortOrder : reverse | limitTo: numberOfRegionsToDisplay"
                        ng-click="changeSelectedRegion(region.id)">
                        <td style="text-align: left">{{ region.name }}</td>
                        <!--<td style="text-align: center">{{ region.position }}{{positionExtension(region.position)}}</td>-->
                        <td style="text-align: center">
                            <span  ng-show="region.rating">{{ region.rating }}%</span>
                            <span ng-hide="region.rating">No data</span>
                        </td>
                        <td style="text-align: center">
                            <span class="label" ng-show="region.rating" ng-class="labelStatusColor(region.rating)"> {{ labelStatusText(region.rating) }} </span>
                            <span class="label" ng-hide="region.rating" style="color: #000000"> No data </span>
                        </td>
                        <!--<td><span class="label" ng-class="labelStatusColor('good')"> healthy </span></td>-->
                    </tr>
                </table><!-- /.table -->
            </div>

        </div><!-- /.box-body-->
        <!--<div class="box-footer">-->
        <!--<button class="btn btn-info"><i class="fa fa-eye"></i> View More</button>-->
        <!--<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>-->
        <!--</div>-->
    </div>
    <!-- /.box -->

    <div class="box box-success" ng-class="{true : '' , false : 'hidden'}[ adminRight > 4 ]">
        <div class="box-header" style="padding-bottom: 0">
            <div class="box-title" style="padding-bottom: 0">Regional Ratings</div>
        </div>
        <div class="box-body">
            <div id="mapdiv" style="width: 800px; background-color:#EEEEEE; height: 400px; padding: 25px 0"></div>
        </div>
        <div style="" class="overlay" ng-hide="reviewDataExists"></div>
        <!--<div class=""  style="padding: 50px">Review data unavailable</div>-->
    </div>

    <!-- SMS box -->
    <div class="box box-warning box-solid">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-comments-o"></i> Community SMS</h3>
            <!--<div class="box-tools pull-right" data-toggle="tooltip" title="Status">-->
            <!--<div class="btn-group" data-toggle="btn-toggle" >-->
            <!--<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>-->
            <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>-->
            <!--</div>-->
            <!--</div>-->
            <div class="box-tools pull-right">
                <!--<ul class="pagination pagination-sm inline">-->
                <!--<li><a href="#">«</a></li>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">»</a></li>-->
                <!--</ul>-->
                <pagination class="sm inline pagination-sm" total-items="totalItems"
                            items-per-page="6" ng-model="currentPage" ng-change="pageChanged()" ng-show="community_smses"></pagination>
            </div>
        </div>
        <div class="box-body chat" ng-show="community_smses">
            <!-- chat item -->

            <div class="item" ng-repeat="eachSms in community_smses | limitTo : 6">
                <img src="../../img/avatar.png" alt="user image" class="online"/>
                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{eachSms.updated_at}}</small>
                        {{eachSms.sender}}
                    </a>
                    {{eachSms.message}}
                </p>
            </div><!-- /.item -->


        </div><!-- /.chat -->
        <div class="box-footer" ng-show="community_smses">
            <a ui-sref="dashboard.stakeholders_community">
                <button class="btn btn-default"><i class="fa fa-eye"> View More</i></button>
            </a>
        </div>
        <div class="box-body"  ng-hide="community_smses">
            <p style="margin: 5% 0 5% 13%; font-size: 21px" class="greyColor">
                <i class="fa fa-warning"></i>  There are no SMS from the community
            </p>

        </div>
    </div><!-- /.box (SMS box) -->

</section><!-- right col -->

<section class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" ng-show="recent_submissions">
                <h3 class="box-title">Recent Activity</h3>
                <div class="box-tools">
                    <div class="input-group">
                        <input type="text" placeholder="Search" style="width: 150px;" class="form-control input-sm pull-right" name="table_search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" ng-show="recent_submissions">
                    <thead>
                    <tr>
                        <th>Region</th>
                        <th>District</th>
                        <th>Circuit</th>
                        <th>School</th>
                        <th>Reason</th>
                        <th>Date / Time</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="submission in recent_submissions | limitTo : 7">
                        <td><a ui-sref="dashboard.view_selected_region({id : submission.region_id})">{{ regionLookup[submission.region_id].name }}</a></td>
                        <td ><a ui-sref="dashboard.view_selected_district({id : submission.district_id })">{{districtLookup[submission.district_id].name}}</a></td>
                        <td ><a ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})">{{circuitLookup[submission.circuit_id].name}}</a></td>
                        <td ><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id})">{{schoolLookup[submission.school_id].name}}</a></td>
                        <td><a data-ng-href="#/view/school/{{submission.school_id}}/{{submission.data_type_submitted}}"><span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span></a></td>
                        <td>{{submission.updated_at}}</td>
                    </tr>
                    </tbody>
                </table>
                <p ng-hide="recent_submissions" style=" font-size: 20px; padding: 5% 0 5% 40%" class="greyColor"><i class="fa fa-warning"></i>  No recent activity on the server.</p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</section>
</div><!-- /.row (main row) -->

<!--<toaster-container></toaster-container>-->


<!-- tools box -->
<!--<div class="pull-right box-tools">-->
<!--button with a dropdown -->
<!--<div class="btn-group">-->
<!--<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>-->
<!--<ul class="dropdown-menu pull-right" role="menu">-->
<!--<li><a href="#">Add new event</a></li>-->
<!--<li><a href="#">Clear events</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">View calendar</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!-- /. tools -->