<!-- Small boxes (Stat box) -->
<div class="row ">
    <!-- Region box -->
    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 4
      }">

        <div class="small-box "  ng-class="envCheck ? 'bg-yellow' : 'bg-aqua' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{regions.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{regionLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    Region<span  ng-show="adminRight > 4">s</span>
                </p>
            </div>
            <div class="icon"  ng-show="adminRight > 4">
                <i class="ion ion-android-earth"></i>
            </div>
            <a  ng-show="adminRight > 4" ui-sref="dashboard.view_region" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight == 4" ui-sref="dashboard.view_selected_region({id : currentUser.level_id })" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  region box-->


    <!-- District box -->

    <div class="col-lg-4 col-xs-6" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 3
      }">


        <div class="small-box bg-light-blue" ng-class="envCheck ? 'bg-light-blue' : 'bg-green' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{districts.length}}
                    <!--<sup style="font-size: 20px">%</sup>-->
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalDistricts }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].name}}
                </h3>
                <p>
                    District<span  ng-show="adminRight > 3">s</span>
                </p>
            </div>
            <div class="icon" >
                <i class="ion ion-android-locate"></i>
            </div>
            <a  ng-show="adminRight > 3" ui-sref="dashboard.view_district" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 3" ui-sref="dashboard.view_selected_district({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  district box-->


    <!-- Circuit  box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
     'hidden' :  adminRight < 2
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-red' : 'bg-yellow' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{circuits.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalCircuits }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    Circuit<span  ng-show="adminRight > 2">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-location"></i>
            </div>
            <a  ng-show="adminRight > 2" ui-sref="dashboard.view_circuit" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 2" ui-sref="dashboard.view_selected_circuit({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  Circuit box-->


    <!-- School box -->
    <div class="" ng-class="{
     'col-lg-3 col-xs-6' : adminRight >= 4,
     'col-lg-4 col-xs-6' : adminRight == 3,
     'col-lg-6 col-xs-6' : adminRight == 2 ,
     'col-lg-12 col-xs-12' : adminRight == 1 ,
      }">

        <div class="small-box " ng-class="envCheck ? 'bg-teal' : 'bg-red' ">
            <div class="inner">
                <h3  ng-show="adminRight == 5">
                    {{schools.length}}
                </h3>
                <h3  ng-show="adminRight == 4">
                    {{ regionLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 3">
                    {{ districtLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 2">
                    {{ circuitLookup[currentUser.level_id].totalSchools }}
                </h3>
                <h3  ng-show="adminRight == 1">
                    {{ schoolLookup[currentUser.level_id].name }}
                </h3>
                <p>
                    School<span  ng-show="adminRight > 1">s</span>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
            <a  ng-show="adminRight > 1" ui-sref="dashboard.school.view_school" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a  ng-show="adminRight  == 1" ui-sref="dashboard.school.view_selected_school({id : currentUser.level_id})" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col  school box-->
</div><!-- /.row -->

<!-- Main row -->
<div class="row">

    <!--The commented section below is the ratings views-->
    <!--onload="loadRegionView()"-->
    <!--<div  class="col-sm-12" ng-include="  'partials/templates_Main/regional_level.html'"-->
    <!--ng-if=" adminRight > 3"></div>-->

    <!--<div class="clearfix"></div>-->

    <!--&lt;!&ndash;onload="loadDistrictView()"&ndash;&gt;-->
    <!--<div  class="col-sm-12" ng-include="'partials/templates_Main/district_level.html'"-->
    <!--ng-if="adminRight > 2"></div>-->

    <!--<div class="clearfix"></div>-->

    <!--&lt;!&ndash;onload="loadCircuitView()"&ndash;&gt;-->
    <!--<div  class="col-sm-12" ng-include="  'partials/templates_Main/circuit_level.html' "-->
    <!--ng-if="adminRight > 1"></div>-->

    <div class="col-sm-12 hidden">



        <div class="box box-info box-solid">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-comments-o"></i> Community SMS</h3>
                <div class="box-tools pull-right">
                    <pagination class="sm inline pagination-sm" total-items="totalItems"
                                items-per-page="6" ng-model="currentPage" ng-change="pageChanged()" ng-show="community_smses.length"></pagination>
                </div>
            </div>


            <section class="mini-loader" ng-show="community_sms_loading">
                <img src="/img/ajax_loader_small.gif" style="margin-left: 45%; padding: 100px 0"/>
            </section>


            <div class="box-body chat" ng-show="community_smses.length">
                <!-- chat item -->

                <div class="item" ng-repeat="eachSms in community_smses | limitTo : 6">
                    <img src="../../img/avatar.png" alt="user image" class="online"/>
                    <p class="message">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>&nbsp;{{eachSms.updated_at}}</small>
                            {{eachSms.sender}}
                        </a>
                        {{eachSms.message}}
                    </p>
                </div><!-- /.item -->


            </div><!-- /.chat -->
            <div class="box-footer" ng-show="community_smses.length">
                <a ui-sref="dashboard.stakeholders_community">
                    <button class="btn btn-default"><i class="fa fa-eye"> View More</i></button>
                </a>
            </div>
            <div class="box-body" ng-hide="community_smses.length">
                <p style="margin: 5% 0 5% 34%; font-size: 21px" class="greyColor" ng-if="!(community_sms_loading)">
                    <i class="fa fa-warning"></i>  There are no SMS from the community
                </p>

            </div>
        </div>
    </div>

    <!--<section class="row">-->
    <div class="col-sm-12">
        <div class="box box-solid box-primary">
            <div class="box-header"  >
                <h3 class="box-title">Recent Activity</h3>
                <div class="box-tools hidden">
                    <div class="input-group">
                        <input type="text" placeholder="Search" style="width: 150px;" class="form-control input-sm pull-right" name="table_search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <section class="mini-loader" ng-show="recent_activity_loading">
                    <img src="/img/ajax_loader_small.gif" style="margin-left: 45%; padding: 100px 0"/>
                </section>

                <table class="table table-hover" ng-show="recent_submissions.length">
                    <thead>
                    <tr>
                        <th ng-show="adminRight > 4">Region</th>
                        <th ng-show="adminRight > 3">District</th>
                        <th ng-show="adminRight > 2">Circuit</th>
                        <th ng-show="adminRight > 1">School</th>
                        <th>Status</th>
                        <th>Date / Time</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="submission in recent_submissions | limitTo : 7">
                        <td  ng-show="adminRight > 4"><a ui-sref="dashboard.view_selected_region({id : submission.region_id})">{{ regionLookup[submission.region_id].name }}</a></td>
                        <td  ng-show="adminRight > 3"><a ui-sref="dashboard.view_selected_district({id : submission.district_id })">{{districtLookup[submission.district_id].name}}</a></td>
                        <td  ng-show="adminRight > 2"><a ui-sref="dashboard.view_selected_circuit({id : submission.circuit_id})">{{circuitLookup[submission.circuit_id].name}}</a></td>
                        <td   ng-show="adminRight > 1"><a ui-sref="dashboard.school.view_selected_school({id : submission.school_id, district_id : submission.district_id})">{{schoolLookup[submission.school_id].name}}</a></td>
                        <td><a data-ng-href="#/view/school/{{submission.school_id}}/district/{{submission.district_id }}/{{submission.data_type_submitted}}"><span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span></a></td>
                        <!--<td><a ui-sref="dashboard.school.view_selected_school.report_card"><span label-color type="{{submission.data_type_submitted}}">{{submission.data_type_submitted}}</span></a></td>-->
                        <td>{{submission.updated_at}}</td>
                    </tr>
                    </tbody>
                </table>
                <p ng-hide="recent_submissions.length" style=" font-size: 20px; padding: 5% 0 5% 40%" class="greyColor">
                    <i class="fa fa-warning"></i>  <span ng-if="!(recent_activity_loading)">No recent activity on the server.</span></p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <!--</section>-->
</div><!-- /.row (main row) -->

<!--
<div class="row">

</div>

<div class="col-sm-12">
    <div class="box box-solid box-primary" ng-controller="ValController">
        <div class="box-header"  >
            <h3 class="box-title">Vals Day Calculation</h3>
            <div class="box-tools hidden">
                <div class="input-group">
                    <input type="text" placeholder="Search" style="width: 150px;" class="form-control input-sm pull-right" name="table_search">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>&lt;!&ndash; /.box-header &ndash;&gt;
        <div class="box-body table-responsive no-padding">

            <div class="form-group col-md-3 col-sm-6">
                <label for="actions">Others</label><br>
                <div class="btn-group col-sm-8" style="padding-left: 0 !important;">
                   <input class="form-control" ng-model="randomOthers">
<button class="btn btn-primary col-sm-4" ng-click="addTo(randomOthers)"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label for="actions">Ruby</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button  id="actions" data-ng-click="addTo(12)" class="btn btn-danger col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Ruby
                    </button>

                </div>
            </div>
            <div class="form-group col-md-2 col-sm-6">
                <label for="actions">Rose</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button  id="rose" data-ng-click="addTo(10)" class="btn btn-warning col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Rose
                    </button>

                </div>
            </div>
            <div class="form-group col-md-2 col-sm-6">
                <label for="actions">Rouge</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button  id="rouge" data-ng-click="addTo(6)" class="btn btn-success col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Rouge
                    </button>

                </div>
            </div>
            <div class="form-group col-md-2 col-sm-6">
                <label for="actions">Pack of 5</label><br>
                <div class="btn-group col-sm-12" style="padding-left: 0 !important;">
                    <button  id="Pack of 5" data-ng-click="addTo(5)" class="btn btn-info col-md-8 col-xs-8" style="padding-left: 0 !important;">
                        Pack of 5
                    </button>

                </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-sm-12">
                <div class="box-no-shadow" style="min-height: 300px">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <code>In total : {{ ordersTotal }}</code>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                               <pre>Totals in calculation : {{ totalsInText }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

    <!--<button class="btn btn-warning" ng-click="checkFunc()">Check Toaster</button>-->