
<section class="row">

<div class="col-sm-12">

<div class="box box-solid box-primary">
<div class="box-header">
    <h4 class="box-title">
        Region
    </h4>
</div>

<div class="box-body">

<div class="row">

    <div class="col-md-6">

        <div class="box-no-shadow box-primary" ng-class="{true : '' , false : 'hidden'}[ adminRight > 3 ]">
            <div class="box-header">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <!--<button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>-->
                    <!--<button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>-->
                    <!--<button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
                </div><!-- /. tools -->
                <i class="fa fa-cloud"></i>

                <h3 class="box-title">Overview</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- show region -->
                        <h4 class="col-sm-12">{{selected_region.name}} Region</h4>
                        <div class="chart" id="selected_region" style="height: 250px;">
                            <img ng-src="/img/regions/Ghana_-_blank_region_map_{{selected_region.name}}.png" alt="{{selected_region.name}}">
                        </div>
                        <div class="col-sm-12" style="margin-top: 40px">
                            <p class="lead"  style="font-size: 18px">Overall Rating: <em>{{selected_region.rating}} %</em></p>
                            <!--<p class="lead"  style="font-size: 17px">Ranking: <em>{{selected_region.position}}{{positionExtension(selected_region.position)}}</em> <small>out of {{regions.length}} regions</small></p>-->
                            <!--<span class="lead"  style="font-size: 17px">Ranking: <em class="text-blue">{{selected_region.position}}{{positionExtension( selected_region.position )}}</em> out of 10 regions.</span>-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="pad">

                            <!--Key for Coloring
                            0 - 2 = red
                            3 - 4 = warning
                            5 - 6 = yellow
                            7 - 8 = aqua
                            9 - 10 = green
                            -->

                            <!-- Progress bars -->
                            <div class="clearfix" style="margin-top: 17px; display: block">
                                <span class="pull-left">Inclusive School</span>
                                <small class="pull-right" id="pbar-inclusive"> {{ selected_region.inclusiveness  }} / 10 </small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.inclusiveness"
                                             type="{{ colourProgressBar(selected_region.inclusiveness) }}"
                                             max="10" class="progress-striped active">
                                </progressbar>
                                <!--<div class="progress-bar progress-bar-yellow pbar-inclusive" style="width: 50%;"></div>-->
                            </div>

                            <div class="clearfix" style="margin-top: 30px; display: block">
                                <span class="pull-left">Teaching and Learning</span>
                                <small class="pull-right" id="pbar-teaching"> {{ selected_region.effective_teaching_learning }} / 10</small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.effective_teaching_learning"
                                             type="{{ colourProgressBar(selected_region.effective_teaching_learning) }}"
                                             max="10" class="progress-striped active">
                                </progressbar>
                                <!--<div class="progress-bar progress-bar-aqua pbar-teaching" style="width: 70%;"></div>-->
                            </div>

                            <div class="clearfix" style="margin-top: 30px; display: block">
                                <span class="pull-left">Healthy School</span>
                                <small class="pull-right" id="pbar-health"> {{ selected_region.healthy }} / 10 </small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.healthy"
                                             type="{{ colourProgressBar(selected_region.healthy) }}"
                                             max="10" class="progress-striped active">
                                </progressbar>
                                <!--<div class="progress-bar progress-bar-red pbar-health" style="width: 20%;"></div>-->
                            </div>

                            <div class="clearfix" style="margin-top: 30px; display: block">
                                <span class="pull-left">Safe and Protective</span>
                                <small class="pull-right" id="pbar-safety">{{ selected_region.safe_protective }} / 10 </small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.safe_protective"
                                             type="{{ colourProgressBar(selected_region.safe_protective) }}"
                                             animate="true"
                                             max="10" class="progress-striped active">
                                </progressbar>
                                <!--<div class="progress-bar progress-bar-green pbar-safety" style="width: 90%;"></div>-->
                            </div>

                            <div class="clearfix" style="margin-top: 30px; display: block">
                                <span class="pull-left">Gender Friendliness</span>
                                <small class="pull-right" id="pbar-gender">{{ selected_region.gender_friendly }} / 10 </small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.gender_friendly"
                                             type="{{ colourProgressBar(selected_region.gender_friendly) }}"
                                             animate="true"
                                             max="10" class="progress-striped active">
                                </progressbar>
                            </div>

                            <div class="clearfix" style="margin-top: 30px; display: block">
                                <span class="pull-left">Community Involvement</span>
                                <small class="pull-right" id="pbar-involvement"> {{ selected_region.community_involvement }} / 10 </small>
                            </div>
                            <div class="progress xs">
                                <progressbar value="selected_region.community_involvement"
                                             type="{{ colourProgressBar(selected_region.community_involvement) }}"
                                             animate="true"
                                             max="10" class="progress-striped active">
                                </progressbar>
                                <!--<div class="progress-bar progress-bar-aqua pbar-involvement" style="width: 60%;"></div>-->
                            </div>
                            <!-- Buttons -->
                            <p ng-show="checkRegionVisibility( selected_region.id )">
                                <a href="#/view/region/{{selected_region.id}}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i> View  {{selected_region.name}}</a>
                            </p>
                        </div><!-- /.pad -->
                    </div><!-- /.col -->
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->
        </div>

    </div>

    <div class="col-md-6">

        <div class="box  box-primary" ng-class="{true : '' , false : 'hidden'}[ adminRight > 3 ]">

            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right ">
                    <li class="active"><a href="" data-target="#mainViewRegionChart" data-toggle="tab">Bar Chart</a></li>
                    <li><a href="" data-target="#countryMap" data-toggle="tab">Map</a></li>
                    <li><a href="" data-target="#regionStats" data-toggle="tab">Stats</a></li>
                    <li class="pull-left header"><i class="fa fa-star"></i> Ratings</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- AmCharts -->
                    <div class="chart tab-pane active" id="mainViewRegionChart" style="position: relative; height: 450px;"></div>
                    <div class="chart tab-pane" id="countryMap">
                        <div class="box-body">
                            <div id="mapdiv" style="width: 500px; background-color:#EEEEEE; height: 450px; padding: 25px 0"></div>
                        </div>
                    </div>

                    <div class="chart tab-pane" id="regionStats">
                        <div class="box-header hidden">
                            <!-- tools box -->
                            <div class="pull-right box-tools ">
                                <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                            </div><!-- /. tools -->

                            <i class="fa fa-star"></i>
                            <h3 class="box-title">
                                Rating
                            </h3>
                        </div>
                        <!--Regions table-->
                        <div class="box-body no-padding">
                            <div class="table-responsive">
                                <!-- .table - Uses sparkline charts-->
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th style="text-align: left" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'name'; reverse=!reverse">Region</a></th>
                                        <!--<th style="text-align: center" title="Click to Sort"><a href="" ng-click="regionSortOrder = 'position'; reverse=!reverse">Position</a></th>-->
                                        <th style="text-align: center"  title="Click to Sort"><a href="" ng-click="regionSortOrder = 'rating'; reverse=!reverse">Rating </a></th>
                                        <th style="text-align: center"  title="Click to Sort"><a href="" ng-click="regionSortOrder = 'status'; reverse=!reverse">Status</a></th>
                                    </tr>
                                    <tr class="pointer"
                                        ng-repeat="region in regions | orderBy : regionSortOrder : reverse | limitTo: numberOfRegionsToDisplay"
                                        ng-click="changeSelectedRegion(region.id)">
                                        <td style="text-align: left"><a href=""> {{ region.name }}</a></td>
                                        <!--<td style="text-align: center">{{ region.position }}{{positionExtension(region.position)}}</td>-->
                                        <td style="text-align: center">
                                            <span  ng-show="region.rating">{{ region.rating }}%</span>
                                            <span ng-hide="region.rating">No data</span>
                                        </td>
                                        <td style="text-align: center">
                                            <span class="label"  ng-class="labelStatusColor(region.rating)"> {{ labelStatusText(region.rating) }} </span>
                                        </td>
                                        <!--<td><span class="label" ng-class="labelStatusColor('good')"> healthy </span></td>-->
                                    </tr>
                                </table><!-- /.table -->
                            </div>

                        </div><!-- /.box-body-->

                    </div>
                </div>
            </div>




        </div>

    </div>

</div>

</div>




</div>

</div>









</section>

