<div ng-controller="scViewSelectedRegionSchoolsSupportTypesController">
    <div class="box-no-shadow">
        <div  class="box-header"><!--ng-show="supportTypes"-->
            <h3 class="box-title">Support Types
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select style="width: 150px;" class="form-control input-sm" ng-model="support_year"
                                ng-options="year for year in regionYears">
                            <option value="">Select year</option>
                        </select>
                        <select style="width: 150px;" class="form-control input-sm" ng-model="support_term"
                                ng-options="term.value as term.label for term in regionTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchSupportTypesData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-sm-12" ng-show="supportTypesData.length">
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm supportTypeTable" export-table="supportTypeTable" file-name="{{selected_region.name + ' Termly Support Received Summary ' + support_year + ' ' + support_term}}">Begin Termly Support Received Summary Export</button>
                    </div>
                    <table  class="table table-striped table-bordered table-hover" id="supportTypeTable">
                        <thead>
                        <tr class="bg-primary">
                            <th style="text-align: center">School</th>
                            <th style="text-align: center">Total Cash</th>
                            <th style="text-align: center">Kind / Donation</th>
                            <th style="text-align: center" class="">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="support in supportTypesData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : support.school_id, district_id : support.district_id})">{{support.name}}</a></td>
                            <td align="center" class="text-center">{{support.cash | currency : 'GHc ' : 2}}</td>
                            <td align="center" class="text-center">{{ support.kind | uppercase }}</td>
                            <td align="center" class="text-danger text-center">
                                <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" support-type-preview="support">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="Support" section-type="support"
                                            function="fetchSupportTypesData()" submission-id="{{support.data.id}}"
                                            term="{{support.data.term}}" year="{{support.data.year}}"
                                            school-id="{{support.school_id}}">Delete Data</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" ng-hide="supportTypesData.length" ng-if="!supportTypesData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingSupportTypesData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingSupportTypesData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>