<div class="error-page">
    <h2 class="headline text-info"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
        <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href='#/'>return to dashboard</a> or click this button to go back.
        </p>
        <p><button class="col-sm-12 btn btn-warning btn-lg" data-ng-click="goBackInHistory()">
            <i class="fa fa-arrow-left"></i> &nbsp; Go back</button></p>
        <!--<form class='search-form'>-->
            <!--<div class='input-group'>-->
                <!--<input type="text" name="search" class='form-control' placeholder="Search"/>-->
                <!--<div class="input-group-btn">-->
                    <!--<button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.input-group &ndash;&gt;-->
        <!--</form>-->
    </div><!-- /.error-content -->
</div><!-- /.error-page -->
