<div ng-controller="scViewSelectedDistrictSchoolsGrantCapitationPaymentsController">
    <div class="box-no-shadow">
        <div  class="box-header"><!--ng-show="schoolGrants"-->
            <h3 class="box-title">Grant
                <div class="box-tools  pull-right">
                    <div class="input-group">
                        <select title="year" style="width: 150px;" class="form-control input-sm" ng-model="grant_year"
                                ng-options="year for year in districtYears">
                            <option value="">Select year</option>
                        </select>
                        <select title="term" style="width: 150px;" class="form-control input-sm" ng-model="grant_term"
                                ng-options="term.value as term.label for term in districtTerms">
                            <option value="">Select term</option>
                        </select>
                        <button  ng-click="fetchSchoolGrantCapitationData()"  class="btn btn-primary btn-sm">
                            Load Data
                        </button>
                    </div>
                </div>
            </h3>

        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div  class="col-sm-12" ng-show="grantCapitationData.length"><!--ng-show="(schoolGrants |  filter: {term : filter_term, year : filter_year, data_collector_type :  filter_data_collector_type}).length"-->
                    <!--This is the Table Export Button-->
                    <div class="btn-group pull-right ">
                        <button  class="btn btn-primary btn-sm schoolGrantsTable" export-table="schoolGrantsTable" file-name="{{selected_district.name + ' Termly Grants Received Summary ' + grant_year + ' ' + grant_term}}">Begin Termly Grants Received Summary Export</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="schoolGrantsTable">
                        <thead>
                        <tr class="bg-primary">
                            <th style="text-align: center">School</th>
                            <th style="text-align: center">Capitation Amount</th>
                            <th style="text-align: center">Grant Amount</th>
                            <th style="text-align: center">Total Received</th>
                            <th style="text-align: center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="grant in grantCapitationData">
                            <td align="center"><a ui-sref="dashboard.school.view_selected_school.report_card.school_management({id : grant.school_id, district_id : grant.district_id})">{{ grant.name}}</a></td>
                            <td align="center">{{ grant.capitation}}</td>
                            <td align="center">{{ grant.school_grant}}</td>
                            <td align="center">{{ (grant.capitation  + grant.school_grant ) }}</td>
                            <td align="center" class="text-danger text-center">
                                <div class="btn-group">
                                <button class="center-block btn btn-default btn-sm" capitation-grant-preview="grant">Preview Data</button>
                                    <button class="center-block btn btn-danger btn-sm" delete-section-data="Grant" section-type="grant"
                                            function="fetchSchoolGrantCapitationData()" submission-id="{{grant.data.id}}"
                                            term="{{grant.data.term}}" year="{{grant.data.year}}" school-id="{{grant.school_id}}">Delete Data</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" ng-hide="grantCapitationData.length" ng-if="!grantCapitationData.length">
                    <div style="margin : 10% auto; color: #7d7d7d" class="text-center h3">
                        <span ng-if="loadingGrantCapitationData"><i class="fa fa-spinner fa-spin largeSpinner"></i></span>
                        <span ng-if="!(loadingGrantCapitationData)">No data available.</span>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->



    </div><!-- /.box -->
</div>