<?php
if (substr_count($_SERVER["HTTP_ACCEPT_ENCODING"], "gzip")) {
    ob_start("ob_gzhandler");
} else {
    ob_start();
}

?>
<!--$url =  "{$_SERVER['HTTP_HOST']}";
echo($url);-->
<!DOCTYPE html>
<html><!--manifest="../msrc.appcache"-->
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <title>mSRC: Schools that learn</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--All Css Files-->
    <link rel="stylesheet" href="/backend/msrc.css?v=<%= new Date().getTime() %>">
    <!-- Favicon-->
    <link href="/img/favicon.ico" rel="icon" type="image/ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>


    <!--CDN FILES BEING USED FOR CACHING AND ALSO REDUCE SCRIPT FILE SIZE-->
    <!--JQUERY CDN FILES-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->

    <!--ANGULAR CDN FILES-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.min.js"></script>

    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>

<body class="fixed hide_until_angular-loads" ng-class="envCheck ? 'skin-blue' : 'skin-black'" style="display : none" ng-app="schoolApp">


<div id="preloader">
    <div id="preloader_spinner">
        <div class="pre_inner">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
        </div>
    </div>
</div>


<!-- header logo: style can be found in header.less -->
<header ng-if="currentUser" class="header">
    <a ui-sref="dashboard.home" class="logo icon">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        <img class="icon" src="/img/white_logo_150.png" alt="mSRC logo" style="width: 37%">
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="navbar-btn sidebar-toggle hidden" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu  hide_until_angular-loads" style="display : none">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"  >
                        <i class="glyphicon glyphicon-user"></i>
                        <span ng-bind="currentUser.firstname"></span><i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="/img/avatar.png" class="img-circle" alt="Avatar" />
                            <p>Logged in:</p>
                            <p ng-if="!(csLoginCheck)">
                                <span style="display: block" ng-bind="currentUser.firstname + ' ' +currentUser.lastname"></span>
                                <small id="current_user_role" ng-bind="'Role : ' + currentUser.level + ' User ( ' + currentUser.role + ' )' "></small>
                                <br>
                                <small ng-bind="'Last Login :  ' + currentUser.last_login"></small>
                            </p>

                            <p ng-if="csLoginCheck">
                                <span style="display: block" ng-bind="currentUser.firstname + ' ' +currentUser.lastname"></span>
                                <small ng-bind="'Role : ' + currentUser.level + ' Supervisor' "></small>
                                <br>
                                <small ng-bind="'Circuit :  ' + currentUser.geography"></small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a   ui-sref="dashboard.settings.general_settings" class="btn btn-default btn-flat">Settings</a>
                            </div>
                            <div class="pull-right">
                                <a href="" ng-click="logOut()" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</header>
<!-- <div class="wrapper row-offcanvas row-offcanvas-left" ng-app="schoolApp" ng-controller="scGlobalController"> -->
<div ng-if="currentUser" class="wrapper row-offcanvas row-offcanvas-left" >
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/img/avatar.png" class="img-circle" alt="Avatar" />
                </div>
                <div style="display : none"  class="pull-left info hide_until_angular-loads">
                    <p ng-bind=" 'Hello, ' + currentUser.firstname"></p>

                    <a href=""><i class="fa fa-circle text-success"></i>
                        <span ng-bind="currentUser.level"></span>
                        <span ng-if="currentUser.type == 'circuit_supervisor' "> Supervisor</span>
                    </a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="" ng-class="{active : $state.is('dashboard.home')} " >
                    <a ui-sref="dashboard.home">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview" >
                    <a href="">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Analytics</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <!--<small class="badge pull-right bg-green">new</small>-->
                    </a>
                    <ul class="treeview-menu" ng-class="{active : $state.is('dashboard.home')} " >
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 4 ]" ><a ui-sref="dashboard.view_country"><i class="fa fa-angle-double-right"></i> Country</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 3 ]" ><a ui-sref="dashboard.view_region"><i class="fa fa-angle-double-right"></i> Region</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]"  ><a ui-sref="dashboard.view_district"><i class="fa fa-angle-double-right"></i> District</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 1 ]"  ><a ui-sref="dashboard.view_circuit"><i class="fa fa-angle-double-right"></i> Circuit</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 0 ]" ><a ui-sref="dashboard.school.view_school"><i class="fa fa-angle-double-right"></i> School</a></li>
                    </ul>
                </li>
                <li class="treeview" ng-show="adminRight > 1">
                    <a href="">
                        <i class="fa fa-user"></i>
                        <span>Data Collectors</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li ng-show="adminRight > 2"><a ui-sref="dashboard.data_collectors_circuit_supervisors"><i class="fa fa-angle-double-right"></i> Circuit Supervisors</a></li>
                        <li ><a ui-sref="dashboard.data_collectors_head_teachers"><i class="fa fa-angle-double-right"></i> Head Teachers </a></li>
                        <!-- <li><a ><i class="fa fa-angle-double-right"></i> Community</a></li> -->
                    </ul>
                </li>

                <li ng-class="{active : $state.is('dashboard.stakeholders_community')} " >
                    <a ui-sref="dashboard.stakeholders_community" >
                        <i class="fa fa-users" ></i> <span> Community</span>
                        <!--					<i class="fa fa-angle-left pull-right"></i>-->
                    </a>
                </li>


        
<li class="treeview" >
                    <a href="">
                        <i class="fa fa-bars"></i>
                        <span>Targeted Instruction</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>


                    <ul class="treeview-menu" ng-class="{active : $state.is('dashboard.home')} "  style="font-color:#ccc">
                        <li ng-if="currentUser.level == 'Circuit' || currentUser.level == 'circuit'" ng-class="{true : '' , false : 'hidden'}[ adminRight > 0 ]" ><a ui-sref="dashboard.class_observation"><i class="fa fa-angle-double-right"></i> Class Observation</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 0 ]"  ><a ui-sref="dashboard.attendance"><i class="fa fa-angle-double-right"></i> Attendance</a></li>

                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 0 ]" ><a href="#"><i class="fa fa-angle-double-right"></i> Analytics</a>
                            <ul class="treeview" ng-show="adminRight > 1" style="     list-style-type:none; font-color:#ccc;">
                                <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 3 ]"  ><a ui-sref="dashboard.t1viewdistrict"><i class="fa fa-angle-double-right"></i> District</a></li>
                                <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]"  ><a ui-sref="dashboard.t1viewcircuit"><i class="fa fa-angle-double-right"></i> Circuit</a></li>
                                <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 1 ]" ><a ui-sref="dashboard.t1viewschool"><i class="fa fa-angle-double-right"></i> School</a></li>
                            </ul>
                        </li>

                    </ul>


                </li>

                 <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]">
                    <a href="http://helpdesk.msrcghana.org/" target="_blank">
                        <i class="fa fa-question" ></i> <span> Help Desk</span>
                    </a>
                </li>


                <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]" class="treeview" >
                    <a href="">
                        <i class="fa fa-exchange"></i>
                        <span>Polls</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu" ng-class="{active : $state.is('dashboard.home')} "  style="font-color:#ccc">

                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]" ><a ui-sref="dashboard.t1viewpoll"><i class="fa fa-angle-double-right"></i> Send Poll</a></li>
                        <li ng-class="{true : '' , false : 'hidden'}[ adminRight > 2 ]" ><a ui-sref="dashboard.t1viewpollgraph"><i class="fa fa-angle-double-right"></i> Poll Analytics</a></li>

                    </ul>
                </li>

            </ul>
        </section>

    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side" >
        <!-- Content Header (Page header) -->
        <section class="content-header hide_until_angular-loads" style="display : none">
            <h1>
                {{ content_header }}
                <small ng-bind="content_header_small"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="dashboard.home"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active" ng-bind="selected_page"></li>
            </ol>
        </section>

        <!-- Main content -->
        <!--<section class="content" ng-view>-->
        <!-- <section class="content" ui-view autoscroll="true">-->

        <section class="content ng-cloak" ui-view >


        </section><!-- /.content -->



        <section class="loader" ng-show="loading">

            <img src="/img/ajax_loader_large_white.gif" />

        </section>

    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->



<div ng-if="!currentUser" ng-include=" 'partials/miscellaneous/loginBox.html' ">Loading. Please wait...</div>

<toaster-container></toaster-container>
<!--<toaster-container toaster-options="close-button : true, limit : 5"></toaster-container>-->

<!--Begin loading JavaScript files -->

<!--Jquery test and load from local files-->
<script>window.jQuery || document.write('<script src="/backend/jquery.js"><\/script>');</script>

<!--Angular  test and load from local files-->
<script type="text/javascript">
    if(typeof angular == 'undefined') {
        document.write('<script type="text/javascript" src="/backend/angular.js"><\/script>');
    }

</script>

<!--<script type="text/javascript">-->

<!--    $(document).ready(function() {-->
<!--        $('.js-example-basic-single').select2();-->
<!--    });-->

<!--</script>-->



<!--<script type="text/javascript">-->
<!--    if(typeof angular == 'undefined') {-->
<!--        document.write('<script type="text/javascript" src="/backend/js/submitForm.js"><\/script>');-->
<!--    }-->
<!--</script>-->

<!---->
<!--<script type="text/javascript">-->
<!--    document.getElementById('url').value = window.location.href.split("=")[1];-->
<!---->
<!--</script>-->

<script>
   $(document).on("change", ".qty1", function() {
       var sum = 0;
        $(".qty1").each(function(){
            sum += +$(this).val();
        });
        $(".total").val(sum);
    });
</script>

<script>
    $(document).on("change", ".qty2", function() {
        var sum = 0;
        $(".qty2").each(function(){
            sum += +$(this).val();
        });
        $(".total2").val(sum);
    });
</script>


<script src="chart.js/Chart.min.js"></script>
<script src="angular-chart.js/dist/angular-chart.min.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.3/Chart.bundle.js" charset="utf-8"></script>-->

<script type="text/javascript" src="/backend/submitForm.js"></script>

<!--<script type="text/javascript">-->
    <!--if(typeof angular == 'undefined') {-->
        <!--document.write('<script type="text/javascript" src="/backend/js/_submitForm.js"><\/script>');-->
        <!--console.log("loading submitform from local");-->

    <!--}-->

<!--</script>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" charset="utf-8"></script>
<!--<script>-->
<!--    var url = "{{url('stock/chart')}}";-->
<!--    var Years = new Array();-->
<!--    var Labels = new Array();-->
<!--    var Prices = new Array();-->
<!--    $(document).ready(function(){-->
<!--        $.get(url, function(response){-->
<!--            response.forEach(function(data){-->
<!--                Years.push(data.stockYear);-->
<!--                Labels.push(data.stockName);-->
<!--                Prices.push(data.stockPrice);-->
<!--            });-->
<!--            var ctx = document.getElementById("canvas").getContext('2d');-->
<!--            var myChart = new Chart(ctx, {-->
<!--                type: 'bar',-->
<!--                data: {-->
<!--                    labels:Years,-->
<!--                    datasets: [{-->
<!--                        label: 'Infosys Price',-->
<!--                        data: Prices,-->
<!--                        borderWidth: 1-->
<!--                    }]-->
<!--                },-->
<!--                options: {-->
<!--                    scales: {-->
<!--                        yAxes: [{-->
<!--                            ticks: {-->
<!--                                beginAtZero:true-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->








<!--All script and vendor Files-->
<script type="text/javascript" src="/backend/scripts.js?v=<%= new Date().getTime() %>"></script>

<!--MSRC Angular Script files-->
<script type="text/javascript" src="/backend/msrc.js?v=<%= new Date().getTime() %>"></script>

<script type="text/javascript" src="/backend/submitForm.js"></script>
<!--Html Partials using template caching-->
<script src="/backend/_templates.js?v=<%= new Date().getTime() %>"></script>


<script src="/backend/large_scripts.js?v=<%= new Date().getTime() %>"></script>

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>-->


<!--Load this last scripts in a non-blocking way, since we dont need it in the initial stages of the app, and its very large in size too-->
<!--<script>-->
<!--var script = document.createElement("script");-->
<!--script.type = "text/javascript";-->
<!--script.src = "backend/large_scripts.js?v=1535453227907";-->
<!--document.body.appendChild(script);-->
<!--</script>-->


</body>
</html>
